#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure") )

#set ($image = $_SerializerTool.serialize($pageStructure.getChild("image").getChild("link"), true))
#set ($title = $_SerializerTool.serialize($pageStructure.getChild("title"), true))
#set ($content = $_SerializerTool.serialize($pageStructure.getChild("content"), true))

<div class="container">
<div class="no-padding row-fluid">
#if ($image != "/" && $image != "")<img src="$image" alt="$title" />#end
</div>

<div class="row-fluid">
#if ($title != "" && $title != "<title />")<h2>$title</h2>#end
#if ($content != "" && $content != "<content />")<p>$content</p>#end
</div>
</div>

## Format URL: http://cascade.umt.edu/entity/open.act?id=8d4f5c720a0a07cc442fbe470adcde9d&type=format&#highlight

## Audits
### 05-06-2013 21:26	kp128580	startedit
### 05-06-2013 21:27	kp128580	edit
### 05-06-2013 21:38	kp128580	startedit
### 05-06-2013 21:39	kp128580	edit
### 05-06-2013 21:43	kp128580	startedit
### 05-06-2013 21:43	kp128580	edit
### 05-06-2013 21:48	kp128580	startedit
### 05-06-2013 21:49	kp128580	edit
### 03-21-2013 14:17	ws132567	create
### 03-21-2013 14:20	ws132567	edit
