#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure") )
#set ($groupitems = $_XPathTool.selectNodes($pageStructure, "groupitem"))
#set ($sectiontitle = $_SerializerTool.serialize($pageStructure.getChild("sectiontitle"), true).replaceAll("""","&quot;").replaceAll("'","&apos;"))
#set ($textabove = $_SerializerTool.serialize($pageStructure.getChild("textabove"), true))
#set ($textbelow = $_SerializerTool.serialize($pageStructure.getChild("textbelow"), true))

#if ($sectiontitle != "" && $sectiontitle != "<sectiontitle />")
<h1>$sectiontitle</h1>
#end   

#if ($textabove != "" && $textabove != "<textabove />")
<p>$textabove</p>
#end  

<div id="groups">          

    #foreach ($groupitem in $groupitems)
        
    #set ($image = "")
    #set ($title = "")
    #set ($desc = "")

    #set ($title = $_SerializerTool.serialize($$groupitem.getChild("title"), true).replaceAll("""","&quot;").replaceAll("'","&apos;"))
    #set ($image = $_SerializerTool.serialize($$groupitem.getChild("image").getChild("path"), true))
    #set ($desc = $_SerializerTool.serialize($$groupitem.getChild("desc"), true))
    
     <div class="groupitem">
  
          <h2 style="margin-bottom: 0;">$title</h2>
        <div class="group_icon"><img class="imagewrap round"  style="margin-top: 15px;" src='$image' alt="$title"/></div>
        <div class="group_content"> 
    
               $desc
 
        </div>
   </div>
   
#end
</div>

#if ($textbelow != "" && $textbelow != "<textbelow />")
<p>$textbelow</p>
#end  


## Format URL: http://cascade.umt.edu/entity/open.act?id=a78de3580a0a07cc442fbe47017f724d&type=format&#highlight

## Audits
### 03-26-2013 16:38	sm166858e	edit
### 03-26-2013 16:35	sm166858e	startedit
### 03-26-2013 16:40	sm166858e	startedit
### 03-26-2013 16:40	sm166858e	edit
### 03-26-2013 16:46	sm166858e	edit
### 03-26-2013 16:45	sm166858e	startedit
### 03-26-2013 16:47	sm166858e	edit
### 03-26-2013 16:47	sm166858e	startedit
### 03-26-2013 16:50	sm166858e	edit
### 03-26-2013 16:49	sm166858e	startedit
