#set ($images = $_XPathTool.selectNodes($contentRoot, "/system-index-block/system-file"))
<style>
.ci_images {overflow:hidden; background-color: #ededed;}
.ci_images div {float: left; width: 217px; overflow: hidden; text-align: center; margin: 10px; height: 250px;background-color: #fff; border: 1px solid #999;;}
.ci_images div img {max-width: 225px;}
</style>
<div class='ci_images'>
#foreach ($image in $images )
    #set ($name = "")
    #set ($path = "")
    #set ($link = "")
    
    #set ($name = $image.getChild("name").value)
    #set ($path = $image.getChild("path").value)
    #set ($link = $image.getChild("link").value)
    
    <div>
        <p>$name</p>
        <img src="$path" alt="$name" />
    </div>
#end
</div>

## Format URL: http://cascade.umt.edu/entity/open.act?id=f991a4860a0a046800d8c23593d4e112&type=format&#highlight

## Audits
### 01-28-2012 19:04	kf139826e	startedit
### 01-28-2012 19:04	kf139826e	edit
### 10-29-2010 19:58	ns159438e	create
### 10-29-2010 19:59	ns159438e	startedit
### 10-29-2010 19:59	ns159438e	edit
### 10-29-2010 20:00	ns159438e	startedit
### 10-29-2010 20:00	ns159438e	edit
### 10-29-2010 20:00	ns159438e	startedit
### 10-29-2010 20:01	ns159438e	edit
### 10-29-2010 20:02	ns159438e	startedit
