#macro (YoutubeEmbed $root)    
    #set ($pageStructure = $root)
    #set ($embed_name= $_SerializerTool.serialize($pageStructure.getChild("name"), true))
    #set ($embed_channel = $_SerializerTool.serialize($pageStructure.getChild("channel"), true))
    #set ($embed_url= $_SerializerTool.serialize($pageStructure.getChild("url"), true))
    
    #set ($options = $_XPathTool.selectSingleNode($pageStructure, "adv_opts"))
        #set ($show_channel_title = $_SerializerTool.serialize($options.getChild("show_channel_title"), true))
        #set ($num_videos = $_SerializerTool.serialize($options.getChild("num_videos"), true))
        #set ($embed_thumbs = $_SerializerTool.serialize($options.getChild("thumbs"), true))
            #if ($embed_thumbs == "Yes")
                #set ($embed_thumbs = "true")
            #else
                #set($embed_thumbs = "false")
            #end
        #set ($display_inline = $_SerializerTool.serialize($options.getChild("display_inline"), true))
        #set ($num_skip = $_SerializerTool.serialize($options.getChild("num_skip"), true))
        #set ($heading_level = $options.getChild("heading_level").value)
        #headingLevel($heading_level)
    
    #if ($embed_name != "" && $show_channel_title =="Yes")
        #if ($embed_url != "")
        <$heading_level_one><a href="$embed_url" target="_blank">$embed_name on YouTube</a></$heading_level_one>
        #else
        <$heading_level_one>$embed_name on YouTube</$heading_level_one>
        #end
    #end
    
    #if ($num_videos == "1")
        <div class="embed_container embed_single">
            [system-view:internal]<p class="alert alert-success">The most recent video on your channel will show here.</p>[/system-view:internal]
            [system-view:external]
            <!--#START-CODE 
                <?php
                    include_once("youtube.class.php");
                    $youtube = new Youtube();
                    $youtube->embed_most_recent_video('$embed_channel');
                ?> 
             #END-CODE-->  
            [/system-view:external]
        </div>
    #else
    
    #if ($num_skip == "0")
    #set ($num_videos= $_MathTool.toInteger($num_videos) - 1)
    #end
    
        #if ($display_inline =="Yes")
            <div class="embed_container embed_list videos_inline">
        #else
            <div class="embed_container embed_list">
        #end
            [system-view:internal]<p class="alert alert-success">The most recent videos on your channel will be listed here.</p>[/system-view:internal]
            [system-view:external]
            <!--#START-CODE
                <?php
                    include_once("youtube.class.php");
                    $youtube = new Youtube();
                    $youtube->list_videos('$embed_channel',$num_videos,$embed_thumbs,$num_skip);
                ?>
            #END-CODE-->  
           
            [/system-view:external]
        </div>
    #end
    
    [system-view:internal]<link href="[system-asset:id=5ab78be40a0a07cc3aa0eb51225cc556]/youtube-videos/youtube_embed.css[/system-asset]" rel="stylesheet" type="text/css"/>[/system-view:internal]
    [system-view:external]<!--#passthrough <link href="<?php print(url::global_resources_base('/youtube-videos/youtube_embed.css'));?>" rel="stylesheet" type="text/css"/>#passthrough-->[/system-view:external]
    
    <script type="text/javascript">
        require(["mootools"], function ($$) {
            $$(".youtube_list li a").addClass('mediabox_big');
            
        });
    </script>
#end
##
#if($contentRoot && $_XPathTool.selectSingleNode($contentRoot, '.').getChild("adv_opts") && $_XPathTool.selectSingleNode($contentRoot, '.').getChild("adv_opts").getChild("show_channel_title").value != "")
    #YoutubeEmbed($_XPathTool.selectSingleNode($contentRoot, "."))
#end

## Format URL: http://cascade.umt.edu/entity/open.act?id=5acf00ad0a0a07cc3aa0eb5114075706&type=format&#highlight

## Audits
### 09-10-2013 22:17	kp128580	edit
### 09-10-2013 22:17	kp128580	startedit
### 09-10-2013 22:18	kp128580	move
### 09-10-2013 22:19	kp128580	startedit
### 09-10-2013 22:19	kp128580	edit
### 05-19-2014 16:27	kf139826e	startedit
### 05-19-2014 16:28	kf139826e	edit
### 02-13-2014 17:57	kp128580	edit
### 02-13-2014 17:57	kp128580	startedit
### 02-13-2014 19:04	kp128580	startedit
