#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure") )
#set ($url = $_SerializerTool.serialize($pageStructure.getChild("url"), true))


<div id="personnel_list">
<ul class="no_bullets">
<!--#passthrough
<?php

$raw = file_get_contents('$url');
$data = json_decode($raw);

var_dump($data);

function compareByName($a, $b) {
  return strcmp($a["LastName"], $b["LastName"]);
}
usort($data->LastName, 'compareByName');
/* The next line is used for debugging, comment or delete it after testing */
print_r($data);
  
 
foreach($data as $person){
    echo "<li><a href=\"/personnel/details.php?ID=$person->ID\" class=\"name\";> $person->LastName,  $person->FirstName</a> - $person->Title<br />";
    echo "Phone: $person->Phone";
    echo " | Office: $person->OfficeLocation";
    echo " | <a href=\"mailto:$person->Email\">$person->Email</a>";
    echo "</li>";
}


?>
#passthrough-->
</ul>
</div>

## Format URL: http://cascade.umt.edu/entity/open.act?id=0e4f0dca0a0a07cc5251edb4c0056789&type=format&#highlight

## Audits
### 03-12-2015 14:08	sm166858e	edit
### 03-12-2015 14:06	sm166858e	startedit
### 03-12-2015 14:10	sm166858e	startedit
### 03-12-2015 14:10	sm166858e	edit
### 03-12-2015 14:11	sm166858e	startedit
### 03-12-2015 14:23	sm166858e	edit
### 03-12-2015 14:25	sm166858e	startedit
### 03-12-2015 14:31	sm166858e	edit
### 03-12-2015 14:33	sm166858e	startedit
### 03-12-2015 14:38	sm166858e	edit
