#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure") )
#set ($url = $_SerializerTool.serialize($pageStructure.getChild("url"), true))

<link href="http://www.cfc.umt.edu/_css/personnel.css" rel="stylesheet" type="text/css"/>
<div id="personnel_list">

<!--#passthrough
<?php
$raw = file_get_contents('$url');
$data = json_decode($raw);

foreach($data as $person){
    echo "<p><span class=\"fac_name\">";
    echo "<a name=\"$person->LastName\"></a>";
    echo "<a href=\"./Details.php?ID=$person->ID\"> $person->LastName,  $person->FirstName</a></span> -";            
    echo "<span class=\"title\">$person->Title</span><br />";
    echo "<span class=\"item_title\">Phone: </span>$person->Phone";
    echo "<span class=\"item_title\"> | Office: </span>$person->OfficeLocation<br />";
    echo "<a href=\"mailto:$person->Email\">$person->Email</a>";
    echo "</p>";

}
?>
#passthrough-->
</div>

## Format URL: http://cascade.umt.edu/entity/open.act?id=c677074c0a0a07cc45ebbb9344873587&type=format&#highlight

## Audits
### 08-28-2013 19:47	sm166858e	create
### 08-28-2013 19:55	sm166858e	startedit
### 08-28-2013 19:56	sm166858e	edit
### 08-28-2013 19:58	sm166858e	startedit
### 08-28-2013 19:58	sm166858e	edit
### 08-28-2013 20:00	sm166858e	edit
### 08-28-2013 19:59	sm166858e	startedit
### 08-28-2013 20:01	sm166858e	edit
### 08-28-2013 20:01	sm166858e	startedit
### 08-28-2013 20:05	sm166858e	startedit
