#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure"))
#set ($page_heading = "")
#set ($page_heading =  $pageStructure.getChild("page_heading").text)
#if ($page_heading != "")
    <h1>$page_heading</h1>
#end

#set ($contents = $_XPathTool.selectNodes($pageStructure, "content"))

#if ($contents.size() <= 1)
    $_SerializerTool.serialize($pageStructure.getChild("content"), true)
#else
  #foreach ($content in $contents)
      #if ($foreach.count == 1)
          <div class="dept_content">
              $_SerializerTool.serialize($content, true)
          </div>
      #else
          <div class="dept_right">
              $_SerializerTool.serialize($content, true)
          </div>
      #end
  #end
#end

## Format URL: http://cascade.umt.edu/entity/open.act?id=400d501b0a0a07cc1f7c91572bb2fcfc&type=format&#highlight

## Audits
