#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure") )
#set ($url = $_SerializerTool.serialize($pageStructure.getChild("url"), true))

<link href="/_common/_css/personnelList.css" rel="stylesheet" type="text/css" />
<div id="personnel_list">

<!--#passthrough
<?php
$raw = file_get_contents('$url');
$data = json_decode($raw);

foreach($data as $person){
    echo "<div class=\"facProfile\">";
    echo "<div class=\"facThumbnail\">";
    echo "<img class=\"profileImage\" src=\"http://www.cas.umt.edu/facultydatabase/Files_Faculty_images/$person->Photo\" alt=\"Photo of $person->LastName, $person->FirstName\">";
    echo "</div>";
                    
    echo "<div class=\"facInfo\">";
    echo "<span class=\"facName\">";
    echo "<a href=\"./Details.php?ID=$person->ID\"> $person->LastName,  $person->FirstName</a></br>";
    echo "</span>";                                                 
    echo "<span class=\"facTitle\">$person->Title</span><br />";
    echo "Phone: $person->Phone";
    echo " | Office: $person->OfficeLocation<br />";
    echo "<a href=\"mailto:$person->Email\">$person->Email</a>";
    echo "</div>";          
    echo "</div><hr/>";

}
?>
#passthrough-->
</div>

## Format URL: http://cascade.umt.edu/entity/open.act?id=cb2e19490a0a07cc45ebbb933eff718f&type=format&#highlight

## Audits
### 04-09-2014 15:11	sm166858e	copy
### 08-29-2013 17:50	sm166858e	edit
### 08-29-2013 17:45	sm166858e	startedit
### 08-29-2013 17:51	sm166858e	startedit
### 08-29-2013 17:52	sm166858e	edit
### 08-29-2013 17:53	sm166858e	startedit
### 08-29-2013 17:55	sm166858e	edit
### 08-29-2013 17:56	sm166858e	startedit
### 08-29-2013 17:57	sm166858e	edit
### 08-29-2013 17:59	sm166858e	edit
