#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure"))

#set ($charge = $_SerializerTool.serialize($pageStructure.getChild("charge"), true))
#set ($cabinet_oversite = $_SerializerTool.serialize($pageStructure.getChild("cabinet_oversite"), true))
#set ($initiated= $_SerializerTool.serialize($pageStructure.getChild("initiated"), true))

#set ($chairs = $_XPathTool.selectNodes($pageStructure, "member[chair[value = 'Yes']]"))
#set ($members= $_XPathTool.selectNodes($pageStructure, "member[chair != 'Yes']"))

#set ( $currentDateNode = $_XPathTool.selectSingleNode($pageStructure, "agendas/agenda_index/content/system-index-block/@current-time") )
#set ( $currentDate = $_DateTool.getDate($currentDateNode.value ))
#set ( $originalDate = $_DateTool.toDate('y-M-d H:m:s', "1970-01-01 00:00:01"))
#set ( $currentDateXPath = $_DateTool.difference($originalDate, $currentDate).milliseconds)

#set ($meetings = $_XPathTool.selectNodes($pageStructure, "agendas/agenda_index/content/system-index-block/system-folder[@current = 'true']/system-folder[name = 'meetings']/system-page[system-data-structure[(@definition-path = 'meeting') and (meeting_time > ${currentDateXPath})]]"))

$_SortTool.addSortCriterion("system-data-structure/meeting_time", "", "text", "ascending", "upper-first")
$_SortTool.sort($meetings)

<div class="dept_content span8">  
    <h2><system-page-title/></h2>
    
    <h3>Charge</h3>
    <div class='charge indent'>$charge</div>
    
    <h3>Oversight</h3>
    <div class='cabinet_oversite indent'>$cabinet_oversite</div>
    
    <h3>Chair</h3>
    <div class='chair indent'>
        <ul>
        #foreach($chair in $chairs)
            #set ($name = "")
            #set ($department = "")
            #set ($name = $_SerializerTool.serialize($chair.getChild("name"), true))
            #set ($department = $_SerializerTool.serialize($chair.getChild("department"), true))
            <li>$name, $department</li>
        #end
        </ul>
    </div>
    <h3>Members</h3>
    <div class='members indent'>
        <ul>
        #foreach($member in $members)
            #set ($name = "")
            #set ($department = "")
            #set ($name = $_SerializerTool.serialize($member.getChild("name"), true))
            #set ($department = $_SerializerTool.serialize($member.getChild("department"), true))
            <li>$name, $department</li>
        #end
        </ul>
    </div>
    <div class='meta'>
        <p>Initiated $initiated</p>
        <p>Last Updated <?php print(date("F, Y", getlastmod())); ?></p>
    </div>
</div>
<div class="dept_right span4">
    <h2><a href='meetings'>Meetings</a></h2>
    <div class='meetings indent'>
        <ul>
        #foreach($meeting in $meetings)
            #set ($meeting_time = "")
            #set ($formatted_time = "")
            #set ($location = "")
            
            #set ($path = $_SerializerTool.serialize($meeting.getChild("path"), true))
            #set ($location= $_SerializerTool.serialize($meeting.getChild("system-data-structure").getChild("location"), true))
            
            #set ($meeting_time = $_DateTool.getDate($meeting.getChild("system-data-structure").getChild("meeting_time").value))
            #set ($formatted_time = $_DateTool.format('MMM d, hh:mm a', $meeting_time ))
            <li><a href='$path'>$formatted_time - $location</a></li>
        #end
        </ul>
    </div>
</div>


## Format URL: http://cascade.umt.edu/entity/open.act?id=b283ca810a0a0468002470ee4b5cdcf6&type=format&#highlight

## Audits
### 01-28-2012 17:41	kf139826e	edit
### 01-28-2012 17:41	kf139826e	startedit
### 09-12-2014 21:27	kp128580	startedit
### 09-12-2014 21:28	kp128580	edit
### 11-17-2011 17:17	ns159438e	startedit
### 11-17-2011 17:31	ns159438e	edit
### 11-17-2011 17:32	ns159438e	edit
### 11-17-2011 17:31	ns159438e	startedit
### 11-17-2011 17:32	ns159438e	startedit
### 11-17-2011 17:33	ns159438e	edit
