#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure") )

#set ($top_content = "")
#set ($left_content = "")
#set ($right_content = "")

#set ($top_content = $_SerializerTool.serialize($pageStructure.getChild("top_content"), true))
#set ($left_content = $_SerializerTool.serialize($pageStructure.getChild("left_content"), true))
#set ($right_content = $_SerializerTool.serialize($pageStructure.getChild("right_content"), true))
<div>
    $top_content
</div>
<div class='homepage'>
    <div class='left'>
    $left_content
    </div>
    <div class='right'>
    $right_content
    </div>
</div>

## Format URL: http://cascade.umt.edu/entity/open.act?id=5b5f88f30a0a046800116f4f61b7dea5&type=format&#highlight

## Audits
### 01-28-2012 18:08	kf139826e	startedit
### 01-28-2012 18:08	kf139826e	edit
### 04-15-2011 22:54	ns159438e	create
