#set ($buttons = $_XPathTool.selectNodes($contentRoot, "/system-data-structure/button"))


#foreach($button in $buttons)
#set ($link =  $button.getChild("link").getChild("path").text)
    #if ($link == "/")
            #set ($link = $button.getChild("external").text)
    #end


    #set($alt = "")
    #set($alt =  $_SerializerTool.serialize($button.getChild("alt"), true))
    #set ($image = "")
    #set ($image =  $_SerializerTool.serialize($button.getChild("icon").getChild("path"), true))
    
    #if ($image != "/" && $alt != "" && $link != "/")
    <a href="$link"><img src="[system-asset]${image}[/system-asset]" alt="$alt"/></a>
    #else
       <img src="[system-asset]${image}[/system-asset]" alt="$alt"/>
    #end 
#end


## Format URL: http://cascade.umt.edu/entity/open.act?id=589df1180a0a07cc0accc4e95cb994de&type=format&#highlight

## Audits
