#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure") )
#set ($content = $_SerializerTool.serialize($pageStructure.getChild("content"), true))
#set ($calendar = $_SerializerTool.serialize($pageStructure.getChild("calcode").getChild("content"), true))

        <div class="dept_content">  
            $content
        </div>
        <div class="dept_right">
            $calendar
        </div>


## Format URL: http://cascade.umt.edu/entity/open.act?id=cec154c20a0a046801e50a34b29bf204&type=format&#highlight

## Audits
### 01-28-2012 18:32	kf139826e	edit
### 01-28-2012 18:32	kf139826e	startedit
### 09-01-2010 19:23	ts171807	create
### 09-01-2010 19:25	ts171807	edit
### 09-01-2010 19:25	ts171807	startedit
### 09-01-2010 19:27	ts171807	edit
### 09-01-2010 19:25	ts171807	startedit
### 09-01-2010 19:30	ts171807	edit
### 09-01-2010 19:29	ts171807	startedit
### 09-01-2010 20:34	ts171807	edit
