#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure") )
##
#set ($to = "")
#set ($thanks_text = "")
#set ($elements = "")
#set ($content = "")
#set ($from_field = "")
#set ($form_id = "")
#set($show_clear_form = "false")
##

#set ($content = $_SerializerTool.serialize($pageStructure.getChild("content"), true))
#set ($to = $_SerializerTool.serialize($pageStructure.getChild("to"), true))
#set ($from_field = $_SerializerTool.serialize($pageStructure.getChild("from_field"), true))
#set ($thanks_text = $_SerializerTool.serialize($pageStructure.getChild("thanks_text"), true))
#set ($form_id = $_SerializerTool.serialize($pageStructure.getChild("form_id"), true))
#set ($elements = $_XPathTool.selectNodes($pageStructure, "form_element"))


#if($pageStructure.getChild("show_clear_form").getChild("value").value == "Yes")
    #set($show_clear_form = "true")
#end

[system-view:external]
<div class='content'>$content</div>
<link rel="StyleSheet" href="/css/email_form.css" type="text/css" />
<!--#START-CODE
<?php
$config = array(
    "thanks"=>"#END-CODE-->$thanks_text<!--#START-CODE",
    "from_field"=>"#END-CODE-->$from_field<!--#START-CODE",
    "show_clear_form"=>"#END-CODE-->$show_clear_form<!--#START-CODE",
    "form_id" => str_replace(" ","_","#END-CODE-->$form_id<!--#START-CODE"),
    "action" => "http://life.umt.edu/apps/dev/eric/vets_forms/index.php?/certification"
    );

$fields = array(
#END-CODE-->
#foreach($element in $elements)
    #set($type = "")
    #set($name = "")
    #set($help_text = "")
    #set($class = "")
    #set($fieldset = "")
    #set($options = "")
    #set($options = $_XPathTool.selectNodes($element, "Options/option"))
    #set($type = $_SerializerTool.serialize($element.getChild("type"), true))
    #set($name = $_SerializerTool.serialize($element.getChild("name"), true))
    #set($help_text = $_SerializerTool.serialize($element.getChild("help_text"), true))
    #set($class = $_SerializerTool.serialize($element.getChild("class"), true))
    #set($fieldset = $_SerializerTool.serialize($element.getChild("fieldset"), true))
    #set($required = "false")
    #if($element.getChild("required").getChild("value").value == "Yes")
        #set($required = "true")
    #end
    <!--#START-CODE
    array(
    "type"=>"#END-CODE-->$type<!--#START-CODE",
    "name"=>"#END-CODE-->$name<!--#START-CODE",
    "help_text"=>"#END-CODE-->$help_text<!--#START-CODE",
    "fieldset"=>"#END-CODE-->$fieldset<!--#START-CODE",
    "options"=>array(#END-CODE-->
    #foreach($option in $options)
        #set($option_text = "")
        #set($option_text = $_SerializerTool.serialize($option, true))
        #if($option_text != "")"$option_text" #if($velocityCount != $options.size()), #end #end
    #end
    <!--#START-CODE),
    "class"=>"#END-CODE-->$class<!--#START-CODE",
    "required"=>#END-CODE-->$required<!--#START-CODE)#END-CODE-->#if($velocityCount != $elements.size()), #end
#end
<!--#START-CODE
);
$Forms = new Forms($config);
$Forms->display_email_form($fields, "#END-CODE-->$to<!--#START-CODE", $_POST);
?>

<script src="http://www.google.com/jsapi" type="text/javascript" ></script>
<script type="text/javascript">google.load('jquery', '1.6');</script>
<script type="text/javascript">
var course_info_section = jQuery("<div class='added_course'><h3>Course </h3></div>");
var section_count = 1;
jQuery(document).ready(function($){
    $(".course_info:first").parent().before("<h3>Course 1</h3>");
    $(".course_info").each(function() {
        var list_item = $(this).parent().clone();
        course_info_section.append(list_item);
    });
    $(".add_course").click(function(){
        var course_info_section_template = course_info_section.clone();
        section_count++;
        var next_id = section_count;
        $("input",course_info_section_template).val("");
        $(".course_info",course_info_section_template).each(function(){
            var name = $(this).attr('name');
            $(this).attr('name', name+"_"+next_id);
            $(this).attr('for', name+"_"+next_id);
        });
        
        $('h3',course_info_section_template).append(section_count);
        $(".add_course").before(course_info_section_template.clone());
    });
});
</script>
#END-CODE-->

[/system-view:external]
[system-view:internal]
<h2>Form Builder Block</h2>
<div class='content'>$content</div>
<p>Email results to $to</p>

<p>Thanks: $thanks_text</p>
<p>From Field: $from_field</p>
<p>Form Id: $form_id</p>
<p>Show Clear Form: $show_clear_form</p>
<h4>Fields:</h4>
<table>
<thead>
    <tr>
        <th>Name</th>
        <th>Options</th>
        <th>Type</th>
        <th>Help Text</th>
        <th>Required</th>
        <th>CSS Class</th>
    </tr>
</thead>
#foreach($element in $elements)

    #set($type = "")
    #set($name = "")
    #set($class = "")
    #set($required = "false")
    #set($help_text = "")
    #set($options = "")
    
    #set($options = $_XPathTool.selectNodes($element, "Options/option"))
    #set($help_text = $_SerializerTool.serialize($element.getChild("help_text"), true))
    #set($type = $_SerializerTool.serialize($element.getChild("type"), true))
    #set($name = $_SerializerTool.serialize($element.getChild("name"), true))
    #set($class = $_SerializerTool.serialize($element.getChild("class"), true))
    
    #if($element.getChild("required").getChild("value").value == "Yes")
        #set($required = "true")
    #end
    
    <tr>
        <td>$name</td>
        <td>
            <ul>
            #foreach($option in $options)
                #set($option_text = "")
                #set($option_text = $_SerializerTool.serialize($option, true))
                #if($option_text != "")
                    <li>$option_text</li>
                #end
            #end
            </ul>
        </td>
        <td>$type</td>
        <td>$help_text</td>
        <td>$required</td>
        <td>$class</td>
    </tr>
#end
</table>
[/system-view:internal]

## Format URL: http://cascade.umt.edu/entity/open.act?id=238510f10a0a07cc1517225fcc403f42&type=format&#highlight

## Audits
### 10-02-2012 22:10	es216137e	edit
### 10-02-2012 22:10	es216137e	startedit
### 10-02-2012 22:21	es216137e	startedit
### 10-02-2012 22:21	es216137e	edit
### 10-02-2012 22:29	es216137e	activate_version
