#foreach($line in $contentRoot.children) 
	<div class="line">
		#set ($numcolumns = 0) 
		#foreach($unit in $line.children)
			#set ($numcolumns = $numcolumns+1) 
		#end
		
		#foreach($unit in $line.children)
			
			<div class="unit 1of$numcolumns  lastUnit">
				#set ($content = $_SerializerTool.serialize($unit, true))
	
				$content
				
			</div>
		#end
	</div>
#end

## Format URL: http://cascade.umt.edu/entity/open.act?id=623d7b0c0a0a046800fca5f60498943b&type=format&#highlight

## Audits
### 01-07-2011 20:49	db111722e	create
### 01-07-2011 20:49	db111722e	startedit
### 01-07-2011 20:51	db111722e	edit
### 01-07-2011 20:55	db111722e	startedit
### 01-07-2011 21:33	db111722e	edit
### 01-07-2011 21:33	db111722e	startedit
### 01-07-2011 21:34	db111722e	edit
### 01-07-2011 21:36	db111722e	startedit
### 01-07-2011 21:38	db111722e	edit
### 01-07-2011 21:39	db111722e	startedit
