#foreach($content-group in $_XPathTool.selectNodes($contentRoot,'/system-data-structure/content-group')) 

    #if($content-group.getChild('type').text == 'text')
        #foreach($content in $content-group.children)
            #if($content.getChild('body'))
                <div>$_SerializerTool.serialize($content.getChild('body'),false)</div>
            #end
        #end
    #end
    
    #if($content-group.getChild('type').text == 'tab')
        <div class="tab-container">
        <ul>
        #set( $count = 0 )
        #foreach($content in $content-group.children)
            #if($content.getChild('heading') && $content.getChild('body'))
                <li><a href="#tabs-$count">
                    $content.getChild('heading').text
                </a></li>
                #set( $count = $count + 1 )
            #end
        #end
        </ul>
        #set( $count = 0 )
        #foreach($content in $content-group.children)
            #if($content.getChild('heading') && $content.getChild('body'))
                <div id="tabs-$count">
                    $_SerializerTool.serialize($content.getChild('body'), false)
                </div>
                #set( $count = $count + 1 )
            #end
        #end
        </div>
    #end
    
    #if($content-group.getChild('type').text == 'accordion')
        <div class="accordion-container">
        #foreach($content in $content-group.children)
            #if($content.getChild('heading') && $content.getChild('body'))
                <h3>$content.getChild('heading').text</h3>    
                <div>$_SerializerTool.serialize($content.getChild('body'),false)</div>
            #end    
        #end
        </div>
    #end
#end
<script>
#set( $tab-options = $_XPathTool.selectSingleNode($contentRoot,'/system-data-structure/config/tab-options') )
#set( $accordion-options = $_XPathTool.selectSingleNode($contentRoot,'/system-data-structure/config/accordion-options') )
    require(['jquery-ui'],function () {
        $(function() {
            $( ".tab-container" ).tabs({
                heightStyle: "#translateHeightStyle($tab-options)",
                collapsible: $tab-options.getChild('collapsible').text
            });
            $( ".accordion-container").accordion({
                heightStyle: "#translateHeightStyle($accordion-options)",
                collapsible: $accordion-options.getChild('collapsible').text
            });   
        });
    });
</script>

#macro(translateHeightStyle $options)
#set($heightStyleText = $options.getChild('heightStyle').text)
#if($heightStyleText == 'Tallest Content')
auto#elseif($heightStyleText == 'Fill Available Space')
fill#elseif($heightStyleText == 'Each Content')
content#end
#end

## Format URL: http://cascade.umt.edu/entity/open.act?id=4613fce00a0a07cc1517225f8331104a&type=format&#highlight

## Audits
### 10-09-2012 15:10	es216137e	create
### 10-09-2012 15:14	es216137e	edit
### 10-09-2012 15:13	es216137e	startedit
### 10-09-2012 15:17	es216137e	startedit
### 10-09-2012 15:18	es216137e	edit
### 10-09-2012 15:19	es216137e	edit
### 10-09-2012 15:18	es216137e	startedit
### 10-09-2012 15:22	es216137e	edit
### 10-09-2012 15:22	es216137e	startedit
### 10-09-2012 15:24	es216137e	startedit
