#macro( d $folder )
    <ul>
    #foreach($item in $folder)
        #if($item.getChild('link').text)
            <li>
            #if($item.name == 'system-folder')
                   <h3>$item.getChild('path').text</h3>
                  <p>
                  #if($item.getChild('name').text)
                      Name: $item.getChild('name').text<br />
                  #end
                  #if($item.getChild('display-name').text)
                      Display Name: $item.getChild('display-name').text<br />
                  #end
                  #if($item.getChild('title').text)
                      Title: $item.getChild('title').text<br />
                  #end
                  </p>
            #else 
                <a href="[system-asset]${item.getChild('link').text}[/system-asset]">$item.getChild('path').text</a>
                <p>
                #if($item.getChild('name').text)
                    Name: $item.getChild('name').text<br />
                #end
                #if($item.getChild('display-name').text)
                      Display Name: $item.getChild('display-name').text<br />
                #end
                #if($item.getChild('title').text)
                    Title: $item.getChild('title').text<br />
                #end
                </p>
            #end
            </li>
        #end
        #if($item.name == 'system-folder')
            #d($item.children)
        #end
     #end
     </ul>
#end
<h2>$contentRoot.children.get(1).getChild('site').text</h2>
#d($contentRoot.children)

## Format URL: http://cascade.umt.edu/entity/open.act?id=1618728d0a0a07cc628b416371d9fa83&type=format&#highlight

## Audits
### 06-22-2012 21:28	es216137e	create
### 06-22-2012 22:14	es216137e	edit
### 06-22-2012 21:36	es216137e	startedit
### 06-22-2012 22:15	es216137e	startedit
### 06-22-2012 22:15	es216137e	edit
### 06-22-2012 22:16	es216137e	startedit
### 06-22-2012 22:16	es216137e	edit
### 06-22-2012 22:16	es216137e	startedit
### 06-22-2012 22:17	es216137e	edit
### 06-22-2012 22:18	es216137e	startedit
