## #set ( $data = $_XPathTool.selectSingleNode($contentRoot, "//system-folder[@current='true']/system-page/system-data-structure") )
## #set ( $mainContent = $_XPathTool.selectSingleNode($data, "widget") )

    
##         #set ( $blockType = $mainContent.getChild("type").value )
##         #if ($blockType == "WYSIWYG")
##             #standard($mainContent)
##         #end
        


## #macro (standard $block)
##     #set ( $standard = $_XPathTool.selectSingleNode($block, "standard") ) 
##     <div class="contentWidget">
##         #if ( $standard.getChild("heading").value != "" )
##             <div class="leftNav-title"><h3>${_EscapeTool.xml($standard.getChild("heading").value)}</h3></div>
##         #end
##         #if ( $standard.getChild("title").value != "" )
##             <h4>${_EscapeTool.xml($standard.getChild("title").value)}</h4>
##         #end
##         #if ( $standard.getChild("content").value != "" )
##             <div class="wysiwyg-content">$_SerializerTool.serialize($standard.getChild("content"), true)</div>
##         #end
##     </div>
## #end


#############################################################
## WIDGETS
#############################################################
#set ( $data = $_XPathTool.selectSingleNode($contentRoot, "//system-folder/system-page/system-data-structure") )


##JK Widget Loop:
#set ( $widgets = $_XPathTool.selectNodes($contentRoot, "//system-folder/system-page/system-data-structure/widget") )
#foreach ( $widget in $widgets )
    #set ( $widgetType = $_XPathTool.selectSingleNode($widget, "type").value )
    FOUND WIDGET:  ${widgetType}<br />


    #set ( $mainContent = $_XPathTool.selectSingleNode($data, "widget") )
    #set ( $blockType = $mainContent.getChild("type").value )
    
        #if ($blockType == "WYSIWYG")
            #standard($mainContent)
        #end
        
        
        
#end


#macro (standard $block)

    #set ( $standard = $_XPathTool.selectSingleNode($block, "standard") ) 
    <div class="full-wrapper standard">
        <div class="wrapper">
            #if ( $standard.getChild("title").value != "" )
                <h4>${_EscapeTool.xml($standard.getChild("title").value)}</h4>
            #end
            #if ( $standard.getChild("content").value != "" )
                $_SerializerTool.serialize($standard.getChild("content"), true)
            #end
        </div>
    </div>
#end 

## #macro (video $block)
##     #set ( $video = $_XPathTool.selectSingleNode($block, "video") ) 
##     <div class="full-wrapper video">
##         <div class="wrapper">
##             <div class="youtube">
##                 <h4>${_EscapeTool.xml($video.getChild("heading").value)}</h4>
##                 <a class="popup-youtube" href="https://www.youtube.com/watch?v=${video.getChild('video-id').value}">
##                     <img src="${video.getChild('thumb').getChild('path').value}" alt="${video.getChild('title').value}"/>
##                     <div class="play"><img src="/_global/_images/play-small.png" alt="Play"/></div>
##                 </a>
##                 <p>${_EscapeTool.xml($video.getChild("title").value)}</p>
##             </div>
##         </div> 
##     </div>
## #end


## Format URL: http://cascade.umt.edu/entity/open.act?id=8a87c2640a0a07cc545fdb450fa4333c&type=format&#highlight

## Audits
### 07-28-2017 18:49	mj129236e	startedit
### 07-28-2017 18:49	mj129236e	edit
### 07-28-2017 19:57	mj129236e	startedit
### 07-28-2017 19:57	mj129236e	edit
### 07-31-2017 14:01	mj129236e	edit
### 07-31-2017 14:01	mj129236e	startedit
### 07-31-2017 14:04	mj129236e	edit
### 07-31-2017 14:04	mj129236e	startedit
### 07-31-2017 14:05	mj129236e	edit
### 07-31-2017 14:05	mj129236e	startedit
