#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure"))
#set ($members = $_XPathTool.selectNodes($pageStructure, "member"))
#set ($anchorCount = 0)
<div class="nav_header">
    <span><system-page-title/></span>
</div>
<div class="content_wrapper">
    <div class="main_content">
    #foreach ($member in $members)
        #set ($name = $_SerializerTool.serialize($member.getChild("name"), true))
        #set ($photo = $_SerializerTool.serialize($member.getChild("picture").getChild("path"), true))
        #set ($title = $_SerializerTool.serialize($member.getChild("title"), true))
        #set ($bio = $_SerializerTool.serialize($member.getChild("bio"), true))
        <div class="tag_member">
            <a name="$anchorCount"><h3>$name</h3></a>
            #if($photo != "/")
                        <img src="$photo" alt="$name" height="150px" />
                    #else
                        <img src="imx/tag/New Logo.jpg" alt="$name" height="150px" />
                #end 
            <p><strong>$title</strong></p>
            $bio
        </div>
        #set ($anchorCount = $anchorCount + 1)
    #end
    </div>
</div>

## Format URL: http://cascade.umt.edu/entity/open.act?id=f8e204550a0a0468016434a8a99018d9&type=format&#highlight

## Audits
### 10-14-2011 15:23	ws132567	edit
### 10-14-2011 15:22	ws132567	startedit
### 10-14-2011 15:24	ws132567	startedit
### 10-14-2011 15:24	ws132567	edit
### 10-14-2011 16:46	ws132567	startedit
### 10-14-2011 16:46	ws132567	edit
### 01-28-2012 19:27	kf139826e	edit
### 01-28-2012 19:27	kf139826e	startedit
### 11-10-2011 21:56	ws132567	edit
### 11-10-2011 21:55	ws132567	startedit
