#macro (Timely_Events $v_root)
    <div class="plugin events-timely">
        #set ($v_pageStructure = $v_root)
        #set ($view = "")
        #set ($category_ids = "")
        #set ($event_tags = "")
        #set ($limit = "")
        #set ($category_div = "")
        #set ($tag_div = "")
        #set ($display_mode = "")
        
        #set ($view = $_SerializerTool.serialize($v_pageStructure.getChild("view"), true))
        #set ($limit = $_SerializerTool.serialize($v_pageStructure.getChild("limit"), true))
        #set ($category_ids = $_XPathTool.selectNodes($v_pageStructure, "category_ids/cat_id"))
        #set ($event_tags = $_XPathTool.selectNodes($v_pageStructure, "event_tags/event_tag"))
        #set ($display_mode = "")
    
        #foreach ($category in $category_ids)
            #if ($foreach.count == 1)
                #set ($category_div =  "$category.value")
            #else
                #set ($category_div = $category_div + ", " + $category.value)
            #end
        #end
    
        #foreach ($event in $event_tags)
            #if ($foreach.count == 1)
                #set ($tag_div = "$event.value")
            #else
                #set ($tag_div = $tag_div + ", " + $event.value)
            #end
        #end
    
        #if ($category_div != "")
            #set ($category_div = "data-cat_ids='$category_div'")
        #end
    
        #if ($tag_div != "")
            #set ($tag_div = "data-tag_ids='$tag_div'")
        #end
    
        #if ($limit != "")
            #set ($limit = "data-events_limit='$limit'")
        #end
        #if($display_mode == "widget") 
            <script class="ai1ec-widget-placeholder" data-widget="ai1ec_superwidget" data-action="$view.toLowerCase()" data-events_seek_type="events" $tag_div $category_div $limit>
              (function(){var d=document,s=d.createElement('script'),
              i='ai1ec-script';if(d.getElementById(i))return;s.async=1;
              s.id=i;s.src='http://live-timely-629f1213b7.time.ly/?ai1ec_js_widget';
              d.getElementsByTagName('head')[0].appendChild(s);})();
            </script>
        #else 
        <!--#protect
            <div class="events-panel">
                <div class="story-event" aria-live="polite">
            &nbsp
                </div>
            </div>
            <script id="events_template" type="text/html">
                <div class="um-events-tile">
                    <div class="row story-heading">
                        <div class="col-md-12">
                            <h3 class="pull-left">Upcoming Events</h3>
            
                            <p class="text-right small pull-right" style="padding-top: 20px;">Today is {{today_month}} {{today_date}}</p>
                        </div>
                    </div>
                    <div id="homepage-events">
                        {{#events}}
            
                        <div class="row event {{^location_name}}no_location{{/location_name}} {{day}} {{#categories}}{{slug}} {{/categories}}">
            
                            <div class="col-sm-10 col-xs-9 text-left pull-right story-content">
                                <strong>
                                    {{#link}}<a href="{{link}}">{{/link}}
                                    <h4 class="title">{{short_title}}</h4>
                                    {{#link}}</a>{{/link}}
                                </strong>
            
                                <p>
                                    {{#location_name}}<span class="help-block">{{location_name}}</span>{{/location_name}}
                                    <span class="sr-only"><br/>{{day}}, {{month}} {{date}}</span>
                                </p>
                            </div>
                            <div class="col-sm-2 col-xs-3 text-center pull-left story-date" aria-hidden="true">
                                <div class="date-box">
                                    <div class="month">
                                        {{month}}
                                    </div>
                                    <div class="date">
                                        {{date}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/events}}
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <p class="more_events"><a href="http://events.umt.edu" class="waves-effect waves-lightGray btn-flat">More Events</a></p>
                        </div>
                    </div>
                </div>
            </script>
            <script>
            
            
            
            require(["jquery", "events"], function (jQuery, events) {
                jQuery(document).ready(function ($) {
                    
                    events.container = ".story-event";
                    events.template_selector = '#events_template';
                    events.date_format = 'ddd ';
                    events.get(-1, 5);
            
                });
            })
            
            
            </script>    
            #protect-->  

        #end
    </div>
#end

#if($contentRoot && $_XPathTool.selectSingleNode($contentRoot, '.').getChild("view"))
#Timely_Events($_XPathTool.selectSingleNode($contentRoot, "."))
#end

## Format URL: http://cascade.umt.edu/entity/open.act?id=fbaba4e70a0a07cc5c260a459e5aa38b&type=format&#highlight

## Audits
### 01-14-2016 18:48	ns159438e	startedit
### 01-14-2016 18:49	ns159438e	edit
### 03-26-2015 14:57	kp128580	edit
### 03-26-2015 14:57	kp128580	startedit
### 08-11-2016 21:31	ns159438e	edit
### 08-11-2016 21:29	ns159438e	startedit
### 08-11-2016 21:42	ns159438e	startedit
### 08-11-2016 21:42	ns159438e	edit
### 08-11-2016 21:42	ns159438e	startedit
### 08-11-2016 21:44	ns159438e	edit
