#set ($dirHome = "/directory")
#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block") )
#set ($profiles = $_XPathTool.selectNodes($pageStructure, "system-page"))
#set ($currentPage = $_SerializerTool.serialize($pageStructure.getChild("calling-page").getChild("system-page").getChild("display-name"), true))

<style media='screen' type='text/css'>@import 'http://www.coehs.umt.edu/resources/directory.css';</style>
<a href="$dirHome/default">Directory</a> > $currentPage
<h2>$currentPage</h2>
<table border='0' width='100%' id='directory'>
#foreach ($profile in $profiles)
    #set ($active = "")
    #set ($name = $_SerializerTool.serialize($profile.getChild("display-name"), true))
    #set ($title = $_SerializerTool.serialize($profile.getChild("system-data-structure").getChild("title"), true))
    #set ($phone = $_SerializerTool.serialize($profile.getChild("system-data-structure").getChild("phone"), true))
    #set ($link = $_SerializerTool.serialize($profile.getChild("path"), true))
    #set ($dept = $_SerializerTool.serialize($profile.getChild("system-data-structure").getChild("department"), true))
    #set ($secondDept = $_SerializerTool.serialize($profile.getChild("system-data-structure").getChild("secondarydepartment"), true))
    #set ($active = $_SerializerTool.serialize($profile.getChild("system-data-structure").getChild("active").getChild("value"), true))
    #if ($active == "Yes" && ($currentPage == $dept || $currentPage == $secondDept))
    <tr>
    <td><a href='$link'>$name</a></td>
    <td>$title</td>
    <td>x$phone</td>
    </tr>
    #end
#end
</table>

## Format URL: http://cascade.umt.edu/entity/open.act?id=71deefa10a0a046801a2a7809461ef08&type=format&#highlight

## Audits
### 01-28-2012 19:21	es165908e	startedit
### 01-28-2012 19:21	es165908e	edit
### 03-01-2011 14:42	ws132567	move
### 03-01-2011 14:46	ws132567	startedit
### 03-01-2011 14:47	ws132567	edit
