#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure") )

#set ($header = ($pageStructure.getChild("header").getChild("path").text))

#set ($rows = $_XPathTool.selectNodes($contentRoot, "/system-data-structure"))
#set ($rowNumbers = $rows.size())
#set ($stories = $_XPathTool.selectNodes($contentRoot, "/system-data-structure/story"))

#set ($left_content = $_SerializerTool.serialize($pageStructure.getChild("bottom_section").getChild("left"), true))
#set ($center_content = $_SerializerTool.serialize($pageStructure.getChild("bottom_section").getChild("center"), true))
#set ($right_content = $_SerializerTool.serialize($pageStructure.getChild("bottom_section").getChild("right"), true))
#set ($bottom_content = $_SerializerTool.serialize($pageStructure.getChild("content"), true))

#set ($story_class = $_SerializerTool.serialize($pageStructure.getChild("story_class"), true))

<script type="text/javascript" src="http://www.umt.edu/_plugins/cycle_slideshow/assets/jquery.cycle.min.js"></script>
<div class="slideshow_frame">
#if($stories.size()==1)
<div class="story_slideshow">
    #foreach ($story in $stories)
        #set ($image_path = $_SerializerTool.serialize($story.getChild("image").getChild("path"), true))
        #set ($altText = $_SerializerTool.serialize($story.getChild("alt"), true))
        
        #if ($story.getChild("internal_link").getChild("path").text != "/")
            #set ($link = $_SerializerTool.serialize($story.getChild("internal_link").getChild("path"), true))      
        #elseif ($story.getChild("external_link").text != "")
            #set ($link = $_SerializerTool.serialize($story.getChild("external_link"), true))
        #else
            #set ($link = "")
        #end
        #if ($link != "")<a href="$link" title="$altText">#end
        <img alt="$altText" src="$image_path"/>
        #if ($link != "")</a>#end
    #end
    </div>
#elseif ($stories.size()>1)
<div class="story_slideshow#if($story_class != "<story_class />") $story_class#end">
    #foreach ($story in $stories)
        #set ($image_path = $_SerializerTool.serialize($story.getChild("image").getChild("path"), true))
        #set ($altText = $_SerializerTool.serialize($story.getChild("alt"), true))
        
        #if ($story.getChild("internal_link").getChild("path").text != "/")
            #set ($link = $_SerializerTool.serialize($story.getChild("internal_link").getChild("path"), true))      
        #elseif ($story.getChild("external_link").text != "")
            #set ($link = $_SerializerTool.serialize($story.getChild("external_link"), true))
        #else
            #set ($link = "")
        #end
        #if ($link!="")<a href="$link" title="$altText">#end
        <img alt="$altText" src="$image_path"/>
        #if ($link != "")</a>#end
    #end
</div>
<div class="slideshow_buttons">
    <a href="#" id="previous" title="Previous"><img alt="Previous" src="/imx/previous.png"/></a>
    <a href="#" id="next" title="Next"><img alt="Next" src="/imx/next.png"/></a>
</div>
#end
</div>

<div class="main_content">
    #if ($left_content != "<left />")<div class="left_content">$left_content</div>#end
    #if ($center_content !="<center />")<div class="center_content">$center_content</div>#end
    #if ($right_content != "<right />")<div class="right_content">$right_content</div>#end
    
</div>

    #if ($bottom_content != "<content />")<div class="bottom_content">$bottom_content</div>#end


<script type="text/javascript"> 
jQuery(document).ready(function ($) {
    $('.story_slideshow').cycle({ 
        fx:      'fade', 
        speed:    1000, 
        timeout:  8000,
        pause: 1,
        next: '#next',
        prev: '#previous'
    });
});
</script>

## Format URL: http://cascade.umt.edu/entity/open.act?id=1c67930d0a0a04680139a9a954917c1d&type=format&#highlight

## Audits
### 07-23-2013 17:53	kf139826e	edit
### 07-23-2013 17:52	kf139826e	startedit
### 09-28-2012 17:34	kf139826e	edit
### 09-28-2012 17:34	kf139826e	startedit
### 01-26-2012 23:44	es165908e	create
### 01-28-2012 19:06	kf139826e	startedit
### 01-28-2012 19:06	kf139826e	edit
### 01-30-2012 16:17	es165908e	edit
### 01-30-2012 16:17	es165908e	startedit
### 01-30-2012 17:46	es165908e	edit
