<h1>Printing directory structure.</h1>
<pre>
<!--#START-CODE 
    
    
                <?php

function file_list($directory='.', $mode='html') {

    switch ($mode) {
        case 'xml':
            $directory_node = "directory";
            $file_node = "file";
            header("Content-Type:text/xml");
            break;
        default : // the default case is for html
            $directory_node = "ul";
            $file_node = "li";
            break;
    }

    if (is_dir($directory)) {
        if ($dh = opendir($directory)) {
            print("<" . $directory_node . ">");
            while (($file = readdir($dh)) !== false) {
                if (substr($file, 0, 1) != ".") {
                    print("<" . $file_node . ">");
                    print("<a href='?file=" . urlencode($directory . "/" . $file) . "'>" . $file . "</a>");
                    if (is_dir($directory . "/" . $file)) {
                        file_list($directory . "/" . $file, $mode);
                    }
                    print("</" . $file_node . ">");
                }
            }
            print("</" . $directory_node . ">");
        }
        closedir($dh);
    } else {
        print($directory . " is not a directory.");
    }
}

if (!empty($_GET['file'])) {
    print("<pre><code>");
    highlight_file(urldecode($_GET['file']));
    print("</code></pre>
        
<script src='http://www.google.com/jsapi' type='text/javascript' ></script>
<script type='text/javascript'>google.load('jquery', '1.7');</script>
    <script>$('#maincontent').css('position', 'absolute').css('width', 'auto').css('background-color', '#fff').css('z-index',5).css('border','1px solid #999');</script>     

    ");
} else {
    $file = $_SERVER["DOCUMENT_ROOT"] . '/_common/includes/';
    print("<h1>".$file."</h1>");
    file_list($file);
}
?>
    
    
    #END-CODE-->  
</pre>

## Format URL: http://cascade.umt.edu/entity/open.act?id=8a9528660a0a046800363d6ad055a5d1&type=format&#highlight

## Audits
### 12-29-2011 16:09	ns159438e	create
### 12-29-2011 16:09	ns159438e	startedit
### 12-29-2011 16:12	ns159438e	edit
### 12-29-2011 16:12	ns159438e	startedit
### 12-29-2011 16:12	ns159438e	edit
### 12-29-2011 16:13	ns159438e	edit
### 12-29-2011 16:12	ns159438e	startedit
### 12-29-2011 16:15	ns159438e	edit
### 12-29-2011 16:13	ns159438e	startedit
### 12-29-2011 16:16	ns159438e	edit
