#macro (Degree_Map $v_root)
    <div class="plugin degree-map">
    #set ($v_pageStructure = $v_root)
    #set ($v_years = $_XPathTool.selectNodes($v_pageStructure, "year_group"))
    #set ($v_prev_course_operator = "None")
    #set ($heading_level = $v_pageStructure.getChild("heading_level").value)
    #headingLevel($heading_level)
    #foreach ($v_year in $v_years)
        #if ($v_year.getChild("year_label").value != "")
            <div class="row year">
            #set ($v_year_label = "")
            #set ($v_semesters = "")
            #set ($v_notes = "")
            #set ($v_year_label = $_SerializerTool.serialize($v_year.getChild("year_label"), true))
            #set ($v_semesters = $_XPathTool.selectNodes($v_year, "semester_group"))
            #set ($v_notes = $_SerializerTool.serialize($v_year.getChild("advanced").getChild("notes"), true))
            #set ($v_span_size = "col-md-"+12/$v_semesters.size())
                <div class="col-md-12">
                    <$heading_level_one>$v_year_label</$heading_level_one>
                </div>
            </div>
                <div class="row semesters">
                        #foreach ($v_semester in $v_semesters)
                            <div class="$v_span_size semester">
                                #set ($v_semester_label = "")
                                #set ($v_semester_credits = "")
                                #set ($v_courses = "")
                                #set ($v_group_count = 0)
                                #set ($v_semester_label = $_SerializerTool.serialize($v_semester.getChild("semester_label"), true))
                                #set ($v_semester_credits = $_SerializerTool.serialize($v_semester.getChild("semester_credits"), true))
                                #set ($v_courses = $_XPathTool.selectNodes($v_semester, "course_group"))
                                <$heading_level_two>$v_semester_label</$heading_level_two>
                                <table summary="This table gives the recommended course load for $v_semester_label semester, $v_year_label.">
                                    <caption class="access_hidden">This table gives the recommended course load for $v_semester_label semester, $v_year_label year.</caption>
                                    <thead><tr><th scope="col" id="course">Course</th><th width="75px" scope="col" id="credits">Credits</th></tr></thead>
                                    <tbody>
                                        #foreach ($v_course in $v_courses)
                                            #set ($v_course_number = "")
                                            #set ($v_course_title = "")
                                            #set ($v_course_credits = "")
                                            #set ($v_course_operator = "")
                                            #set ($v_tr_properties = "")
                                            #set ($v_course_number = $_SerializerTool.serialize($v_course.getChild("number"), true).replaceAll("&amp;gt;", "&gt;"))
                                            #set ($v_course_title = $_SerializerTool.serialize($v_course.getChild("title"), true).replaceAll("&amp;gt;", "&gt;"))
                                            #set ($v_course_credits = $_SerializerTool.serialize($v_course.getChild("credits"), true).replaceAll("&amp;gt;", "&gt;"))
                                            #set ($v_course_operator = $_SerializerTool.serialize($v_course.getChild("operator"), true))
                                            #if ($v_prev_course_operator != "None")
                                                #set ($v_tr_properties = "class='group_bottom ")
                                            #elseif($v_course_operator != "None")
                                                #set ($v_tr_properties = "class='group_top ")
                                                #set ($v_group_count = $v_group_count + 1)
                                            #else
                                                #set ($v_tr_properties = "class='")
                                                #set ($v_group_count = $v_group_count + 1)
                                            #end
                                            #if ($v_group_count % 2 == 0)
                                                #set ($v_tr_properties = $v_tr_properties + "odd'")
                                            #else
                                                #set ($v_tr_properties = $v_tr_properties + "even'")
                                            #end
                                            #if ($v_course_number != "")
                                                #set ($v_tr_properties = $v_tr_properties + " data-course='$v_course_number'")
                                            #end
                                            <tr $v_tr_properties><td header="course">#if ($v_prev_course_operator != "None")<strong>$v_prev_course_operator</strong> #end$v_course_number $v_course_title</td><td header="credits">$v_course_credits</td></tr>
                                            #set ($v_prev_course_operator = $v_course_operator)
                                        #end
                                        #if ($v_semester_credits != "")
                                            #set ($v_group_count = $v_group_count + 1)
                                            <tfoot><tr #if ($v_group_count % 2 == 0)class="odd"#else class="even"#end><td><strong>Total Credits</strong></td><td><strong>$v_semester_credits</strong></td></tr></tfoot>
                                        #end
                                    </tbody>
                                </table>
                            </div>
                        #end
                    
            </div>
            <div class="row notes">
                <div class="col-md-12">
                    #if ($v_notes != "")
                        <p>$v_notes</p>
                    #end
                </div>
            </div>
           
        #end
    #end
    </div>
#end

#if($contentRoot && $_XPathTool.selectSingleNode($contentRoot, '.').getChild("year_group").getChild("year_label"))
#Degree_Map($_XPathTool.selectSingleNode($contentRoot, "."))
#end


## Format URL: http://cascade.umt.edu/entity/open.act?id=eb604c1a0a0a07cc5c260a45abc462ce&type=format&#highlight

## Audits
### 10-15-2014 17:50	ws132567e	startedit
### 10-15-2014 17:51	ws132567e	edit
### 05-21-2015 16:25	ns159438e	edit
### 05-21-2015 16:25	ns159438e	startedit
### 10-09-2014 18:33	ws132567e	startedit
### 10-09-2014 18:34	ws132567e	edit
