#set ( $currentFolder = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block//system-folder[@current]") )
#set ( $parentFolder = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block//system-folder[system-folder[@current]]") )
#set ( $newsArticles = $_XPathTool.selectNodes($currentFolder, "system-page[name!= 'default']") )
$_SortTool.addSortCriterion("system-data-structure/startDate", "", "text", "descending", "upper-first")  
$_SortTool.sort($newsArticles) 
<div class="news_top">
<h2>
    $currentFolder.getChild("title").text &#032;
    $parentFolder.getChild("title").text News
</h2>
#foreach ($newsArticle in $newsArticles)
    <p align="left">
        #set ($startDate = $_DateTool.getDate($newsArticle.getChild("system-data-structure").getChild("start_date").value ))
        <b>$_DateTool.format('MM/dd/yyyy', $startDate)</b> - 
        <a href="$newsArticle.getChild('path').text">
            $newsArticle.getChild("title").text
        </a> - 
        $newsArticle.getChild("system-data-structure").getChild("summary").text
    </p>
#end
</div>

## Format URL: http://cascade.umt.edu/entity/open.act?id=a4643c1b0a0a046801fa7bd56a565758&type=format&#highlight

## Audits
### 01-28-2012 18:54	kf139826e	startedit
### 01-28-2012 18:54	kf139826e	edit
### 03-07-2013 05:41	av179450e	startedit
### 03-07-2013 05:41	av179450e	edit
### 07-19-2017 19:27	mj129236e	copy
### 01-03-2012 17:12	ws132567	edit
### 01-03-2012 17:09	ws132567	startedit
### 01-03-2012 17:12	ws132567	startedit
### 01-03-2012 17:12	ws132567	edit
### 01-03-2012 17:15	ws132567	copy
