#set ( $currentFolder = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block//system-folder[@current]") )
#set ( $parentFolder = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block//system-folder[system-folder[@current]]") )
#set ( $newsArticles = $_XPathTool.selectNodes($contentRoot, "/system-index-block//system-folder[@current]//system-folder[name!='categories']/system-page[name!= 'default']") )
$_SortTool.addSortCriterion("system-data-structure/startDate", "", "text", "descending", "upper-first")  
$_SortTool.sort($newsArticles) 
#set($limiter = 0)
#set($imgSrc= '')
#set($imgSrc2= '')
#set ($today = $_DateTool.getDate())
#set($month=$_DateTool.format('MM/yyyy', $today))
#foreach ($newsArticle in $newsArticles)
#set($imgSrc2 = "")
#set($articleCategory = $newsArticle.getChild("system-data-structure").getChild("categories").value)
#set($checkCategory = "Alumni")
#set($checkPos = $articleCategory.indexOf($checkCategory))
#if($checkPos > -1)
        #set ($startDate = $_DateTool.getDate($newsArticle.getChild("system-data-structure").getChild("start_date").value ))
        #set($testMonth=$_DateTool.format('MM/yyyy', $startDate))
      #set($imgSrc = $newsArticle.getChild("system-data-structure").getChild("image").value)
      #if($imgSrc != "/")
      #set($imgNum = $imgSrc.indexOf(".jpg")+4)
      #set($imgSrc2 = $imgSrc.substring(0, $imgNum))
      #set($imgSrc2 = '<img src="'+$imgSrc2+'" width="40" />')
      #end
      #set($path = $newsArticle.getChild('path').text)
      #set($path2 = $path.replaceAll('/sqr', ''))
      #if($limiter <= 2)
    <div class="home-news-area">
            <div class="home-news-story-photo">$imgSrc2</div>
          <div class="home-news-story-text">
                <div class="home-news-story-title"><a href="$path">
           #set($finalTitle = $newsArticle.getChild('title').text)
             #set($finalSummary = $newsArticle.getChild("system-data-structure").getChild("summary").text)
           ${_EscapeTool.xml($finalTitle)}
        </a></div>
               ${_EscapeTool.xml($finalSummary)}<span class="news-story-more"><a href="$path"> ...Read More</a></span> 
            </div><div style="clear:both;"></div>
           </div>
           #set($limiter = $limiter+1)
           #end
    #end
    #end

## Format URL: http://cascade.umt.edu/entity/open.act?id=757ea39f0a0a07cc45ebbb93dcd01614&type=format&#highlight

## Audits
### 08-13-2013 02:30	ef216139e	edit
### 08-13-2013 02:29	ef216139e	startedit
