#set ( $currentFolder = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block//system-folder[@current]") )
#set ( $parentFolder = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block//system-folder[system-folder[@current]]") )
#set ( $newsArticles = $_XPathTool.selectNodes($contentRoot, "/system-index-block//system-folder[@current]//system-folder[name!='categories']/system-page[name!= 'default']") )
<ul class="alt_content">
$_SortTool.addSortCriterion("system-data-structure/start_date", "", "number", "ascending", "upper-first")  
$_SortTool.sort($newsArticles)
#set ($today = $_DateTool.getDate())
#set($month=$_DateTool.format('MM.yyyy', $today))
#set ($month2 = $_MathTool.toDouble($month))
#foreach ($newsArticle in $newsArticles)
        #set ($startDate = $_DateTool.getDate($newsArticle.getChild("system-data-structure").getChild("start_date").value ))
        #set($testMonth=$_DateTool.format('MM.yyyy', $startDate))
        #set($day = $_DateTool.format('d', $startDate))
        #set($printMonth = $_DateTool.format('M', $startDate))
        #set($printMonth2 = $_MathTool.toInteger($printMonth))
        #set($difference = $_DateTool.difference($today, $startDate))
        #set($difference = $difference.toString())
        #set($difference2 = $difference.indexOf('-'))
        #if($difference2 == -1)
      #set($monthNumber = "month"+$printMonth)
      #set ($path = $newsArticle.getChild('path').text)
      #set($path = $path+".php")
      #set($newsTitle = $newsArticle.getChild('title').text)
      #set($newsArticle =  $newsArticle.getChild("system-data-structure").getChild("summary").text)
           <li class="vevent2" style="margin-left:10px; margin-top:10px;"><span class="date2"><abbr><span class="month $monthNumber"></span> <span class="day">$day</span></abbr> <span ></span></span> <span class="summary event-title"><a href="$path">${_EscapeTool.xml($newsTitle)}</a>  </span> 
<p>${_EscapeTool.xml($newsArticle)}</p>
</li>
#end
    #end
    </ul>

## Format URL: http://cascade.umt.edu/entity/open.act?id=a1172ced0a0a07cc0aea7f0b9d9dfdf5&type=format&#highlight

## Audits
### 03-07-2013 05:47	av179450e	startedit
### 03-07-2013 05:47	av179450e	edit
### 08-23-2012 16:23	av179450e	edit
### 08-23-2012 16:22	av179450e	startedit
### 08-23-2012 16:33	av179450e	startedit
### 08-23-2012 16:33	av179450e	edit
### 08-23-2012 16:49	av179450e	edit
### 08-23-2012 16:48	av179450e	startedit
### 08-23-2012 16:58	av179450e	activate_version
### 08-23-2012 16:58	av179450e	startedit
