#set ( $currentFolder = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block//system-folder[@current]") )
#set ( $parentFolder = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block//system-folder[system-folder[@current]]") )
#set ( $newsArticles = $_XPathTool.selectNodes($contentRoot, "/system-index-block//system-folder[@current]//system-folder[name!='categories']/system-page[name!= 'default']") )
$_SortTool.addSortCriterion("system-data-structure/startDate", "", "text", "descending", "upper-first")  
$_SortTool.sort($newsArticles) 
#set($limiter = 0)
#set($imgSrc= '')
#set($imgSrc2= '')
#set ($today = $_DateTool.getDate())
#set($month=$_DateTool.format('MMyyyy', $today))
#foreach ($newsArticle in $newsArticles)
#set($imgSrc2 = "")
#set($articleCategory = $newsArticle.getChild("system-data-structure").getChild("categories").value)
#set($checkCategory = "Chancellors page")
#set($checkPos = $articleCategory.indexOf($checkCategory))
#if($checkPos > -1)
        #set ($startDate = $_DateTool.getDate($newsArticle.getChild("system-data-structure").getChild("start_date").value ))
        #set($testMonth=$_DateTool.format('MMyyyy', $startDate))
        #set($outDate=$_DateTool.format("EEE, MMM d, yyyy", $startDate))
       #set ($thisMonth = $_NumberTool.toNumber($month))
       #set($artMonth =  $_NumberTool.toNumber($testMonth))
      #set($imgSrc = $newsArticle.getChild("system-data-structure").getChild("image").value)
      #if($imgSrc != "/")
      #set($imgNum = $imgSrc.indexOf(".jpg")+4)
      #set($imgSrc2 = $imgSrc.substring(0, $imgNum))
      #set($imgSrc2 = '<img src="'+$imgSrc2+'" width="40" />')
      #end
      #set($path = $newsArticle.getChild('path').text)
      #set($path2 = $path.replaceAll('/sqr', ''))
            <div class="home-news-story-photo">$imgSrc2</div>
          <div class="chancellor-news-ticker-item">
                <div id="title"><a href="$path">
           #set($finalTitle = $newsArticle.getChild('title').text)
             #set($finalSummary = $newsArticle.getChild("system-data-structure").getChild("summary").text)${_EscapeTool.xml($finalTitle)}</a></div>
           <div class="ticker-date">$outDate</div>
               ${_EscapeTool.xml($finalSummary)}<span class="news-story-more"><a href="$path"> ...Read More</a></span>
            </div><div style="clear:both;"></div>
    #end
    #end

## Format URL: http://cascade.umt.edu/entity/open.act?id=bc99a13f0a0a07cc1517225fbfa76774&type=format&#highlight

## Audits
### 11-14-2012 18:07	av179450e	startedit
### 11-14-2012 18:08	av179450e	edit
### 11-14-2012 18:13	av179450e	edit
### 11-14-2012 18:13	av179450e	startedit
### 11-15-2012 18:02	av179450e	edit
### 11-15-2012 18:01	av179450e	startedit
### 03-07-2013 05:42	av179450e	startedit
### 03-07-2013 05:43	av179450e	edit
### 11-13-2012 21:21	av179450e	startedit
### 11-13-2012 21:21	av179450e	edit
