#if($contentRoot)

[system-view:internal]<link href="[system-asset:id=02be311a0a0a07cc133a5f6a2808acc8]/profile-creator/profile-creator.css[/system-asset]" rel="stylesheet" type="text/css"/>[/system-view:internal]
[system-view:external]<!--#passthrough <link href="<?php print(url::global_resources_base('/profile-creator/profile-creator.css'));?>" rel="stylesheet" type="text/css"/>#passthrough-->[/system-view:external]

<script type="text/javascript">
require(['profile-creator'], function(profile_creator){
    profile_creator.init()
})
</script>


#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure") )

#set($resize_width =  $_XPathTool.selectSingleNode($pageStructure , "advanced_options").getChild('images').getChild('width').value)
#set($resize_height =  $_XPathTool.selectSingleNode($pageStructure , "advanced_options").getChild('images').getChild('height').value)

<div class="student_creator_container">

#foreach($group in $_XPathTool.selectNodes($pageStructure, "group"))

    #set($group_text =  $group.getChild('group_text').value)
    
    #if($group_text  != "")
        <div style="clear:left;"></div>
        <div>
        <h2>$group_text </h2>
    #end
    
    #set($count = 1)
    #set($group_items = $_XPathTool.selectNodes($group ,'group_item'))
    #foreach($group_item in $group_items)
         #set($image =$group_item.getChild('image'))
         #set ($img_path = $_SerializerTool.serialize($group_item.getChild("image").getChild('path'), true))
         #set($alt_text =  $_SerializerTool.serialize($group_item.getChild('alt'),true))
         #set($caption =$_SerializerTool.serialize($group_item.getChild('caption'),true))
         #set($link_to_external_site = $group_item.getChild('link_to_external_site'))
         #set($link_to_internal_site= $group_item.getChild('link_to_internal_site'))
         #set($content =$_SerializerTool.serialize($group_item.getChild('content'),true))
         
         #set($link_to = "")
         #set($link_to_type = "")
         #if($link_to_external_site.value != "")
              #set($link_to_type = "external")
              #set($link_to = $_SerializerTool.serialize($link_to_external_site,true))
         #elseif($link_to_internal_site.value != "" && $link_to_internal_site.getChild('path').value != "/")
               #set($link_to_type = "internal")
               #set($link_to = $_SerializerTool.serialize($link_to_internal_site.getChild('path'), true))
         #end
         
         #if($link_to_type == "external")
             #set($linked= "true")
         #elseif($link_to_type == "internal")
            #set($linked= "true")
         #else
            #set($linked= "false")
         #end
         
         #set($width_text = "")
         #if($resize_width != "")
             #set($width_text = "width:${resize_width}px;")
         #end

         #set($height_text= "")
         #if($resize_height != "")
             #set($height_text = "height:${resize_height}px")
         #end
         
         <div class="fleft student_item"  linked="$linked">
            <div class="image_container" aria-live="polite">
            
                 #if($link_to_type == "external")
                    <a href="$link_to">
                 #elseif($link_to_type == "internal")
                    <a href="[system-asset]${link_to}[/system-asset]">
                 #else
                    <a href="javascript:void(0)">
                 #end
                <img src="[system-asset]${img_path}[/system-asset]"   style="$width_text $height_text" alt="$alt_text" />
                $caption
                </a>
            </div>
            <div class="content_container">
                $content
            </div>
         </div>
         
         #if($count % 2 == 0)
             <div class="two_break"></div>
         #end    
         #if($count % 3 == 0)
             <div class="three_break"></div>
         #end
         
        #set($count = $count + 1)
         
    #end
    
    #if($group_text  != "")
        </div>
        <div style="clear:left;"></div>
    #end

#end
</div>









#end

## Format URL: http://cascade.umt.edu/entity/open.act?id=02a673800a0a07cc133a5f6aaaccf944&type=format&#highlight

## Audits
### 12-17-2013 22:23	jc113350	move
### 12-17-2013 22:45	jc113350	startedit
### 12-17-2013 22:46	jc113350	edit
### 12-24-2013 21:24	jc113350	edit
### 12-24-2013 21:22	jc113350	startedit
### 12-24-2013 21:35	jc113350	edit
### 12-24-2013 21:34	jc113350	startedit
### 12-24-2013 21:36	jc113350	edit
### 12-24-2013 21:35	jc113350	startedit
### 12-24-2013 21:40	jc113350	edit
