#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure"))
#set ($name= $_SerializerTool.serialize($pageStructure.getChild("name"), true))
#set ($channel = $_SerializerTool.serialize($pageStructure.getChild("channel"), true))
#set ($url= $_SerializerTool.serialize($pageStructure.getChild("url"), true))

#set ($options = $_XPathTool.selectSingleNode($pageStructure, "adv_opts"))
    #set ($show_channel_title = $_SerializerTool.serialize($options.getChild("show_channel_title"), true))
    #set ($num_videos = $_SerializerTool.serialize($options.getChild("num_videos"), true))
    #set ($thumbs = $_SerializerTool.serialize($options.getChild("thumbs"), true))
        #if ($thumbs == "Yes")
            #set ($thumbs = "true")
        #else
            #set($thumbs = "false")
        #end
    #set ($display_inline = $_SerializerTool.serialize($options.getChild("display_inline"), true))
    #set ($num_skip = $_SerializerTool.serialize($options.getChild("num_skip"), true))

#if ($name != "" && $show_channel_title =="Yes")
    #if ($url != "")
    <h2><a href="$url" target="_blank">$name on YouTube</a></h2>
    #else
    <h2>$name on YouTube</h2>
    #end
#end

#if ($num_videos == "1")
    <div class="embed_container embed_single">
        [system-view:internal]The most recent video on your channel will show here.[/system-view:internal]
        [system-view:external]
        <!--#START-CODE 
            <?php
                include("youtube.class.php");
                $youtube = new Youtube();
                $youtube->embed_most_recent_video('$channel');
            ?> 
         #END-CODE-->  
        [/system-view:external]
    </div>
#else

#if ($num_skip == "0")
#set ($num_videos= $_MathTool.toInteger($num_videos) - 1)
#end

    #if ($display_inline =="Yes")
        <div class="embed_container embed_list videos_inline">
    #else
        <div class="embed_container embed_list">
    #end
        [system-view:internal]<p class="alert alert-success">The most recent videos on your channel will be listed here.</p>[/system-view:internal]
        [system-view:external]
        <!--#START-CODE
            <?php
                include("youtube.class.php");
                $youtube = new Youtube();
                $youtube->list_videos('$channel',$num_videos,$thumbs,$num_skip);
            ?>
        #END-CODE-->  
       
        [/system-view:external]
    </div>
#end

<link href="youtube_embed_videos/assets/youtube_embed.css" rel="stylesheet"/> 
<script type="text/javascript">
    require(["mootools"], function ($$) {
        $$(".youtube_list li a").addClass('mediabox_big');
        
    });
</script>

## Format URL: http://cascade.umt.edu/entity/open.act?id=ec6167b00a0a07cc45ebbb93b5f0df07&type=format&#highlight

## Audits
