#set ($dirHome = "/directory")
#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block") )
#set ($profiles = $_XPathTool.selectNodes($pageStructure, "//system-page[name='default']"))
#set ($currentPage = $_SerializerTool.serialize($pageStructure.getChild("calling-page").getChild("system-page").getChild("display-name"), true))

<link href="/_css/directory.css" rel="stylesheet" type="text/css"/>

<h2>$currentPage</h2>

<div id="tabs">
<ul>
<li><a href="#tabs-1">College Administration</a></li>
<li><a href="#tabs-2">Accounting</a></li>
<li><a href="#tabs-3">Administrative Staff</a></li>
<li><a href="#tabs-4">IT Staff</a></li>
<li><a href="#tabs-5">MFCES Administration</a></li>
</ul>

<div id="tabs-1">
    <table border='0' width='100%' id='directory'>
    #set($tab_id = "College Administration")
    #foreach ($profile in $profiles)
        #set ($administrations = "")
        #set ($in_group = false)
        #set ($administrations = $profile.getChild("system-data-structure").getChild("administration").children)
        
        #foreach($administration in $administrations)
            #if($administration.value == $tab_id && $in_group == false)
                #set($in_group = true)
            #end
        #end
        
        #if($in_group == true)
            #set ($active = "")
            #set ($name = $_SerializerTool.serialize($profile.getChild("display-name"), true))
            #set ($title = $_SerializerTool.serialize($profile.getChild("system-data-structure").getChild("title"), true))
            #set ($phone = $_SerializerTool.serialize($profile.getChild("system-data-structure").getChild("phone"), true))
            #set ($link = $_SerializerTool.serialize($profile.getChild("path"), true))
            #set ($status = $_SerializerTool.serialize($profile.getChild("system-data-structure").getChild("status"), true))
            #set ($dept = $_SerializerTool.serialize($profile.getChild("system-data-structure").getChild("department"), true))
            #set ($active = $_SerializerTool.serialize($profile.getChild("system-data-structure").getChild("active").getChild("value"), true))
            
            #if ($active == "Yes")
            <tr>
            <td><a href='$link'>$name</a></td>
            <td>$title</td>
            <td>$phone</td>
            </tr>
            #end
        #end
    #end
</table>
</div>

<div id="tabs-2">
<table border='0' width='100%' id='directory'>
    #set($tab_id = "Accounting")
    #foreach ($profile in $profiles)
        #set ($administrations = "")
        #set ($in_group = false)
        #set ($administrations = $profile.getChild("system-data-structure").getChild("administration").children)
        
        #foreach($administration in $administrations)
            #if($administration.value == $tab_id && $in_group == false)
                #set($in_group = true)
            #end
        #end
        
        #if($in_group == true)
            #set ($active = "")
            #set ($name = $_SerializerTool.serialize($profile.getChild("display-name"), true))
            #set ($title = $_SerializerTool.serialize($profile.getChild("system-data-structure").getChild("title"), true))
            #set ($phone = $_SerializerTool.serialize($profile.getChild("system-data-structure").getChild("phone"), true))
            #set ($link = $_SerializerTool.serialize($profile.getChild("path"), true))
            #set ($status = $_SerializerTool.serialize($profile.getChild("system-data-structure").getChild("status"), true))
            #set ($dept = $_SerializerTool.serialize($profile.getChild("system-data-structure").getChild("department"), true))
            #set ($active = $_SerializerTool.serialize($profile.getChild("system-data-structure").getChild("active").getChild("value"), true))
            
            #if ($active == "Yes")
            <tr>
            <td><a href='$link'>$name</a></td>
            <td>$title</td>
            <td>$phone</td>
            </tr>
            #end
        #end
    #end
</table>
</div>

<div id="tabs-3">
<table border='0' width='100%' id='directory'>
    #set($tab_id = "Administrative Staff")
    #foreach ($profile in $profiles)
        #set ($administrations = "")
        #set ($in_group = false)
        #set ($administrations = $profile.getChild("system-data-structure").getChild("administration").children)
        
        #foreach($administration in $administrations)
            #if($administration.value == $tab_id && $in_group == false)
                #set($in_group = true)
            #end
        #end
        
        #if($in_group == true)
            #set ($active = "")
            #set ($name = $_SerializerTool.serialize($profile.getChild("display-name"), true))
            #set ($title = $_SerializerTool.serialize($profile.getChild("system-data-structure").getChild("title"), true))
            #set ($phone = $_SerializerTool.serialize($profile.getChild("system-data-structure").getChild("phone"), true))
            #set ($link = $_SerializerTool.serialize($profile.getChild("path"), true))
            #set ($status = $_SerializerTool.serialize($profile.getChild("system-data-structure").getChild("status"), true))
            #set ($dept = $_SerializerTool.serialize($profile.getChild("system-data-structure").getChild("department"), true))
            #set ($active = $_SerializerTool.serialize($profile.getChild("system-data-structure").getChild("active").getChild("value"), true))
            
            #if ($active == "Yes")
            <tr>
            <td><a href='$link'>$name</a></td>
            <td>$title</td>
            <td>$phone</td>
            </tr>
            #end
        #end
    #end
</table>
</div>

<div id="tabs-4">
<table border='0' width='100%' id='directory'>
    #set($tab_id = "IT Staff")
    #foreach ($profile in $profiles)
        #set ($administrations = "")
        #set ($in_group = false)
        #set ($administrations = $profile.getChild("system-data-structure").getChild("administration").children)
        
        #foreach($administration in $administrations)
            #if($administration.value == $tab_id && $in_group == false)
                #set($in_group = true)
            #end
        #end
        
        #if($in_group == true)
            #set ($active = "")
            #set ($name = $_SerializerTool.serialize($profile.getChild("display-name"), true))
            #set ($title = $_SerializerTool.serialize($profile.getChild("system-data-structure").getChild("title"), true))
            #set ($phone = $_SerializerTool.serialize($profile.getChild("system-data-structure").getChild("phone"), true))
            #set ($link = $_SerializerTool.serialize($profile.getChild("path"), true))
            #set ($status = $_SerializerTool.serialize($profile.getChild("system-data-structure").getChild("status"), true))
            #set ($dept = $_SerializerTool.serialize($profile.getChild("system-data-structure").getChild("department"), true))
            #set ($active = $_SerializerTool.serialize($profile.getChild("system-data-structure").getChild("active").getChild("value"), true))
            
            #if ($active == "Yes")
            <tr>
            <td><a href='$link'>$name</a></td>
            <td>$title</td>
            <td>$phone</td>
            </tr>
            #end
        #end
    #end
</table>
</div>

<div id="tabs-5">
<table border='0' width='100%' id='directory'>
    #set($tab_id = "MFCES Administration")
    #foreach ($profile in $profiles)
        #set ($administrations = "")
        #set ($in_group = false)
        #set ($administrations = $profile.getChild("system-data-structure").getChild("administration").children)
        
        #foreach($administration in $administrations)
            #if($administration.value == $tab_id && $in_group == false)
                #set($in_group = true)
            #end
        #end
        
        #if($in_group == true)
            #set ($active = "")
            #set ($name = $_SerializerTool.serialize($profile.getChild("display-name"), true))
            #set ($title = $_SerializerTool.serialize($profile.getChild("system-data-structure").getChild("title"), true))
            #set ($phone = $_SerializerTool.serialize($profile.getChild("system-data-structure").getChild("phone"), true))
            #set ($link = $_SerializerTool.serialize($profile.getChild("path"), true))
            #set ($status = $_SerializerTool.serialize($profile.getChild("system-data-structure").getChild("status"), true))
            #set ($dept = $_SerializerTool.serialize($profile.getChild("system-data-structure").getChild("department"), true))
            #set ($active = $_SerializerTool.serialize($profile.getChild("system-data-structure").getChild("active").getChild("value"), true))
            
            #if ($active == "Yes")
            <tr>
            <td><a href='$link'>$name</a></td>
            <td>$title</td>
            <td>$phone</td>
            </tr>
            #end
        #end
    #end
</table>
</div>

</div>








## Format URL: http://cascade.umt.edu/entity/open.act?id=daacf2850a0a0468013098df66d29d5f&type=format&#highlight

## Audits
### 01-04-2013 16:32	sm166858e	copy
### 01-28-2012 17:49	ws132567	edit
### 01-28-2012 17:49	ws132567	startedit
### 05-10-2011 16:11	sm166858e	startedit
### 05-10-2011 16:16	sm166858e	edit
### 05-10-2011 17:34	sm166858e	edit
### 05-10-2011 17:32	sm166858e	startedit
### 05-10-2011 19:45	sm166858e	startedit
### 05-10-2011 19:50	sm166858e	edit
### 05-10-2011 19:51	sm166858e	startedit
