#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block"))
##
#set($items = $_XPathTool.selectNodes($pageStructure, "//system-page[system-data-structure[@definition-path='Feature Image']]"))
##
#foreach($item in $items)
    #set($image = "")
    #set($title = "")
    #set($alt_text = "")
    #set($photo_byline = "")
    #set($link_text = "")
    #set($link_url ="")
    ##
    #set($image = $_SerializerTool.serialize($item.getChild("system-data-structure").getChild("photo").getChild("path"), true))
    #set($title = $_SerializerTool.serialize($item.getChild("system-data-structure").getChild("title"), true))
    #set($alt_text = $_SerializerTool.serialize($item.getChild("system-data-structure").getChild("alt_text"), true))
    #set($photo_byline = $_SerializerTool.serialize($item.getChild("system-data-structure").getChild("photo_byline"), true))
    #set($link_text = $_SerializerTool.serialize($item.getChild("system-data-structure").getChild("link_text"), true))
    #set($link_url = $_SerializerTool.serialize($item.getChild("system-data-structure").getChild("link_url"), true))
    ##
      <div class="row-fluid featured_image overlay dark">
      <img alt="$alt_text" src="$image" />
      <div class="block library hidden-phone">
        <p style="text-align:right;" class="small">
        <strong>$title</strong> <br />
        $photo_byline<br />
        <a target="_blank" href="$link_url">$link_text</a></p>
      </div>
      </div>
  
#end


## Format URL: http://cascade.umt.edu/entity/open.act?id=653b8e560a0a07cc19f7656f254ecfbd&type=format&#highlight

## Audits
