#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block"))
##
#set($items = $_XPathTool.selectNodes($pageStructure, "//system-page[system-data-structure[@definition-path='Feature Image']]"))
##
#set($item = $items.get(0))
#set($image = "")
#set($title = "")
#set($alt_text = "")
#set($photo_byline = "")
#set($link_text = "")
#set($link_url ="")
##
#set($image = $_SerializerTool.serialize($item.getChild("system-data-structure").getChild("photo").getChild("path"), true))
#set($title = $_SerializerTool.serialize($item.getChild("system-data-structure").getChild("title"), true))
#set($alt_text = $_SerializerTool.serialize($item.getChild("system-data-structure").getChild("alt_text"), true))
#set($photo_byline = $_SerializerTool.serialize($item.getChild("system-data-structure").getChild("photo_byline"), true))
#set($link_text = $_SerializerTool.serialize($item.getChild("system-data-structure").getChild("link_text"), true))
#set($link_url = $_SerializerTool.serialize($item.getChild("system-data-structure").getChild("link_url"), true))
##
<div class="row-fluid featured_image overlay dark">
    <div class="featured_image_library">
        <img alt="entrance to Mansfield Library" src="/imx/spring_library_front_big.JPG" />
    </div> 
    <!-- Begin Search Box -->
    <div class="row-fluid">
        <div class="row-fluid um-lib-search-box">
            <div class="col-md-7">
                <div class="row-fluid">
        			<script type="text/javascript">
						require(["accordion-tabs"],function(){
							$(".tabs").accessibleTabs({       
								tabhead: '.title', tabbody: '.tabbody', fx:'fadeIn',fxspeed: 'normal',currentInfoText: 'current tab: ',currentInfoPosition: 'prepend',currentInfoClass: 'current-info'});
						});
					</script>
					

					<div class="plugin accordion-tabs"> 
						<div class="group_container">
							<div class="tabs light">
								<div aria-selected="true" class="title" id="trails" role="tab" tabIndex="-1"><h3>OneSearch</h3></div>
								<div aria-labelledby="trails" class="tabbody" role="tabpanel">
									<h3 class="sr-only">OneSearch</h3>
									<form class="fm-search-tabs articles" id="search-resource-selection" method="post" action="https://www.lib.umt.edu/local/includes/search-databases.php"> 
										<input type="hidden" name="service" value="everything" />
										<span class="heading"><p>Find books, DVDs, CDs, article titles and more.</p></span>
										
										<div class="row-fluid">
											<div class="col-md-12">
												<div class="lib-search-box">
													<label class="access_hidden" for="autoprimo">Search Onesearch</label>
													<input id="autoprimo" class="lib-search-text" name="q" value="Enter a keyword, title or author in OneSearch..." onfocus="if(this.value == 'Enter a keyword, title or author in OneSearch...'){this.value = '';}" type="text" />
													<button class="lib-search-button" value="Search" type='submit'>
														<span class="access_hidden">Search</span>
														<span class="search-icon"></span>
													</button>
												</div>
											</div>
										</div>
										<div class="advanced-search">
											<div class="row-fluid">
												<div class="col-md-8">
													<a href="https://www.lib.umt.edu/research-find/onesearch-tips.php">New to OneSearch?</a>
												</div>
												<div class="col-md-4">
													<a href="https://um-primo.hosted.exlibrisgroup.com/primo-explore/search?vid=01TRAILS_UM&amp;lang=en_US&amp;sortby=rank&amp;mode=advanced">Advanced Search</a>
												</div>
											</div>
										</div>
									</form>
								</div>

								<div aria-selected="true" class="title" id="Journals" role="tab" tabIndex="-1"><h3>Journals</h3></div>
								<div aria-labelledby="Journals" class="tabbody" role="tabpanel">
									<h3 class="sr-only">Journals</h3>
									<div class="row-fluid">
										<span class ="heading"><p>Find online and print journals, newspapers and magazines.</p></span>
										<form class="fm-search-tabs articles" id="search-resource-selection" method="post" action="https://www.lib.umt.edu/local/includes/search-databases.php"> 
											<input type="hidden" name="service" value="journal" />
											<div class="row-fluid">
												<div class="col-md-12">
													<div class="lib-search-box">
														<label class="access_hidden" for="lib_journals">Search journals</label>
														<input id="search_journals" class="lib-search-text" name="q" value="Enter a journal title..." onfocus="if(this.value == 'Enter a journal title...'){this.value = '';}" type="text" />
														<button class="lib-search-button" value="Search" type='submit'>
															<span class="access_hidden">Search journals</span>
															<span class="search-icon"></span>
														</button>
													</div>
												</div>
											</div>
										</form>
										<div class="advanced-search">
											<span class="tabbody-instructions-test"><p>Example: <a href="https://um-primo.hosted.exlibrisgroup.com/primo_library/libweb/action/dlSearch.do?institution=01TRAILS_UM&amp;vid=01TRAILS_UM&amp;indx=1&amp;bulkSize=30&amp;dym=false&amp;loc=local%2Cscope%3A%28AZ01TRAILS_UM%29&amp;fn=goAlmaAz&amp;almaAzSearch=true&amp;initialSearch=true&amp;vl%28freeText0%29=Nature">Nature</a> or <a href="https://um-primo.hosted.exlibrisgroup.com/primo_library/libweb/action/dlSearch.do?vl%28freeText0%29=Journal+of+British+Studies&amp;institution=01TRAILS_UM&amp;vid=01TRAILS_UM&amp;indx=1&amp;bulkSize=30&amp;dym=false&amp;loc=local%2Cscope%3A%28AZ01TRAILS_UM%29&amp;fn=goAlmaAz&amp;almaAzSearch=true&amp;initialSearch=true">Journal of British Studies</a>.</p></span>	
										</div>
									</div>
									<div class="row-fluid">
										<div class="search-text">
											<span class="heading"><h5>Browse by Title</h5></span>
											<p><a href="https://um-primo.hosted.exlibrisgroup.com/primo_library/libweb/action/dlSearch.do?institution=01TRAILS_UM&amp;query=facet_atoz%2cexact%2c0-9&amp;indx=1&amp;bulkSize=30&amp;dym=false&amp;loc=local%2cscope%3a(%22AZ01TRAILS_UM%22)&amp;fn=goAlmaAz&amp;sortField=stitle&amp;almaAzSearch=true&amp;azSearch=true&amp;selectedAzAlmaLetter=0-9&amp;vid=01TRAILS_UM">#</a>&amp;#160;&amp;#160;&amp;#160;
                                                <a href="https://um-primo.hosted.exlibrisgroup.com/primo_library/libweb/action/dlSearch.do?institution=01TRAILS_UM&amp;query=facet_atoz%2cexact%2cA&amp;indx=1&amp;bulkSize=30&amp;dym=false&amp;loc=local%2cscope%3a(%22AZ01TRAILS_UM%22)&amp;fn=goAlmaAz&amp;sortField=stitle&amp;almaAzSearch=true&amp;azSearch=true&amp;selectedAzAlmaLetter=A&amp;vid=01TRAILS_UM">A</a>&amp;#160;&amp;#160;&amp;#160;
                                                <a href="https://um-primo.hosted.exlibrisgroup.com/primo_library/libweb/action/dlSearch.do?institution=01TRAILS_UM&amp;query=facet_atoz%2cexact%2cB&amp;indx=1&amp;bulkSize=30&amp;dym=false&amp;loc=local%2cscope%3a(%22AZ01TRAILS_UM%22)&amp;fn=goAlmaAz&amp;sortField=stitle&amp;almaAzSearch=true&amp;azSearch=true&amp;selectedAzAlmaLetter=B&amp;vid=01TRAILS_UM">B</a>&amp;#160;&amp;#160;&amp;#160;<a href="https://um-primo.hosted.exlibrisgroup.com/primo_library/libweb/action/dlSearch.do?institution=01TRAILS_UM&amp;query=facet_atoz%2cexact%2cC&amp;indx=1&amp;bulkSize=30&amp;dym=false&amp;loc=local%2cscope%3a(%22AZ01TRAILS_UM%22)&amp;fn=goAlmaAz&amp;sortField=stitle&amp;almaAzSearch=true&amp;azSearch=true&amp;selectedAzAlmaLetter=C&amp;vid=01TRAILS_UM">C</a>&amp;#160;&amp;#160;&amp;#160;<a href="https://um-primo.hosted.exlibrisgroup.com/primo_library/libweb/action/dlSearch.do?institution=01TRAILS_UM&amp;query=facet_atoz%2cexact%2cD&amp;indx=1&amp;bulkSize=30&amp;dym=false&amp;loc=local%2cscope%3a(%22AZ01TRAILS_UM%22)&amp;fn=goAlmaAz&amp;sortField=stitle&amp;almaAzSearch=true&amp;azSearch=true&amp;selectedAzAlmaLetter=D&amp;vid=01TRAILS_UM">D</a>&amp;#160;&amp;#160;&amp;#160;<a href="https://um-primo.hosted.exlibrisgroup.com/primo_library/libweb/action/dlSearch.do?institution=01TRAILS_UM&amp;query=facet_atoz%2cexact%2cE&amp;indx=1&amp;bulkSize=30&amp;dym=false&amp;loc=local%2cscope%3a(%22AZ01TRAILS_UM%22)&amp;fn=goAlmaAz&amp;sortField=stitle&amp;almaAzSearch=true&amp;azSearch=true&amp;selectedAzAlmaLetter=E&amp;vid=01TRAILS_UM">E</a>&amp;#160;&amp;#160;&amp;#160;<a href="https://um-primo.hosted.exlibrisgroup.com/primo_library/libweb/action/dlSearch.do?institution=01TRAILS_UM&amp;query=facet_atoz%2cexact%2cF&amp;indx=1&amp;bulkSize=30&amp;dym=false&amp;loc=local%2cscope%3a(%22AZ01TRAILS_UM%22)&amp;fn=goAlmaAz&amp;sortField=stitle&amp;almaAzSearch=true&amp;azSearch=true&amp;selectedAzAlmaLetter=F&amp;vid=01TRAILS_UM">F</a>&amp;#160;&amp;#160;&amp;#160;
												<a href="https://um-primo.hosted.exlibrisgroup.com/primo_library/libweb/action/dlSearch.do?institution=01TRAILS_UM&amp;query=facet_atoz%2cexact%2cG&amp;indx=1&amp;bulkSize=30&amp;dym=false&amp;loc=local%2cscope%3a(%22AZ01TRAILS_UM%22)&amp;fn=goAlmaAz&amp;sortField=stitle&amp;almaAzSearch=true&amp;azSearch=true&amp;selectedAzAlmaLetter=G&amp;vid=01TRAILS_UM">G</a>&amp;#160;&amp;#160;&amp;#160;
												<a href="https://um-primo.hosted.exlibrisgroup.com/primo_library/libweb/action/dlSearch.do?institution=01TRAILS_UM&amp;query=facet_atoz%2cexact%2cH&amp;indx=1&amp;bulkSize=30&amp;dym=false&amp;loc=local%2cscope%3a(%22AZ01TRAILS_UM%22)&amp;fn=goAlmaAz&amp;sortField=stitle&amp;almaAzSearch=true&amp;azSearch=true&amp;selectedAzAlmaLetter=H&amp;vid=01TRAILS_UM">H</a>&amp;#160;&amp;#160;&amp;#160;
												<a href="https://um-primo.hosted.exlibrisgroup.com/primo_library/libweb/action/dlSearch.do?institution=01TRAILS_UM&amp;query=facet_atoz%2cexact%2cI&amp;indx=1&amp;bulkSize=30&amp;dym=false&amp;loc=local%2cscope%3a(%22AZ01TRAILS_UM%22)&amp;fn=goAlmaAz&amp;sortField=stitle&amp;almaAzSearch=true&amp;azSearch=true&amp;selectedAzAlmaLetter=I&amp;vid=01TRAILS_UM">I</a>&amp;#160;&amp;#160;&amp;#160;
												<a href="https://um-primo.hosted.exlibrisgroup.com/primo_library/libweb/action/dlSearch.do?institution=01TRAILS_UM&amp;query=facet_atoz%2cexact%2cJ&amp;indx=1&amp;bulkSize=30&amp;dym=false&amp;loc=local%2cscope%3a(%22AZ01TRAILS_UM%22)&amp;fn=goAlmaAz&amp;sortField=stitle&amp;almaAzSearch=true&amp;azSearch=true&amp;selectedAzAlmaLetter=J&amp;vid=01TRAILS_UM">J</a>&amp;#160;&amp;#160;&amp;#160;
												<a href="https://um-primo.hosted.exlibrisgroup.com/primo_library/libweb/action/dlSearch.do?institution=01TRAILS_UM&amp;query=facet_atoz%2cexact%2cK&amp;indx=1&amp;bulkSize=30&amp;dym=false&amp;loc=local%2cscope%3a(%22AZ01TRAILS_UM%22)&amp;fn=goAlmaAz&amp;sortField=stitle&amp;almaAzSearch=true&amp;azSearch=true&amp;selectedAzAlmaLetter=K&amp;vid=01TRAILS_UM">K</a>&amp;#160;&amp;#160;&amp;#160;
												<a href="https://um-primo.hosted.exlibrisgroup.com/primo_library/libweb/action/dlSearch.do?institution=01TRAILS_UM&amp;query=facet_atoz%2cexact%2cL&amp;indx=1&amp;bulkSize=30&amp;dym=false&amp;loc=local%2cscope%3a(%22AZ01TRAILS_UM%22)&amp;fn=goAlmaAz&amp;sortField=stitle&amp;almaAzSearch=true&amp;azSearch=true&amp;selectedAzAlmaLetter=L&amp;vid=01TRAILS_UM">L</a>&amp;#160;&amp;#160;&amp;#160;
												<a href="https://um-primo.hosted.exlibrisgroup.com/primo_library/libweb/action/dlSearch.do?institution=01TRAILS_UM&amp;query=facet_atoz%2cexact%2cM&amp;indx=1&amp;bulkSize=30&amp;dym=false&amp;loc=local%2cscope%3a(%22AZ01TRAILS_UM%22)&amp;fn=goAlmaAz&amp;sortField=stitle&amp;almaAzSearch=true&amp;azSearch=true&amp;selectedAzAlmaLetter=M&amp;vid=01TRAILS_UM">M</a>&amp;#160;&amp;#160;&amp;#160;
												<a href="https://um-primo.hosted.exlibrisgroup.com/primo_library/libweb/action/dlSearch.do?institution=01TRAILS_UM&amp;query=facet_atoz%2cexact%2cN&amp;indx=1&amp;bulkSize=30&amp;dym=false&amp;loc=local%2cscope%3a(%22AZ01TRAILS_UM%22)&amp;fn=goAlmaAz&amp;sortField=stitle&amp;almaAzSearch=true&amp;azSearch=true&amp;selectedAzAlmaLetter=N&amp;vid=01TRAILS_UM">N</a>&amp;#160;&amp;#160;&amp;#160;<br />
												<a href="https://um-primo.hosted.exlibrisgroup.com/primo_library/libweb/action/dlSearch.do?institution=01TRAILS_UM&amp;query=facet_atoz%2cexact%2cO&amp;indx=1&amp;bulkSize=30&amp;dym=false&amp;loc=local%2cscope%3a(%22AZ01TRAILS_UM%22)&amp;fn=goAlmaAz&amp;sortField=stitle&amp;almaAzSearch=true&amp;azSearch=true&amp;selectedAzAlmaLetter=O&amp;vid=01TRAILS_UM">O</a>&amp;#160;&amp;#160;&amp;#160;
												<a href="https://um-primo.hosted.exlibrisgroup.com/primo_library/libweb/action/dlSearch.do?institution=01TRAILS_UM&amp;query=facet_atoz%2cexact%2cP&amp;indx=1&amp;bulkSize=30&amp;dym=false&amp;loc=local%2cscope%3a(%22AZ01TRAILS_UM%22)&amp;fn=goAlmaAz&amp;sortField=stitle&amp;almaAzSearch=true&amp;azSearch=true&amp;selectedAzAlmaLetter=P&amp;vid=01TRAILS_UM">P</a>&amp;#160;&amp;#160;&amp;#160;
												<a href="https://um-primo.hosted.exlibrisgroup.com/primo_library/libweb/action/dlSearch.do?institution=01TRAILS_UM&amp;query=facet_atoz%2cexact%2cQ&amp;indx=1&amp;bulkSize=30&amp;dym=false&amp;loc=local%2cscope%3a(%22AZ01TRAILS_UM%22)&amp;fn=goAlmaAz&amp;sortField=stitle&amp;almaAzSearch=true&amp;azSearch=true&amp;selectedAzAlmaLetter=Q&amp;vid=01TRAILS_UM">Q</a>&amp;#160;&amp;#160;&amp;#160;
												<a href="https://um-primo.hosted.exlibrisgroup.com/primo_library/libweb/action/dlSearch.do?institution=01TRAILS_UM&amp;query=facet_atoz%2cexact%2cR&amp;indx=1&amp;bulkSize=30&amp;dym=false&amp;loc=local%2cscope%3a(%22AZ01TRAILS_UM%22)&amp;fn=goAlmaAz&amp;sortField=stitle&amp;almaAzSearch=true&amp;azSearch=true&amp;selectedAzAlmaLetter=R&amp;vid=01TRAILS_UM">R</a>&amp;#160;&amp;#160;&amp;#160;
												<a href="https://um-primo.hosted.exlibrisgroup.com/primo_library/libweb/action/dlSearch.do?institution=01TRAILS_UM&amp;query=facet_atoz%2cexact%2cS&amp;indx=1&amp;bulkSize=30&amp;dym=false&amp;loc=local%2cscope%3a(%22AZ01TRAILS_UM%22)&amp;fn=goAlmaAz&amp;sortField=stitle&amp;almaAzSearch=true&amp;azSearch=true&amp;selectedAzAlmaLetter=S&amp;vid=01TRAILS_UM">S</a>&amp;#160;&amp;#160;&amp;#160;
												<a href="https://um-primo.hosted.exlibrisgroup.com/primo_library/libweb/action/dlSearch.do?institution=01TRAILS_UM&amp;query=facet_atoz%2cexact%2cT&amp;indx=1&amp;bulkSize=30&amp;dym=false&amp;loc=local%2cscope%3a(%22AZ01TRAILS_UM%22)&amp;fn=goAlmaAz&amp;sortField=stitle&amp;almaAzSearch=true&amp;azSearch=true&amp;selectedAzAlmaLetter=T&amp;vid=01TRAILS_UM">T</a>&amp;#160;&amp;#160;&amp;#160;
												<a href="https://um-primo.hosted.exlibrisgroup.com/primo_library/libweb/action/dlSearch.do?institution=01TRAILS_UM&amp;query=facet_atoz%2cexact%2cU&amp;indx=1&amp;bulkSize=30&amp;dym=false&amp;loc=local%2cscope%3a(%22AZ01TRAILS_UM%22)&amp;fn=goAlmaAz&amp;sortField=stitle&amp;almaAzSearch=true&amp;azSearch=true&amp;selectedAzAlmaLetter=U&amp;vid=01TRAILS_UM">U</a>&amp;#160;&amp;#160;&amp;#160;
												<a href="https://um-primo.hosted.exlibrisgroup.com/primo_library/libweb/action/dlSearch.do?institution=01TRAILS_UM&amp;query=facet_atoz%2cexact%2cV&amp;indx=1&amp;bulkSize=30&amp;dym=false&amp;loc=local%2cscope%3a(%22AZ01TRAILS_UM%22)&amp;fn=goAlmaAz&amp;sortField=stitle&amp;almaAzSearch=true&amp;azSearch=true&amp;selectedAzAlmaLetter=V&amp;vid=01TRAILS_UM">V</a>&amp;#160;&amp;#160;&amp;#160;
												<a href="https://um-primo.hosted.exlibrisgroup.com/primo_library/libweb/action/dlSearch.do?institution=01TRAILS_UM&amp;query=facet_atoz%2cexact%2cW&amp;indx=1&amp;bulkSize=30&amp;dym=false&amp;loc=local%2cscope%3a(%22AZ01TRAILS_UM%22)&amp;fn=goAlmaAz&amp;sortField=stitle&amp;almaAzSearch=true&amp;azSearch=true&amp;selectedAzAlmaLetter=W&amp;vid=01TRAILS_UM">W</a>&amp;#160;&amp;#160;&amp;#160;
												<a href="https://um-primo.hosted.exlibrisgroup.com/primo_library/libweb/action/dlSearch.do?institution=01TRAILS_UM&amp;query=facet_atoz%2cexact%2cX&amp;indx=1&amp;bulkSize=30&amp;dym=false&amp;loc=local%2cscope%3a(%22AZ01TRAILS_UM%22)&amp;fn=goAlmaAz&amp;sortField=stitle&amp;almaAzSearch=true&amp;azSearch=true&amp;selectedAzAlmaLetter=X&amp;vid=01TRAILS_UM">X</a>&amp;#160;&amp;#160;&amp;#160;
												<a href="https://um-primo.hosted.exlibrisgroup.com/primo_library/libweb/action/dlSearch.do?institution=01TRAILS_UM&amp;query=facet_atoz%2cexact%2cY&amp;indx=1&amp;bulkSize=30&amp;dym=false&amp;loc=local%2cscope%3a(%22AZ01TRAILS_UM%22)&amp;fn=goAlmaAz&amp;sortField=stitle&amp;almaAzSearch=true&amp;azSearch=true&amp;selectedAzAlmaLetter=Y&amp;vid=01TRAILS_UM">Y</a>&amp;#160;&amp;#160;&amp;#160; 
												<a href="https://um-primo.hosted.exlibrisgroup.com/primo_library/libweb/action/dlSearch.do?institution=01TRAILS_UM&amp;query=facet_atoz%2cexact%2cZ&amp;indx=1&amp;bulkSize=30&amp;dym=false&amp;loc=local%2cscope%3a(%22AZ01TRAILS_UM%22)&amp;fn=goAlmaAz&amp;sortField=stitle&amp;almaAzSearch=true&amp;azSearch=true&amp;selectedAzAlmaLetter=Z&amp;vid=01TRAILS_UM">Z</a>&amp;#160;&amp;#160;&amp;#160;</p>
										</div>
									</div>
								</div>
								<div aria-selected="true" class="title" id="Databases" role="tab" tabIndex="-1"><h3>Databases</h3></div>
								<div aria-labelledby="Databases" class="tabbody" role="tabpanel">
									<h3 class="sr-only">Databases</h3>
									<div class="row-fluid">
										<span class ="heading"><p>Access specialized search engines to find journal articles and other materials.</p></span>
										<form class="fm-search-tabs articles" id="search-resource-selection" method="post" action="https://www.lib.umt.edu/local/includes/search-databases.php"> 
											<input type="hidden" name="service" value="database" />
											<div class="row-fluid">
												<div class="col-md-12">
													<div class="lib-search-box">
														<label class="access_hidden" for="lib_databases">Databases</label>
														<input id="lib_databases" class="lib-search-text" name="q" value="Enter a database title..." onfocus="if(this.value == 'Enter a database title...'){this.value = '';}" type="text" />
														<button class="lib-search-button" value="Search" type='submit'>
															<span class="access_hidden">Search databases</span>
															<span class="search-icon"></span>
														</button>
													</div>
												</div>
											</div>
										</form>
										<div class="advanced-search">
											<div class="row-fluid">	
												<div class="col-md-6">
													<span class="tabbody-instructions-test"><p>Example: <a href="https://um-primo.hosted.exlibrisgroup.com/primo-explore/search?query=any,contains,JSTOR&amp;tab=databases&amp;search_scope=01TRAILS_UM_DATABASES&amp;sortby=rank&amp;vid=01TRAILS_UM&amp;facet=topic,include,Society%20and%20Conservation&amp;lang=en_US&amp;offset=0">JSTOR</a> or <a href="https://um-primo.hosted.exlibrisgroup.com/primo-explore/search?vid=01TRAILS_UM&amp;tab=databases&amp;search_scope=01TRAILS_UM_DATABASES&amp;query=any,contains,project%20muse&amp;sortby=rank&amp;lang=en_US">Project MUSE</a>.</p></span>
												</div>
											</div>
										</div>
                                    <div class="row-fluid">
                                        <div class="col-md-8">
											<div class="search-text">
												<span class="heading"><h5>Browse by Title</h5></span>
												<p>
													<div class="title-links"><a href="http://libguides.lib.umt.edu/az.php?a=pound">#</a></div>
													<div class="title-links"><a href="http://libguides.lib.umt.edu/az.php?a=a">A</a></div>
													<div class="title-links"><a href="http://libguides.lib.umt.edu/az.php?a=b">B</a></div>
													<div class="title-links"><a href="http://libguides.lib.umt.edu/az.php?a=c">C</a></div>
													<div class="title-links"><a href="http://libguides.lib.umt.edu/az.php?a=d">D</a></div>
                                                    <div class="title-links"><a href="http://libguides.lib.umt.edu/az.php?a=e">E</a></div>
                                                    <div class="title-links"><a href="http://libguides.lib.umt.edu/az.php?a=f">F</a></div>
                                                    <div class="title-links"><a href="http://libguides.lib.umt.edu/az.php?a=g">G</a></div>
                                                    <div class="title-links"><a href="http://libguides.lib.umt.edu/az.php?a=h">H</a></div>
                                                    <div class="title-links"><a href="http://libguides.lib.umt.edu/az.php?a=i">I</a></div>
                                                    <div class="title-links"><a href="http://libguides.lib.umt.edu/az.php?a=j">J</a></div>
                                                    <div class="title-links"><a href="http://libguides.lib.umt.edu/az.php?a=k">K</a></div>
                                                    <div class="title-links"><a href="http://libguides.lib.umt.edu/az.php?a=l">L</a></div>
                                                    <div class="title-links"><a href="http://libguides.lib.umt.edu/az.php?a=m">M</a></div>
                                                    <div class="title-links"><a href="http://libguides.lib.umt.edu/az.php?a=n">N</a></div>
                                                    <div class="title-links"><a href="http://libguides.lib.umt.edu/az.php?a=o">O</a></div>
                                                    <div class="title-links"><a href="http://libguides.lib.umt.edu/az.php?a=p">P</a></div>
                                                    <div class="title-links">Q</div>
                                                    <div class="title-links"><a href="http://libguides.lib.umt.edu/az.php?a=r">R</a></div>
                                                    <div class="title-links"><a href="http://libguides.lib.umt.edu/az.php?a=s">S</a></div>
                                                    <div class="title-links"><a href="http://libguides.lib.umt.edu/az.php?a=t">T</a></div>
                                                    <div class="title-links"><a href="http://libguides.lib.umt.edu/az.php?a=u">U</a></div>
                                                    <div class="title-links"><a href="http://libguides.lib.umt.edu/az.php?a=v">V</a></div>
                                                    <div class="title-links"><a href="http://libguides.lib.umt.edu/az.php?a=w">W</a></div>
                                                    <div class="title-links">X</div>
                                                    <div class="title-links">Y</div>
                                                    <div class="title-links">Z</div>
												</p>
											</div>	
										</div>
                                        <div class="col-md-4">
        								    <!--<div class="pull-right">-->
                                                        <span class="heading"><h5>Browse by Subject</h5></span>
                                                        <div class="dropdown">
    													<button onclick="myFunction()" class="dropbtn">Select a subject...</button>
														<div id="myDropdown" class="dropdown-content">
                                                                <a href="http://libguides.lib.umt.edu/az.php?a=all&amp;s=96147">All Subjects</a>
																<a href="http://libguides.lib.umt.edu/az.php?a=all&amp;s=56441">Accounting</a>
																<a href="http://libguides.lib.umt.edu/az.php?a=all&amp;s=56458">African American Studies</a>
																<a href="http://libguides.lib.umt.edu/az.php?a=all&amp;s=56459">Anthropology</a>
																<a href="http://libguides.lib.umt.edu/az.php?a=all&amp;s=56497">Art</a>
																<a href="http://libguides.lib.umt.edu/az.php?a=all&amp;s=56460">Asian Studies</a>
																<a href="http://libguides.lib.umt.edu/az.php?a=all&amp;s=56461">Biological Studies</a>
																<a href="http://libguides.lib.umt.edu/az.php?a=all&amp;s=56442">Business</a>
																<a href="http://libguides.lib.umt.edu/az.php?a=all&amp;s=56462">Central and SW Asian Studies</a>
																<a href="http://libguides.lib.umt.edu/az.php?a=all&amp;s=56463">Chemistry and Biochemistry</a>
																<a href="http://libguides.lib.umt.edu/az.php?a=all&amp;s=56464">Communication Studies</a>
																<a href="http://libguides.lib.umt.edu/az.php?a=all&amp;s=56446">Communicative Sciences and Disorders</a>
																<a href="http://libguides.lib.umt.edu/az.php?a=all&amp;s=56465">Computer Science</a>
																<a href="http://libguides.lib.umt.edu/az.php?a=all&amp;s=56444">Counselor Education</a>
																<a href="http://libguides.lib.umt.edu/az.php?a=all&amp;s=56466">Creative Writing</a>
																<a href="http://libguides.lib.umt.edu/az.php?a=all&amp;s=56498">Drama and Dance</a>
																<a href="http://libguides.lib.umt.edu/az.php?a=all&amp;s=56467">Economics</a>
																<a href="http://libguides.lib.umt.edu/az.php?a=all&amp;s=56449">Ecosystem and Conservation Sciences</a>
																<a href="http://libguides.lib.umt.edu/az.php?a=all&amp;s=56447">Educational Leadership</a>
																<a href="http://libguides.lib.umt.edu/az.php?a=all&amp;s=56468">English Literatures</a>
																<a href="http://libguides.lib.umt.edu/az.php?a=all&amp;s=56469">Environmental Studies</a>
																<a href="http://libguides.lib.umt.edu/az.php?a=all&amp;s=56471">Film Studies</a>
																<a href="http://libguides.lib.umt.edu/az.php?a=all&amp;s=56450">Forest Management</a>
																<a href="http://libguides.lib.umt.edu/az.php?a=all&amp;s=56472">Geography</a>
																<a href="http://libguides.lib.umt.edu/az.php?a=all&amp;s=56473">Geosciences</a>
																<a href="http://libguides.lib.umt.edu/az.php?a=all&amp;s=56477">Global Humanities and Religions</a>
																<a href="http://libguides.lib.umt.edu/az.php?a=all&amp;s=55980">Government Resources</a>
																<a href="http://libguides.lib.umt.edu/az.php?a=all&amp;s=56448">Health and Human Performance</a>
																<a href="http://libguides.lib.umt.edu/az.php?a=all&amp;s=56474">History</a>
																<a href="http://libguides.lib.umt.edu/az.php?a=all&amp;s=56475">Irish Studies</a>
																<a href="http://libguides.lib.umt.edu/az.php?a=all&amp;s=55989">Journalism</a>
																<a href="http://libguides.lib.umt.edu/az.php?a=all&amp;s=56476">Latin American Studies</a>
																<a href="http://libguides.lib.umt.edu/az.php?a=all&amp;s=56438">Legal Resources</a>
																<a href="http://libguides.lib.umt.edu/az.php?a=all&amp;s=56499">Library Media</a>
																<a href="http://libguides.lib.umt.edu/az.php?a=all&amp;s=56478">Linguistics</a>
																<a href="http://libguides.lib.umt.edu/az.php?a=all&amp;s=56443">Marketing</a>
																<a href="http://libguides.lib.umt.edu/az.php?a=all&amp;s=56479">Mathematical Sciences</a>
																<a href="http://libguides.lib.umt.edu/az.php?a=all&amp;s=56492">Missoula College: Applied Arts and Sciences</a>
																<a href="http://libguides.lib.umt.edu/az.php?a=all&amp;s=56493">Missoula College: Applied Computing and Engineering Technology</a>
																<a href="http://libguides.lib.umt.edu/az.php?a=all&amp;s=56494">Missoula College: Business Technology</a>
																<a href="http://libguides.lib.umt.edu/az.php?a=all&amp;s=56495">Missoula College: Health Professions</a>
																<a href="http://libguides.lib.umt.edu/az.php?a=all&amp;s=56496">Missoula College: Industrial Technology</a>
																<a href="http://libguides.lib.umt.edu/az.php?a=all&amp;s=56480">Modern and Classical Languages and Literatures</a>
																<a href="http://libguides.lib.umt.edu/az.php?a=all&amp;s=56500">Music</a>
																<a href="http://libguides.lib.umt.edu/az.php?a=all&amp;s=56481">Native American Studies</a>
																<a href="http://libguides.lib.umt.edu/az.php?a=all&amp;s=56454">Pharmacy</a>
																<a href="http://libguides.lib.umt.edu/az.php?a=all&amp;s=56482">Philosophy</a>
																<a href="http://libguides.lib.umt.edu/az.php?a=all&amp;s=56455">Physical Therapy</a>
																<a href="http://libguides.lib.umt.edu/az.php?a=all&amp;s=56483">Physics and Astronomy</a>
																<a href="http://libguides.lib.umt.edu/az.php?a=all&amp;s=56484">Political Science</a>
																<a href="http://libguides.lib.umt.edu/az.php?a=all&amp;s=56485">Psychology</a>
																<a href="http://libguides.lib.umt.edu/az.php?a=all&amp;s=56456">Public Health</a>
																<a href="http://libguides.lib.umt.edu/az.php?a=all&amp;s=56486">Religion</a>
																<a href="http://libguides.lib.umt.edu/az.php?a=all&amp;s=56451">Resource Conservation</a>
																<a href="http://libguides.lib.umt.edu/az.php?a=all&amp;s=56487">Russian Studies</a>
																<a href="http://libguides.lib.umt.edu/az.php?a=all&amp;s=56457">Social Work</a>
																<a href="http://libguides.lib.umt.edu/az.php?a=all&amp;s=56452">Society and Conservation</a>
																<a href="http://libguides.lib.umt.edu/az.php?a=all&amp;s=56489">Sociology and Criminology</a>
																<a href="http://libguides.lib.umt.edu/az.php?a=all&amp;s=56445">Teaching and Learning</a>
																<a href="http://libguides.lib.umt.edu/az.php?a=all&amp;s=56453">Wildlife Biology</a>
																<a href="http://libguides.lib.umt.edu/az.php?a=all&amp;s=56490">Women’s, Gender, and Sexuality Studies</a>
																<a href="http://libguides.lib.umt.edu/az.php?a=all&amp;s=56491">Writing</a>
												        </div>
                                                    </div>
                                                </div>
											<!--</div>-->
                                        </div>
                                    </div>
                                </div>   	
								<div aria-selected="true" class="title" id="Course Reserves" role="tab" tabIndex="-1"><h3>Course Reserves</h3></div>
								<div aria-labelledby="CourseReserves" class="tabbody" role="tabpanel">
									<h3 class="sr-only">Course Reserves</h3>
									<form class="fm-search-tabs articles" id="search-resource-selection" method="post" action="https://www.lib.umt.edu/local/includes/search-databases.php"> 
									<input type="hidden" name="service" value="reserves" />
									<span class ="heading"><p>Find material put on reserve by your instructor.</p></span>
									<div class="row-fluid">
										<div class="col-md-12">
											<div class="lib-search-box">
												<label class="access_hidden" for="lib_reserves">Search reserves</label>
												<input id="lib_reserves" class="lib-search-text" name="q" value="Enter a course code, instructor name, department code, or item title..." onfocus="if(this.value == 'Enter a course code, instructor name, department code, or item title...'){this.value = '';}" type="text" />
												<button class="lib-search-button" value="Search" type='submit'>
													<span class="access_hidden">Search reserves</span>
													<span class="search-icon"></span>
												</button>
											</div>
										</div>
									</div>
									<div class="advanced-search">
										<span class="tabbody-instructions-test">Example: PSYX (department code) or PSYX100 (course code).</span>
									</div>
									</form>
								</div>
							
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-5">
				<div class="row-fluid">
					<div class="hours-layout">
						<div class="hours-box">
						    <h3>Today's Hours</h3>
							<!--#passthrough
								<?php
									include '/var/includes/hours/hours_select.php';			
								?>
							#passthrough-->
							
						</div>
					</div>
				</div>
				<div class="quickbuttons">
					<div class="row-fluid">
						<div class="link-main">
							<div class="col-md-3">
								<a href="http://libguides.lib.umt.edu/index.php">
									<div class="row-fluid">
										<img src="/imx/research_guides.png" alt="research guides icon" />
									</div>
									<div class="row-fluid">
										Research Guides
									</div>
								</a>
							</div>
							<div class="col-md-3">
								<a href="https://www.lib.umt.edu/about/contact.php">
									<div class="row-fluid">
										<img src="/imx/researchconsult.png" alt="research consultation icon" />
									</div>
									<div class="row-fluid">
										Research Help
									</div>
								</a>
							</div>
							<div class="col-md-3">
								<a href="https://www.lib.umt.edu/tech-spaces/study-spaces.php">
									<div class="row-fluid">
										<img src="/imx/study_room.png" alt="group study room icon" />
									</div>
									<div class="row-fluid">
										Study Spaces
									</div>
								</a>
							</div>
							<div class="col-md-3">
								<a href="https://www.lib.umt.edu/tech-spaces/pawprint/default.php">
									<div class="row-fluid">
										<img src="/imx/print_icon.png" alt="print icon" />
									</div>
									<div class="row-fluid">
										Print, Scan, Copy
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <script type="text/javascript">
		require(["jquery","searchreset"],function(jQuery){
			jQuery(document).ready(function($){
				$('.libsearch').searchreset();
			});
		});
	</script>
    <!-- End Search Box -->
</div>
  #set($links = $_XPathTool.selectNodes($pageStructure, "//system-page/system-data-structure[@definition-path='icon-links']/link"))
##
  <div class="my-umt-edu row-fluid">
    <div class="span12 landing-box">
      <div class="icons">
        <h2 class="access_hidden">Quick access links</h2>
        <ul aria-label="Student Services" class="fade-in" role="navigation">
            #foreach($link in $links)
                #set($link_url = "")
                #set($class = "")
                #set($title = "")
                #set($external_link = "")
                #set($internal_link = "")
                ##
                #set($title = $_SerializerTool.serialize($link.getChild("title"), true))
                #set($external_link = $_SerializerTool.serialize($link.getChild("link"), true))
                #set($internal_link = $link.getChild("internal_link").getChild("path").value)
                #if($link.getChild("class").value != "")
                    #set($class = $_SerializerTool.serialize($link.getChild("class"), true))
                #end
                ##
                #if($internal_link == "/" && $link.getChild("link").value != "") 
                    #set($link_url = $external_link)
                #elseif($internal_link != "/")
                    #set($link_url = $internal_link)
                #end
                #if($link_url != "")
                    <li class=""><a href="$link_url">$title</a></li>
                #else
                [system-view:internal]
                    <li class="$class"><a href="$link_url">$title</a> No URL - Will not publish</li>
                [/system-view:internal]
                #end
            #end          
        </ul>
      </div>
    </div>
  </div>
  


## Format URL: http://cascade.umt.edu/entity/open.act?id=653b8e8a0a0a07cc19f7656fa8ca3714&type=format&#highlight

## Audits
### 10-09-2017 15:53	ws150695e	startedit
### 10-09-2017 15:54	ws150695e	edit
### 10-09-2017 16:27	ws150695e	startedit
### 10-09-2017 16:27	ws150695e	edit
### 10-09-2017 17:49	jw119627e	startedit
### 10-09-2017 17:49	jw119627e	edit
### 10-09-2017 18:26	jw119627e	startedit
### 10-09-2017 18:26	jw119627e	edit
### 05-14-2017 03:09	ws150695e	edit
### 05-14-2017 03:07	ws150695e	startedit
