#set ($links = $_XPathTool.selectNodes($contentRoot, "/system-data-structure/link"))
##
  <div class="my-umt-edu row-fluid">
    <div class="span12 landing-box">
      <div class="icons">
        <h2 class="access_hidden">Quick access links</h2>
        <ul aria-label="Student Services" class="fade-in" role="navigation">
            #foreach($link in $links)
                #set($title = $_SerializerTool.serialize($link.getChild("title"), true))
                #set($external_link = $_SerializerTool.serialize($link.getChild("link"), true))
                #set($internal_link = $link.getChild("internal_link").getChild("path").value)
                #set($class = $_SerializerTool.serialize($link.getChild("class"), true))
                #set($link = $internal_link)
                ##
                #if($internal_link == "/") 
                    #set($link = $external_link)
                #end
                #if($link != "")
                <li class="$class"><a href="$link">$title</a></li>
                #else
                [system-view:internal]
                    <li class="$class"><a href="$link">$title</a> No URL - Will not publish</li>
                [/system-view:internal]
                #end
            #end          
        </ul>
      </div>
    </div>
  </div>

## Format URL: http://cascade.umt.edu/entity/open.act?id=653b8e120a0a07cc19f7656f3ee7cafc&type=format&#highlight

## Audits
