#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block") )
#set ($slides = $_XPathTool.selectNodes($pageStructure, "system-file"))

<script src="http://www.cfc.umt.edu/_common/widgets/LightBox/js/prototype.js" type="text/javascript"></script>
<script src="http://www.cfc.umt.edu/_common/widgets/LightBox/js/scriptaculous.js?load=effects,builder" type="text/javascript"></script>
<script src="http://www.cfc.umt.edu/_common/widgets/LightBox/js/lightbox.js" type="text/javascript"></script>

<link href="http://www.cfc.umt.edu/_common/widgets/LightBox/lightbox.css" media="screen" rel="stylesheet" type="text/css"/>

    <div>
    
        #foreach ($slide in $slides)
            #set ($image = "")
            #set ($title = "")
            #set ($caption = "")
            #set ($image = $_SerializerTool.serialize($slide.getChild("link"), true))
            #set ($title = $_SerializerTool.serialize($slide.getChild("name"), true).replaceAll("""","&quot;").replaceAll("'","&apos;"))
            #set ($caption = $_SerializerTool.serialize($slide.getChild("display-name"), true).replaceAll("""","&quot;").replaceAll("'","&apos;"))
            <a href='$image' rel="lightbox[imagegroup]" title="$caption" >
            <img src="$image" alt="$caption" style="width: 150px;"/></a>       
        #end    
    </div>



## Format URL: http://cascade.umt.edu/entity/open.act?id=75f7726b0a0a046801a1f0bb2e0161fd&type=format&#highlight

## Audits
### 12-07-2011 22:25	sm166858e	copy
### 01-28-2012 18:39	ws132567	startedit
### 01-28-2012 18:39	ws132567	edit
### 10-27-2011 20:19	sm166858e	edit
### 10-27-2011 20:19	sm166858e	startedit
### 06-09-2011 19:53	sm166858e	startedit
### 06-09-2011 20:02	sm166858e	edit
### 06-09-2011 20:06	sm166858e	startedit
### 06-09-2011 20:08	sm166858e	edit
### 06-09-2011 20:09	sm166858e	edit
