#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure") )
#set ($imagegroup = $_XPathTool.selectNodes($pageStructure, "imagegroup"))
#set ($before = $_SerializerTool.serialize($pageStructure.getChild("before"), true))
#set ($theme = $_SerializerTool.serialize($pageStructure.getChild("theme"), true))
#set ($after = $_SerializerTool.serialize($pageStructure.getChild("after"), true))
#set ($pause = $_SerializerTool.serialize($pageStructure.getChild("pause"), true))
#set ($effect = $_SerializerTool.serialize($pageStructure.getChild("effect"), true))

#if ($before != "" && $before != "<before />")
<p>$before</p>
#end

#set ($css = $theme + ".css")
<style type="text/css" media="screen,print">@import "http://www.cfc.umt.edu/_common/_css/nivo-slider/$theme/$css";</style>
<style type="text/css" media="screen,print">@import "http://www.cfc.umt.edu/_common/_css/nivo-slider/nivo-slider.css";</style>


<div class="slider-wrapper theme-$theme">
            #set ($x = 0)
            <div id="slider" class="nivoSlider">
                #foreach ($newimage in $imagegroup)
                        #set ($image = "")
                        #set ($imagealt = "")
                        #set ($divid = "")
                        #set ($pagepath = "")
                        #set ($external = "")
                        #set ($link = "")
                        
                        #set ($imagealt = $newimage.getChild("alt").replaceAll("""","&quot;").replaceAll("'","&apos;"))
                        #set ($image = $newimage.getChild("image").getChild("path").text)
                        #set ($divid = "image"+ $x)  
                        #set ($link = $newimage.getChild('pagepath').getChild('path').text)
                            
                        #if($link == "") #set ($link = $newimage.getChild('external').text) #end

                        <a href="$link"><img class="round" src="$image" data-thumb="$image" alt='$imagealt' data-transition="$effect" title="#$divid" /></a>
                        
                        #set ($x = $x + 1)
                #end 
               
             </div>
             
             #set ($x = 0)
              #foreach ($newimage in $imagegroup)
                      #set ($divid = "")
                      #set ($imagehtml = "")
                      #set ($imagehtml = $_SerializerTool.serialize($newimage.getChild("imagehtml"), true))
                      #set ($divid = "image" + $x)
                   
                    <div id="$divid" class="nivo-html-caption">
                        $imagehtml
                    </div>
                      #set ($x = $x + 1)
                #end

</div>

#if ($after != "" && $after != "<after />")
<p>$after</p>
#end

<script type="text/javascript" src="http://www.cfc.umt.edu/_common/_js/nivo-slider/jquery.nivo.slider.js"></script>

<script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider({
        effect: '$effect',
        slices: 15, 
        boxCols: 8, 
        boxRows: 4, 
        animSpeed: 700, 
        pauseTime: $pause, 
        startSlide: 0,
        directionNav: true,
        controlNav: true,
        controlNavThumbs: false, 
        manualAdvance: false, 
        prevText: 'Prev', 
        nextText: 'Next', 
        randomStart: false
        });
    });
</script>

## Format URL: http://cascade.umt.edu/entity/open.act?id=76a2b9de0a0a07cc721708f96c652db4&type=format&#highlight

## Audits
### 01-17-2013 18:14	sm166858e	startedit
### 01-17-2013 18:16	sm166858e	edit
### 03-15-2013 17:04	sm166858e	move
### 03-15-2013 17:04	sm166858e	copy
### 12-07-2012 18:31	sm166858e	create
### 12-07-2012 18:35	sm166858e	edit
### 12-07-2012 18:31	sm166858e	startedit
### 12-07-2012 19:40	sm166858e	startedit
### 12-07-2012 19:40	sm166858e	edit
### 12-07-2012 19:43	sm166858e	startedit
