<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript">
    google.load("jquery", "1.3");
</script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure") )
#set ($top_content = $_SerializerTool.serialize($pageStructure.getChild("content"), true))
#set ($bottom_content = $_SerializerTool.serialize($pageStructure.getChild("below_content"), true))
#set ($sections  = $_XPathTool.selectNodes($pageStructure, "section"))
<div class="above_accordion">$top_content</div>
<div id="accordion">
#foreach ($section in $sections)
    #set ($label = $_SerializerTool.serialize($section.getChild("label"), true))
    #set ($content = $_SerializerTool.serialize($section.getChild("content"), true))
    <h2><a href="#">$label</a></h2>
    <div>$content</div>
#end
</div>
<div class="below_accordion">$bottom_content</div>

<script type="text/javascript">
$( "#accordion" ).accordion({ 
            header: 'h2',
            collapsible: true,
            autoHeight: false,
            active: false
});
</script>

## Format URL: http://cascade.umt.edu/entity/open.act?id=df8b97f30a0a07cc3b3d8503c37388d5&type=format&#highlight

## Audits
