<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript">
    google.load("jquery", "1.3");
</script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure") )
#set ($left_content = $_SerializerTool.serialize($pageStructure.getChild("left_content"), true))
#set ($right_content = $_SerializerTool.serialize($pageStructure.getChild("right_content").getChild("right_content"), true))
#set ($sections  = $_XPathTool.selectNodes($pageStructure, "right_content/section"))
#set ($sections_check  = $_SerializerTool.serialize($pageStructure.getChild("right_content").getChild("section").getChild("label"), true))

<div class="content_2col">
    $left_content
</div>

<div class="dept_right">
#if ($right_content != "<content />")
<div class="above_accordion">
    $right_content
</div>
#end
#if ($sections_check != "")
<div id="accordion">
#foreach ($section in $sections)
    #set ($label = "")
    #set ($content = "")
    #set ($label = $_SerializerTool.serialize($section.getChild("label"), true))
    #set ($content = $_SerializerTool.serialize($section.getChild("content"), true))
    #if ($content != "<content />")
        <h2><a href="#">$label</a></h2>
        <div>
            $content
        </div>
    #end
#end
</div>
#end
</div>

<script type="text/javascript">
$( "#accordion" ).accordion({ 
            header: 'h2',
            collapsible: true,
            autoHeight: false,
            active: false
});
</script>

## Format URL: http://cascade.umt.edu/entity/open.act?id=df8b984f0a0a07cc3b3d850398204c8b&type=format&#highlight

## Audits
