#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure") )

#set ($header = ($pageStructure.getChild("header").getChild("path").text))

#set ($rows = $_XPathTool.selectNodes($contentRoot, "/system-data-structure"))
#set ($rowNumbers = $rows.size())

#set ($slides = $_XPathTool.selectNodes($contentRoot, "/system-data-structure/photo_container"))

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js">></script>
<script type="text/javascript" src="http://cloud.github.com/downloads/malsup/cycle/jquery.cycle.all.2.72.js"></script>
<link id='photo-css' href="/css/photoslider.css" rel="stylesheet" type="text/css" media='all' />
<div class="slider_frame">
#if($slides.size()==1)
    #foreach ($slide in $slides)
        #set ($image_path = $_SerializerTool.serialize($slide.getChild("image").getChild("path"), true))
        #set ($image_text = $_SerializerTool.serialize($slide.getChild("imageText"), true))
        
        #if ($slide.getChild("internalLink").getChild("path").text != "/")
            #set ($link = $_SerializerTool.serialize($slide.getChild("internalLink").getChild("path"), true))     
        #elseif ($slide.getChild("externalLink").text != "")
            #set ($link = $_SerializerTool.serialize($slide.getChild("externalLink"), true))
        #else
            #set ($link = "")
        #end
        #if ($link != "")<a href="$link" title="$image_text">#end
        <img alt="$image_text" src="$image_path"/>
        #if ($link != "")</a>#end
    #end
#elseif ($slides.size()>1)
<div class="slider_show slideshow_column">
    #foreach ($slide in $slides)
        #set ($image_path = $_SerializerTool.serialize($slide.getChild("image").getChild("path"), true))
        #set ($image_text = $_SerializerTool.serialize($slide.getChild("imageText"), true))
        
        #if ($slide.getChild("internalLink").getChild("path").text != "/")
            #set ($link = $_SerializerTool.serialize($slide.getChild("internalLink").getChild("path"), true))     
        #elseif ($slide.getChild("externalLink").text != "")
            #set ($link = $_SerializerTool.serialize($slide.getChild("externalLink"), true))
        #else
            #set ($link = "")
        #end
        #if ($link != "")<a href="$link" title="$image_text">#end
        <img alt="$image_text" src="$image_path"/>
        #if ($link != "")</a>#end
    #end
</div>
#end
<div class="slideshow_buttons">
    <a href="#" id="previous" title="Previous"><img alt="Previous" src="[system-asset:id=2f91dfef0a0a07cc628b41632eada932]site://SELL - Conference Planning Services/imx/photoslider/previous.png[/system-asset]"/></a>
    <a href="#" id="next" title="Next"><img alt="Next" src="[system-asset:id=2f918a7e0a0a07cc628b416307aff7ff]site://SELL - Conference Planning Services/imx/photoslider/next.png[/system-asset]"/></a>
</div>
</div>
<script type="text/javascript"> 
jQuery(document).ready(function () {
    $('.slider_show').cycle({ 
        fx:      'fade', 
        speed:    1000, 
        timeout:  8000,
        pause: 1,
        next: '#next',
        prev: '#previous'
    });
});
</script>

## Format URL: http://cascade.umt.edu/entity/open.act?id=df8b98760a0a07cc3b3d850385f550ed&type=format&#highlight

## Audits
