#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure") )
#set ($newsitems = $_XPathTool.selectNodes($pageStructure, "newsitem"))
#set ($sectiontitle = $_SerializerTool.serialize($pageStructure.getChild("sectiontitle"), true).replaceAll("""","&quot;").replaceAll("'","&apos;"))

<div id="news">

#if ($sectiontitle != "" && $sectiontitle != "<sectiontitle />")
<h1>$sectiontitle</h1>
#end             

    #foreach ($newsitem in $newsitems)
        
    #set ($image = "")
    #set ($title = "")
    #set ($desc = "")
    #set ($pagepath = "")
    #set ($external = "")
    
    #set ($title = $_SerializerTool.serialize($$newsitem.getChild("title"), true).replaceAll("""","&quot;").replaceAll("'","&apos;"))
    #set ($image = $_SerializerTool.serialize($$newsitem.getChild("image").getChild("path"), true))
    #set ($desc = $_SerializerTool.serialize($$newsitem.getChild("desc"), true))
    #set ($external = $_SerializerTool.serialize($$newsitem.getChild("external"), true))
    #set ($pagepath = $_SerializerTool.serialize($$newsitem.getChild("page").getChild("path"), true))
    
     <div class="newsitem">
  
        <div class="news_icon"><img class="imagewrap" style="max-width: 100px;" src='$image' alt=""/></div>
        <div class="news_content"> 
    
                #if ($external != "" && $external != "<external />")
                    <a class="title" href="$external" target="blank">$title</a><br />$desc
                #else
                    <a class="title" href="$pagepath">$title</a><br />$desc
                #end
   
        </div>
   </div>
   
#end
</div>



## Format URL: http://cascade.umt.edu/entity/open.act?id=dd188f490a0a07cc1517225ff2d0baad&type=format&#highlight

## Audits
### 04-29-2013 16:32	sm166858e	copy
### 12-17-2012 15:33	sm166858e	edit
### 12-17-2012 15:33	sm166858e	startedit
### 12-17-2012 15:33	sm166858e	startedit
### 12-17-2012 15:34	sm166858e	edit
### 12-17-2012 15:47	sm166858e	copy
### 12-17-2012 18:57	sm166858e	copy
### 11-07-2012 22:58	sm166858e	move
### 11-13-2012 17:55	sm166858e	copy
