<div class="clear"></div>

## Use the Query Tool to find all news pages
    #set ( $query = $_.query() )
    #set ( $query = $query.byContentType("site://Montana Tech - Sandbox Beacon/News Detail") )  ## Set the query tool to search by content type.
    #set ( $query = $query.includePages(true) )
    #set ( $query = $query.maxResults(30) )  ## Query Tool is limited to max of 500 results.
    #set ( $query = $query.siteName("Montana Tech - Sandbox Beacon") )  ## Only search the main site.
    #set ( $query = $query.sortBy("startDate") )
    #set ( $query = $query.sortDirection("desc") )
    #set ( $newsArticles = $query.execute() )
    
<div class="col5 news green">
    <h3>News</h3>
    
    ## Loop through the news pages
        #set ( $counter = 0 )
        #foreach ( $newsArticle in $newsArticles )
        
            ## DEBUGGING:
            ##<!--NEWS PAGE ${counter}-->
            ##<!-- Object Properties: ${_PropertyTool.outputProperties($newsArticle)} -->
            ##<!-- Name: ${newsArticle.name}, Path: ${newsArticle.link}  -->
            
            ## Get the categories for the current article
            #set ( $newsPageCategorySelections = "" )
            #set ( $newsPageCategorySelections = $newsArticle.getStructuredDataNode("categories").textValues )
            
            ## Check to see if we find a match between the landing page category selection(s) and the news article selection(s)
            #set ( $categoryMatch = false )
            #foreach ( $newsPageCategorySelection in $newsPageCategorySelections )
                #if ( $newsPageCategorySelection == "Home Page" )
                    #set ( $categoryMatch = true )
                #end
            #end

            #if ( $categoryMatch )
            
            ## Initialize variables
            #set ( $title = "" )
            #set ( $summary = "" )
            #set ( $newsLink = "" )
            #set ( $newsDate = "" )
            
            ## Set variables
            #set ( $title = $_EscapeTool.xml($newsArticle.metadata.DisplayName) )
            #set ( $summary = $_EscapeTool.xml($newsArticle.getStructuredDataNode("summary").textValue) )
            #set ( $newsLink = $newsArticle.link )
            #set ($newsDate = $_NumberTool.toNumber($newsArticle.getStructuredDataNode("start_date").textValue))
                
                <div class="wrap">
                    <h6><a href="${newsLink}">${title}</a></h6>
                    <p class="time" style="font-size: .750em;">$_DateTool.format('MM/d/yyyy', $newsDate)</p> ## added to show date during testing
                    <p>${_DisplayTool.truncate($summary, 150, "", true)}...</p>
                </div>
            
                ## Only write out 3 articles
                
                #set ( $counter = $counter + 1 )
                #if ( $counter > 2 )
                    #break
                #end
            #end
        
        #end
        
        <a href="/news/index" class="btn btn-green newslink">Read More News Stories</a></div>
    <div class="col1"></div>

## Format URL: http://cascade.umt.edu/entity/open.act?id=ef35f3970a0a07cc545fdb4506867993&type=format&#highlight

## Audits
### 03-13-2018 19:31	mj129236e	startedit
### 03-13-2018 19:35	mj129236e	edit
### 12-06-2017 15:42	mj129236e	startedit
### 12-06-2017 15:43	mj129236e	edit
### 03-16-2018 15:46	mj129236e	startedit
### 03-16-2018 15:54	mj129236e	edit
### 03-16-2018 15:55	mj129236e	activate_version
### 03-19-2018 11:54	mj129236e	startedit
### 03-19-2018 11:58	mj129236e	edit
### 03-19-2018 11:59	mj129236e	startedit
