#############################################################################################
## EVENTS
#############################################################################################

<div class="col5 events green">
    <h3>Events</h3>

    ## Get the list of events (that have a start date)
    #set ( $events = $_XPathTool.selectNodes($contentRoot, "//system-page[system-data-structure/starts!='']") )
    
    ## Sort the articles by date ascending
    $_SortTool.addSortCriterion("system-data-structure/starts", "", "number", "ascending", "")
    $_SortTool.sort($events)
    
    #set ( $currentDate = $_DateTool.getDate() )
    #set ( $eventCounter = 0 )
        
    #foreach ( $event in $events )

        #set ( $title = "" )
        #set ( $eventLink = "" )
        #set ( $eventStartDate = "" )
        
        #set ( $title = $event.getChild("title").value )
        #set ( $eventLink = $event.getChild("link").value )
        #set ( $eventStartDate = $_DateTool.getDate($event.getChild("system-data-structure").getChild("starts").value) )
        
        
        ## If the event date is today or later, continue...
        #if ( $_DateTool.difference($currentDate, $eventStartDate).getDays() >= 0 )
        
            #set ( $eventCounter = $eventCounter + 1 )
            
            ## Only write out 4 Events
            #if ( $eventCounter > 4 )
                #break
            #end
        
            <div class="wrap col12">
                <div class="col2 cal-tab"> 
                    <span class="week">$_DateTool.format("E", $eventStartDate)</span>
            	    <span class="day">$_DateTool.format("d", $eventStartDate)</span>
            	    <span class="month">$_DateTool.format("MMM", $eventStartDate)</span>
                </div>
                <div class="col10">
                    <div class="time">$_DateTool.format("h:mm a", $eventStartDate)</div>
                    <div class="title">
                        <a href="${eventLink}">$_EscapeTool.xml($title)</a>
                    </div>
                </div>
            </div>
        #end
    #end
 
    <div class="col6"> <a class="btn btn-green" href="/calendar/index">Montana Tech Events</a> </div>
    <div class="col6"> <a class="btn btn-green" href="/calendar-schedules/academic-calendar">Academic Calendar</a> </div>
</div>


## Format URL: http://cascade.umt.edu/entity/open.act?id=f0b4d68e0a0a28732e8f7e615be13c35&type=format&#highlight

## Audits
### 09-13-2017 19:58	mj129236e	startedit
### 09-13-2017 19:58	mj129236e	edit
### 01-08-2018 17:59	mj129236e	startedit
### 01-08-2018 18:00	mj129236e	edit
### 01-08-2018 17:59	mj129236e	startedit
### 01-08-2018 18:00	mj129236e	edit
### 01-08-2018 18:02	mj129236e	startedit
### 01-08-2018 18:03	mj129236e	edit
### 08-17-2017 14:59	mj129236e	create
### 08-17-2017 15:01	mj129236e	startedit
