#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block"))
##
#set($items = $_XPathTool.selectNodes($pageStructure, "//system-page[system-data-structure[@definition-path='Digital Collections']]"))
##
#foreach($item in $items)
    #set($title = $_SerializerTool.serialize($item.getChild("system-data-structure").getChild("digital_collection_basics").getChild("digital_collection_title"), true))
    #set($alt = $title.replaceAll('"',"&#34;"))
    #set($image = $item.getChild("system-data-structure").getChild("digital_collection_basics").getChild("digital_collection_representative_image").getChild("path").value)
    #set($thumbnail = $item.getChild("system-data-structure").getChild("digital_collection_basics").getChild("digital_collection_thumbnail").getChild("path").value)
    #set($description = $_SerializerTool.serialize($item.getChild("system-data-structure").getChild("digital_collection_basics").getChild("digital_collection_description"), true))
    ##
    #set($direct_link = $_SerializerTool.serialize($item.getChild("system-data-structure").getChild("digital_collection_direct_link").getChild("digital_collection_direct_link_location"), true))
    #set($display_type = $_SerializerTool.serialize($item.getChild("system-data-structure").getChild("digital_collection_display_type"), true))
    #set($link = $item.getChild("path").value)
    #if($display_type == "Direct Link" && $direct_link != "")
        #set($link = $direct_link)
    #end
    <div class="row-fluid">
        <div class="span4" style="padding-bottom: 30px">
            #if($thumbnail != "/") 
                <a href="$link"><img src="$thumbnail" alt="$alt" /></a>
            #end
        </div>
        <div class="span8">
            <h2><a href="$link">$title</a></h2>
            $description
        </div>
    </div> 
#end


## Format URL: http://cascade.umt.edu/entity/open.act?id=b62f8d4f0a0a07cc140fc3575ec444f6&type=format&#highlight

## Audits
