#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure"))
##
#set($image = $_SerializerTool.serialize($pageStructure.getChild("photo").getChild("path"), true))

#set($title = $_SerializerTool.serialize($pageStructure.getChild("title"), true))
#set($alt_text = $_SerializerTool.serialize($pageStructure.getChild("alt_text"), true))
#set($photo_byline = $_SerializerTool.serialize($pageStructure.getChild("photo_byline"), true))
#set($link_text = $_SerializerTool.serialize($pageStructure.getChild("link_text"), true))
#set($link_url = $_SerializerTool.serialize($pageStructure.getChild("link_url"), true))
##
  <div class="row-fluid featured_image overlay dark">
  <img alt="$alt_text" src="$image" />

  <div class="block library hidden-phone">
    <p style="text-align:right;" class="small">
    <strong>$title</strong> <br />
    $photo_byline<br />
    <a target="_blank" href="$link_url">$link_text</a></p>
  </div>
  </div>

## Format URL: http://cascade.umt.edu/entity/open.act?id=68da6d6c0a0a07cc133a5f6a4695993a&type=format&#highlight

## Audits
### 01-06-2014 18:39	ns159438e	move
### 01-06-2014 18:45	ns159438e	edit
### 01-06-2014 18:44	ns159438e	startedit
### 01-06-2014 18:45	ns159438e	startedit
### 01-06-2014 18:46	ns159438e	edit
### 01-06-2014 18:47	ns159438e	startedit
### 01-06-2014 18:48	ns159438e	edit
### 01-06-2014 18:49	ns159438e	edit
### 01-06-2014 18:48	ns159438e	startedit
### 01-06-2014 18:50	ns159438e	edit
