#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure") )
#set ($groups = $_XPathTool.selectNodes($pageStructure, "group"))
#set ($textabove = $_SerializerTool.serialize($pageStructure.getChild("textabove"), true))
#set ($textbelow = $_SerializerTool.serialize($pageStructure.getChild("textbelow"), true))

#if ($textabove != "" && $textabove != "<textabove />")
<div>$textabove</div>
#end 

<div class="container-fluid" style="margin-top: 15px; margin-bottom: 20px;"> 

#foreach ($group in $groups)
    #set ($heading = "")
    #set ($heading = $_SerializerTool.serialize($$group.getChild("heading"), true).replaceAll("""","&quot;").replaceAll("'","&apos;"))
    #set ($groupitems = $_XPathTool.selectNodes($group, "group-item"))

    <div class="row">
    <div class="col-xs-12">

    #if ($heading != "" && $heading != "<heading />")
    <h2>$heading</h2>
    #else <h2 class="access_hidden">Group Content</h2>
    #end  
    
    </div>
    </div>
    
    #foreach ($groupitem in $groupitems)
            
        #set ($image = "")
        #set ($title = "")
        #set ($desc = "")
        #set ($alt = "")
        #set ($url = "")
        #set ($page = "")
    
        #set ($title = $_SerializerTool.serialize($$groupitem.getChild("title"), true).replaceAll("""","&quot;").replaceAll("'","&apos;"))
        #set ($alt = $_SerializerTool.serialize($$groupitem.getChild("title"), true).replaceAll("""","&quot;").replaceAll("'","&apos;"))
        #set ($image = $_SerializerTool.serialize($$groupitem.getChild("image").getChild("path"), true))
        #set ($desc = $_SerializerTool.serialize($$groupitem.getChild("desc"), true))
        #set ($url = $_SerializerTool.serialize($$groupitem.getChild("url"), true))
        #set ($page = $_SerializerTool.serialize($$groupitem.getChild("page").getChild("path"), true))
    
               
            <div class="card item">
            <div class="row">
                #if ($image != "/" && $image != "")
                    <div class="col-sm-8">
                        #if ($url != "" && $url != "<url />")
                            <p><strong><a href="$url" target="_blank"><h3>$title</h3></a></strong></p>
                        #elseif ($page != "" && $page != "<page />" && $page != "/")
                            <p><strong><a href="$page" ><h3>$title</h3></a></strong></p>
                        #else
                            <h3 style="font-weight: bold;">$title</h3>
                        #end
                        <p>$desc</p>
                    </div>
                    <div class="col-sm-4"><img src='$image' class="corners" alt="$alt" style="float: right;"/></div>
                #else
                    <div class="col-sm-12">
                        #if ($url != "" && $url != "<url />")
                            <p><strong><a href="$url" target="blank"><h3>$title</h3></a></strong></p>
                        #elseif ($page != "" && $page != "<page />" && $page != "/")
                            <p><strong><a href="$page" ><h3>$title</h3></a></strong></p>
                        #else
                            <h3 style="font-weight: bold;">$title</h3>
                        #end
                        <p>$desc</p>
                    </div>
                #end
            </div>
            </div>
    #end
#end

</div>

#if ($textbelow != "" && $textbelow != "<textbelow />")
<div>$textbelow</div>
#end 


  

## Format URL: http://cascade.umt.edu/entity/open.act?id=35f067510a0a287328ca3f9385728e31&type=format&#highlight

## Audits
