#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure"))
#set ($content_columns = $_XPathTool.selectNodes($pageStructure, "content_column"))

#if ($content_columns.size() <= 1)
    $_SerializerTool.serialize($pageStructure.getChild("content_column"), true)
#else
  #foreach ($column in $content_columns)
      #if ($foreach.count == 1)
          <div class="dept_content">
              $_SerializerTool.serialize($column, true)
          </div>
      #else
          <div class="dept_right">
              $_SerializerTool.serialize($column, true)
          </div>
      #end
  #end
#end

## Format URL: http://cascade.umt.edu/entity/open.act?id=d14c931b0a0a046800e398a74c411954&type=format&#highlight

## Audits
### 04-20-2012 19:48	es165908e	create
### 04-20-2012 19:59	es165908e	edit
### 04-20-2012 19:59	es165908e	startedit
### 04-20-2012 20:00	es165908e	startedit
### 04-20-2012 20:00	es165908e	edit
### 04-20-2012 20:03	es165908e	startedit
### 04-20-2012 20:04	es165908e	edit
