#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure"))

#set ($offset = 0)
#set ($span = 0)
#set ($text = "")
#set ($title = "")
#set ($style = "")

#set ($image = $_SerializerTool.serialize($pageStructure.getChild("jumbotron").getChild("path"), true))
#set ($jumbotron_style = $_SerializerTool.serialize($pageStructure.getChild("jumbotron_style"), true))
#set ($jumbotron_layout = $_SerializerTool.serialize($pageStructure.getChild("jumbotron_layout"), true))
#set ($title = $_SerializerTool.serialize($pageStructure.getChild("masthead_title"), true))
#set ($text = $_SerializerTool.serialize($pageStructure.getChild("masthead_text"), true))
#set ($masthead_style = $_SerializerTool.serialize($pageStructure.getChild("masthead_style"), true))
#set ($offset = $pageStructure.getChild("masthead_offset").value)
#set ($wrapping_class = $pageStructure.getChild("class").value)
#set ($span = $pageStructure.getChild("masthead_span").value)
#set ($background = "[system-asset:local]" + $image + "[/system-asset:local]")

#if ($image != "/")
<div class="jumbotron $jumbotron_style $jumbotron_layout masthead landing" style="background-image:url('$background');">
    #if ($masthead_style != "" && $masthead_style != "
    <masthead_style />
    ")
    <div class="$masthead_style">
        #else
        <div class="container">
            #end
            <div class="span$span offset$offset">
                <h1>$title</h1>
                <p>
                    $text
                </p>
            </div>
        </div>
    </div>
    #end
        <div>
</div>

## Format URL: http://cascade.umt.edu/entity/open.act?id=e6d21dd00a0a07cc138c3c8f75c55694&type=format&#highlight

## Audits
### 02-12-2014 16:13	kf139826e	edit
### 02-12-2014 16:13	kf139826e	startedit
