#if ($contentRoot)
    #import('/_cms/scripts/includes/Main')  
        #set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure"))
        #set ($offset = 0)
        #set ($span = 0)
        #set ($rows = "")
        ##
        #set ($sections = $_XPathTool.selectNodes($pageStructure, "section"))
        #foreach ($section in $sections)
        
            #set ($image = "")
            #set ($color = "")
            #set ($style = "")
            #set ($class = "")
            
            #if ($section.getChild("background_image").getChild("path").value != "/")
                #set ($image = "[system-asset]"+$section.getChild("background_image").getChild("path").value+"[/system-asset]")
            #else
                #set ($image = "/")
            #end
            #set ($color = $_SerializerTool.serialize($section.getChild("color"), true))
            #set ($style = $_SerializerTool.serialize($section.getChild("style"), true))
            #set ($class = $_SerializerTool.serialize($section.getChild("section_options").getChild("section_class"), true))
            
            <section id="section_$velocityCount" class="$class #if($image != "/") image #end  $style.replaceAll(" ","-").toLowerCase()" style="#if($image != "/") background-image: url('$image') #end">
            <div class="wrapper $color.toLowerCase()">
    
            <div class="container content-section">

            #set ($rows = $_XPathTool.selectNodes($section, "row"))
            #foreach ($row in $rows)
                #set ($row_class = "")
                #set ($row_heading = "")
                #set ($sanitized_row_heading = "")
                #set ($row_above_block = "")
                #set ($row_below_block = "")
                #set ($spans = "")
                #set ($spanSize = "")
                ##
                #set ($row_class = $_SerializerTool.serialize($row.getChild("row_options").getChild("row_class"), true))
                #set ($row_heading = $_SerializerTool.serialize($row.getChild("row_heading"), true))
                #set ($spans = $_XPathTool.selectNodes($row , "span"))
                #set ($spanSize = $spans.size())
                #set ($row_above_block = $row.getChild("row_options").getChild("above_block"))
                #set ($row_below_block = $row.getChild("row_options").getChild("below_content"))
                ##
                #if ($row_heading !="" && $row_heading !="<row_heading />")
                    #set ($sanitized_row_heading = $row_heading.substring(0).toLowerCase().replaceAll('[^a-z1-9]',""))
                    <div class="row template-row-heading">
                      <div class="span12">
                        <h2>$row_heading</h2><a name="$sanitized_row_heading"></a>
                        #displayBlock($row_above_block "above_block col-lg-12")
                      </div>
                    </div>
                #end
                #set ($simpleCheck = $_SerializerTool.serialize($spans.get(0).getChild("advanced").getChild("span"), true))
                #if ($simpleCheck == 0)
                    #if ($row_class != "" && $row_class != "<row_class />")
                        <div class="row $row_class row-simple">
                    #else
                        <div class="row row-simple">
                    #end    
                #else
                    #if ($row_class != "" && $row_class != "<row_class />")
                        <div class="row $row_class">
                    #else
                        <div class="row">
                    #end
                #end
                #foreach ($span in $spans)
                    #set ($size = "")
                    #set ($offset = "")
                    #set ($behavior = "")
                    #set ($spanContent = "")
                    #set ($class = "")
                    #set ($above_block = "")
                    #set ($below_block = "")
                    ##
                    #set ($size = $_SerializerTool.serialize($span.getChild("advanced").getChild("span"), true))
                    #set ($behavior = $_SerializerTool.serialize($span.getChild("advanced").getChild("section-behavior"), true))
                    ##
                    #if ($simpleCheck == 0)
                        #set ($mod = 12 % $spanSize)
                        #set ($size = 12 / $spanSize)
                        #if ($mod > 0)
                            #if ($spanSize == 5 || $spanSize == 7)
                                #if ($foreach.count % 2 == 0)
                                    #set ($size = $size + 1)
                                #end                 
                            #else
                                #if ($foreach.count == 1)
                                    #set ($size = $mod + 1)
                                #else
                                    #set ($size = 1)
                                #end
                            #end
                        #end
                    #end
                    ##
                    #set ($offset = $_SerializerTool.serialize($span.getChild("advanced").getChild("offset"), true))
                    #set ($spanContent = $_SerializerTool.serialize($span.getChild("content"), true))
                    #set ($class = $_SerializerTool.serialize($span.getChild("advanced").getChild("class"), true))
                    #set ($above_block = $span.getChild("advanced").getChild("above_block"))
                    #set ($below_block = $span.getChild("advanced").getChild("below_content"))
                    #set ($divClass = "col-" + $behavior + "-" +$size)
                    #set ($divOffset = "col-" + $behavior + "-offset-" + $offset)
                    ##
                   #if ($offset == "0" && $size != "" && $size != "<span />")
                        <div class="$divClass">
                    #elseif ($size != "" && $size != "<span />" && $simpleCheck == 0)
                        <div class="$divClass">
                    #elseif ($size != "" && $size != "<span />")
                        <div class="$divClass $divOffset">
                    #end
                   #if ($class != "" && $class != "<class />")
                        <div class="$class">
                   #end
                    ##
                   #displayBlock($above_block "above_block")
                   #if ($spanContent!= "" && $spanContent!= "<content />")$spanContent#end
                    #displayBlock($below_block "below_block")
                  #if ($class != "" && $class != "<class />")
                      </div>
                  #end
                    #if ($size != "" && $size != "<span />")
                        </div>
                    #end
                #end
                </div>
                #displayBlock($row_below_block "below_block col-lg-12")
            #end
            </div>
            </div>
            </section>
        #end
#end

## Format URL: http://cascade.umt.edu/entity/open.act?id=f0007e700a0a07cc2c11008efa9c5a0b&type=format&#highlight

## Audits
### 10-08-2014 21:01	ws132567e	edit
### 10-08-2014 21:01	ws132567e	startedit
