#if ($contentRoot)
    #import('site://_global - staging/_cms/scripts/includes/Main')    
    ##
    #set ($currentFolder = $_.locatePage($currentPagePath).parentFolder)    
    #configFinder("Config/Stories" $currentFolder)
    ##
    #set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block"))
    #set ($currentFolder = false)
    #set ( $currentFolder = $_XPathTool.selectSingleNode($pageStructure, "//system-folder[@current]") )
    #if ( $currentFolder )
        #set ( $setupBlock = $_XPathTool.selectSingleNode($currentFolder, "system-block[system-data-structure[@definition-path='Template/Setup Block']]") )
        #if ( $currentFolder.indexOf($setupBlock) == -1)
            #set ( $setupBlocks = $_XPathTool.selectNodes($currentFolder, "ancestor-or-self::system-folder/system-block[system-data-structure[@definition-path='Template/Setup Block']]") )    
            #if ( $setupBlocks.size() < 1 )
                #set ( $setupBlocks = $_XPathTool.selectNodes($currentFolder, "//system-block[system-data-structure[@definition-path='Template/Setup Block']]") )
            #end    
            #set ( $setupBlock = $setupBlocks.get(0) )
        #end
    #else
        #set ( $setupBlock = $_XPathTool.selectSingleNode($pageStructure, "system-block[system-data-structure[@definition-path='Template/Setup Block']]") )
    #end
    ##
    #set ($configSlashCount = $configBlock.path.length() - $configBlock.path.replaceAll("/","").length())
    #set ($setupSlashCount = $setupBlock.getChild("path").value.length() - $setupBlock.getChild("path").value.replaceAll("/","").length())
    ##
    ##$configBlock.path<br/>
    ##$setupBlock.getChild("path").value<br/>
    ##Config: $configSlashCount<br/>
    ##Setup:  $setupSlashCount<br/>
    ##
    #if ($configSlashCount == $setupSlashCount || $configSlashCount > $setupSlashCount)
        ##<p>Using Config Block.</p>        
        #set ($storiesPath = $configBlock.getStructuredDataNode("advanced").getChild("index").asset.path)
        #set ($storiesIndex = $storiesPath.indexOf("/"))
        #set ($storiesPath = $storiesPath.substring(0, $storiesIndex))
        ##
        #set ($storiesFolder = $_.locateFolder($storiesPath))
        ##
        #Stories($storiesFolder)
    #else
        ##<p>Using Setup Block.</p>
        #if ($setupBlock)
            #setupBlockTiles($setupBlock)
        #end
    #end
#end

## Format URL: http://cascade.umt.edu/entity/open.act?id=f3c30a6a0a0a07cc6930ac20751a0629&type=format&#highlight

## Audits
### 03-09-2015 20:10	ws132567e	startedit
### 03-09-2015 20:10	ws132567e	edit
### 03-09-2015 20:11	ws132567e	activate_version
### 01-20-2015 16:05	ws132567e	copy
### 01-20-2015 16:07	ws132567e	edit
### 01-20-2015 16:06	ws132567e	startedit
### 01-20-2015 16:22	ws132567e	startedit
### 01-20-2015 16:23	ws132567e	edit
### 01-20-2015 17:22	ws132567e	edit
### 01-20-2015 17:12	ws132567e	startedit
