#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block") )
#set ($projects = $_XPathTool.selectNodes($pageStructure, "system-page"))


<div id="groups">          

    #foreach ($project in $projects)
        
    #set ($image = "")
    #set ($title = "")
    #set ($desc = "")

    #set ($title = $_SerializerTool.serialize($$project.getChild("title"), true).replaceAll("""","&quot;").replaceAll("'","&apos;"))
    #set ($image = $_SerializerTool.serialize($$project.getChild("image").getChild("path"), true))
    #set ($desc = $_SerializerTool.serialize($$project.getChild("desc"), true))
    
     <div class="groupitem">
  
        <div class="group_icon"><img class="imagewrap round" src='$image' alt="$title"/></div>
        <div class="group_content"> 
    
                  <h2>$title</h2>
                  $desc
 
        </div>
   </div>
   
#end
</div>



## Format URL: http://cascade.umt.edu/entity/open.act?id=4598fe3f0a0a07cc462ac22a4f9ea2c4&type=format&#highlight

## Audits
### 03-07-2013 16:34	sm166858e	edit
### 03-07-2013 16:06	sm166858e	startedit
### 03-07-2013 16:34	sm166858e	move
### 03-07-2013 16:47	sm166858e	startedit
### 03-07-2013 16:49	sm166858e	edit
