#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure"))

## set up page heading
#set ($pageHeading = $_SerializerTool.serialize($pageStructure.getChild("page_heading"), true))
#set ($pageHeading  = "")
#set ($pageHeading  =  $pageStructure.getChild("page_heading").text)
#if ($pageHeading  != "")
    <div class="span12 row pageHeading">
        <h2>$pageHeading</h2>
    </div>
#end 
## end page heading

## count columns
#set($columnGroups = $_XPathTool.selectNodes($pageStructure, "column_group"))
    #foreach ($column_group in $columnGroups)
        #set($count = 0)
        #set ($columns = $_XPathTool.selectNodes($column_group, "column"))
        #foreach ($cloumn in $columns)
          #if ($foreach.count == 1)
              #set ($colCount = 'span12')
          #end
          
          #if ($foreach.count == 2)
              #set ($colCount = 'span6')
          #end
          
          #if ($foreach.count == 3)
              #set ($colCount = 'span4')
          #end
    #end

##button and image setup
#set ($advanced = $_XPathTool.selectNodes($pageStructure, "advanced"))
#set ($imageShape = $_XPathTool.selectNodes($advanced , "imageShape/value"))
    #foreach ($value in $imageShape)
        #if ($value.value == "Square")
            #set ($shapeValue = "")
        #elseif ($value.value == "Rounded")
            #set ($shapeValue = "img-rounded")    
        #elseif ($value.value == "Circle")
            #set ($shapeValue = "img-circle")
        #elseif ($value.value == "Polaroid")
            #set ($shapeValue = "img-polaroid")             
        #end
    #end
  
<div class="container marketing">
<div class="row">  
  #foreach ($column in $columns)
          
          #set ($image = "")
          #set ($heading = "")
          #set ($link = "")
          #set ($extLink = "")
          #set ($buttonText = "")
          #set ($contentText = "")
         
          
          #set ($image = $_SerializerTool.serialize($column.getChild("image").getChild("path"), true))
          #set ($heading = $_SerializerTool.serialize($column.getChild("itemHeading"), true))
          #set ($link = $column.getChild("link").getChild("path").text)
          #set ($buttonText = $_SerializerTool.serialize($column.getChild("buttonText"), true))
          #set ($contentText = $_SerializerTool.serialize($column.getChild("content"), true))
          
          
        
                  <div class="$colCount">
                      #if ($image != "/")
                          <img src="[system-asset]${image}[/system-asset]" class ="$shapeValue" alt="169x169" style="width: 169px; height: 169px; overflow: hidden;"  />
                      #end
                      #if ($heading != "")
                           <h3>$heading</h3>
                      #end
                      #if ($buttonText != "")
                          #if ($link == "/")
                              #set ($extLink = $column.getChild("extLink").text)
                              <p><a class="btn btn-default" href="$extLink">$buttonText »</a></p>
                          #else
                              <p><a class="btn btn-default" href="$link">$buttonText »</a></p>
                          #end   
                      #end
                      #if ($contentText != "")
                          <p>$contentText</p>
                      #end
                  </div>
        
  #end
</div>
</div>  
#end


<div style="clear:both;"></div>

## Format URL: http://cascade.umt.edu/entity/open.act?id=baead72e0a0a07cc133a5f6a4f7f7bf9&type=format&#highlight

## Audits
