#set ($pageStructure =  $_XPathTool.selectSingleNode($contentRoot, "/system-index-block") )
#set ($pages = $_XPathTool.selectNodes($pageStructure, "system-page"))
#set ($marker = "glyphicons ok")
#set ($online_marker = "glyphicons power")
#set ($map_marker = "glyphicons compass")

<div class="academic_inventory">

<table class="academics_table">
    <thead>
        <tr>
            <th>Subject</th>
            <th class="degree_type">Minor</th>
            <th class="degree_type">Certificate</th>
            <th class="degree_type">Associate&apos;s</th>
            <th class="degree_type">Bachelor&apos;s</th>
            <th class="degree_type">Master&apos;s</th>
            <th class="degree_type">Doctorate/Specialist</th>
        </tr>
    </thead>
    <tbody>
        #foreach ($page in $pages)
            #set ($innerStructure = "")
            #set ($subject = "")
            #set ($dept_url = "")
            #set ($degree_options = "")
            #set ($options = "")
        
            #set ($innerStructure = $_XPathTool.selectSingleNode($page, "system-data-structure") )
            #set ($subject = $_SerializerTool.serialize($innerStructure.getChild("subject"), true))     
            #set ($dept_url = $_SerializerTool.serialize($innerStructure.getChild("dept_url"), true))  
            #set ($options = $_XPathTool.selectNodes($innerStructure, "degree_options"))
            #set ($joint = $_SerializerTool.serialize($innerStructure.getChild("joint").getChild("value"), true))
            #set ($combined = $_SerializerTool.serialize($innerStructure.getChild("combined").getChild("value"), true))
            #set ($degree_options = $_XPathTool.selectNodes($innerStructure, "degree_options"))
            $_SortTool.addSortCriterion("option_name", "", "text", "ascending", "lower-first")
            $_SortTool.sort($degree_options) 
            #foreach ($degree in $degree_options)
                #set ($joint = "")
                #set ($combined = "")
                #set ($minor = "")
                #set ($cert = "")
                #set ($asso = "")
                #set ($bach = "")
                #set ($masters = "")
                #set ($doct = "")
                #set ($minor_online = "")
                #set ($cert_online = "")
                #set ($asso_online = "")
                #set ($bach_online = "")
                #set ($mast_online = "")
                #set ($doct_online = "")
                #set ($minor_catalog = "")
                #set ($cert_catalog = "")
                #set ($asso_catalog = "")
                #set ($bach_catalog = "")
                #set ($mast_catalog = "")
                #set ($doct_catalog = "")
                #set ($minor_map = "")
                #set ($cert_map = "")
                #set ($asso_map = "")
                #set ($bach_map = "")
                #set ($mast_map = "")
                #set ($doct_map = "")
                #set ($degreeLevel = $_XPathTool.selectNodes($degree, "option_type/value"))
                #set ($option_name = $_SerializerTool.serialize($degree.getChild("option_name"), true))
                
                    #if ($option_name != "" && $option_name != "<option_name />" && $option_name != $subject)
                        <tr class="subject-option">
                    #else
                        <tr class="subject-header">
                        #set ($option_name = $subject)
                    #end
               
                    
                    #foreach ($level in $degreeLevel)
                    
                        #if ($level.value == "Minor")
                            #set ($minor = "Yes")
                            #set ($minor_options = $degree.getChild("minor_options"))
                            #if ($minor_options.getChild("option_descriptors").value == "Online")
                                #set ($minor_online = "Yes")
                            #end
                            #if ($minor_options.getChild("minor_catalog_url") != "" && $minor_options.getChild("minor_catalog_url") != "<minor_catalog_url />")
                                #set ($minor_catalog = $_SerializerTool.serialize($minor_options.getChild("minor_catalog_url"), true))
                            #end
                            #if ($minor_options.getChild("minor_map_url").value != "" && $minor_options.getChild("minor_map_url").value != "<minor_map_url />")
                                #set ($minor_map = $_SerializerTool.serialize($minor_options.getChild("minor_map_url"), true))
                            #end
                        #elseif($level.value == "Certificate")
                            #set ($cert = "Yes")
                            #set ($cert_options = $degree.getChild("cert_options"))
                            #if ($cert_options.getChild("option_descriptors").value == "Online")
                                #set ($cert_online = "Yes")
                            #end
                            #if ($cert_options.getChild("cert_catalog_url") != "" && $cert_options.getChild("cert_catalog_url") != "<cert_catalog_url />")
                                #set ($cert_catalog = $_SerializerTool.serialize($cert_options.getChild("cert_catalog_url"), true))
                            #end
                            #if ($cert_options.getChild("cert_map_url").value != "" && $cert_options.getChild("cert_map_url").value != "<cert_map_url />")
                                #set ($cert_map = $_SerializerTool.serialize($cert_options.getChild("cert_map_url"), true))
                            #end
                        #elseif($level.value == "Associates")
                            #set ($asso = "Yes")
                            #set ($asso_options = $degree.getChild("associate_options"))
                            #if ($asso_options.getChild("option_descriptors").value == "Online")
                                #set ($asso_online = "Yes")
                            #end
                            #if ($asso_options.getChild("associate_catalog_url") != "" && $asso_options.getChild("associate_catalog_url") != "<associate_catalog_url />")
                                #set ($asso_catalog = $_SerializerTool.serialize($asso_options.getChild("associate_catalog_url"), true))
                            #end
                            #if ($asso_options.getChild("associate_map_url").value != "" && $asso_options.getChild("associate_map_url").value != "<associate_map_url />")
                                #set ($asso_map = $_SerializerTool.serialize($asso_options.getChild("associate_map_url"), true))
                            #end
                        #elseif($level.value == "Bachelors")
                            #set ($bach = "Yes")
                            #set ($bach_options = $degree.getChild("bachelor_options"))
                            #if ($bach_options.getChild("option_descriptors").value == "Online")
                                #set ($bach_online = "Yes")
                            #end
                            #if ($bach_options.getChild("bachelor_catalog_url") != "" && $bach_options.getChild("bachelor_catalog_url") != "<bachelor_catalog_url />")
                                #set ($bach_catalog = $_SerializerTool.serialize($bach_options.getChild("bachelor_catalog_url"), true))
                            #end
                            #if ($bach_options.getChild("bachelor_map_url").value != "" && $bach_options.getChild("bachelor_map_url").value != "<bachelor_map_url />")
                                #set ($bach_map = $_SerializerTool.serialize($bach_options.getChild("bachelor_map_url"), true))
                            #end
                        #elseif($level.value == "Masters")
                            #set ($masters = "Yes")
                            #set ($mast_options = $degree.getChild("master_options"))
                            #if ($mast_options.getChild("option_descriptors").value == "Online")
                                #set ($mast_online = "Yes")
                            #end
                            #if ($mast_options.getChild("master_catalog_url") != "" && $mast_options.getChild("master_catalog_url") != "<master_catalog_url />")
                                #set ($mast_catalog = $_SerializerTool.serialize($mast_options.getChild("master_catalog_url"), true))
                            #end
                            #if ($mast_options.getChild("master_map_url").value != "" && $mast_options.getChild("master_map_url").value != "<master_map_url />")
                                #set ($mast_map = $_SerializerTool.serialize($mast_options.getChild("master_map_url"), true))
                            #end
                        #elseif($level.value == "Doctorate/Specialist")
                            #set ($doct = "Yes")
                            #set ($doct_options = $degree.getChild("doctorate_options"))
                            #if ($doct_options.getChild("option_descriptors").value == "Online")
                                #set ($doct_online = "Yes")
                            #end
                            #if ($doct_options.getChild("doctorate_catalog_url") != "" && $doct_options.getChild("doctorate_catalog_url") != "<doctorate_catalog_url />")
                                #set ($doct_catalog = $_SerializerTool.serialize($doct_options.getChild("doctorate_catalog_url"), true))
                            #end
                            #if ($doct_options.getChild("doctorate_map_url").value != "" && $doct_options.getChild("doctorate_map_url").value != "<doctorate_map_url />")
                                #set ($doct_map = $_SerializerTool.serialize($doct_options.getChild("doctorate_map_url"), true))
                            #end
                        #end
                    #end
                <td>
                    #if ($dept_url != "" && $dept_url != "<dept_url />")
                		<a href="$dept_url"><strong>$option_name</strong></a>
                	#else
                		<strong>$option_name</strong>
                	#end
                </td>    
                <td class="table_marker">
                    #if($minor == "Yes")
                        #if ($minor_catalog != "" && $minor_catalog !="<minor_catalog_url />")
                            <a class="$marker" href="$minor_catalog" target="_blank"><span class="hidden-marker">X</span></a>
                        #else
                            <a class="$marker"><span class="hidden-marker">X</span></a>
                        #end
                        #if($minor_online == "Yes")<a class="$online_marker"></a>#end
                        #if($minor_map != "")<a class="$map_marker" href="$minor_map" target="_blank"></a>#end
                    #end
                </td>
                <td class="table_marker">
                    #if($cert == "Yes")
                        #if ($cert_catalog != "" && $cert_catalog !="<cert_catalog_url />")
                            <a class="$marker" href="$cert_catalog" target="_blank"><span class="hidden-marker">X</span></a>
                        #else
                            <a class="$marker"><span class="hidden-marker">X</span></a>
                        #end
                        #if($cert_online == "Yes")<a class="$online_marker"></a>#end
                        #if($cert_map != "")<a class="$map_marker" href="$cert_map" target="_blank"></a>#end
                    #end
                </td>
                <td class="table_marker">
                    #if($asso == "Yes")
                        #if ($asso_catalog != "" && $asso_catalog !="<associate_catalog_url />")
                            <a class="$marker" href="$asso_catalog" target="_blank"><span class="hidden-marker">X</span></a>
                        #else
                            <a class="$marker"><span class="hidden-marker">X</span></a>
                        #end
                        #if($asso_online == "Yes")<a class="$online_marker"></a>#end
                        #if($asso_map != "")<a class="$map_marker" href="$asso_map" target="_blank"></a>#end
                    #end
                </td>
                <td class="table_marker">
                    #if($bach == "Yes")
                        #if ($bach_catalog != "" && $bach_catalog !="<bachelor_catalog_url />")
                            <a class="$marker" href="$bach_catalog" target="_blank"><span class="hidden-marker">X</span></a>
                        #else
                            <a class="$marker"><span class="hidden-marker">X</span></a>
                        #end
                        #if($bach_online == "Yes")<a class="$online_marker"></a>#end
                        #if($bach_map != "")<a class="$map_marker" href="$bach_map" target="_blank"></a>#end
                    #end
                </td>
                <td class="table_marker">
                    #if($masters == "Yes")
                        #if ($mast_catalog != "" && $mast_catalog !="<master_catalog_url />")
                            <a class="$marker" href="$mast_catalog" target="_blank"><span class="hidden-marker">X</span></a>
                        #else
                            <a class="$marker"><span class="hidden-marker">X</span></a>
                        #end
                        #if($mast_online == "Yes")<a class="$online_marker"></a>#end
                        #if($mast_map != "")<a class="$map_marker" href="$mast_map" target="_blank"></a>#end
                    #end
                </td>
                <td class="table_marker">
                    #if($doct == "Yes")
                        #if ($doct_catalog != "" && $doct_catalog !="<doctorate_catalog_url />")
                            <a class="$marker" href="$doct_catalog" target="_blank"><span class="hidden-marker">X</span></a>
                        #else
                            <a class="$marker"><span class="hidden-marker">X</span></a>
                        #end
                        #if($doct_online == "Yes")<a class="$online_marker"></a>#end
                        #if($doct_map != "")<a class="$map_marker" href="$doct_map" target="_blank"></a>#end
                    #end
                </td>
                
            </tr>
            #end
        #end
    </tbody>
</table>

</div>
<script>
require(["tablesorter"],function(jQuery){
    jQuery(document).ready(function($){ 
            $.tablesorter.defaults.sortInitialOrder = 'desc';
            $(".academics_table").tablesorter();  
    }); 
}); 
</script>  

## Format URL: http://cascade.umt.edu/entity/open.act?id=a91625860a0a07cc2c11008e8e429cad&type=format&#highlight

## Audits
### 10-13-2014 17:33	kp128580	startedit
### 10-13-2014 17:34	kp128580	edit
### 10-13-2014 17:39	kp128580	startedit
### 10-13-2014 17:40	kp128580	edit
### 10-13-2014 17:41	kp128580	startedit
### 10-13-2014 17:44	kp128580	edit
### 10-13-2014 17:44	kp128580	startedit
### 10-13-2014 17:46	kp128580	edit
### 10-13-2014 17:46	kp128580	startedit
### 10-13-2014 17:46	kp128580	edit
