#set ($speakers = $_XPathTool.selectNodes($contentRoot, "//system-page"))
#set ($columns = 3)
#set ($columnWidth = 12/$columns)
#set ($coming_soon = "")
#set ($perColumn = $speakers.size()/ $columns)
<div class="remainder-box normal_page speakers">
<div class="row-fluid">
#set ($count = 0)
#foreach($speaker in $speakers)
    #set ($page = "")
    #set ($image = "")
    #set ($thumb = "")
    #set ($name = "")
    #set ($bio = "")
    #set ($youtube = "")
    #set ($active = "")
    
    #set ($path = $_SerializerTool.serialize($speaker.getChild("path"), true))
    #set ($image = $_SerializerTool.serialize($speaker.getChild("system-data-structure").getChild("image").getChild("path"), true))
    #set ($thumb = $_SerializerTool.serialize($speaker.getChild("system-data-structure").getChild("thumb").getChild("path"), true))
    #set ($name = $_SerializerTool.serialize($speaker.getChild("system-data-structure").getChild("name"), true))
    #set ($bio = $_SerializerTool.serialize($speaker.getChild("system-data-structure").getChild("bio"), true))
    #set ($youtube = $_SerializerTool.serialize($speaker.getChild("system-data-structure").getChild("youtube_link"), true))
    #set ($active = $speaker.getChild("system-data-structure").getChild("active").value)
    #if($active == "Yes")
        #set ($count = $count + 1)
        <div class="span$columnWidth speaker">
            <a href="$path"><img src="$image" alt="$name" /></a>
            <p><a href="$path">$name</a></p>
        </div>
            #if($count % $columns == 0)
                </div><div class="row-fluid">
            #end 
    #end
#end

         </div>
            </div>

## Format URL: http://cascade.umt.edu/entity/open.act?id=888c129b0a0a07cc23f2bf04dcf83024&type=format&#highlight

## Audits
### 12-09-2015 21:03	ev206080	recycle
