#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block") )
#set ($features = $_XPathTool.selectNodes($pageStructure, "system-page"))

<link href="/_css/feature.css" rel="stylesheet" type="text/css"/>

<div id="featureList">
    <ul>
    
        #foreach ($feature in $features)
        #set ($externalLink = "")
        #set ($externalLink = $_SerializerTool.serialize($feature.getChild("system-data-structure").getChild("externalLink"), true))
       
        #set ($storyTitle = "")
        #set ($storyTitle = $_SerializerTool.serialize($feature.getChild("system-data-structure").getChild("storyTitle"), true).replaceAll("""","&quot;").replaceAll("'","&apos;"))
        
        #if ($storyTitle != "")
        
        #set ($shortDesc = $_SerializerTool.serialize($feature.getChild("system-data-structure").getChild("shortDesc"), true).replaceAll("""","&quot;").replaceAll("'","&apos;"))
        #set ($link = $_SerializerTool.serialize($feature.getChild("path"), true))
            
            <li>
            
            #if ($externalLink != "" && $externalLink != "<externalLink />")
                    <a href="$externalLink" target="_blank">$storyTitle</a>
            #else
                     <a href="$link">$storyTitle</a>
            #end
            
            <p>$shortDesc</p>
            </li>
        #end
        #end    

</ul>
</div>


## Format URL: http://cascade.umt.edu/entity/open.act?id=8979d5ff0a0a07cc1517225fd88b488d&type=format&#highlight

## Audits
### 10-22-2012 17:18	sm166858e	move
### 10-24-2012 15:22	sm166858e	startedit
### 10-24-2012 15:22	sm166858e	edit
### 10-24-2012 15:28	sm166858e	startedit
### 10-24-2012 15:29	sm166858e	edit
