#######################################################################################################################################
## Format:          /formats/homepage/call-to-action
## Project:         Montana Tech University
## Purpose:         Use to create the homepage call to action buttons
##
## History:         Developer       Description
## 06/28/2017       mj              Initial
#######################################################################################################################################
## Get the current page's system-data-structure node from the XML document
#set ( $data = $_XPathTool.selectSingleNode($contentRoot, "//system-page[@current='true']/system-data-structure") )
## Get the slider images
#set ( $ctas = $_XPathTool.selectNodes($data, "call-to-action/button") )                
<div class="callToAction">
<div class="wrapper row">
<div class="col3 mob-only"><a href="/news/index" class="btn--callToAction"><img src="/_global/_images/news.svg" alt="News Link"/>News</a></div>
<div class="col3 mob-only"><a href="/calendar/index" class="btn--callToAction"><img src="/_global/_images/events.svg" alt="Events Link"/>Events</a></div>
#######################################################################
## Loop through the feature blocks to write them out.
#######################################################################
#foreach ( $cta in $ctas )
##
## Initialize Variables
#set ( $icon = "" )
#set ( $linkText = "" )
#set ( $alt = "" )
##
##
## Set Variables
#set ( $icon = $cta.getChild("icon").getChild("link").value  )
#set ( $linkText = $cta.getChild("link-text").value )
#set ( $alt = $cta.getChild("alt").value )
##
##
###################################
## Set the link
###################################
##Initialize Variables
#set ( $linkType = "Page" )
#set ( $ctaLink = "" )
#set ( $linkTarget = "_self" )
#set ( $pageLink = "" )
#set ( $fileLink = "" )
#set ( $extLink = "" )
#set ( $extLinkTarget = "" )
##
##Figure out whether we're using a page, file, or external link
#set ( $linkType = $cta.getChild("link-type").value )
#set ( $pageLink = $cta.getChild("page").getChild("link").value )
#set ( $fileLink = $cta.getChild("file").getChild("link").value )
#set ( $extLink = $cta.getChild("url").value )
#set ( $extLinkTarget = $cta.getChild("target").value )
##
#if ( $pageLink != "" && $pageLink != "/" && $linkType == "Page" )
#set ( $ctaLink = $pageLink )
#elseif ( $fileLink != "" && $fileLink != "/" && $linkType == "File" )
#set ( $ctaLink = $fileLink )
#elseif ( $extLink != "" && $extLink != "/" && $linkType == "External Web Site" )
#set ( $ctaLink = $extLink )
##
#if ( $extLinkTarget == "New Window" )
#set ( $linkTarget= "_blank" )
#end
#end
#if ( $ctaLink != "" )
<div class="col3">
<a href="$ctaLink" class="btn--callToAction" target="${linkTarget}"><img src="${icon}" alt="${alt}"/>$_EscapeTool.xml($linkText)</a>
</div>
#end
#end 
</div>                
</div>

## Format URL: http://cascade.umt.edu/entity/open.act?id=ef375f550a0a07cc545fdb454d0372d8&type=format&#highlight

## Audits
### 01-26-2018 18:43	mj129236e	startedit
### 01-26-2018 18:44	mj129236e	edit
### 07-17-2017 15:37	mj129236e	edit
### 07-17-2017 15:37	mj129236e	startedit
### 07-17-2017 15:38	mj129236e	edit
### 07-17-2017 15:37	mj129236e	startedit
### 07-17-2017 15:38	mj129236e	startedit
### 07-17-2017 15:38	mj129236e	edit
### 07-17-2017 15:40	mj129236e	edit
### 07-17-2017 15:38	mj129236e	startedit
