#set($sys_images = $_XPathTool.selectNodes($contentRoot, '//system-file'))
#set($first = false)
#set($counter = 0)

<div class="maingalleryContainer">


        <div id="galleryContainer" onmouseover="stopgallery()">
             #foreach($myimage in $sys_images) 
                 #if(!$first)
               #set($first= true)
               <div id="divimg$counter" class="galleryContainerInternalContainer" style="display: block; ">
                            <div class="secondarygalleryInternalContainer">
                    <img class="myimage" id="image$counter" src="$myimage.getChild('path').value" />
                            </div>
                #if($myimage.getChild('summary').value != '$myimage.getChild("summary").value')
                                    <div class="galleryContainertext">$myimage.getChild('summary').value</div>
                            #end
               </div>
               #set($counter = $counter + 1)
             #else
               <div id="divimg$counter" class="galleryContainerInternalContainer" style="display: none; ">
                             <div class="secondarygalleryInternalContainer">
                     <img class="myimage" id="image$counter" src="$myimage.getChild('path').value"/>
                             </div>
                                #if($myimage.getChild('summary').value != '$myimage.getChild("summary").value')
                                    <div class="galleryContainertext">$myimage.getChild('summary').value</div>
                                #end
               </div>
               #set($counter = $counter + 1)
             #end    
             #end
    </div>

        <div id="leftbutton" class="myleftbutton" onmouseover="showleftbutton()"        onmouseout="hideleftbutton()" onClick="prevPicture()"></div>
        <div id="rightbutton" class="myrightbutton" onmouseover="showrightbutton()" onmouseout="hiderightbutton()" onClick="nextPicture()"></div>

</div>




## Format URL: http://cascade.umt.edu/entity/open.act?id=0aa766d80a0a04680169fb09dcea2223&type=format&#highlight

## Audits
### 12-21-2010 20:38	jc113350	create
### 12-21-2010 20:38	jc113350	startedit
### 12-21-2010 20:39	jc113350	edit
### 12-21-2010 20:40	jc113350	startedit
### 12-21-2010 22:45	jc113350	edit
### 12-21-2010 22:47	jc113350	startedit
### 12-21-2010 22:48	jc113350	edit
### 12-21-2010 22:53	jc113350	edit
### 12-21-2010 22:53	jc113350	startedit
### 12-21-2010 22:54	jc113350	startedit
