#set ($dynamic_metadata = $_XPathTool.selectNodes($contentRoot, "/system-index-block/calling-page/system-page/dynamic-metadata"))
#set($title = "")
#set($image = "")
#set($type = "website")
##
#foreach($datum in $dynamic_metadata) 
    #if($datum.getChild('name').value == 'og_image')
        #set($image = $_SerializerTool.serialize($datum.getChild('value'), true))
    #elseif($datum.getChild('name').value == 'og_title')
        #set($title = $_SerializerTool.serialize($datum.getChild('value'), true))
    #end
#end
##
#if($title != "")
<meta property="og:title" content="$title" />
<meta property="og:type" content="$type" />
<!--#START-CODE<meta property="og:url" content="<?php print($_SERVER["SCRIPT_URI"]); ?>" />#END-CODE-->
<meta property="og:image" content="$image" />
#end

## Format URL: http://cascade.umt.edu/entity/open.act?id=e6b3c50a0a0a07cc4249e1610873655f&type=format&#highlight

## Audits
### 04-07-2013 22:52	ns159438e	create
### 04-07-2013 23:58	ns159438e	startedit
### 04-08-2013 00:00	ns159438e	edit
### 04-08-2013 00:02	ns159438e	edit
### 04-08-2013 00:01	ns159438e	startedit
### 04-08-2013 00:04	ns159438e	edit
### 04-08-2013 00:02	ns159438e	startedit
### 04-08-2013 00:04	ns159438e	startedit
### 04-08-2013 00:05	ns159438e	edit
### 04-08-2013 00:05	ns159438e	startedit
