#macro (navMacro $theList)
    #set ($myList = $theList)
    #foreach ($child in $myList.children)
        #set ($navExclude = "")
        #set ($systemName = "")
        #set ($navExclude = $_SerializerTool.serialize($child.getChild("dynamic-metadata").getChild("value"), true))
        #set ($systemName = $_SerializerTool.serialize($child.getChild("name"), true))
        #if ($navExclude == "Yes" && $systemName != "default")
        #set ($children = "")
            #set ($displayName = "")
            #set ($childPath = "")
            #set ($displayName = $_SerializerTool.serialize($child.getChild("display-name"), true))
            #set ($childPath = $_SerializerTool.serialize($child.getChild("path"), true))
            #set ($children = $_XPathTool.selectNodes($child, "system-page").size() + $_XPathTool.selectNodes($child, "system-folder").size())
            #if($_XPathTool.selectSingleNode($child, 'system-folder[@current]') || $_XPathTool.selectSingleNode($child, 'system-page[@current]'))
                <li class="active">
            #else
                <li>
            #end
            #if($child.getName() == "system-folder" && $children > 1)
                    <a href="$childPath/default">$displayName</a>
                    #set ($newList = $child)
                    <ul>
                        #navMacro ($newList)
                    </ul>
                #elseif ($child.getName() == "system-folder")
                    <a href="$childPath/default">$displayName</a>
                #else
                <a href="$childPath">$displayName</a>
            #end
                        </li>
        #end
    #end
#end
#set ($firstPageName = "")
#set ($firstPageName = $_SerializerTool.serialize($_XPathTool.selectSingleNode($contentRoot, "/system-index-block/system-page[name='default']").getChild('display-name'), true))
#set ($firstPagePath = $_SerializerTool.serialize($_XPathTool.selectSingleNode($contentRoot, "/system-index-block/system-page[name='default']").getChild('path'), true))                
<ul class="sf-menu tabs_nav pngfix sf-js-enabled">
               #if($firstPageName != "")<li> <a href='$firstPagePath'>$firstPageName</a></li>#end
                #navMacro($contentRoot)
</ul>

## Format URL: http://cascade.umt.edu/entity/open.act?id=04ebcb630a0a07cc6930ac20141afd01&type=format&#highlight

## Audits
