#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure"))

##check for using buttons as a page component to match up with other Ponderosa styling
#set ($page_check = $pageStructure.getChild("button-block-setup").getChild("page_container").value)
    #if ($page_check == "Yes")
        <div class="remainder-box normal_page component">
    #end    

##set up optional button block id
#set ($btn_block_id = "")
#set ($btn_block_id = $pageStructure.getChild("button-block-setup").getChild("btn-block-id").text)

##build opening block wrapper div
    #if ($btn_block_id != "")
        <div id="$btn_block_id" class="row-fluid separatedButtons">
    #else 
        <div class="row-fluid separatedButtons">
    #end

##    #set ($pageHeading = $_SerializerTool.serialize($pageStructure.getChild("page_heading"), true))
    #set ($pageHeading = $pageStructure.getChild("page_heading").text)
    #if ($pageHeading != "")
        <div class="row-fluid blockHeading">
            <h2>$pageHeading</h2>
        </div>    
    #end
    
##above buttons
    #set ($above_content = "")
    #set ($above_content = $_SerializerTool.serialize($pageStructure.getChild("advanced").getChild("above_content"), true))
    #if ($above_content != "<above_content />")
        <div class="row-fluid above_buttons">
            $above_content
        </div>
    #end

##start button wrapper
    <div class="row-fluid button_groups">
        
        #set ($group_count = 0)

        #set($buttonGroups = $_XPathTool.selectNodes($pageStructure, "button_group"))
        #foreach ($button_group in $buttonGroups)
            #set ($group_count = $group_count+1)
            #set ($row_class = "row$group_count")
        
            #set ($count = 0)
            #set ($buttons = $_XPathTool.selectNodes($button_group, "button"))
            
            #set ($button_group_class = "")
            
            #set ($button_group_class = $button_group.getChild("btn-group-setup").getChild("btn-group-class").text)
               
            #set ($btnLayout = $button_group.getChild("btn-group-setup").getChild("btn_layout").value)
            
            #set ($override = $button_group.getChild("btn-group-setup").getChild("layoutOverrideCheck").value)
            
            #foreach ($button in $buttons)
                #set($count = $count+1)
            #end

##start button row
            <div class="row-fluid button_row featured_site_links $row_class $button_group_class">
##button group heading            
                #set ($button_group_heading = "")
                #set ($button_group_heading = $button_group.getChild("btn_group_heading").text)
                #if ($button_group_heading != "")
                    <div class="row-fluid btn-group-heading">
                        <h2>$button_group_heading</h2>
                    </div>
                #end    

##layout logic
                #set ($offset = "")    
                
                #if ($btnLayout == "Fill Content Area")
                    #if ($count == 1)
                        #set ($button_class_base = " span12")
                    #elseif ($count == 2)
                        #set ($button_class_base = " span6")
                    #elseif ($count == 3)
                        #set ($button_class_base = " span4")
                    #elseif ($count == 4)
                        #set ($button_class_base = " span3")
                    #elseif ($count == 5)
                        #set ($button_class_base = " span2")
                        #set ($offset = " offset1")
                    #else 
                        #set ($button_class_base = " span2")
                    #end        
                #elseif ($btnLayout == "Fixed Button Width Centered")
                    #set ($button_class_base = " span2")
                    #if ($count == 1)
                        #set ($offset = " offset5")
                    #elseif ($count == 2)
                        #set ($offset = " offset4")
                    #elseif ($count == 3)
                        #set ($offset = " offset3")
                    #elseif ($count == 4)
                        #set ($offset = " offset2")
                    #elseif ($count == 5)
                        #set ($offset = " offset1")                        
                    #end
                #end    
                
                #foreach ($button in $buttons)
                    #set ($cust_button_class = "")
                    #set ($cust_button_class = $button.getChild("btn-class").text)
                    
                    #if ($foreach.index == 0)
                        #set ($button_class = $button_class_base + $offset)
                    #else
                        #set ($button_class = $button_class_base)
                    #end
                    
                    #if ($btnLayout == "Custom Layout")
                        #set ($button_layout_override = "")
                        #set ($button_layout_override = $button.getChild("advanced-layout").getChild("layout_override").value)
                            #if ($button_layout_override == 1)
                                #set ($button_class = "span1")
                            #elseif ($button_layout_override == 2)
                                #set ($button_class = "span2")
                            #elseif ($button_layout_override == 3)
                                #set ($button_class = "span3")
                            #elseif ($button_layout_override == 4)
                                #set ($button_class = "span4")
                            #elseif ($button_layout_override == 5)
                                #set ($button_class = "span5")
                            #elseif ($button_layout_override == 6)
                                #set ($button_class = "span6")
                            #elseif ($button_layout_override == 7)
                                #set ($button_class = "span7")
                            #elseif ($button_layout_override == 8)
                                #set ($button_class = "span8")
                            #elseif ($button_layout_override == 9)
                                #set ($button_class = "span9")
                            #elseif ($button_layout_override == 10)
                                #set ($button_class = "span10")
                            #elseif ($button_layout_override == 11)
                                #set ($button_class = "span11")
                            #elseif ($button_layout_override == 12)
                                #set ($button_class = "span12")    
                            #else    
                                #set ($button_class = "$button_layout_override")
                            #end    
                    #end
                    
                    #set ($grad_btn = "")
                    #set ($btn_text = "")
                    #set ($btn_render_check = $button.getChild("advanced-layout").getChild("btn_render_check").value)
                        #if ($btn_render_check == "Gradient Button" || $btn_render_check == "Gradient ButtonContent Button")
                            #set ($grad_color = "")
                            #set ($grad_color = $button.getChild("advanced-layout").getChild("grad_btn_options").value)
                            #set ($grad_btn = "grad_button featurebutton_$grad_color") 
                        #end
                        
                    
                    #set ($label = "")
                    #set ($image = "")
                    #set ($img_alt = "")
                    #set ($link = "")
                    #set ($extLink = "")
                    #set ($label = $button.getChild("button_label").text) 
                    #set ($image = $_SerializerTool.serialize($button.getChild("background_image").getChild("path"), true))
                    #set ($img_alt = $button.getChild("img_alt").text)
                    #set ($link = $button.getChild("internal_link").getChild("path").text)
                    
                    #if ($link == "/")
                        #set ($extLink = $button.getChild("external_link").text)
                    #end
##start individual button
                    #if($image != "" && $image != "/" && $img_alt == "")
                        [system-view:internal]<div style="margin-bottom: 0px" class="alert alert-error">The button image ($image) will not display when published because no alt tag was provided.</div>[/system-view:internal]
                    #end
                    <div class="featured_link $button_class">
                        #if($image != "/" && $image != "" && $img_alt != "" && $label != "")
                            #if($extLink != "")
                                <a href="${_EscapeTool.xml($extLink)}" target="_blank" class="btn $grad_btn $cust_button_class" style="display: block; white-space:normal;">
                            #elseif($extLink == "" && $link == "/")
                                <a href="" class="btn $grad_btn $cust_button_class" style="white-space:normal; display:block;">
                            #else        
                                <a href="$link" class="btn $grad_btn $cust_button_class" style="white-space:normal; display:block;">
                            #end        
                                    #set ($height_check = $pageStructure.getChild("button-block-setup").getChild("height_eq").value)
                                    #if ($height_check == "Yes")
                                        <div class="row-fluid btn-content height-eq">
                                    #else
                                        <div class="row-fluid btn-content">
                                    #end    
                                        <span class="row-fluid">
                                            <img src="[system-asset]${image}[/system-asset]" alt="$img_alt" />
                                        </span>    
                                        <span class="image_label feature_title row-fluid"><h3>$label</h3></span>
                                        #if ($btn_render_check == "Content Button" || $btn_render_check == "Gradient ButtonContent Button")
                                            #set ($btn_text = "")
                                            #set ($btn_text = $button.getChild("advanced-layout").getChild("btn-content").text)
                                            #if ($btn_text != "")
                                            <span class="row-fluid">
                                                <p class="btn-text">${_EscapeTool.xml($btn_text)}</p>
                                            </span>    
                                            #end
                                        #end
                                    </div>
                                </a>
                        #elseif($image != "/" && $image != "" && $img_alt != "" && $label == "")
                            #if($extLink != "")
                                <a href="${_EscapeTool.xml($extLink)}" target="_blank" class="btn $grad_btn $cust_button_class" style="display: block; white-space:normal;">
                            #elseif($extLink == "" && $link == "/")
                                <a href="" class="btn $grad_btn $cust_button_class" style="white-space:normal; display:block;">
                            #else        
                                <a href="$link" class="btn $grad_btn $cust_button_class" style="white-space:normal; display:block;">
                            #end
                                    #set ($height_check = $pageStructure.getChild("button-block-setup").getChild("height_eq").value)
                                    #if ($height_check == "Yes")
                                        <div class="row-fluid btn-content height-eq">
                                    #else
                                        <div class="row-fluid btn-content">
                                    #end 
                                        <span class="row-fluid">
                                            <img src="[system-asset]${image}[/system-asset]" alt="$img_alt" />
                                        </span>    
                                        #if ($btn_render_check == "Content Button" || $btn_render_check == "Gradient ButtonContent Button")
                                            #set ($btn_text = "")
                                            #set ($btn_text = $button.getChild("advanced-layout").getChild("btn-content").text)
                                            #if ($btn_text != "")
                                            <span class="row-fluid">
                                                <p class="btn-text">${_EscapeTool.xml($btn_text)}</p>
                                            </span>    
                                            #end
                                        #end
                                    </div>
                                </a>    
                        #elseif ($label != "")
                            #if($extLink != "")
                                <a href="${_EscapeTool.xml($extLink)}" target="_blank" class="btn $grad_btn $cust_button_class" style="display: block; white-space:normal;">
                            #elseif($extLink == "" && $link == "/")
                                <a href="" class="btn $grad_btn $cust_button_class" style="white-space:normal; display:block;">
                            #else        
                                <a href="$link" class="btn $grad_btn $cust_button_class" style="white-space:normal; display:block;">
                            #end
                                    #set ($height_check = $pageStructure.getChild("button-block-setup").getChild("height_eq").value)
                                    #if ($height_check == "Yes")
                                        <div class="row-fluid btn-content height-eq">
                                    #else
                                        <div class="row-fluid btn-content">
                                    #end 
                                        <span class="button-label feature_title row-fluid"><h3>$label</h3></span>
                                        #if ($btn_render_check == "Content Button" || $btn_render_check == "Gradient ButtonContent Button")
                                            #set ($btn_text = "")
                                            #set ($btn_text = $button.getChild("advanced-layout").getChild("btn-content").text)
                                            #if ($btn_text != "")
                                            <span class="row-fluid">
                                                <p class="btn-text">${_EscapeTool.xml($btn_text)}</p>
                                            </span>    
                                            #end
                                        #end
                                    </div>
                                </a>    
                        #end
                    </div> ##close button
                #end ##forech buttons

            </div> ##button_row
        #end ##forech button group
    </div> ##button_groups

##below buttons
    #set ($below_content = "")
    #set ($below_content = $_SerializerTool.serialize($pageStructure.getChild("advanced").getChild("below_content"), true))
    #if ($below_content != "<below_content />")
        <div class="row-fluid below_buttons">
            $below_content
        </div>
    #end

</div> ##separated_buttons  

##ends optional page container div
#if ($page_check == "Yes")
    </div>
#end

##connect to ponderosa height equalizer
<script type="text/javascript">
    require(["jquery", "height_equalizer"],function(jQuery,height_equalizer){
        jQuery(document).ready(function($){
            height_equalizer.equalize(".height-eq");
        });
    });
</script>

## Format URL: http://cascade.umt.edu/entity/open.act?id=e004ce020a0a07cc3260cf1e0386806c&type=format&#highlight

## Audits
### 10-16-2015 14:56	tc222818	edit
### 10-16-2015 14:54	tc222818	startedit
### 10-16-2015 15:00	tc222818	startedit
### 10-16-2015 15:00	tc222818	edit
### 10-16-2015 15:04	tc222818	edit
### 10-16-2015 15:03	tc222818	startedit
### 10-16-2015 15:20	tc222818	edit
### 10-16-2015 15:20	tc222818	startedit
### 10-16-2015 15:28	tc222818	edit
### 10-16-2015 15:27	tc222818	startedit
