#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure"))

#set ($pageHeading = $_SerializerTool.serialize($pageStructure.getChild("page_heading"), true))

#if ($pageHeading != "")
    <div class="pageHeading">
        <h2>$pageHeading</h2>
    </div>
#end





## Format URL: http://cascade.umt.edu/entity/open.act?id=0ad3cf740a0a07cc3a1cd84eb9a09303&type=format&#highlight

## Audits
### 06-03-2013 16:17	tc222818	edit
### 06-03-2013 16:17	tc222818	startedit
### 06-03-2013 16:30	tc222818	edit
### 06-03-2013 16:30	tc222818	startedit
### 06-04-2013 18:48	tc222818	copy
### 06-06-2013 17:11	tc222818	move
