<!--#passthrough-top<?php

if(strpos($_SERVER['PHP_SELF'], '/_staging/') === 0) {
    // set php path
    ini_set('include_path', str_replace('_common', '_staging/_common', get_include_path()));
    ini_set('error_reporting', E_ALL);
    ini_set('display_errors', '1');
    define("SFD_DEBUG", true);
}

?>#passthrough-top-->

<!--#passthrough<?php

if(strpos($_SERVER['PHP_SELF'], '/_staging/') === 0) {
    echo '
    <style>
    div.debug {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        color: red;
        background-color: black;
        font-size: 1.4em;
        font-weight: bold;
    }
    </style>';
    echo '<div class="debug">DEVELOPER MODE ON</div>';
}

?>#passthrough-->

## Format URL: http://cascade.umt.edu/entity/open.act?id=c8b94d550a0a07cc15d3cc0cd2373d40&type=format&#highlight

## Audits
### 03-30-2016 18:11	mr188932	edit
### 03-30-2016 18:11	mr188932	startedit
### 03-30-2016 18:14	mr188932	edit
### 03-30-2016 18:13	mr188932	startedit
