#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure") )
#set ($groups = $_XPathTool.selectNodes($pageStructure, "group"))
#set ($count = 1)
#set ($_Double = 1.5)

$_SortTool.addSortCriterion("date", "", "number", "ascending", "")  
$_SortTool.sort($groups)

<h2>Some dates</h2>
<table class="date_test">
    <tr>
        <th>Order</th>
        <th>Date</th>
        <th>Double</th>
        <th>Hours</th>
    </tr>
#foreach ($group in $groups)
    #set ($dateAsDate = $_DateTool.getDate($group.getChild("date").value))
    #set ($dateAsNum = $_Double.parseDouble($group.getChild("date").value))
    <tr>
        <td>$count</td>
        <td>$dateAsDate</td>
        <td>$dateAsNum</td>
        <td>$_DateTool.format('hh mm', $dateAsDate)</td>
    </tr>
    #set ($count = $count + 1)
#end
</table>



#set ($count = 0)
#foreach ($group in $groups)
    #if($count == 0)
        #set ($dateAsDate0 = $_DateTool.getDate($group.getChild("date").value))
        #set ($dateAsNum0 = $_Double.parseDouble($group.getChild("date").value))
        #set ($count = $count + 1)
    #else
        #set ($dateAsDate1 = $_DateTool.getDate($group.getChild("date").value))
        #set ($dateAsNum1 = $_Double.parseDouble($group.getChild("date").value))
        #set ($count = $count + 1)
    #end
#end




#set ($manualDiff = $dateAsNum1 - $dateAsNum0)
<strong>Manual Subtraction:</strong> $_DateTool.format('hh mm', $manualDiff)
#set ($dateDiff = 0.0)
#set ($dateDiff = $_Double.parseDouble($dateDiff))

#set ($dateDiff = $_DateTool.difference($dateAsDate0, $dateAsDate1))
<br />
<strong>Using DateTool.difference:</strong> $dateAsDate1 - $dateAsDate0 = $dateDiff



## Format URL: http://cascade.umt.edu/entity/open.act?id=1752c36f0a0a046800fccf9896e69bcc&type=format&#highlight

## Audits
### 12-05-2011 15:07	ws132567	edit
### 12-05-2011 15:01	ws132567	startedit
### 12-05-2011 15:11	ws132567	startedit
### 12-05-2011 15:12	ws132567	edit
### 12-05-2011 15:13	ws132567	edit
### 12-05-2011 15:13	ws132567	startedit
### 12-05-2011 15:15	ws132567	edit
### 12-05-2011 15:13	ws132567	startedit
### 12-05-2011 15:20	ws132567	edit
### 12-05-2011 15:19	ws132567	startedit
