#set ($groups = $_XPathTool.selectNodes($contentRoot, "/system-data-structure/group") )  
$_SortTool.addSortCriterion("name", "", "text", "ascending", "upper-first")   
$_SortTool.sort($groups) 

<br>
    <strong>Serializer Tool and Sort Tool in ascending order by name</strong>
</br>

<ul>
#foreach($group in $groups)

    #set($name = "")
    #set($address = "")
    #set($content= "")
    #set($cat = "")


    #set($name = $_SerializerTool.serialize($group.getChild("name"),false))
    #set($address = $_SerializerTool.serialize($group.getChild("adress"), false))
    #set($content = $_SerializerTool.serialize($group.getChild("content"), false))
    #set($cat = $_SerializerTool.serialize($group.getChild("catagory"), false))

    <br>
        <p> <strong>Name</strong>: $name</p>
        <li> <strong>Address</strong>: $address</li>
        <li> <strong>Catagory</strong>: $content</li>
        <li> <strong>Catagory</strong>: $cat</li>
    </br>

#end
</ul>

<br>
    <strong>Display Tool Plural use</strong>
</br>

    #set( $animal = ["human","cat", "dog", "horse","unicorn", "python", "ape"])
    #set( $animal2 = ["human"])

<ul>
    <li>There ${_DisplayTool.plural($animal.size(),"is","are")}   
        ${animal.size()} ${_DisplayTool.plural($animal.size(),"animal")} in List 1</li>
    <li>There is a
         ${_DisplayTool.list($animal,",")} in List 1</li> 
 </ul>
 
<br>
    <strong>Display Tool Plural use 2</strong>
</br>

<ul>
    <li>There ${_DisplayTool.plural($animal2.size(),"is","are")}   
        ${animal2.size()} ${_DisplayTool.plural($animal2.size(),"animal")} in List 2</li> 
    <li>There ${_DisplayTool.plural($animal2.size(),"is","are")} a   
        ${_DisplayTool.list($animal2,",")} in List 2</li> 
</ul>

<br>
    <strong>HTML Stripping Tool</strong>
</br>

    #set ( $textWithHtml = "This is some text <strong>with HTML tags.</strong> I am Invader <strong>KAZ</strong> and this world
                                   now belongs to <strong>me!!!!!!!!!!!!!!!</strong>" )  
    <p>With tags: ${textWithHtml}</p>  
    <p>Tags stripped: ${_DisplayTool.stripTags($textWithHtml)}</p> 

<br>
    <strong>Display tool alt()</strong>
</br>

<ul>
#foreach ($group in $groups)

    #set($name = "")
    #set ( $name = $_SerializerTool.serialize($group.getChild("name"),false) )   
        <li>${_DisplayTool.alt($name,"No name provided.")}</li> 
#end
</ul>

<br>
    <strong>Truncate() Method</strong>
</br>

    #set ( $longText = "This is the song that never ends, it goes on and on my friend...." )  
        <p>Full text: ${longText}</p>  
        <p>Truncated text: ${_DisplayTool.truncate($longText,33,"...")}</p>  
        <p>Truncated at word: ${_DisplayTool.truncate($longText,40,"...",true)}</p>

<br>
    <strong>Escapeing tool</strong>
</br>

    #set ( $xml = $_XPathTool.selectSingleNode($groups, "content").value)  
    ##<p>${xml}</p>  
        <p>${_EscapeTool.xml($xml)}</p>  
        <p>Dollar sign: _EscapeTool..dollar = ${_EscapeTool.dollar} OR  _EscapeTool..d = ${_EscapeTool.d}</p>  
        <p>Hash (pound key): _EscapeTool..hash = ${_EscapeTool.hash} OR  _EscapeTool..h = ${_EscapeTool.h}</p>  
        <p>Single Quote: _EscapeTool.singleQuote = ${_EscapeTool.singleQuote} OR  _EscapeTool.s = ${_EscapeTool.s}</p>  
        <p>Double Quote: _EscapeTool.quote ${_EscapeTool.quote} OR  _EscapeTool.q = ${_EscapeTool.q}</p>  
        <p>Backslash: _EscapeTool.backslash = ${_EscapeTool.backslash} OR  _EscapeTool.b = ${_EscapeTool.b}</p>  
        <p>Exclamation: _EscapeTool.exlamation = ${_EscapeTool.exclamation} OR  _EscapeTool.e = ${_EscapeTool.e}</p>    


<br>
    <strong>Math Tool</strong>
</br>

    #set ( $numText = "25" )  
    #set ( $realInt = $_MathTool.toInteger($numText) )  
    #set ( $realDouble = $_MathTool.toDouble($numText) ) 

    <p> Real : $realInt</p>
    <p> Double: $realDouble </p>
        <br>
            #set ( $numbers = [25,42,26.3,21,67,89,102,33.33,45] )  
            #set ( $average = $_MathTool.getAverage($numbers) )  
            #set ( $total = $_MathTool.getTotal($numbers) ) 
                <p>List: ${_DisplayTool.list($numbers,",")}</p>  
                <p>Total = ${total}</p>  
                <p>Average = ${average}</p> 
                <p>Ceiling of total = ${_MathTool.ceil($total)}</p>  
                <p>Floor of total = ${_MathTool.floor($total)}</p>  
                <p>Average, rounded = ${_MathTool.round($average)}</p>  
                <p>Average, rounded to 2 decimals = ${_MathTool.roundTo(2,$average)}</p>  
         </br>  
<br>
    <strong>Number Tool</strong>
</br>     
         
         #set ( $myNumber = 42.2222222 )  
        <p><strong>Percentage =</strong> ${_NumberTool.percent($myNumber)}</p> 
        <p><strong>Currency =</strong> ${_NumberTool.currency($myNumber)}</p>  
        <p><strong>Integer =</strong> ${_NumberTool.integer($myNumber)}</p>    
        
<br>
    <strong>Calender Tool</strong>
</br>      

    #set ( $calendar = $_DateTool.getCalendar() )  
    #set ( $today = $_DateTool.getDate() )  
        <p>Today = ${today}</p>  
            $calendar.setTime($today)  
            $calendar.add(6, 1)  
        <p>Tomorrow = ${calendar.getTime()}</p>       
         
<br>
    <strong>No Hardcoded Variables</strong>
</br>          
      #set ( $calendar = $_DateTool.getCalendar() )  
      #set ( $today = $_DateTool.getDate() )  
        <p>Today = ${today}</p>  
            $calendar.setTime($today)  
            $calendar.add($_FieldTool.in($calendar).DAY_OF_YEAR, 1)  
        <p>Tomorrow = ${calendar.getTime()}</p>   

## Format URL: http://cascade.umt.edu/entity/open.act?id=3e2139f50a0a07cc22b7be2aea455c71&type=format&#highlight

## Audits
### 04-24-2013 22:19	hs135117	create
### 04-24-2013 22:20	hs135117	edit
### 04-24-2013 22:20	hs135117	startedit
### 04-24-2013 22:25	hs135117	edit
### 04-24-2013 22:23	hs135117	startedit
### 04-24-2013 22:26	hs135117	startedit
### 04-24-2013 22:29	hs135117	edit
### 04-24-2013 22:38	hs135117	edit
### 04-24-2013 22:30	hs135117	startedit
### 04-24-2013 22:39	hs135117	startedit
