#macro (navMacro $theList)
    #set ($myList = $theList)
    #foreach ($child in $myList.children)
        #set ($navExclude = "")
        #set ($systemName = "")
        #set ($navExclude = $_SerializerTool.serialize($child.getChild("dynamic-metadata").getChild("value"), true))
        #set ($systemName = $_SerializerTool.serialize($child.getChild("name"), true))
        #if ($navExclude == "Yes" && $systemName != "default")
        #set ($children = "")
            #set ($displayName = "")
            #set ($childPath = "")
            #set ($displayName = $_SerializerTool.serialize($child.getChild("display-name"), true))
            #set ($childPath = $_SerializerTool.serialize($child.getChild("path"), true))
            #set ($children = $_XPathTool.selectNodes($child, "system-page").size() + $_XPathTool.selectNodes($child, "system-folder").size())
            #if($_XPathTool.selectSingleNode($child, 'system-folder[@current]') || $_XPathTool.selectSingleNode($child, 'system-page[@current]'))
                <li class="active">
            #elseif($_XPathTool.selectSingleNode($child, '.[@current]'))
                <li class="activepage">
            #else
                <li>
            #end
            #if($child.getName() == "system-folder" && $children > 1)
                    <a href="$childPath/default">$displayName</a>
                    #set ($newList = $child)
                    <ul>
                        #navMacro ($newList)
                    </ul>
                #elseif ($child.getName() == "system-folder")
                    <a href="$childPath/default">$displayName</a>
                #else
                <a href="$childPath">$displayName</a>
            #end
            </li>
        #end
    #end
#end
#set ($firstPageName = "")
#set ($firstPageName = $_SerializerTool.serialize($_XPathTool.selectSingleNode($contentRoot, "/system-index-block/system-page[name='default']").getChild('display-name'), true))
#set ($firstPagePath = $_SerializerTool.serialize($_XPathTool.selectSingleNode($contentRoot, "/system-index-block/system-page[name='default']").getChild('path'), true))                
<ul class="site_standard_nav">
    <li class="active">
        <div class="pngfix">
            #if ($firstPageName != "")<a href='$firstPagePath'>$firstPageName</a>#end
            <ul> 
                #navMacro($contentRoot)
            </ul>
        </div>
    </li>
</ul>

## Format URL: http://cascade.umt.edu/entity/open.act?id=7010c9800a0a046801d2631805495faa&type=format&#highlight

## Audits
### 07-07-2011 11:46	ws132567	startedit
### 07-07-2011 11:57	ws132567	edit
### 07-07-2011 11:57	ws132567	startedit
### 07-07-2011 12:05	ws132567	edit
### 07-07-2011 12:16	ws132567	startedit
### 07-07-2011 12:16	ws132567	edit
### 07-07-2011 12:17	ws132567	startedit
### 07-07-2011 12:17	ws132567	edit
### 07-07-2011 13:17	ws132567	edit
### 07-07-2011 13:16	ws132567	startedit
