#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure") )
#set ($images = $_XPathTool.selectNodes($pageStructure, "images/image"))
#set ($links = $_SerializerTool.serialize($pageStructure.getChild("links"), true))
#set ($content1 = $_SerializerTool.serialize($pageStructure.getChild("content1"), true))
#set ($rss = $_SerializerTool.serialize($pageStructure.getChild("rss").getChild("content"), true))
#set ($image_right = $_SerializerTool.serialize($pageStructure.getChild("image_right").getChild("link"), true))
#set ($content2 = $_SerializerTool.serialize($pageStructure.getChild("content2"), true))





<style media="screen" type="text/css" xml:space="preserve">@import "css/plus50.css";</style>
<div class="column_left">
    <div class="top_wrap">
        <div class="images"><img id="rotate" src="" /></div>
        <div class="links">$links</div>
    </div>
    <div class="content_left">$content1</div>
    <div class="bottom_wrap">
        <div class="rss">
            <h2>MOLLI News and Events</h2><p style="font-weight: bold;">Click on Event to learn more</p>
            $rss
        </div>
        <div class="right_images"><img alt="plus50logo.jpg" src="$image_right" /></div>
    </div>
</div>
<div class="column_right">$content2</div>


<script type="text/javascript">
    var images=new Array();
    #foreach ($image in $images)
        images[$foreach.index] = '[system-asset]${image.getChild("path").value}[/system-asset]';
    #end
    var randomnumber = Math.floor(Math.random()*$images.size());
    document.getElementById('rotate').src = images[randomnumber];
</script>

## Format URL: http://cascade.umt.edu/entity/open.act?id=dc73fd6d0a0a07cc628b4163e36f9e24&type=format&#highlight

## Audits
### 06-11-2012 16:50	ws132567	create
### 06-11-2012 16:50	ws132567	edit
### 06-11-2012 16:50	ws132567	startedit
### 06-11-2012 16:51	ws132567	startedit
### 06-11-2012 16:51	ws132567	edit
### 06-11-2012 16:51	ws132567	startedit
### 06-11-2012 16:51	ws132567	edit
### 06-11-2012 16:52	ws132567	startedit
### 06-11-2012 16:53	ws132567	edit
### 06-11-2012 17:36	ws132567	startedit
