#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure") )
#set ($slides = $_XPathTool.selectNodes($pageStructure, "imageIndex/content/system-index-block/system-file"))
#set ($frame_include = $_SerializerTool.serialize($pageStructure.getChild("include"), true))
#set ($frame_resize = $_SerializerTool.serialize($pageStructure.getChild("resize"), true))
#set ($controls = $_SerializerTool.serialize($pageStructure.getChild("controls"), true))
#set ($captions = $_SerializerTool.serialize($pageStructure.getChild("captions"), true))
#set ($position = $_SerializerTool.serialize($pageStructure.getChild("position"), true))
#if ($frame_include == "No")
    #set ($frame_include = "slideshow_noframe")
#else
    #set ($frame_include = "slideshow_frame")
#end
#if ($position == "Left")
    #set ($position = "frame_left")
#elseif ($position == "Right")
    #set ($position = "frame_right")
#end


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script type="text/javascript" src="http://malsup.github.com/jquery.cycle.all.js"></script>
<script type="text/javascript">  $.noConflict();</script>
<style media="screen" type="text/css" xml:space="preserve">@import "[system-asset:id=5efbbb320a0a046800b80637ccbb683b]/css/slideshow.css[/system-asset]";</style>
    <div class="cycle_show $frame_include $position">
    
        #foreach ($slide in $slides)
            #set ($image = "")
            #set ($title = "")
            #set ($caption = "")
            #set ($image = $_SerializerTool.serialize($slide.getChild("path"), true))
            #set ($title = $_SerializerTool.serialize($slide.getChild("name"), true))
            #set ($caption = $_SerializerTool.serialize($slide.getChild("display-name"), true))
            <img src="$image" alt="$caption" />        
        #end    
    </div>
    #if($controls == "Yes")<a id="prev2" href="#">Prev</a>#end #if($captions == "Yes")<p class="slide_caption"></p>#end #if($controls == "Yes")<a id="next2" href="#">Next</a>#end

<script type="text/javascript">
jQuery(document).ready(function($){
    $('.cycle_show').cycle({ 
        #if ($frame_resize == "Yes")"containerResize": 1,
        #else "height": '315px',
        "width": '432px',
        #end
        "fx":      'fade', 
        "speed":    1000, 
        "timeout":  6000,
        "next": '#next2',
        "prev": '#prev2'#if ($captions == "Yes"),
        "before": function(curr, next, opts){
            $('.slide_caption').fadeOut('fast');
        },
        "after": function(curr,next,opts){
            var slideCaption = this.alt;
            $('.slide_caption')
                .fadeIn(1000)
                .html(slideCaption);    
        }#end
    });
});
</script>

## Format URL: http://cascade.umt.edu/entity/open.act?id=8f6fb62e0a0a046801aee93745a0d35c&type=format&#highlight

## Audits
### 01-28-2012 19:26	es165908e	startedit
### 01-28-2012 19:27	es165908e	edit
### 03-20-2012 16:20	ws132567	startedit
### 03-20-2012 16:20	ws132567	edit
### 03-20-2012 17:05	ws132567	startedit
### 03-20-2012 17:05	ws132567	edit
### 03-20-2012 17:54	ws132567	startedit
### 03-20-2012 17:54	ws132567	edit
### 03-29-2012 13:09	ws132567	edit
### 03-29-2012 13:09	ws132567	startedit
