#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure") )
#set ($tabs = $_XPathTool.selectNodes($pageStructure, "tab"))
#set ($count = 1)
<div id='tabs'>
<ul>  
#foreach ($tab in $tabs)  
    #set ($title = $_org.apache.commons.lang.StringEscapeUtils.escapeXML($tab.getChild('title').value))
    <li><a href="#fragment-$count"><span>$_SerializerTool.serialize($tab.getChild('title'), true)</span></a>$title</li>  
    #set ($count = $count + 1)
#end  
</ul> 
#set ($count = 1)
#foreach ($tab in $tabs)  
    <div id='fragment-$count'>  
        $_SerializerTool.serialize($tab.getChild('content'), true)
    </div >  
    #set ($count = $count + 1)
#end  
</div>


## Format URL: http://cascade.umt.edu/entity/open.act?id=fcbbc6a30a0a0468018cad4b96fe560a&type=format&#highlight

## Audits
### 01-28-2012 19:19	es165908e	edit
### 01-28-2012 19:19	es165908e	startedit
### 10-27-2010 17:07	ns159438e	startedit
### 10-27-2010 17:08	ns159438e	edit
### 10-27-2010 17:08	ns159438e	startedit
### 10-27-2010 17:08	ns159438e	edit
### 10-27-2010 17:09	ns159438e	startedit
### 10-27-2010 17:10	ns159438e	edit
### 02-23-2010 21:29	ns159438e	create
### 02-23-2010 21:30	ns159438e	startedit
