<h3>This wasn't a fail, it just wasn't a success.</h3>
##This macro accepts a file list and an array, populates the array with the file list.
#macro (xmlToArray $fileList $prevArray $nextArray)
    #set ($newList = "")
    #set ($newList = $_XPathTool.selectNodes($fileList, "*[@id and (name != '$root_name' or @reference)]"))
    #foreach ($child in $newList)
        #set ($displayName = "")
        #set ($displayName = $_SerializerTool.serialize($child.getChild("display-name"), true))
        
        #if ($displayName != "" && $displayName != "<display-name />")             
            #if($child.getName() != "system-folder")
                #set ($arrayAdd = $prevArray.add($child))
            #else
                #set ($newArray = [$child])
                #xmlToArray($child $nextArray $newArray)
                #if ($nextArray > 1)
                    #set ($canAdd = $prevArray.add($nextArray))
                #end
            #end  
        #end
       
    #end
#end

#*
Initializers for xmlToArray
$root_name: index or default.
$bigArray: this array will eventually contain all the xml.
$newArray: an assistive array for recursion purposes.
*#

#set ($root_name = "default")
#set ($newArray = [])
#set ($bigArray = [])
#xmlToArray($_XPathTool.selectSingleNode($contentRoot, "/system-index-block"), $bigArray, $newArray)















##This iterates through an array xmlToArray has generated, ceating an unordered list.
<ul>
#foreach ($pageArray in $bigArray)
   #if ($pageArray.size() > 1)
       #set ($displayName = "")
       #set ($path = "")
       #set ($displayName = $_SerializerTool.serialize($pageArray.get(0).getChild("display-name"), true))
       #set ($path = $_SerializerTool.serialize($pageArray.get(0).getChild("path"), true))    
       <li><a href="$path">$displayName</a></li>
       <ul>
       #set ( $end = $pageArray.size() - 1 )
       #foreach ( $i in [1..$end] )
        
            #set ($displayName = "")
            #set ($path = "")
            #set ($displayName = $_SerializerTool.serialize($pageArray.get($i).getChild("display-name"), true))
            #set ($path = $_SerializerTool.serialize($pageArray.get($i).getChild("path"), true))
            <li><a href="$path">$displayName</a></li>
       #end
       </ul>
    #else
        #set ($displayName = "")
        #set ($path = "")
        
        #set ($displayName = $_SerializerTool.serialize($pageArray.getChild("display-name"), true))
        #set ($path = $_SerializerTool.serialize($pageArray.getChild("path"), true))
        #if ($displayName != "")
            <li><a href="$path">$displayName</a></li>
        #end
    #end
#end
</ul>

## Format URL: http://cascade.umt.edu/entity/open.act?id=a7d35ce80a0a07cc442fbe47f4e64144&type=format&#highlight

## Audits
### 06-03-2013 12:35	ws132567	startedit
### 06-03-2013 12:37	ws132567	edit
### 06-03-2013 12:41	ws132567	startedit
### 06-03-2013 12:42	ws132567	edit
### 06-03-2013 12:46	ws132567	startedit
### 06-03-2013 12:47	ws132567	edit
### 06-03-2013 13:17	ws132567	startedit
### 06-03-2013 13:17	ws132567	edit
### 06-03-2013 14:13	ws132567	startedit
### 06-03-2013 14:13	ws132567	edit
