## Format for dates
#set ( $format = "MMMM d, yyyy" )

## Abstract out the "system-index-block" node
#set ( $sib = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block") )

## Gather "system-page" nodes
#set ( $items = $_XPathTool.selectNodes($sib, "system-page[name!='index']") )

#foreach ( $item in $items )
    #set ( $displayName = $item.getChild("display-name").text)
    
    #set ($startDate = $_DateTool.getDate($item.getChild("created-on").value ))
    
    #set ( $link = $item.getChild("link").text)
    #set ( $leadin = $item.getChild("system-data-structure").getChild("lead_in").text)
    <article role="article">
    <h3 class="cux-color-copper">$displayName</h3>
        <ul class="list-inline">
            <li>$_DateTool.format($format, $startDate)</li>
        </ul>
        <p>$leadin</p>
        <a href="$link">Read more - $displayName</a>
    </article>
#end

## Format URL: http://cascade.umt.edu/entity/open.act?id=f59c68db0a0a07cc3260cf1e727ee70a&type=format&#highlight

## Audits
### 08-19-2015 22:33	cc115111e	copy
### 08-03-2015 22:09	cc115111e	create
### 08-03-2015 22:19	cc115111e	startedit
### 08-03-2015 22:25	cc115111e	edit
### 08-03-2015 22:48	cc115111e	edit
### 08-03-2015 22:34	cc115111e	startedit
### 08-03-2015 23:32	cc115111e	edit
### 08-03-2015 23:29	cc115111e	startedit
### 08-03-2015 23:40	cc115111e	edit
### 08-03-2015 23:34	cc115111e	startedit
