#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure"))

#set ($name = "")
#set ($venue = "")
#set ($showDate = "")
#set ($doorTime = "")
#set ($content = "")
#set ($photo = "")

#set ($ticketInfo = "")
#set ($ticketPrice = "")
#set ($custTicketInfo = "")

#set ($name = $_SerializerTool.serialize($pageStructure.getChild("name"), true))
#set ($venue = $pageStructure.getChild("venue").value)
#set ($showDate = $_DateTool.getDate($pageStructure.getChild("showDate").value))
#set ($doorTime = $_DateTool.getDate($pageStructure.getChild("doorTime").value))
#set ($content = $_SerializerTool.serialize($pageStructure.getChild("content"), true))
#set ($photo = $_SerializerTool.serialize($pageStructure.getChild("photo").getChild("path"), true))

#set ($ticketInfo = $_XPathTool.selectNodes($pageStructure, "ticketInfo"))
#set ($ticketPrice = $_XPathTool.selectSingleNode($ticketInfo, "ticketPrice").text)
#set ($custTicketInfo = $_SerializerTool.serialize($pageStructure.getChild("ticketInfo").getChild("advanced").getChild("custTicketInfo"), true))


#if ($name != "")
    <div class="row-fluid event-heading">
        <h2>$name</h2> 
    </div>
#end    
    <div class="row-fluid">
        #if ($photo != "/")    
            <div class="span4">
                <img class="event-image" src="[system-asset]${photo}[/system-asset]" alt="$name"/>
            </div>
        #end    
        <div class="span8">
            <p class="lead">
                <span class="venue-name"><strong>Venue: </strong>$venue</span> <br />
                <span class="show-time">
                    #if ($showDate != "")
                        <strong>Date: </strong>$_DateTool.format("EEEEEEEE, MMMMMMMMM d, yyyy", $showDate)<br />
                        <strong>Show: </strong>$_DateTool.format("h:mm a", $showDate) 
                        #if ($doorTime != "")    
                            <strong>Doors: </strong>$_DateTool.format("h:mm a", $doorTime) 
                        #end    
                    #end
                </span><br />
                <span class="ticket-info">
                    <strong>Ticket Price: </strong>$ticketPrice <br />
                    #if ($custTicketInfo != "<custTicketInfo />")
                        <span class="lead">$custTicketInfo</span>
                    #else
                        <p class="lead">Tickets are available at all GrizTix locations including Worden&#39;s Market, Southgate Mall, The Source in the University Center, MSO Hub, and the Adams Center Box Office. Also available by calling 243-4051, toll-free at 1-888-MONTANA or online at <a href="http://www.umt.edu/griztix/">Griztix.com</a>.</p>
                    #end    
                </span>
            
            </p>
    </div>        
    </div>
    #if ($content != "")
        <div class="row-fluid">
            $content
        </div>
    #end
    

## Format URL: http://cascade.umt.edu/entity/open.act?id=4a3d40e10a0a07cc1b9ec1c7afdfa96f&type=format&#highlight

## Audits
### 07-23-2014 20:49	tc222818	edit
### 07-23-2014 20:47	tc222818	startedit
### 07-23-2014 21:43	tc222818	startedit
### 07-23-2014 21:44	tc222818	edit
