#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure"))

#set ($offset = 0)
#set ($span = 0)
#set ($rows = "")

#set ($rows = $_XPathTool.selectNodes($pageStructure, "row"))

#foreach ($row in $rows)
    #set ($row_class = "")
    #set ($spans = "")
    #set ($spanSize = "")    
    
    #set ($row_class = $_SerializerTool.serialize($row.getChild("row_class"), true))
    #set ($spans = $_XPathTool.selectNodes($row , "span"))
    #set ($spanSize = $spans.size())
    
    #set ($simpleCheck = $_SerializerTool.serialize($spans.get(0).getChild("advanced").getChild("span"), true))
    #if ($simpleCheck == 0)
        #if ($row_class != "" && $row_class != "<row_class />")
            <div class="$row_class row-simple">
        #else
            <div class="row-fluid row-simple">
        #end    
    #else
        #if ($row_class != "" && $row_class != "<row_class />")
            <div class="$row_class">
        #else
            <div class="row-fluid">
        #end
    #end
    
    #foreach ($span in $spans)
        #set ($size = "")
        #set ($offset = "")
        #set ($content = "")
        #set ($class = "")
        #set ($above_block = "")
        #set ($below_block = "")
        
        #set ($size = $_SerializerTool.serialize($span.getChild("advanced").getChild("span"), true))
        
        #if ($simpleCheck == 0)
            #set ($mod = 12 % $spanSize)
            #set ($size = 12 / $spanSize)
            #if ($mod > 0)
                #if ($spanSize == 5 || $spanSize == 7)
                    #if ($foreach.count % 2 == 0)
                        #set ($size = $size + 1)
                    #end                
                #else
                    #if ($foreach.count == 1)
                        #set ($size = $mod + 1)
                    #else
                        #set ($size = 1)
                    #end
                #end
            #end
        #end
        
        #set ($offset = $_SerializerTool.serialize($span.getChild("advanced").getChild("offset"), true))
        #set ($content = $_SerializerTool.serialize($span.getChild("content"), true))
        #set ($class = $_SerializerTool.serialize($span.getChild("advanced").getChild("class"), true))
        #set ($above_block = $_SerializerTool.serialize($span.getChild("advanced").getChild("above_block").getChild("content"), true))
        #set ($below_block = $_SerializerTool.serialize($span.getChild("advanced").getChild("below_content").getChild("content"), true))
        
        

        #if ($offset == "0" && $size != "" && $size != "<span />")
            <div class="span$size">
        #elseif ($size != "" && $size != "<span />" && $simpleCheck == 0)
            <div class="span$size">
        #elseif ($size != "" && $size != "<span />")
            <div class="span$size offset$offset">
        #end
        
        #if ($class != "" && $class != "<class />")
            <div class="$class">
        #end
        
        #if ($above_block != "" && $above_block != "<content />")$above_block#end
        #if ($content!= "" && $content!= "<content />")$content#end
        #if ($below_block!= "" && $below_block!= "<content />")$below_block#end
        </div>
        
        #if ($class != "" && $class != "<class /> ")
            </div>
        #end
        
    #end
    </div>
#end

## Format URL: http://cascade.umt.edu/entity/open.act?id=11046c360a0a07cc7083ca270c9befb3&type=format&#highlight

## Audits
### 06-04-2013 21:07	kf139826e	create
