#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure") )

#set ($contents = $_XPathTool.selectNodes($pageStructure , "content") )

#if($contents.size() <= 1)
    <div class="dept_content" id="full_width_content">
    #set ($blocks = $_XPathTool.selectNodes($pageStructure, "block/block_item[location='Top Left']"))
    #if ($blocks != "")
        #foreach ($block in $blocks)
            #set ($block_content = "")
            #set ($block_content = $_SerializerTool.serialize($block.getChild("block_chooser").getChild("content"), true))
            #if($block_content != "")<div class="top_left">$block_content</div>#end
        #end
    #end
        #set ($content = $_SerializerTool.serialize($pageStructure.getChild("content"), true))
        $content
    #set ($blocks = "")
    #set ($blocks = $_XPathTool.selectNodes($pageStructure, "block/block_item[location='Bottom Left']"))
    #if ($blocks != "")
        #foreach ($block in $blocks)
            #set ($block_content = "")
            #set ($block_content = $_SerializerTool.serialize($block.getChild("block_chooser").getChild("content"), true))
            #if($block_content != "")<div class="bottom_left">$block_content</div>#end
        #end
    #end
    </div>
#end

#if($contents.size() == 2)
    #foreach ($content in $contents)
        #if ($foreach.count == 1)
            <div class="dept_content">
            #set ($blocks = $_XPathTool.selectNodes($pageStructure, "block/block_item[location='Top Left']"))
            #if ($blocks != "")
                #foreach ($block in $blocks)
                    #set ($block_content = "")
                    #set ($block_content = $_SerializerTool.serialize($block.getChild("block_chooser").getChild("content"), true))
                    #if($block_content != "")<div class="top_left">$block_content</div>#end
                #end
            #end
            #set ($content = $_SerializerTool.serialize($pageStructure.getChild("content"), true))
            $content
            
            #set ($blocks = "")
            #set ($blocks = $_XPathTool.selectNodes($pageStructure, "block/block_item[location='Bottom Left']"))
            #if ($blocks != "")
                #foreach ($block in $blocks)
                    #set ($block_content = "")
                    #set ($block_content = $_SerializerTool.serialize($block.getChild("block_chooser").getChild("content"), true))
                    #if($block_content != "")<div class="bottom_left">$block_content</div>#end
                #end
            #end
            </div>
        #end
        #if ($foreach.count == 2)
            <div class="dept_right">
                #set ($blocks = "")
                #set ($blocks = $_XPathTool.selectNodes($pageStructure, "block/block_item[location='Top Right']"))
                #if ($blocks != "")
                    #foreach ($block in $blocks)
                        #set ($block_content = "")
                        #set ($block_content = $_SerializerTool.serialize($block.getChild("block_chooser").getChild("content"), true))
                        #if($block_content != "")<div class="top_right">$block_content</div>#end
                    #end
                #end
                
                #set ($content = $_SerializerTool.serialize($content, true))
                $content
                
                #set ($blocks = "")
                #set ($blocks = $_XPathTool.selectNodes($pageStructure, "block/block_item[location='Bottom Right']"))
                #if ($blocks != "")
                    #foreach ($block in $blocks)
                        #set ($block_content = "")
                        #set ($block_content = $_SerializerTool.serialize($block.getChild("block_chooser").getChild("content"), true))
                        #if($block_content != "")<div class="bottom_right">$block_content</div>#end
                    #end
                #end
            </div>
        #end
    #end
#end

## Format URL: http://cascade.umt.edu/entity/open.act?id=3ca805e90a0a07cc628b416387392e8e&type=format&#highlight

## Audits
### 05-11-2012 17:03	ws132567	startedit
### 05-11-2012 17:06	ws132567	edit
### 05-11-2012 17:08	ws132567	edit
### 05-11-2012 17:06	ws132567	startedit
### 05-11-2012 17:12	ws132567	startedit
### 05-11-2012 17:13	ws132567	edit
### 05-11-2012 17:14	ws132567	edit
### 05-11-2012 17:13	ws132567	startedit
### 05-11-2012 17:14	ws132567	startedit
### 05-11-2012 17:15	ws132567	edit
