#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block"))
#set ($pages = $_XPathTool.selectNodes($pageStructure, "system-page"))

$_SortTool.addSortCriterion("name", "", "text", "ascending", "lower-first")
$_SortTool.sort($pages) 

<div class="directory_list">
<table>
<thead>
<tr>
<th width="40%">Name</th>
<th width="20%">Phone</th>
<th width="20%">Email</th>
<th width="20%">Office</th>
</tr>
</thead>
<tbody>
#foreach($page in $pages)
    #set ($image = "")
    #set ($title = "")
    #set ($phone = "")
    #set ($email = "")
    #set ($office = "")
    #set ($firstName = "")
    #set ($lastName = "")
    #set ($metadata = "")
    #set ($profile = "")
    #set ($path = "")
    #set ($photo = "")
    #set ($type = "")
    #set ($active = "")
    #set ($clinic = "")
    
    #set ($metadata = $_XPathTool.selectNodes($page, "dynamic-metadata"))
    #foreach ($data in $metadata)
        #set ($name = "")
        #set ($name = $_SerializerTool.serialize($data.getChild("name"), true))
        #if ($name == "first-name")
            #set ($firstName = $_SerializerTool.serialize($data.getChild("value"), true))
        #elseif($name == "last-name")
            #set ($lastName = $_SerializerTool.serialize($data.getChild("value"), true))
        #elseif($name == "type")
            #set ($type = $_SerializerTool.serialize($data.getChild("value"), true))
        #elseif ($name == "active")
            #set ($active = $_SerializerTool.serialize($data.getChild("value"), true))
        #end
    #end
    
    #set ($path = $_SerializerTool.serialize($page.getChild("path"), true))
    #set ($profile = $_XPathTool.selectSingleNode($page, "system-data-structure"))
    #set ($photo = $_SerializerTool.serialize($profile.getChild("image").getChild("profile-thumbnail").getChild("path"), true))
    #set ($clinic = $_SerializerTool.serialize($profile.getChild("clinic").getChild("value"), true))
    #set ($title = $_SerializerTool.serialize($profile.getChild("contact").getChild("title"), true))
    #set ($phone = $_SerializerTool.serialize($profile.getChild("contact").getChild("phone"), true))
    #set ($email = $_SerializerTool.serialize($profile.getChild("contact").getChild("email"), true))
    #set ($office = $_SerializerTool.serialize($profile.getChild("contact").getChild("office"), true))
    
    #if ($firstName != "" && $active == "Yes" && $clinic == "Yes")
        #if ($firstName != "" && $lastName != "")
        <tr>
            <td><a class="largetitle" href="$path">$firstName $lastName</a><br/>#if ($title != "<title />")$title#end</td>
            <td>#if ($phone != "<phone />")$phone#end</td>
            <td>#if ($email != "<email />")<a href="mailto:$email">$email</a>#end</td>
            <td>#if ($office != "<office />")$office#end</td>
        </tr>
        #end
    #end
#end
</tbody>
</table>
</div>

## Format URL: http://cascade.umt.edu/entity/open.act?id=2951f6960a0a07cc628b41637c9d3d11&type=format&#highlight

## Audits
### 08-10-2012 16:06	kf139826e	edit
### 08-10-2012 16:03	kf139826e	startedit
### 08-10-2012 16:07	kf139826e	startedit
### 08-10-2012 16:07	kf139826e	edit
### 08-10-2012 16:07	kf139826e	startedit
### 08-10-2012 16:07	kf139826e	edit
### 08-10-2012 16:07	kf139826e	activate_version
### 08-10-2012 16:08	kf139826e	startedit
### 08-10-2012 16:10	kf139826e	edit
### 08-13-2012 14:42	ws132567	startedit
