#set ( $pageData = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block/calling-page/system-page") )
#set ( $pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block"))

#set ($currentPage = $_SerializerTool.serialize($pageData.getChild("path"), true))
#set ($courseList = $_XPathTool.selectNodes($pageStructure, "system-page"))
#set ($courses = [])

#foreach ($course in $courseList)
    #set ($instructors = "")
    #set ($instructors = $_XPathTool.selectNodes($course.getChild("system-data-structure").getChild("instructors"), "instructor"))
    #foreach ($instructor in $instructors)
        #set ($path = "")
        #set ($path = $_SerializerTool.serialize($instructor.getChild("path"), true))
        #if ($currentPage == $path)
             #set ($courseAdd = $courses.add($course))
        #end
    #end
#end

#if ($courses.size() > 0)
    <div class="courses">
        <h3>Current Courses</h3>
        <ul>
        #foreach ($course in $courses)
            #set ($link = "")
            #set ($name = "")
            #set ($link = $_SerializerTool.serialize($course.getChild("path"), true))
            #set ($name = $_SerializerTool.serialize($course.getChild("system-data-structure").getChild("course").getChild("title"), true))
            #if ($link != "" && $name != "")
                <li><a href="$link">$name</a></li>
            #end
        #end
        </ul>
    </div>
#end

## Format URL: http://cascade.umt.edu/entity/open.act?id=2952be530a0a07cc628b4163175416d3&type=format&#highlight

## Audits
### 06-26-2012 15:04	ws132567	startedit
### 06-26-2012 15:04	ws132567	edit
### 06-26-2012 15:04	ws132567	copy
### 07-19-2012 21:53	kf139826e	startedit
### 07-19-2012 21:53	kf139826e	edit
### 01-31-2014 16:47	kf139826e	edit
### 01-31-2014 16:45	kf139826e	startedit
