#set ( $currentFolder = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block//system-folder[@current]") )


#set ( $currentDateNode = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block/@current-time") )
#set ( $currentDate = $_DateTool.getDate($currentDateNode.value ))

#set ( $originalDate = $_DateTool.toDate('y-M-d H:m:s', "1970-01-01 00:00:01"))
#set ( $currentDateXPath = $_DateTool.difference($originalDate, $currentDate).milliseconds)
#set ( $daysToShow  = 30)
#set ( $firstDateXPath = $currentDateXPath - ($daysToShow * 86400000))

#set ( $newsArticles = $_XPathTool.selectNodes($contentRoot, "/system-index-block//system-page[name!= 'default' and name !='archive'][system-data-structure[@definition-path = 'announcement']]"))
  
$_SortTool.addSortCriterion("system-data-structure/breakingnews", "", "text", "descending", "upper-first")  
$_SortTool.addSortCriterion("created-on", "", "text", "descending", "upper-first")  
$_SortTool.sort($newsArticles) 

#set ($category = "")
#set ($category = $currentFolder.getChild("title").text)
<div class='announcements_header'>
<a href='http://feeds.feedburner.com/umitannouncements' class='rss'><img src="[system-asset:id=dd5ae1b20a0a0468018f930f40214801]/imx/rssicon.gif[/system-asset]" alt="RSS"/></a>
<h1>Announcements</h1>#if ($category != "") <h3>$category</h3> #end 
</div>
<div class="main_content">
<ul class='current_news'>
    #foreach ($newsArticle in $newsArticles)
        #set ($startDate = "")
        #set ($title = "")
        #set ($path = "")
        #set ($content = "")
        #set ($breakingnews = "")
        
        #set ($startDate = $_DateTool.getDate($newsArticle.getChild("created-on").value ))
        #set ($title = $newsArticle.getChild("title").text)
        #set ($path = $newsArticle.getChild('path').text)
        #set ($content = $newsArticle.getChild("system-data-structure").getChild("content"))
        #set ($breakingnews = $newsArticle.getChild("system-data-structure").getChild("breakingnews").text )
        
        <li #if ($breakingnews == "Yes") class='breaking' #end >
            <strong><a href="$path" class="annoucement_title">$title</a></strong>
            <span class='date'>$_DateTool.format('medium', $startDate)</span>
            <p>$_SerializerTool.serialize($content, true)</p>
        </li>
    #end
</ul>
<p>Please contact <strong><a href="mailto:itcentral@umontana.edu">itcentral@umontana.edu</a></strong> or call 406-243-4357 with any questions or comments.</p>
</div>

## Format URL: http://cascade.umt.edu/entity/open.act?id=fca3c6080a0a046801a0e4efe9f4d8b9&type=format&#highlight

## Audits
### 08-26-2011 14:23	ns159438e	edit
### 08-26-2011 14:22	ns159438e	startedit
### 01-28-2012 19:18	kf139826e	startedit
### 01-28-2012 19:18	kf139826e	edit
### 01-28-2012 19:18	kf139826e	edit
### 01-28-2012 19:18	kf139826e	startedit
### 06-16-2014 15:55	kf139826e	copy
### 08-07-2014 20:36	ns159438e	move
### 08-24-2011 16:33	kf139826e	move
### 08-24-2011 16:34	kf139826e	move
