#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure") )
##
#set ($title = "")
#set ($sections = "")
##
#set ($title = $_SerializerTool.serialize($pageStructure.getChild('title'), true))
#set ($sections = $_XPathTool.selectNodes($pageStructure, "section"))
##
<div class="web_cert">
    <h2>$title</h2>
    <div class="guidelines cycle_show">
    #foreach($section in $sections)
        #set($title = "") 
        #set($content = "")
        #set($title = $_SerializerTool.serialize($section.getChild('title'), true))
        #set($content = $_SerializerTool.serialize($section.getChild('content'), true))
        <div class='slide'>
            <h3>$title</h3>
            <div>$content</div>
        </div>
    #end
    </div>
</div>


## Format URL: http://cascade.umt.edu/entity/open.act?id=3e76d2be0a0a07cc721708f9d6a422ca&type=format&#highlight

## Audits
### 11-26-2012 20:44	ns159438e	edit
### 11-26-2012 20:44	ns159438e	startedit
