#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block") )
#set ($slides = $_XPathTool.selectNodes($pageStructure, "system-file"))

<div class="slideshow_frame">
    <div class="cycle_show">
    
        #foreach ($slide in $slides)
            #set ($image = "")
            #set ($title = "")
            #set ($caption = "")
            #set ($image = $_SerializerTool.serialize($slide.getChild("path"), true))
            #set ($title = $_SerializerTool.serialize($slide.getChild("name"), true))
            #set ($caption = $_SerializerTool.serialize($slide.getChild("display-name"), true))
            <img src="$image" alt="$caption" />        
        #end    
    </div>
    <a id="prev2" href="#">Prev</a> <p class="slide_caption"></p> <a id="next2" href="#">Next</a>
</div>

<script>
    require(["cycle"],function(cycle){
        $(function(){
            $('.cycle_show').cycle({ 
                fx:      'fade', 
                speed:    1000, 
                timeout:  6000,
                next: '#next2',
                prev: '#prev2',
                before: function(curr, next, opts){
                    $('.slide_caption').fadeOut('fast');
                },
                after: function(curr,next,opts){
                    var slideCaption = this.alt;
                    $('.slide_caption')
                        .fadeIn(1000)
                        .html(slideCaption);    
                }
            });
        });
    })
</script>

## Format URL: http://cascade.umt.edu/entity/open.act?id=d8aa0f0e0a0a046801874ef49ad181fc&type=format&#highlight

## Audits
### 01-28-2012 19:27	es165908e	edit
### 01-28-2012 19:27	es165908e	startedit
### 03-07-2013 17:26	ws132567	startedit
### 03-07-2013 17:26	ws132567	edit
### 08-01-2011 15:23	ws132567	copy
### 03-21-2011 13:45	ws132567	create
### 03-21-2011 13:47	ws132567	edit
### 03-21-2011 13:47	ws132567	startedit
### 03-21-2011 13:54	ws132567	startedit
### 03-21-2011 13:56	ws132567	edit
