#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure"))
#set ($profiles = $_XPathTool.selectNodes($contentRoot, "/system-data-structure/profiles/profile"))

#set ($above_content = $_SerializerTool.serialize($pageStructure.getChild("above_content"), true))
#set ($below_content = $_SerializerTool.serialize($pageStructure.getChild("below_content"), true))

#set ($pageSetup = $_XPathTool.selectNodes($pageStructure, "pageSetup"))
#set ($sectionWidth = "")
#set ($sectionWidth = $_XPathTool.selectSingleNode($pageSetup, "sectionWidth").text)

<div class="page-content $sectionWidth">
    #set ($pageHeading = $_SerializerTool.serialize($pageStructure.getChild("page_heading"), true))
    #set ($pageHeading = "")
    #set ($pageHeading = $pageStructure.getChild("page_heading").text)
    #if ($pageHeading != "")
        <div class="row-fluid span12 pageHeading">
            <h2>$pageHeading</h2>
        </div>
    #end

    #if ($above_content != "<above_content />")
        <div class="row-fluid above_profiles">
            $above_content
        </div>
    #end

    <div style="clear:both;"></div>

    #set ($profile_count = $profiles.size())
    #if ($profile_count > 0)
        #foreach($profile in $profiles)
            
            #set ($bio = "")
            #set ($email = "")
            #set ($image = "")
            #set ($first_name = "")
            #set ($last_name = "")
            #set ($title_dept = "")
            #set ($link = "")
            #set ($extLink = "")
            #set ($infoWidth = "col-sm-12")
                
            #set ($first_name = $_SerializerTool.serialize($profile.getChild("first_name"), true))
            #set ($last_name = $_SerializerTool.serialize($profile.getChild("last_name"), true))
            #set ($title_dept = $_SerializerTool.serialize($profile.getChild("title_dept"), true))
            #set ($email = $_SerializerTool.serialize($profile.getChild("email"), true)) 
            #set ($bio = $_SerializerTool.serialize($profile.getChild("bio_text"), true))
            #set ($lines = $_XPathTool.selectNodes($profile, "line"))
            #set ($line_check = $_SerializerTool.serialize($profile.getChild("line"), true))
            #set ($link = $profile.getChild("link").getChild("path").text)
            #set ($extLink = $profile.getChild("extLink").text)
            

            #set ($image = $_SerializerTool.serialize($profile.getChild("profile_photo").getChild("path"), true))
            <div class="row-fluid profile">
                <div class="row-fluid profile-details">
                    #if ($image != "/")
                        <div class="col-xs-12 col-sm-3 profile_photo">
                            <img src="[system-asset]${image}[/system-asset]" alt="$first_name $last_name" />
                        </div>
                        #set ($infoWidth = "col-xs-12 col-sm-9")
                    #end 
                    
                    <div class="$infoWidth profile_info">
                        #if ($title_dept != "" && $link == "/" && $extLink == "")
                            <h2>$first_name $last_name - $title_dept</h2>
                        #elseif ($title_dept != "" && $link != "/" && $extLink == "")
                            <a href="$link"><h2>$first_name $last_name - $title_dept</h2></a>
                        #elseif ($title_dept != "" && $link == "/" && $extLink != "")
                            <a href="$extLink" target="_blank"><h3>$first_name $last_name - $title_dept</h3></a>
                        #elseif ($title_dept == "" && $link != "/" && $extLink == "")    
                            <a href="$link"><h2>$first_name $last_name</h2></a>
                        #elseif ($title_dept == "" && $link == "/" && $extLink != "")    
                            <a href="$extLink" target="_blank"><h3>$first_name $last_name</h3></a>
                        #else
                            <h2>$first_name $last_name</h2>
                        #end
                            
                                    
                            #foreach ($line in $lines)
                                #set ($content = "")
                                #set ($content = $_SerializerTool.serialize($line, true))
                                #if($content != "")
                                    <p>$content</p>
                                #end
                            #end
                            #if ($email != "")
                                <p>Email: <a href="mailto:$email">$email</a></p>
                            #end                   
                        
                    </div>
                </div> ##profile-details     
                
                #if ($bio != "<bio_text />")    
                    <div class="row-fluid profile_bio">
                        $bio
                    </div>
                #end 
                
                
                <div class="profile_hr">
                    <hr/>
                </div>
                           
            </div> ##profile
            
            
                
        #end
    #end

    <div style="clear:both;"></div>

    #if ($below_content != "<below_content />")
        <div class="row-fluid span12 below_profiles">
            $below_content
        </div>
    #end
</div>    

## Format URL: http://cascade.umt.edu/entity/open.act?id=18c97dcc0a0a07cc3260cf1e2959f683&type=format&#highlight

## Audits
### 08-10-2015 18:05	tc222818	move
### 08-10-2015 18:08	tc222818	edit
### 08-10-2015 18:05	tc222818	startedit
### 08-10-2015 18:11	tc222818	startedit
### 08-10-2015 18:20	tc222818	edit
### 08-10-2015 18:20	tc222818	startedit
### 08-10-2015 18:22	tc222818	edit
