#set($apiUrl = $_XPathTool.selectSingleNode($contentRoot, '//apiUrl'))  

<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<script src="$apiUrl.value/scripts/vendor.js"></script>
<script>
    angular.module('fzMenuApiURL',[]).constant('apiUrl', '$apiUrl.value');
</script>
<script src="$apiUrl.value/scripts/scripts.js"></script>

<link rel="stylesheet" href="$apiUrl.value/css/vendor.css" />
<link rel="stylesheet" href="$apiUrl.value/css/base.css" />

<link href="//code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css" rel="stylesheet" />

<link href="//maxcdn.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet" />

## Format URL: http://cascade.umt.edu/entity/open.act?id=cbaa40de0a0a2873114b54b66859106f&type=format&#highlight

## Audits
