#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure") )
#set ($label = $_SerializerTool.serialize($pageStructure.getChild("label"), true))
#set ($title = $_SerializerTool.serialize($pageStructure.getChild("title"), true))
#set ($lines = $_XPathTool.selectNodes($pageStructure, "line"))
#set ($line_check = $_SerializerTool.serialize($pageStructure.getChild("line"), true))
#set ($email = $_SerializerTool.serialize($pageStructure.getChild("email"), true))
#set ($tinymce_check = $title + $email + $line_check)
<div class="site_contact_wrap">
    #if ($label != "")
        <h2 class="contact_label">$label</h2>
    #end
    #if ($title != "")
        <p class="contact_title">$title</p>
    #end
    #foreach ($line in $lines)
        #set ($content = "")
        #set ($content = $_SerializerTool.serialize($line, true))
        #if($content != "")
            <p>$content</p>
        #end
    #end
    #if($email != "")
        <p class="contact_email"><a href="mailto:$email">$email</a></p>
    #end
    
    #if ($tinymce_check == "")
        #set ($tinymce = $_SerializerTool.serialize($pageStructure.getChild("advanced").getChild("tinymce"), true))
        #if($tinymce != "<tinymce />")
            $tinymce
        #end
    #end
</div>

## Format URL: http://cascade.umt.edu/entity/open.act?id=a6cdac9b0a0a07cc2ad965ea4fafc301&type=format&#highlight

## Audits
