#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block"))
#set ($pages = $_XPathTool.selectNodes($pageStructure, "system-page"))

<div class="link_archive_gallery">
#foreach ($page in $pages)
    #set ($innerStructure = "")
    #set ($title = "")
    #set ($link = "")
    #set ($color = "")
    #set ($image = "")
    #set ($imageCheck = "")
    #set ($content = "")
    #set ($active = "")

    #set ($innerStructure = $_XPathTool.selectSingleNode($page, "system-data-structure"))
    #set ($title = $_SerializerTool.serialize($innerStructure.getChild("title"), true))
    #set ($link = $_SerializerTool.serialize($innerStructure.getChild("link"), true))
    #set ($color = $_SerializerTool.serialize($innerStructure.getChild("color"), true))
    #set ($image = $_SerializerTool.serialize($innerStructure.getChild("image").getChild("link"), true))
    #set ($imageCheck = $_SerializerTool.serialize($innerStructure.getChild("image").getChild("path"), true))
    #set ($content = $_SerializerTool.serialize($innerStructure.getChild("content"), true))
    #set ($active = $_SerializerTool.serialize($innerStructure.getChild("active").getChild("value"), true))
    
    <div class="row-fluid featured_link feature_title">
    
    #if ($link != "" && $link != "/")
        <a href="$link">
    #end
    #if (($color != "" && $color != "<color />") && ($imageCheck == "/") )
        <span style="background-color:$color;" class="feature_title">
    #else
        <span class="feature_title">
    #end
       
    #if ($imageCheck == "" || $imageCheck == "/" )
        <h3>$title</h3>
    #else
        <img src="$image" alt="$title" />
    #end   
    </span>
    #if ($link != "" && $link != "/")
        </a>
    #end
    
    #if ($content != "" && $content != "<content />")
        <div class="span5">
                $content
            </div>
    #end

    
    </div>
#end
</div><!--end link_archive_gallery-->

## Format URL: http://cascade.umt.edu/entity/open.act?id=434946500a0a07cc3260cf1e56725da8&type=format&#highlight

## Audits
