#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block"))
#set ($pages = $_XPathTool.selectNodes($pageStructure, "system-page"))

#foreach ($page in $pages)
    #set ($innerStructure = "")
    #set ($title = "")
    #set ($link = "")
    #set ($color = "")
    #set ($image = "")
    #set ($imageCheck = "")
    #set ($content = "")
    #set ($active = "")

    #set ($innerStructure = $_XPathTool.selectSingleNode($page, "system-data-structure"))
    #set ($title = $_SerializerTool.serialize($innerStructure.getChild("title"), true))
    #set ($link = $_SerializerTool.serialize($innerStructure.getChild("link"), true))
    #set ($color = $_SerializerTool.serialize($innerStructure.getChild("color"), true))
    #set ($image = $_SerializerTool.serialize($innerStructure.getChild("image").getChild("link"), true))
    #set ($imageCheck = $_SerializerTool.serialize($innerStructure.getChild("image").getChild("path"), true))
    #set ($content = $_SerializerTool.serialize($innerStructure.getChild("content"), true))
    #set ($active = $_SerializerTool.serialize($innerStructure.getChild("active").getChild("value"), true))
    
    #if ($active == "Yes")
        <div class="featured_link">
     
        #if (($color != "" && $color != "<color />") && ($imageCheck == "/") )
            <span class="feature_title" style="background-color:$color;">
        #else
            <span class="feature_title">
        #end
        
        #if ($link != "" && $link != "/")
            <a href="$link">
        #end
        
        #if ($imageCheck == "" || $imageCheck == "/" )
            <h3>$title</h3>
        #else
            <img src="$image" alt="$title" />
        #end
        
        #if ($link != "" && $link != "/")
            </a>
        #end
        </span>
        #if ($content != "" && $content != "<content />")
           <div class="feature_content"> $content</div>
        #end
        </div>
    #end
#end

## Format URL: http://cascade.umt.edu/entity/open.act?id=434946a60a0a07cc3260cf1e5967668e&type=format&#highlight

## Audits
