<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js" type="text/javascript" ></script>
<script type="text/javascript" src="http://www.umt.edu/_plugins/cycle_slideshow/assets/jquery.cycle.min.js"></script>

#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure"))
#set ($slides= $_XPathTool.selectNodes($pageStructure, "header_img"))

<div id="header">
<h1 class="hidden">Creative Pulse</h1>
    <ul id="slides">
    #foreach ($slide in $slides)
        #set ($image = $_SerializerTool.serialize($slide.getChild("image").getChild("path"), true))
        
            #if ($image != "/")
                <li><img src="[system-asset]${image}[/system-asset]" alt="Creative Pulse"/></li>        
            #end
            
    #end
    </ul>
</div><!--end header-->


#if ($slides.size() > 1)
<script type="text/javascript">
jQuery(document).ready(function($) {
    jQuery('#slides').cycle({
        height: '201px ',
        width: '916px',
        fit: 1,
        speed:    1500, 
        timeout:  12000,
         fx:  'fade',        
   
    });
});
</script>
#end

## Format URL: http://cascade.umt.edu/entity/open.act?id=390b82500a0a07cc22b7be2adeee6343&type=format&#highlight

## Audits
### 07-23-2013 17:45	kf139826e	edit
### 07-23-2013 17:45	kf139826e	startedit
### 04-23-2013 22:39	kp128580	edit
### 04-23-2013 22:37	kp128580	startedit
### 04-25-2013 19:04	kp128580	startedit
### 04-25-2013 19:06	kp128580	edit
### 04-25-2013 19:55	kp128580	startedit
### 04-25-2013 19:56	kp128580	edit
### 04-29-2013 16:23	kp128580	startedit
### 04-29-2013 16:23	kp128580	edit
