#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure"))

#set ($offset = 0)
#set ($span = 0)
#set ($text = "")
#set ($title = "")
#set ($style = "")

        <div>
            #if ($wrapping_class != "")
    <div class="$wrapping_class">
        #end
            #set ($rows = $_XPathTool.selectNodes($pageStructure, "row"))
            #foreach ($row in $rows)
            #set ($wrapper_class = $_SerializerTool.serialize($row.getChild("wrapper"), true))
            #if ($wrapper_class != "" && $wrapper_class != "
            <wrapper />
            ")
            <div class="$wrapper_class">
                #else
                <div class="row-fluid">
                    #end
                    #set ($spans = $_XPathTool.selectNodes($row , "span"))
                    #foreach ($span in $spans)
                    #set ($size = "")
                    #set ($offset = "")
                    #set ($content = "")
                    #set ($class = "")
                    #set ($above_block = "")
                    #set ($below_block = "")

                    #set ($size = $_SerializerTool.serialize($span.getChild("span"), true))
                    #set ($offset = $_SerializerTool.serialize($span.getChild("offset"), true))
                    #set ($content = $_SerializerTool.serialize($span.getChild("content"), true))
                    #set ($class = $_SerializerTool.serialize($span.getChild("class"), true))
                    #set ($above_block = $_SerializerTool.serialize($span.getChild("advanced").getChild("above_block").getChild("content"), true))
                    #set ($below_block = $_SerializerTool.serialize($span.getChild("advanced").getChild("below_content").getChild("content"), true))
                    #if ($offset == "0")
                    <div class="span$size landing-box">
                        #else
                        <div class="span$size offset$offset landing-box">
                            #end
                            #if ($class != "" && $class != "
                            <class />
                            ")
                            <div class="$class">
                                #end
                                $above_block
                                $content
                                $below_block
                            </div>
                            #if ($class != "" && $class != "
                            <class />
                            ")
                        </div>
                        #end
                        #end
                    </div>
                    #end
                </div>
                #if ($wrapping_class != "")
            </div>
            #end

## Format URL: http://cascade.umt.edu/entity/open.act?id=5d1349630a0a07cc22b7be2a59b2427c&type=format&#highlight

## Audits
### 05-30-2013 21:51	kp128580	edit
### 05-30-2013 21:49	kp128580	startedit
