#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block"))
#set ($callingPage = $_XPathTool.selectSingleNode($pageStructure, "calling-page/system-page"))
#set ($callingPageName = $_SerializerTool.serialize($callingPage.getChild("display-name"), true))
#set ($callingPageTitle = $_SerializerTool.serialize($callingPage.getChild("title"), true))
#set ($courses = $_XPathTool.selectNodes($pageStructure, "system-page[name!='default']"))

<h2>$callingPageName Courses</h2>
<p>Filter by: <a href="/courses/default">Default</a> - <a href="/Courses/types/default">Term/Type</a> - <a href="/Courses/programs/default">Program</a></p>
#set ($count=0)
<ul>
    #foreach ($course in $courses)
        #set ($innerStructure = $_XPathTool.selectSingleNode($course, "system-data-structure/course"))
        #set ($courseTypes = $_XPathTool.selectNodes($innerStructure, "programs/value"))
        #foreach ($courseType in $courseTypes)
            #set ($type =  $_SerializerTool.serialize($courseType, true))
            #if ($type== $callingPageName)
                #set ($title = "")
                #set ($number = "")
                #set ($path = "")
                #set ($count = $count +1)
                #set ($title = $_SerializerTool.serialize($innerStructure.getChild("title"), true))
                #set ($number = $_SerializerTool.serialize($innerStructure.getChild("number"), true))
                #set ($path = $_SerializerTool.serialize($course.getChild("path"), true))
                #set ($active = $innerStructure.getChild("active").value)
                #if ($active != "No")
                    <li><a href="$path">$number - $title</a></li>
                #end
            #end
        #end
    #end
</ul>
#if ($count == 0)
    <p>There are no $callingPageName courses listed at this time.</p>
#end
<p>Filter by: <a href="/courses/default">Default</a> - <a href="/Courses/types/default">Term/Type</a> - <a href="/Courses/programs/default">Program</a></p>

## Format URL: http://cascade.umt.edu/entity/open.act?id=62a3ceb50a0a07cc79dd8f74ec8647bb&type=format&#highlight

## Audits
### 11-07-2013 22:37	pe205482	startedit
### 11-07-2013 22:38	pe205482	edit
### 11-07-2013 22:39	pe205482	edit
### 11-07-2013 22:38	pe205482	startedit
### 06-20-2013 17:31	kp128580	startedit
### 06-20-2013 17:33	kp128580	edit
### 10-26-2013 20:34	pe205482	edit
### 10-26-2013 20:34	pe205482	startedit
### 10-26-2013 20:41	pe205482	edit
### 10-26-2013 20:40	pe205482	startedit
