#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block"))
#set ($content = $_SerializerTool.serialize($pageStructure.getChild("calling-page").getChild("system-page").getChild("page-xhtml"), true))
#set ($slides = $_XPathTool.selectNodes($pageStructure, "system-file"))
#set ($count = 0)
<h1>Recent News and Events</h1>
<div id="slideshow">
    #foreach ($slide in $slides)
        #set ($path = $slide.getChild("path").value)
        #set ($count = $count + 1)
        <div>
            <img src="$path" alt="Slide $count" />
        </div>
    #end
</div>
$content

## Format URL: http://cascade.umt.edu/entity/open.act?id=91025f6d0a0a07cc138c3c8f93422add&type=format&#highlight

## Audits
### 11-25-2013 20:45	pe205482	edit
### 11-25-2013 20:45	pe205482	startedit
### 11-25-2013 20:57	pe205482	edit
### 11-25-2013 20:55	pe205482	startedit
### 11-25-2013 21:03	pe205482	edit
### 11-25-2013 21:03	pe205482	startedit
### 11-25-2013 21:04	pe205482	startedit
### 11-25-2013 21:04	pe205482	edit
