#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block"))
##
#set($items = $_XPathTool.selectNodes($pageStructure, "//system-page[system-data-structure[@definition-path='Feature Image']]"))
##
#set($item = $items.get(0))
#set($image = "")
#set($title = "")
#set($alt_text = "")
#set($photo_byline = "")
#set($link_text = "")
#set($link_url ="")
##
#set($image = $_SerializerTool.serialize($item.getChild("system-data-structure").getChild("photo").getChild("path"), true))
#set($title = $_SerializerTool.serialize($item.getChild("system-data-structure").getChild("title"), true))
#set($alt_text = $_SerializerTool.serialize($item.getChild("system-data-structure").getChild("alt_text"), true))
#set($photo_byline = $_SerializerTool.serialize($item.getChild("system-data-structure").getChild("photo_byline"), true))
#set($link_text = $_SerializerTool.serialize($item.getChild("system-data-structure").getChild("link_text"), true))
#set($link_url = $_SerializerTool.serialize($item.getChild("system-data-structure").getChild("link_url"), true))
##
  <div class="row-fluid featured_image overlay dark">
  <img alt="$alt_text" src="$image" />
  <div class="block library hidden-phone">
    <p style="text-align:right;" class="small">
    <strong>$title</strong> <br />
    $photo_byline<br />
    <a target="_blank" href="$link_url">$link_text</a></p>
  </div>
 
    <!-- Begin Search Box -->
      <div class="um-lib-search">
        <!-- <h2 class="search-title-everything hidden-desktop hidden-tablet">Search Library Resources</h2> -->
        <form class="fm-search-tabs articles" id="search-resource-selection" method="post" action="http://www.lib.umt.edu/local/includes/search-router-primo.php">
          <input class="libsearch" type="text" size="40" name="q" value="Search Library Resources..."/>
          <select name="service" style="width: 150px; float: right; position: relative; bottom: 30px; z-index: 999;">
            <option value="everything">Search in</option>
            <option value="everything">All Resources</option>
            <option value="catalog">Catalog</option>
            <option value="journal">Journal Titles</option>
            <option value="website">Library Website</option>
          </select>
          <input type="submit" value="Search" class="btn btn-danger" style="float: left;" />
        </form>
        <div class="advanced-search-links small">
          <ul class="nav nav-tabs">
            <li class="separator"><a href="research/advanced-search">Advanced Search</a></li>
            <li><a href="/research/search-help">Search Help</a></li>
          </ul>
        </div>
      </div>
      
      <script type="text/javascript">
    require(["jquery","searchreset"],function(jQuery){
        jQuery(document).ready(function($){
            $('.libsearch').searchreset();
        });
    });
</script>
    <!-- End Search Box -->
  </div>
  #set($links = $_XPathTool.selectNodes($pageStructure, "//system-page/system-data-structure[@definition-path='icon-links']/link"))
##
  <div class="my-umt-edu row-fluid">
    <div class="span12 landing-box">
      <div class="icons">
        <h2 class="access_hidden">Quick access links</h2>
        <ul aria-label="Student Services" class="fade-in" role="navigation">
            #foreach($link in $links)
                #set($link_url = "")
                #set($class = "")
                #set($title = "")
                #set($external_link = "")
                #set($internal_link = "")
                ##
                #set($title = $_SerializerTool.serialize($link.getChild("title"), true))
                #set($external_link = $_SerializerTool.serialize($link.getChild("link"), true))
                #set($internal_link = $link.getChild("internal_link").getChild("path").value)
                #if($link.getChild("class").value != "")
                    #set($class = $_SerializerTool.serialize($link.getChild("class"), true))
                #end
                ##
                #if($internal_link == "/" && $link.getChild("link").value != "") 
                    #set($link_url = $external_link)
                #elseif($internal_link != "/")
                    #set($link_url = $internal_link)
                #end
                #if($link_url != "")
                    <li class=""><a href="$link_url">$title</a></li>
                #else
                [system-view:internal]
                    <li class="$class"><a href="$link_url">$title</a> No URL - Will not publish</li>
                [/system-view:internal]
                #end
            #end          
        </ul>
      </div>
    </div>
  </div>
  


## Format URL: http://cascade.umt.edu/entity/open.act?id=68e9313f0a0a07cc133a5f6ace50b9a7&type=format&#highlight

## Audits
### 12-02-2014 23:43	jg167024e	edit
### 12-02-2014 23:41	jg167024e	startedit
### 01-06-2014 18:57	ns159438e	edit
### 01-06-2014 18:56	ns159438e	startedit
### 01-06-2014 18:57	ns159438e	startedit
### 01-06-2014 18:58	ns159438e	edit
### 01-06-2014 18:58	ns159438e	edit
### 01-06-2014 18:58	ns159438e	startedit
### 01-06-2014 20:13	ns159438e	edit
### 01-06-2014 20:11	ns159438e	startedit
