## Reference to the 'item' nodes
#set ( $items = $_XPathTool.selectNodes($contentRoot, "/system-data-structure/item[internal[path!='/'] or external[path!='/'] or (custom!='' and title!='')]") )

## Check size of list
#if ( $items.size() > 0 )

<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="nav-collapse collapse">
                <ul class="nav">
            ## Loop items
            #foreach ( $i in $items )
                    #set ( $internal = $i.getChild("internal") )
                    #set ( $external = $i.getChild("external") )
                    #set ( $custom   = $i.getChild("custom") )
                    #set ( $title    = $i.getChild("title") )
                    #set ( $icon     = $i.getChild("icon-class") )
                    
                    ## Determine link/title to use
                    #if ( $internal.getChild("path").value != "/" )
                        #set ( $iLink  = $internal.getChild("link").value )
                        #set ( $iTitle = $internal.getChild("title") )
                    #elseif ( $external.getChild("path").value != "/" )
                        #set ( $iLink  = $external.getChild("link").value )
                        #set ( $iTitle = $external.getChild("title") )
                    #elseif ( $custom.value != "" )
                        #set ( $iLink  = $_EscapeTool.xml($custom.value) )
                    #else
                        ## Do nothing. No link was chosen.
                    #end
                    
                    ## Be sure of title to use
                    #if ( $title.value != "" )
                        #set ( $theTitle = $_EscapeTool.xml($title.value) )
                    #else
                        #set ( $theTitle = $_EscapeTool.xml($iTitle.value) )
                    #end
                    
                    ## Should we add an icon?
                    #if ( $icon.value != "" )
                        #set ( $theIcon = $_EscapeTool.xml($icon.value) )
                        <li><a href="${iLink}" title="${theTitle}"><i class="${theIcon}">&#160;</i> ${theTitle}</a></li>
                    #else
                        <li><a href="${iLink}" title="${theTitle}">${theTitle}</a></li>
                    #end
                #end
                </ul>
            </div>
        </div>
    </div>
</div>

#end


## Format URL: http://cascade.umt.edu/entity/open.act?id=7f10ae350a0a07cc545fdb451f3db186&type=format&#highlight

## Audits
### 07-26-2017 13:23	mh129234e	create
