#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block"))
#set ($callingPage = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block/calling-page/system-page/name").value)
#set ($pages = $_XPathTool.selectNodes($pageStructure, "//system-page"))

<div class="container featured_photos oreo-padding">
<div class="row">
<h1>University of Montana&apos;s Featured Photos</h1>
<p class="text-center">If you would like to purchase any of these images or use them for UM purposes, email UM photographer Todd Goodrich at <a href="todd.goodrich@mso.umt.edu">todd.goodrich@mso.umt.edu</a>.</p>
#foreach ($page in $pages)
    #set ($link = "")
    #set ($innerStructure = "")
    #set ($image = "")
    #set ($title = "")
    #set ($content = "")
    #set ($thumb = "")
    ##
    #set ($link = $page.getChild("path").value+".php")
    #set ($innerStructure = $_XPathTool.selectSingleNode($page, "system-data-structure"))
    #set ($image = $_SerializerTool.serialize($innerStructure.getChild("image").getChild("path"), true))
    #set ($thumb = $_SerializerTool.serialize($innerStructure.getChild("thumbnail").getChild("path"), true))
    #if($thumb == "" || $thumb == "/")
        #set($thumb = '$image')
    #end
    #set ($title = $_SerializerTool.serialize($innerStructure.getChild("title"), true))
    #set ($dq = '"')
    #set ($anchor = $title.replaceAll(" ","-").replaceAll("[$dq|'|,|.|(|)]","").toLowerCase())
    #set ($anchor = $_EscapeTool.xml($anchor))
    
    
    
    #set ($content = $_SerializerTool.serialize($innerStructure.getChild("content"), true))
    #set ($content = $content + "<p><a href='$link'>Permanent Link</a></p>")
    #set ($content = $_EscapeTool.xml($content))
    #set ($content = $content.replaceAll("\&amp\;amp\;\#","&#"))
    ##
    <div class="col-md-2 col-sm-3">
        <a href="$image" title="$content" rel="lightbox[photos]" class="$anchor"><img src="$thumb" alt="$title" /></a>
    </div>
#end
</div>
</div>
<script type="text/javascript">
    require(["mootools", "mediabox"], function ($$, MediaBox) {
        anchor = "." + window.location.hash.replace("#", "");
        window.addEvent('domready', function () {
            $$(anchor).fireEvent('click');
        });

    });
</script>

## Format URL: http://cascade.umt.edu/entity/open.act?id=434945700a0a07cc3260cf1e03280233&type=format&#highlight

## Audits
### 11-30-2015 16:21	ns159438e	edit
### 11-30-2015 16:21	ns159438e	startedit
### 01-06-2017 22:24	ns159438e	edit
### 01-06-2017 22:24	ns159438e	startedit
### 06-27-2016 18:06	kp128580	startedit
### 06-27-2016 18:09	kp128580	edit
### 06-27-2016 18:23	kp128580	edit
### 06-27-2016 18:20	kp128580	startedit
### 06-27-2016 18:24	kp128580	edit
### 06-27-2016 18:24	kp128580	startedit
