#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block"))
#set ($pages = $_XPathTool.selectNodes($pageStructure, "system-page"))
<div class="photo_archive_gallery">
#foreach ($page in $pages)
    #set ($link = "")
    #set ($innerStructure = "")
    #set ($image = "")
    #set ($title = "")
    #set ($content = "")
    #set ($thumb = "")

    #set ($link = $_SerializerTool.serialize($page.getChild("link"), true))
    #set ($innerStructure = $_XPathTool.selectSingleNode($page, "system-data-structure"))
    #set ($image = $_SerializerTool.serialize($innerStructure.getChild("image").getChild("link"), true))
    #set ($thumb = $_SerializerTool.serialize($innerStructure.getChild("thumbnail").getChild("link"), true))
    #if($thumb == "" || $thumb == "/")
        #set($thumb = $image)
    #end
    #set ($title = $_SerializerTool.serialize($innerStructure.getChild("title"), true))
    #set ($dq = '"')
    #set ($anchor = $title.replaceAll(" ","-").replaceAll("[$dq|'|,|.|(|)]","").toLowerCase())
    #set ($content = $_SerializerTool.serialize($innerStructure.getChild("content"), true))
    <div class="row-fluid photo_story">
    <div class="span4">
    <a name="$anchor" />
    #if ($image != "/" && $image != "")
        <img src="$thumb" alt="$title" />
    #else
        <p>Image not available</p>
    #end    
    </div>
    <div class="span8">
            #if ($title != "")
            <h2>$title</h2>
        #end
       #if ($content != "" && $content != "<content />")
     <p> $content</p>
   #end
    </div>
    </div><!--end photo_thumb-->
    #end
    </div><!--end photo_archive_gallery-->

## Format URL: http://cascade.umt.edu/entity/open.act?id=434944d20a0a07cc3260cf1e594d524f&type=format&#highlight

## Audits
