#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure") )
#set ($tabs = $_XPathTool.selectNodes($pageStructure, "tab"))

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="http://www.umt.edu/_plugins/cycle_slideshow/assets/jquery.cycle.min.js"></script>

<div class="slideshow_frame">
    <div class="cycle_show">
        #foreach ($tab in $tabs)
            #set ($title = "")
            #set ($content = "")
            #set ($title = $_SerializerTool.serialize($tab.getChild("title"), true))
            #set ($content = $_SerializerTool.serialize($tab.getChild("content"), true))
            <div class="tab">
                <h2 class="hidden">$title</h2>
                $content
            </div>        
        #end    
    </div>
    <ul id="cycle_nav" class="ucnav"></ul>
</div>

<script type="text/javascript">
var slideArray = new Array();
#foreach ($tab in $tabs)
    #set ($title = "")
    #set ($title = $_SerializerTool.serialize($tab.getChild("title"), true))
    slideArray[$foreach.count] = "$title";
#end

$(document).ready(function(){
    $('.cycle_show').cycle({ 
        fx:      'fade', 
        speed:    500, 
        timeout:  0,
        pager: "#cycle_nav",
        pagerAnchorBuilder: function(i, slide){
            if (i == 0){
                return '<li class="hidden"><a href="#' + i + '">' + slideArray[i + 1] + '</a></li>';
            }
            else{
                return '<li><a href="#' + i + '">' + slideArray[i + 1] + '</a></li>';
            }
        }
    });
    
    var hash = window.location.hash;
    if (hash != ""){
        var thash = hash.substring(hash.lastIndexOf('#'), hash.length);
        $('#cycle_nav').find('a[href*='+ thash + ']').closest('li').trigger('click');
    }
        
    $("#cycle_nav li a").click(function(event){     
                 window.location.hash=this.hash;
    });  
});
</script>

## Format URL: http://cascade.umt.edu/entity/open.act?id=2fc58c970a0a07cc2de4f266dce0565f&type=format&#highlight

## Audits
### 07-23-2013 17:53	kf139826e	edit
### 07-23-2013 17:53	kf139826e	startedit
### 08-16-2012 14:10	ws132567	create
### 08-16-2012 14:15	ws132567	startedit
### 08-16-2012 14:18	ws132567	edit
### 08-16-2012 14:20	ws132567	edit
### 08-16-2012 14:19	ws132567	startedit
### 08-16-2012 14:22	ws132567	startedit
### 08-16-2012 14:26	ws132567	edit
### 08-16-2012 14:34	ws132567	edit
