#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure"))
#set ($group = $_XPathTool.selectNodes($pageStructure, "group"))

<link href="/_css/tabs/tabs-1.css" rel="stylesheet" type="text/css"/>

<!--#passthrough
<?php

function longDesc($peopleList) {  
        
        
    foreach($peopleList as $person){

		echo "<li><a href=\"/personnel/details.php?ID=$person->ID\" class=\"name\";> $person->LastName,  $person->FirstName</a> - $person->Title<br />";
		echo "Phone: $person->Phone";
		echo " | Office: $person->OfficeLocation";
		echo " | <a href=\"mailto:$person->Email\">$person->Email</a>";
		echo "</li>";
	}  
}
 
function shortDesc($peopleList) {  
	
	foreach($peopleList as $person){

		echo "<li><a href=\"/personnel/details.php?ID=$person->ID\" class=\"name\";> $person->LastName,  $person->FirstName</a> - $person->Title</li>";        
	}  
}
    
?>
#passthrough-->

<div id="tabs" class="cfctabs" style="display: none;">
<ul class="tabtitle" >
#set ($count=0)
#foreach($groups in $group)
	#set ($heading = $_SerializerTool.serialize($$groups.getChild("heading"), true).replaceAll("""","&quot;").replaceAll("'","&apos;"))
	
	<li><a href="#$count">$heading</a></li>
#set ($count = $count + 1)
#end

</ul>

#set ($count=0)
#foreach($groups in $group)
	#set ($format = "")
    #set ($url = "")
    #set ($heading = "")
    #set ($url = $_SerializerTool.serialize($$groups.getChild("url"), true))
    #set ($heading = $_SerializerTool.serialize($$groups.getChild("heading"), true).replaceAll("""","&quot;").replaceAll("'","&apos;"))
    #set ($format = $_SerializerTool.serialize($$groups.getChild("format"), true))
	
	<div id="$count" >
		<ul class="no_bullets">
		
		 <!--#passthrough
    <?php
    
    $raw = file_get_contents('$url');
    $data = json_decode($raw); 
    
    if ($format == "short") {
   
    shortDesc($data);
   }
   else {
   longDesc($data);
   }
   
    ?>
    #passthrough-->
    
    </ul>
	</div>
    #set ($count = $count + 1)
#end
</div>	
<script type="text/javascript">
    require(["jquery","jquery-ui"],function(jQuery){
        jQuery(document).ready(function($){
           $("#tabs").tabs();
           $('#tabs').show();
        });
    });
</script>

## Format URL: http://cascade.umt.edu/entity/open.act?id=689efd230a0a07cc1b9ec1c7f449e713&type=format&#highlight

## Audits
### 07-24-2014 13:45	sm166858e	create
### 07-24-2014 13:49	sm166858e	edit
### 07-24-2014 13:48	sm166858e	startedit
### 07-24-2014 13:49	sm166858e	startedit
### 07-24-2014 13:49	sm166858e	edit
### 07-24-2014 13:53	sm166858e	edit
### 07-24-2014 13:53	sm166858e	startedit
### 07-24-2014 13:55	sm166858e	edit
### 07-24-2014 13:53	sm166858e	startedit
### 07-24-2014 14:05	sm166858e	startedit
