#macro (ThematicLogoSection $root)
    #set ($logoSectionBlock = $root)
    #set ($SectionLogos = $_XPathTool.selectNodes($logoSectionBlock, 'logo_group'))
    #set ($logoSectionAppearance = $logoSectionBlock.getChild("appearance"))
    
    <div class="sectionLogos span12">
    <ul style="list-style:none;">
    #foreach ($SectionLogo in $SectionLogos)
        #set ($logoImage =  $_SerializerTool.serialize($SectionLogo.getChild("logo_img").getChild("path"), true))
        #set ($logoAlt = $_SerializerTool.serialize($SectionLogo.getChild("logo_alt"), true))
        #set ($numberLogo = $SectionLogos.size())
        #set ($logoSize = 12/$numberLogo)
        <li class="span$logoSize"><img src="$logoImage" alt="$logoAlt"/></li>
    #end
    </ul>
    </div>
#end

#if($contentRoot && $_XPathTool.selectSingleNode($contentRoot, '.').getChild("appearance"))
    #ThematicLogoSection($_XPathTool.selectSingleNode($contentRoot, "."))
#end

## Format URL: http://cascade.umt.edu/entity/open.act?id=121662f70a0a07cc1b9ec1c75cef5a08&type=format&#highlight

## Audits
### 07-07-2014 18:29	kp128580	create
### 07-07-2014 18:39	kp128580	startedit
### 07-07-2014 18:40	kp128580	edit
### 07-07-2014 18:42	kp128580	edit
### 07-07-2014 18:41	kp128580	startedit
### 07-07-2014 18:42	kp128580	edit
### 07-07-2014 18:42	kp128580	startedit
### 07-07-2014 18:42	kp128580	startedit
### 07-07-2014 19:12	kp128580	edit
### 07-07-2014 19:12	kp128580	startedit
