#set($sys_pages = $_XPathTool.selectNodes($contentRoot, '//system-page'))
$_SortTool.addSortCriterion("name", "", "text", "ascending", "upper-first")
$_SortTool.sort($sys_pages)

<h2>Pages listed in order by name</h2>
#foreach($page in $sys_pages)    
    <p>Page Name: <a href="$page.getChild('link').value" >$page.getChild('name').value</a></p>
#end

## Format URL: http://cascade.umt.edu/entity/open.act?id=822bcdf30a0a07cc79dd8f74e8b676e0&type=format&#highlight

## Audits
### 06-26-2013 20:27	av179450e	create
### 06-26-2013 20:36	av179450e	startedit
### 06-26-2013 20:36	av179450e	edit
### 06-26-2013 20:38	av179450e	startedit
### 06-26-2013 20:38	av179450e	edit
### 06-26-2013 20:39	av179450e	startedit
### 06-26-2013 20:45	av179450e	edit
### 06-26-2013 20:50	av179450e	edit
### 06-26-2013 20:48	av179450e	startedit
### 06-26-2013 20:53	av179450e	startedit
