#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure") )
##
#set ($calendar_id = 1)
#set ($limit = 5)
#set ($show_description = "No")
#set ($show_subscription = "Yes")
#set ($show_description_bool = "")
#set ($show_subscription_bool = "")
##
#set ($calendar_id = $_SerializerTool.serialize($pageStructure.getChild("calendar_id"), true))
#set ($limit = $_SerializerTool.serialize($pageStructure.getChild("limit"), true))
#set ($show_description = $_SerializerTool.serialize($pageStructure.getChild("show_description"), true))
#set ($show_subscription = $_SerializerTool.serialize($pageStructure.getChild("show_subscription"), true))
##
#if($show_description == "Yes")
	#set ($show_description_bool = "TRUE")
#else 
	#set ($show_description_bool = "FALSE")
#end
##
#if($show_subscription == "Yes")
	#set ($show_subscription_bool = "TRUE")
#else 
	#set ($show_subscription_bool = "FALSE")
#end
[system-view:external]
<!--#START-CODE
<?php 
 rss::um_calendar('http://events.umt.edu/?calendar_id=#END-CODE-->$calendar_id<!--#START-CODE&upcoming=upcoming&format=rss&limit=#END-CODE-->$limit<!--#START-CODE', #END-CODE-->$limit<!--#START-CODE, #END-CODE-->$show_description_bool<!--#START-CODE, #END-CODE-->$show_subscription_bool<!--#START-CODE);
?>
#END-CODE-->
[/system-view:external]
[system-view:internal]
<h2>Calendar Block</h2>
<p>Showing Events from <a href='http://events.umt.edu/?calendar_id=$calendar_id' target='_blank'>Calendar Number $calendar_id</a></p>
<h4>options:</h4>
<ul>
	<li>Number of items: $limit</li>
	<li>Show Description: $show_description</li>
	<li>Show Subscription: $show_subscription</li>
</ul>
[/system-view:internal]

## Format URL: http://cascade.umt.edu/entity/open.act?id=12e5b42f0a0a0468012803ba0d86e0fc&type=format&#highlight

## Audits
