#set ($pageStructure = $_XPathTool.selectNodes($contentRoot, "/system-index-block/system-page/system-data-structure") )

#set ($currentPhoto = $pageStructure.get(0))
#set ($image = $_SerializerTool.serialize($currentPhoto.getChild("image").getChild("link"), true))
#set ($title = $_SerializerTool.serialize($currentPhoto.getChild("title"), true))

<div class="row-fluid photo">
    <h1 class="access_hidden">The University of Montana</h1>
    <img alt="$title" src="$image"/>
        <div class="container wide">
        <div class="events span3 pull-right">
            <div class="events_feed" aria-live="polite">
            </div>
        </div>
    </div>
</div>

## Format URL: http://cascade.umt.edu/entity/open.act?id=b687009f0a0a07cc03580265106e5167&type=format&#highlight

## Audits
### 04-16-2013 18:11	ns159438e	startedit
### 04-16-2013 18:12	ns159438e	edit
### 09-03-2014 15:16	ns159438e	startedit
### 09-03-2014 15:16	ns159438e	edit
### 09-09-2014 18:45	ws132567e	edit
### 09-09-2014 18:45	ws132567e	startedit
### 03-29-2013 14:22	ws132567	create
### 03-29-2013 14:30	ws132567	edit
### 03-29-2013 14:29	ws132567	startedit
### 03-29-2013 14:33	ws132567	startedit
