#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure"))

#set ($offset = 0)
#set ($span = 0)
#set ($text = "")
#set ($title = "")
#set ($style = "")

#set ($image = $_SerializerTool.serialize($pageStructure.getChild("jumbotron").getChild("path"), true))
#set ($jumbotron_style = $_SerializerTool.serialize($pageStructure.getChild("jumbotron_style"), true))
#set ($jumbotron_layout = $_SerializerTool.serialize($pageStructure.getChild("jumbotron_layout"), true))
#set ($title = $_SerializerTool.serialize($pageStructure.getChild("masthead_title"), true))
#set ($text = $_SerializerTool.serialize($pageStructure.getChild("masthead_text"), true))
#set ($masthead_style = $_SerializerTool.serialize($pageStructure.getChild("masthead_style"), true))
#set ($offset = $pageStructure.getChild("masthead_offset").value)
#set ($wrapping_class = $pageStructure.getChild("class").value)
#set ($span = $pageStructure.getChild("masthead_span").value)
#set ($background = "[system-asset:local]" + $image + "[/system-asset:local]")

#if ($image != "/")
<div class="jumbotron $jumbotron_style $jumbotron_layout masthead landing" style="background-image:url('$background');">
    #if ($masthead_style != "" && $masthead_style != "<masthead_style />")
    <div class="container $masthead_style">
        #else
        <div class="container">
            #end
            <div class="span$span offset$offset">
                ##<h1><system-page-title/></h1>
                <p class="access_hidden">$title, $text</p>
            </div>
        </div>
    </div>
    #end
        <div>
</div>

## Format URL: http://cascade.umt.edu/entity/open.act?id=42aa3ab40a0a07cc5c260a4595bbd740&type=format&#highlight

## Audits
### 10-24-2014 22:34	kp128580	startedit
### 10-24-2014 22:35	kp128580	edit
### 10-24-2014 22:32	kp128580	edit
### 10-24-2014 22:29	kp128580	startedit
