#set ($name= "")
#set ($title= "")
#set ($content = "")
#set ($image = "")
#set ($submittedby = "")

#set ( $pageData = $_XPathTool.selectSingleNode($contentRoot, "/system-page") )
#set ( $pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure") )

#set ( $title   =   $pageStructure.getChild("title").text)
#set ( $firstname = $pageStructure.getChild("firstname").text)
#set ( $lastname=   $pageStructure.getChild("lastname").text)
#set ( $image   =   $pageStructure.getChild("image").getChild("path").text)

#set ( $kudos = $_XPathTool.selectNodes($contentRoot, "/system-data-structure/kudo"))



<div class='kudos_page'>
<h4>$firstname $lastname</h4> 
<img src="$image" alt="Photo of $name" />
<h3>$title</h3>
#foreach ($kudo in $kudos)
    #set ( $content =   "")
    #set ( $submittedby =   "")
    #set ( $content =   $kudo.getChild("content") )
    #set ( $submittedby =   $kudo.getChild("submitted").text )
    <p>$_SerializerTool.serialize($content, true)</p>
    <p><em>Submitted by $submittedby </em></p>
#end
</div>

## Format URL: http://cascade.umt.edu/entity/open.act?id=9494a6f40a0a0468005f8368c1550eca&type=format&#highlight

## Audits
### 01-28-2012 18:13	es165908e	edit
### 01-28-2012 18:13	es165908e	startedit
### 02-03-2010 16:05	ns159438e	create
### 02-03-2010 16:09	ns159438e	edit
### 02-03-2010 16:07	ns159438e	startedit
### 02-03-2010 16:12	ns159438e	edit
### 02-03-2010 16:11	ns159438e	startedit
### 02-03-2010 17:03	ns159438e	startedit
### 02-03-2010 17:03	ns159438e	edit
### 02-03-2010 17:19	ns159438e	startedit
