#set ( $currentFolder = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block//system-folder[@current]") )
#set ( $parentFolder = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block//system-folder[system-folder[@current]]") )
#set ( $newsArticles = $_XPathTool.selectNodes($contentRoot, "/system-index-block//system-folder[@current]//system-folder[name!='categories']/system-page[name!= 'default']") )
$_SortTool.addSortCriterion("system-data-structure/startDate", "", "text", "descending", "upper-first")  
$_SortTool.sort($newsArticles) 
<div class="news_top">
<h2>
    $currentFolder.getChild("title").text
</h2>
#foreach ($newsArticle in $newsArticles)
    <p align="left">
        #set ($startDate = $_DateTool.getDate($newsArticle.getChild("system-data-structure").getChild("start_date").value ))
        <b>$_DateTool.format('MM/dd/yyyy', $startDate)</b> - 
        <a href="$newsArticle.getChild('path').text">
            $newsArticle.getChild("title").text
        </a> - 
        $newsArticle.getChild("system-data-structure").getChild("summary").text
    </p>
#end
</div>

## Format URL: http://cascade.umt.edu/entity/open.act?id=f23cfaa90a0a0468014ddcb92312f217&type=format&#highlight

## Audits
### 01-28-2012 18:55	kf139826e	edit
### 01-28-2012 18:55	kf139826e	startedit
### 03-07-2013 05:42	av179450e	edit
### 03-07-2013 05:41	av179450e	startedit
### 07-12-2012 22:45	av179450e	copy
### 07-12-2012 23:05	av179450e	startedit
### 07-12-2012 23:05	av179450e	edit
### 07-13-2012 02:37	av179450e	edit
### 07-13-2012 02:37	av179450e	startedit
### 01-18-2012 19:13	ws132567	startedit
