#set ( $currentFolder = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block//system-folder[@current]") )
#set ( $parentFolder = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block//system-folder[system-folder[@current]]") )
#set ( $newsArticles = $_XPathTool.selectNodes($contentRoot, "/system-index-block//system-folder[@current]//system-folder[name!='categories']/system-page[name!= 'default']") )
$_SortTool.addSortCriterion("system-data-structure/start_date", "", "text", "ascending", "upper-first")  
$_SortTool.sort($newsArticles) 
#set ($today = $_DateTool.getDate())
#set($month=$_DateTool.format('MM.yyyy', $today))
#set ($month2 = $_MathTool.toDouble($month))
#set($limiter = 0)
#foreach ($newsArticle in $newsArticles)
#set($articleCategory = $newsArticle.getChild("system-data-structure").getChild("categories").value)
#set($checkCategory = "Alumni")
#set($checkPos = $articleCategory.indexOf($checkCategory))
#if($checkPos > -1)
        #set ($startDate = $_DateTool.getDate($newsArticle.getChild("system-data-structure").getChild("start_date").value ))
        #set($testMonth=$_DateTool.format('MM.yyyy', $startDate))
        #set($day = $_DateTool.format('d', $startDate))
        #set($printMonth = $_DateTool.format('M', $startDate))
        #set($printMonth2 = $_MathTool.toInteger($printMonth))
        #set($difference = $_DateTool.difference($today, $startDate))
        #set($difference = $difference.toString())
        #set($difference2 = $difference.indexOf('-'))
        #if($difference2 == -1)
        #set($limiter = $limiter+1)
        #if($limiter <= 10)
      #set($monthNumber = "month"+$printMonth)
      #set ($path = $newsArticle.getChild('path').text)
      #set($path = $path+".php") 
           <li class="vevent"><span class="date"><abbr><span class="month $monthNumber"></span> <span class="day">$day</span></abbr> <span ></span></span> <span class="summary event-title"><a href="$path">$newsArticle.getChild('title').text.replace('&', "&amp;")</a>  </span> 
<p> $newsArticle.getChild("system-data-structure").getChild("summary").text.replace('&', "&amp;")</p>
</li>
    #end
    #end
    #end
#end

## Format URL: http://cascade.umt.edu/entity/open.act?id=0415d32c0a0a07cc1517225f5de2be0a&type=format&#highlight

## Audits
### 09-26-2012 21:34	ef216139e	edit
### 09-26-2012 21:33	ef216139e	startedit
### 09-27-2012 16:20	ef216139e	copy
### 09-27-2012 16:28	ef216139e	copy
### 03-07-2013 05:45	av179450e	startedit
### 03-07-2013 05:45	av179450e	edit
### 03-21-2017 21:02	dn150212e	edit
### 03-21-2017 21:01	dn150212e	startedit
