#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block"))
#set ($callingPage = $_XPathTool.selectSingleNode($pageStructure, "calling-page/system-page"))
#set ($callingSite = $_SerializerTool.serialize($callingPage.getChild("site"), true))
#set ($news = $_XPathTool.selectNodes($pageStructure , "system-page"))



#foreach ($newsItem in $news)
    #set ($innerStructure = "")
    #set ($name = "")
    #set ($content = "")
    #set ($photo = "")
    #set ($altText = "")

    #set ($include = "")
    #set ($siteValue = "")  
    #set ($dirInclude = "")
    
    #set ($include = "No")

    #set ($innerStructure = $_XPathTool.selectSingleNode($newsItem , "system-data-structure"))
    
    #set ($name = $_SerializerTool.serialize($innerStructure.getChild("name"), true))
    #set ($content = $_SerializerTool.serialize($innerStructure.getChild("content"), true))
    #set ($photo = $_SerializerTool.serialize($innerStructure.getChild("photo").getChild("path"), true))
    #set ($altText = ($innerStructure.getChild("altText").text))
    
    #set ($dir_include = $_XPathTool.selectNodes($innerStructure , "dir_include/value"))
    #foreach ($value in $dir_include)
        #if ($value.value == "EVST")
            #set ($siteValue = "SFD - Environmental Studies")
        #end
        
        #if ($siteValue == $callingSite)
            #set ($include = "Yes")
        #end
    #end
       
    #if ($include == "Yes")
        <div class="row-fluid news-item">
            #if ($name != "")
                <div class="row-fluid event-heading">
                    <h3>$name</h3> 
                </div>
            #end    
            <div class="row-fluid">
                #if ($photo != "/")
                    #if ($altText != "")
                        <div class="span4">
                            <img class="event-image" src="[system-asset]${photo}[/system-asset]" alt="${_EscapeTool.xml($altText)}"/>
                        </div>
                        #set ($contentClass = "span8")
                    #end    
                #end       
                #if ($content != "")
                    <span class="$contentClass">
                        $content
                    </span>
                #end
            </div>
            <hr />
        </div> ##news-item 
    #end ##include
#end ##news Item   


## Format URL: http://cascade.umt.edu/entity/open.act?id=2e7a00440a0a07cc5c260a45f4d85ebe&type=format&#highlight

## Audits
