#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block"))
#set ($items = $_XPathTool.selectNodes($pageStructure, '//system-block[system-data-structure[@definition-path="Mobile Item"]]'))

#set ($homepage = $_XPathTool.selectSingleNode($pageStructure, '//system-block/system-data-structure[@definition-path="IDS Mobile App"]'))
##
##
<mobile>
    #set ($title = "")
    #set ($path = "")
    #set ($alt = "")
    #set ($tagline = "")
    #set ($content_title = "")
    #set ($content_text = "")
    ##
    #set ($title = $_SerializerTool.serialize($homepage.getChild("title"), true))
    #set ($path = "http://www.umt.edu/mobile/app-content/ids"+$homepage.getChild("photo").getChild("photo").getChild("path").value)
    #set ($alt = $_SerializerTool.serialize($homepage.getChild("photo").getChild("photo_alt"), true))
    #set ($tagline = $_SerializerTool.serialize($homepage.getChild("photo").getChild("photo_tag_line"), true))
    #set ($content_title = $_SerializerTool.serialize($homepage.getChild("photo").getChild("photo_tag_line"), true))
    #set ($content_text = $_SerializerTool.serialize($homepage.getChild("content").getChild("heading"), true))
    #set ($content_text = $_SerializerTool.serialize($homepage.getChild("content").getChild("text"), true))
    ##
    <homepage>
        <title>$title</title>
        <image>
            <path>$path</path>
            <alt>$alt</alt>
            <tagline>$tagline</tagline>
        </image>
        <content>
            <title>$content_title</title>
            <text><![CDATA[$content_text]]></text>
        </content>
    </homepage>
    <items>
    #foreach ($item in $items)
        #set ($structure = "")
        #set ($structure = $_XPathTool.selectSingleNode($item, "system-data-structure"))
        ##
        #set ($title = "")
        #set ($type = "")
        #set ($content = "")
        #set ($eventDate = "")
        #set ($location = "")
        #set ($dateDue = "")
        #set ($url = "")
        #set ($image = "")
        ##
        #if($structure.getChild("title").value != "")
            #set ($title = $_SerializerTool.serialize($structure.getChild("title"), true))
        #end
        #if($structure.getChild("title").value != "")
            #set ($image = $_SerializerTool.serialize($structure.getChild("image").getChild("path"), true))
            #if($image != "/")
                #set ($image = "//hs.umt.edu/ids"+$image.replaceAll(" ","%20"))
            #else 
                #set ($image = "")
            #end
        #end
        #if($structure.getChild("type").value != "")
            #set ($type = $_SerializerTool.serialize($structure.getChild("type"), true))
        #end
        #if($structure.getChild("content").value != "")
            #set ($content = $_SerializerTool.serialize($structure.getChild("content"), true))
        #end
        #if($structure.getChild("eventDate").value != "")
            #set ($eventDate = $_SerializerTool.serialize($structure.getChild("eventDate"), true))
        #end
        #if($structure.getChild("location").value != "")
            #set ($location = $_SerializerTool.serialize($structure.getChild("location"), true))
        #end
        #if($structure.getChild("dateDue").value != "")
            #set ($dateDue = $_SerializerTool.serialize($structure.getChild("dateDue"), true))
        #end
        #if($structure.getChild("url").value != "")
            #set ($url = $_SerializerTool.serialize($structure.getChild("url"), true))
        #end
    <item>
        <title>$title</title>
        <type>$type</type>
        <content>$content</content>
        <eventDate>$eventDate</eventDate>
        <location>$location</location>
        <dateDue>$dateDue</dateDue>
        <image>$image</image>
        <url>$url</url>    
    </item>
    #end
    </items>
</mobile>

## Format URL: http://cascade.umt.edu/entity/open.act?id=9dd60a360a0a07cc545fdb451c93215a&type=format&#highlight

## Audits
### 12-01-2017 21:01	ns159438e	startedit
### 12-01-2017 21:07	ns159438e	edit
### 12-01-2017 21:58	ns159438e	startedit
### 12-01-2017 21:58	ns159438e	edit
### 12-01-2017 22:04	ns159438e	startedit
### 12-01-2017 22:04	ns159438e	edit
### 06-16-2017 15:19	ns159438e	edit
### 06-16-2017 15:16	ns159438e	startedit
### 06-16-2017 15:33	ns159438e	edit
### 06-16-2017 15:24	ns159438e	startedit
