#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure"))



#set ($pageHeading = $_SerializerTool.serialize($pageStructure.getChild("page_heading"), true))
#set ($pageHeading  = "")
#set ($pageHeading  =  $pageStructure.getChild("page_heading").text)
#if ($pageHeading  != "")
    <div class="row span9 pageHeading2">
        <h2>$pageHeading</h2>
    </div>
#end




#set ($contents = $_XPathTool.selectNodes($pageStructure, "content"))

    #if ($contents.size() < 1)
        $_SerializerTool.serialize($pageStructure.getChild("content"), true)
    #else
      #foreach ($content in $contents)
          #if ($foreach.count == 1)
              #set ($colCount = 'span9')
          #end
          
          #if ($foreach.count == 2)
              #set ($colCount = 'span6')
          #end
          
          #if ($foreach.count == 3)
              #set ($colCount = 'span4')
          #end
    #end
  
#set($content = $_SerializerTool.serialize($pageStructure.getChild("content"), true))
  
  #foreach ($content in $contents)
          <div class="row $colCount">
              $_SerializerTool.serialize($content, true)
          </div>
  #end
#end

<div style="clear:both;"></div>



## Format URL: http://cascade.umt.edu/entity/open.act?id=194dea1a0a0a07cc2b4b2d2d3f0c3669&type=format&#highlight

## Audits
### 09-13-2013 21:50	ch224468	startedit
### 09-13-2013 21:50	ch224468	edit
