#import('/_cms/scripts/includes/Main')
#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block"))
#set ($currentFolder = $_XPathTool.selectSingleNode($pageStructure, "//system-folder[@current]"))
#if ( $currentFolder )
    #set ( $sectionBlock = $_XPathTool.selectSingleNode($currentFolder, "system-block[system-data-structure[@definition-path='Template/Section Block']]") )
    #if ( $currentFolder.indexOf($sectionBlock) == -1)
        #set ( $sectionBlocks = $_XPathTool.selectNodes($currentFolder, "ancestor-or-self::system-folder/system-block[system-data-structure[@definition-path='Template/Section Block']]") )    
        #if ( $sectionBlocks.size() < 1 )
            #set ( $sectionBlocks = $_XPathTool.selectNodes($currentFolder, "//system-block[system-data-structure[@definition-path='Template/Section Block']]") )
        #end    
        #if($sectionBlocks.size() > 0)
        #set ( $sectionBlock = $sectionBlocks.get(0) )
        #end
    #end
#else
    #set ( $sectionBlock = $_XPathTool.selectSingleNode($pageStructure, "system-block[system-data-structure[@definition-path='Template/Section Block']]") )
#end
##
#set($depth = "")
#set($depth = $sectionBlock.getChild("system-data-structure").getChild("advanced").getChild("depth").value)
##
#if ($sectionBlock)
    #set ($affected_pages= $_XPathTool.selectNodes($sectionBlock, "system-data-structure/advanced/affected_pages/page"))
#end
#set ($currentPage = $_XPathTool.selectSingleNode($pageStructure, "//system-page[@current]") )
#set($count = 0)
#set($is_selected = false)
#foreach($page in $affected_pages)
## <p>Affected Page: ${_EscapeTool.xml($page.getChild("path").value)}</p>  
    #if($page.getChild("path").value != "/") 
        #set($count = $count + 1)
        #if($page.getChild("path").value == $currentPage.getChild("path").value)
            #set($is_selected = true)
        #end
    #end
#end
#if ($sectionBlock && ($is_selected == true || $count == 0))
    #set ($sectionBlockPath = $sectionBlock.getChild("path").value)
    #set ($setupIndex = $sectionBlockPath.lastIndexOf("/"))
    #set ($sectionBlockPath = $sectionBlockPath.substring(0, $setupIndex))
    #set ($sectionBlock =  $sectionBlock.getChild("system-data-structure"))
    ##
    #set ($sectionBanner = $_XPathTool.selectSingleNode($sectionBlock, "banner/image"))
    #set ($sectionBannerColor = $_XPathTool.selectSingleNode($sectionBlock, "banner/color_bar"))
    ##
    #set ($image= "")
    #set ($imageAlt= "")
    #set ($aboveBlocks= "")
    #set ($aboveBlock= "")
    #set ($belowBlocks= "")
    #set ($belowBlock= "")
    #set ($class= "")
    ##
    ##Site Info
    #set ($image = $sectionBanner.getChild("image").getChild("path").value)
    #if($sectionBanner.getChild("alt").value != "")
        #set ($imageAlt= $_SerializerTool.serialize($sectionBanner.getChild("alt"), true))
    #end
    #if($sectionBanner.getChild("advanced").getChild("class").value != "")
        #set ($class= $_SerializerTool.serialize($sectionBanner.getChild("advanced").getChild("class"), true))
    #end
    #set ($imageAlt = $imageAlt.replaceAll('"',"'"))
    #set ($aboveBlocks= $_XPathTool.selectNodes($sectionBlock, "banner/advanced/above_block"))
    #set ($belowBlocks= $_XPathTool.selectNodes($sectionBlock, "banner/advanced/below_block"))
    ##
    #if($class != "")<div class="$class"> #end
    #foreach ($aboveBlock in $aboveBlocks)
        #displayBlock($aboveBlock "above_block")
    #end
    #if ($image != "/" && $imageAlt!= "")
        <div class="row-fluid section-banner"><img src="$image" alt="$imageAlt"/></div>
    #elseif($image != "" && $image != "/" && $imageAlt == "")
        [system-view:internal]<div style="margin-bottom: 0px" class="alert alert-error">The banner image ($image) will not display when published because no alt tag was provided.</div>[/system-view:internal]
    #end
    
    #if($class != "")</div> #end
    ##
    #set ($lineColor = $_SerializerTool.serialize($sectionBannerColor.getChild("bar_color"), true).toLowerCase().replaceAll(" ", "_").replaceAll(",",""))
    #set ($lineHeight = $_SerializerTool.serialize($sectionBannerColor.getChild("height"), true))
    #set ($lineHeight = $lineHeight + "px")
    #set ($lineGradient = $_SerializerTool.serialize($sectionBannerColor.getChild("gradient"), true).toLowerCase())
    #set ($lineGradient = "section_gradient_" + $lineGradient)
    ##
    #if ($lineColor != "none")
        #set ($lineColor = "section_line_" + $lineColor)
        <div class="$lineColor $lineGradient section-line" style="height: $lineHeight;"> </div>
    #end
    ##
    #foreach ($belowBlock in $belowBlocks)
        #displayBlock($belowBlock "below_block")
    #end
#end

## Format URL: http://cascade.umt.edu/entity/open.act?id=26dcfe740a0a07cc4ba2fc312b40636f&type=format&#highlight

## Audits
### 02-12-2014 20:51	kf139826e	startedit
### 02-12-2014 20:51	kf139826e	edit
### 02-12-2014 20:58	kf139826e	activate_version
### 02-12-2014 20:58	kf139826e	startedit
### 02-12-2014 20:58	kf139826e	edit
### 12-10-2014 23:56	kp128580	startedit
### 12-10-2014 23:56	kp128580	edit
### 12-11-2014 00:07	kp128580	edit
### 12-11-2014 00:00	kp128580	startedit
### 12-11-2014 00:11	kp128580	edit
