#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block"))
##
#set($items = $_XPathTool.selectNodes($pageStructure, "//system-page[system-data-structure[@definition-path='Feature Image']]"))
##
#set($item = $items.get(0))
#set($image = "")
#set($title = "")
#set($alt_text = "")
#set($photo_byline = "")
#set($link_text = "")
#set($link_url ="")
##
#set($image = $_SerializerTool.serialize($item.getChild("system-data-structure").getChild("photo").getChild("path"), true))
#set($title = $_SerializerTool.serialize($item.getChild("system-data-structure").getChild("title"), true))
#set($alt_text = $_SerializerTool.serialize($item.getChild("system-data-structure").getChild("alt_text"), true))
#set($photo_byline = $_SerializerTool.serialize($item.getChild("system-data-structure").getChild("photo_byline"), true))
#set($link_text = $_SerializerTool.serialize($item.getChild("system-data-structure").getChild("link_text"), true))
#set($link_url = $_SerializerTool.serialize($item.getChild("system-data-structure").getChild("link_url"), true))
##
  <div class="row-fluid featured_image overlay dark">
  <img alt="$alt_text" src="$image" />
  <div class="block library hidden-phone">
    <p style="text-align:right;" class="small">
    <strong>$title</strong> <br />
    $photo_byline<br />
    #if ($link_url != "" && $link_url != "<link_url />")<a target="_blank" href="$link_url">#end
    #if ($link_text != "" && $link_text != "<link_text />")$link_text#end
    #if ($link_url != "" && $link_url != "<link_url />")</a>#end
    </p>
  </div>
 
    <!-- Begin Search Box -->
    <div class="row-fluid">
      <div class="um-lib-search">
        <!-- <h2 class="search-title-everything hidden-desktop hidden-tablet">Search Library Resources</h2> -->
        <form class="fm-search-tabs articles" id="search-resource-selection" method="post" action="http://www.lib.umt.edu/local/includes/search-router-primo-cascade.php"> 
        <!-- Not Used <form class="fm-search-tabs articles" id="search-resource-selection" method="post" action="http://www.lib.umt.edu/_cms/scripts/search-router-primo.php"> -->
        <input class="libsearch" type="text" size="40" name="q" value="Search Library Resources..." style="margin: 0px; width: 325px;" />
          <input type="submit" value="Search" class="featured_search_button" onclick="_gaq.push(['_trackEvent','Search Event','Homepage Search','Homepage Search Box']);" />
          <select name="service" class="search_dropdown" onchange="_gaq.push(['_trackEvent', 'Search Event','Change Homepage Search', this.value]);">
            <option value="everything">Search in</option>
            <option value="everything">University of Montana Libraries</option>
            <option value="journal">Journal Titles</option>
          <option value="website">Library Website</option> 
          </select>
        
        </form>
        <div class="advanced-search-links small">
          <ul class="nav nav-tabs">
            <li class="separator"><a onclick="_gaq.push(['_trackEvent','Search Event','Advanced Search','Access from Homepage Search']);" href="http://um-primo.hosted.exlibrisgroup.com/primo_library/libweb/action/search.do?mode=Advanced&amp;ct=AdvancedSearch&amp;vid=01TRAILS_UM">Advanced Search</a></li>
            <li class="search_separator"><a href="/research/search-help">Search Help</a></li>
          </ul>
     </div>
      </div>
      </div>
      <script type="text/javascript">
    require(["jquery","searchreset"],function(jQuery){
        jQuery(document).ready(function($){
            $('.libsearch').searchreset();
        });
    });
</script>
    <!-- End Search Box -->
  </div>
  #set($links = $_XPathTool.selectNodes($pageStructure, "//system-page/system-data-structure[@definition-path='icon-links']/link"))
##
  <div class="my-umt-edu row-fluid">
    <div class="span12 landing-box">
      <div class="icons">
        <h2 class="access_hidden">Quick access links</h2>
        <ul aria-label="Student Services" class="fade-in" role="navigation">
            #foreach($link in $links)
                #set($link_url = "")
                #set($class = "")
                #set($title = "")
                #set($external_link = "")
                #set($internal_link = "")
                ##
                #set($title = $_SerializerTool.serialize($link.getChild("title"), true))
                #set($external_link = $_SerializerTool.serialize($link.getChild("link"), true))
                #set($internal_link = $link.getChild("internal_link").getChild("path").value)
                #if($link.getChild("class").value != "")
                    #set($class = $_SerializerTool.serialize($link.getChild("class"), true))
                #end
                ##
                #if($internal_link == "/" && $link.getChild("link").value != "") 
                    #set($link_url = $external_link)
                #elseif($internal_link != "/")
                    #set($link_url = $internal_link)
                #end
                #if($link_url != "")
                    <li class=""><a href="$link_url">$title</a></li>
                #else
                [system-view:internal]
                    <li class="$class"><a href="$link_url">$title</a> No URL - Will not publish</li>
                [/system-view:internal]
                #end
            #end          
        </ul>
      </div>
    </div>
  </div>
  


## Format URL: http://cascade.umt.edu/entity/open.act?id=b62fd8080a0a07cc140fc3570c395491&type=format&#highlight

## Audits
### 10-27-2016 19:48	jw119627e	startedit
### 10-27-2016 19:49	jw119627e	edit
### 10-28-2016 13:03	ws150695e	activate_version
### 11-19-2015 18:26	ws132567e	startedit
### 11-19-2015 18:27	ws132567e	edit
### 11-19-2015 18:27	ws132567e	startedit
### 11-19-2015 18:28	ws132567e	edit
### 11-19-2015 18:28	ws132567e	edit
### 11-19-2015 18:28	ws132567e	startedit
### 11-19-2015 18:32	ws132567e	activate_version
