#set ($extension = ".php")
#set ($base_url = $_XPathTool.selectSingleNode($contentRoot, "//system-data-structure/base_url").value)
#set ($logo = $_XPathTool.selectSingleNode($contentRoot, "//system-data-structure/um_logo/link").value)
#set ($enable_mega_menu = "No")

#set ($search_box = $_XPathTool.selectSingleNode($contentRoot, "//system-data-structure/search_box").value)
#set ($main_menu = $_XPathTool.selectNodes($contentRoot, "//system-data-structure/dropdown_navigation/item"))
#set ($right_menu = $_XPathTool.selectNodes($contentRoot, "//system-data-structure/right_nav/item"))
 <div class=" um_standard_header" style="width: 100%">
     <div id="accessibenav">    
    Accessible Navigation.
    <ul role="menu">
        <li><a href="#mainnav">Navigation</a></li>
        <li><a href="http://events.umt.edu">UM Events</a></li>
        <li><a href="#maincontent">Main Content</a></li>
        <li><a href="#footercontent">Footer</a></li>
    </ul>
</div>
    <div class="navbar navbar-static">
        <div class="navbar-inner">
            <div class="container" style="width: auto;">
                <button type="button" class="navicon btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="pull-right">
                    <div class="pull-left navrightlinks_wrap">
                        <ul class="nav" aria-label="Additional" role="navigation">
                        #foreach ($menu in $right_menu)
                            #set ($title = "")
                            #set ($link = "")
                            #set ($id = "")
                            #set ($class = "")
                            #set ($anchor_class = "")
                            #set ($class = $_SerializerTool.serialize($menu.getChild('class'),true))
                            #if($menu.getChild('anchor_class').value != "")
                                #set ($anchor_class = $_SerializerTool.serialize($menu.getChild('anchor_class'),true))
                            #end
                            #if($menu.getChild("serialize").getChild("value") == "Yes")
                                #set ($title = $_SerializerTool.serialize($menu.getChild('title'),true))
                            #else
                                #set ($title =$menu.getChild('title').value)
                            #end
                            #set ($id = $menu_heading_title.replace(" ","-").toLowerCase())
                            #set ($link = $menu.getChild('internal_link').getChild("path").value)
                            #if($link == "/")
                                #set ($link = $_SerializerTool.serialize($menu.getChild('external_link'),true))
                            #else
                                #set ($link = "${base_url}${link}${extension}")
                            #end
                            <li class="$class"><a class="$anchor_class" href="$link">$title</a></li>
                        #end
                         </ul>
                    </div>
                    <span class="search pull-left">$search_box</span>
                </div>
                <a class="brand" href="$base_url"><img src="$logo" alt="The University of Montana"/></a>
            </div>
        </div>
    </div>
</div>

## Format URL: http://cascade.umt.edu/entity/open.act?id=ed8cf07d0a0a07cc731559481748c8a7&type=format&#highlight

## Audits
### 06-30-2014 16:13	kf139826e	move
### 06-30-2014 16:14	kf139826e	move
### 06-30-2014 16:15	kf139826e	edit
### 06-30-2014 16:14	kf139826e	startedit
### 06-30-2014 16:16	kf139826e	activate_version
### 06-30-2014 16:16	kf139826e	edit
### 06-30-2014 16:16	kf139826e	startedit
### 06-30-2014 16:17	kf139826e	startedit
### 06-30-2014 16:18	kf139826e	edit
### 06-30-2014 16:23	kf139826e	edit
