#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block") )
#set ($features = $_XPathTool.selectNodes($pageStructure, "system-page"))
#set ($currentPage = $_SerializerTool.serialize($pageStructure.getChild("calling-page").getChild("system-page").getChild("display-name"), true))

<script src="[system-asset:id=383e5fdd0a0a0468017845e394783162]/_common/_js/jquery.cycle.all.js[/system-asset]" type="text/javascript"></script>

<div class="feature_frame">

    <div class="feature_show">
    #set ($count=1)
    
    #foreach ($feature in $features)
        #set ($caption = "")
        #set ($credits = "")
        #set ($show = "")
        #set ($externalLink = "")
        
                        
        #set ($caption = $_SerializerTool.serialize($feature.getChild("system-data-structure").getChild("caption"), true).replaceAll("""","&quot;").replaceAll("'","&apos;"))
        #set ($link = $_SerializerTool.serialize($feature.getChild("path"), true))
        #set ($credits = $_SerializerTool.serialize($feature.getChild("system-data-structure").getChild("credits"), true).replaceAll("""","&quot;").replaceAll("'","&apos;"))
        #set ($featureImage = $_SerializerTool.serialize($feature.getChild("system-data-structure").getChild("featureImage").getChild("path"), true))
        #set ($show = $_SerializerTool.serialize($feature.getChild("system-data-structure").getChild("show").getChild("value"), true))
        #set ($externalLink = $_SerializerTool.serialize($feature.getChild("system-data-structure").getChild("externalLink"), true))
        
        #if ($show == "Yes")
            #if ($count == 1)
                            #if ($externalLink != "" && $externalLink != "<externalLink />")
                                        <a style="border: 0px;" href="$externalLink" target="_blank"><img src='$featureImage' alt="$caption" class="first" /></a>
                            #else
                                        <a style="border: 0px;" href="$link"><img src='$featureImage' alt="$caption" class="first" /></a>
                            #end
            #else 
                            #if ($externalLink != "" && $externalLink != "<externalLink />")
                                        <a style="border: 0px;" href="$externalLink" target="_blank"><img src='$featureImage' alt="$caption" /></a>
                            #else
                                        <a style="border: 0px;" href="$link"><img src='$featureImage' alt="$caption" /></a>
                            #end
            #end

            #set ($count = $count + 1) 
        
        #end
            
        
        
    #end
    </div>
    
</div>
<div id="slideshowNav"><a id="prev2" class="imageNav" href="#"><img src="[system-asset:id=f32760f90a0a046801e7b9d7509b914e]/_common/_imx/Icons/Nav1.png[/system-asset]" alt="Previous" /></a> <a id="next2" class="imageNav" href="#"><img src="[system-asset:id=f3278d900a0a046801e7b9d76648d2d8]/_common/_imx/Icons/Nav2.png[/system-asset]" alt="Next" /></a></div>
<div id="bottomborder"></div>

<script type="text/javascript">
$(document).ready(function(){
    $('.feature_show').cycle({ 
        fx:      'fade', 
        speed:    1000, 
        timeout:  10000,
        next: '#next2',
        prev: '#prev2',
        pause: 1
    });
});
</script>

## Format URL: http://cascade.umt.edu/entity/open.act?id=e0efab3b0a0a07cc1517225fa835cce2&type=format&#highlight

## Audits
