<link href="/_css/directory.css" rel="stylesheet" type="text/css"/>
#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-folder") )
#set ($departments = $_XPathTool.selectNodes($contentRoot, "system-page"))
<h2>Directory</h2>
<ul class="directory">
#foreach ($dept in $departments)
    #set ($title = $_SerializerTool.serialize($dept.getChild("title"), true))
    #set ($path= $_SerializerTool.serialize($dept.getChild("path"), true))
    #if ($_SerializerTool.serialize($dept.getChild("name"), true) != "default")
    <li><a href='$path'>$title</a></li>
    #end
#end
</ul>

## Format URL: http://cascade.umt.edu/entity/open.act?id=bbebdb030a0a0468014e56c7781942fd&type=format&#highlight

## Audits
### 01-28-2012 18:26	ws132567	startedit
### 01-28-2012 18:26	ws132567	edit
### 05-06-2011 15:22	es165908e	startedit
### 05-06-2011 15:23	es165908e	edit
### 05-06-2011 17:30	es165908e	startedit
### 05-06-2011 17:30	es165908e	edit
### 05-06-2011 17:34	es165908e	edit
### 05-06-2011 17:34	es165908e	startedit
