#set ($dirHome = "/directory")
#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block") )
#set ($profiles = $_XPathTool.selectNodes($pageStructure, "//system-page[name='default']"))
#set ($currentPage = $_SerializerTool.serialize($pageStructure.getChild("calling-page").getChild("system-page").getChild("display-name"), true))

<link href="/_css/directory.css" rel="stylesheet" type="text/css"/>

<h2>$currentPage</h2>
<table border='0' width='100%' id='directory'>
#foreach ($profile in $profiles)
    #set ($active = "")
    #set ($lastName = "")
    #set ($name = $_SerializerTool.serialize($profile.getChild("name"), true))
    #set ($lastName = $_SerializerTool.serialize($profile.getChild("system-data-structure").getChild("lastname"), true).replaceAll("""","&quot;").replaceAll("'","&apos;"))
    #set ($displayName = $_SerializerTool.serialize($profile.getChild("display-name"), true))
    #set ($title = $_SerializerTool.serialize($profile.getChild("system-data-structure").getChild("title"), true))
    #set ($phone = $_SerializerTool.serialize($profile.getChild("system-data-structure").getChild("phone"), true))
    #set ($link = $_SerializerTool.serialize($profile.getChild("path"), true))
    #set ($active = $_SerializerTool.serialize($profile.getChild("system-data-structure").getChild("active").getChild("value"), true))
    #if ($active == "Yes" && $currentPage == $lastName.substring(0,1))
    <tr>
    <td><a href='$link'>$displayName</a></td>
    <td>$title</td>
    <td>x$phone</td>
    </tr>
    #end
#end
</table>


## Format URL: http://cascade.umt.edu/entity/open.act?id=bbebdb310a0a0468014e56c7c183398e&type=format&#highlight

## Audits
### 01-28-2012 17:50	ws132567	startedit
### 01-28-2012 17:50	ws132567	edit
### 01-28-2012 17:51	ws132567	edit
### 01-28-2012 17:51	ws132567	startedit
### 01-28-2012 17:52	ws132567	startedit
### 01-28-2012 17:52	ws132567	edit
### 01-28-2012 17:53	ws132567	activate_version
### 01-28-2012 17:53	ws132567	startedit
### 01-28-2012 17:53	ws132567	edit
### 01-28-2012 17:54	ws132567	activate_version
