 <div id="rightminutes">
 <ul>  
 #foreach ($child in $contentRoot.children )  
         #set ($childPath = "") 
         #set ($childName = "") 
         #set ($childPath = $child.getChild('path').text) 
         #set ($childName = $child.getChild('name').text) 
     <li>  
        <a href="$childPath">$childName</a>  
     </li>  
 #end  
  </ul>  
  </div>

## Format URL: http://cascade.umt.edu/entity/open.act?id=cc9459850a0a046801af4de384b775bf&type=format&#highlight

## Audits
