#set ( $pageData = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block/calling-page/system-page"))
#set ( $callingPageName = $_SerializerTool.serialize($pageData.getChild("display-name"),true))
#set ($pubblocks = $_XPathTool.selectNodes($contentRoot, "/system-index-block/system-block"))
#set ($count = 0)
$_SortTool.addSortCriterion("system-data-structure/pub_date", "", "text", "descending", "upper-first")
$_SortTool.sort($pubblocks)

<div class="span12 publication-list">
<h2>Recent Publications</h2>
[system-view:internal]
<style>
.publication{
position:relative; padding-top: 30px
}
</style>
 [/system-view:internal]
#import('site://_global/_cms/scripts/includes/macros/editBlock')
#foreach ($pubblock in $pubblocks)

    #set ($content = "")
    #set ($content = $_SerializerTool.serialize($pubblock.getChild("system-data-structure").getChild("content"), true))
    #set ($pubdate = "")
    #set ($pubdate = $pubblock.getChild("system-data-structure").getChild("pub_date").value)
<div class="publication">
            
    #editBlock($pubblock)$content
            ##<strong>Published:</strong> $pubdate
        </div>
            #set ($count = $count + 1)
        
#end

#if ($count == 0)
 <p>There are no recent publications to show.</p>
#end
</div>

## Format URL: http://cascade.umt.edu/entity/open.act?id=2327b35f0a0a07cc7b5684a3ec71103e&type=format&#highlight

## Audits
### 02-25-2016 16:31	kp128580	activate_version
### 01-08-2016 21:33	kp128580	edit
### 01-08-2016 21:32	kp128580	startedit
### 01-12-2016 21:12	ns159438e	startedit
### 01-12-2016 21:12	ns159438e	edit
### 01-12-2016 21:14	ns159438e	startedit
### 01-12-2016 21:14	ns159438e	edit
### 01-12-2016 21:15	ns159438e	startedit
### 01-12-2016 21:16	ns159438e	edit
### 01-12-2016 21:17	ns159438e	startedit
