#if ($contentRoot)
    #set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block"))
    #set ( $currentFolder = $_XPathTool.selectSingleNode($pageStructure, "//system-folder[@current]") )
    #if ( $currentFolder )
        #set ( $setupBlock = $_XPathTool.selectSingleNode($currentFolder, "system-block[system-data-structure[@definition-path='Template/Setup Block']]") )
        #if ( $currentFolder.indexOf($setupBlock) == -1)
            #set ( $setupBlocks = $_XPathTool.selectNodes($currentFolder, "ancestor-or-self::system-folder/system-block[system-data-structure[@definition-path='Template/Setup Block']]") )    
            #if ( $setupBlocks.size() < 1 )
                #set ( $setupBlocks = $_XPathTool.selectNodes($currentFolder, "//system-block[system-data-structure[@definition-path='Template/Setup Block']]") )
            #end    
            #set ( $setupBlock = $setupBlocks.get(0) )
        #end
    #else
        #set ( $setupBlock = $_XPathTool.selectSingleNode($pageStructure, "system-block[system-data-structure[@definition-path='Template/Setup Block']]") )
    #end
    ##
    #if ($setupBlock)
        #set ($title = "")
        #set ($donor = "")
        #set ($donor_link = "")
        #set ($logo = "")
        #set ($description = "")
        #set ($path= "")
        #set ($setupBlockPath = $_SerializerTool.serialize($setupBlock.getChild("path"), true))
        #set ($setupIndex = $setupBlockPath.lastIndexOf("/"))
        #set ($setupBlockPath = $setupBlockPath.substring(0, $setupIndex))
        #set ($path = $setupBlock.getChild("path").value)
        #set ($setupBlock =  $setupBlock.getChild("system-data-structure"))
        #set ($siteInfo = $_XPathTool.selectSingleNode($setupBlock, "site_info"))
        ##Site Info
        #set ($title = $_SerializerTool.serialize($siteInfo.getChild("title"), true))
        #set ($donor = $_SerializerTool.serialize($setupBlock.getChild("advanced").getChild("donor"), true))
        #set ($donor_link = $_SerializerTool.serialize($setupBlock.getChild("advanced").getChild("donor_link"), true))
        #set ($logo = $siteInfo.getChild("logo").getChild("path").value)
        #set ($description = $_SerializerTool.serialize($siteInfo.getChild("description"), true))
        #set ($lastIndex = $path.lastIndexOf("/"))
        #set ($lastIndex = $lastIndex + 1)
        #set ($path = $path.substring(0, $lastIndex))
        #set ($path = $path + "default")
        #if (($title != "" && $title !="<title />"))
        <div class="site-brand pull-left" role="banner">
            #if ($donor != "" && $donor !="<donor />")
                #if ($donor_link != "" && $donor_link !="<donor_link />")
                    <a class="brand donor_link" href="$donor_link" target="_blank"><span class="donor">$donor</span></a><a class="brand site_name" href="$path">$title</a>
                #else
                    <a class="brand" href="$path"><span class="donor">$donor</span> $title</a>
                #end
            #else
            <a class="brand site_name" href="$path">$title</a>
            #end
        </div>
        #end
    #end
#end

## Format URL: http://cascade.umt.edu/entity/open.act?id=e6d21e910a0a07cc138c3c8f986fcc3d&type=format&#highlight

## Audits
### 02-12-2014 16:11	kf139826e	edit
### 02-12-2014 16:11	kf139826e	startedit
### 02-25-2014 16:13	kp128580	edit
### 02-25-2014 16:11	kp128580	startedit
### 02-25-2014 16:37	kp128580	edit
### 02-25-2014 16:29	kp128580	startedit
### 02-25-2014 16:41	kp128580	edit
### 02-25-2014 16:37	kp128580	startedit
### 02-25-2014 16:42	kp128580	edit
### 02-25-2014 16:41	kp128580	startedit
