#if ($contentRoot)
    #import('/_cms/scripts/includes/Main')
    ##
    #set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block"))
    #set ( $currentFolder = $_XPathTool.selectSingleNode($pageStructure, "//system-folder[@current]") )
    #if ( $currentFolder )
        #set ( $setupBlock = $_XPathTool.selectSingleNode($currentFolder, "system-block[system-data-structure[@definition-path='Template/Setup Block']]") )
        #if ( $currentFolder.indexOf($setupBlock) == -1)
            #set ( $setupBlocks = $_XPathTool.selectNodes($currentFolder, "ancestor-or-self::system-folder/system-block[system-data-structure[@definition-path='Template/Setup Block']]") )    
            #if ( $setupBlocks.size() < 1 )
                #set ( $setupBlocks = $_XPathTool.selectNodes($currentFolder, "//system-block[system-data-structure[@definition-path='Template/Setup Block']]") )
            #end    
            #set ( $setupBlock = $setupBlocks.get(0) )
        #end
    #else
        #set ( $setupBlock = $_XPathTool.selectSingleNode($pageStructure, "system-block[system-data-structure[@definition-path='Template/Setup Block']]") )
    #end
    #if ($setupBlock)
        #set ($blockPath = $setupBlock.getChild("path").text)
        #set ($setupBlock = $_.locateBlock($blockPath, $currentPageSiteName ))
        ##<pre>$_PropertyTool.outputProperties($setupBlock)</pre>
        
        
        
        ##pinecone award highjack
            #set ($show_nomination_form ="")
            #set ($show_nomination_form = $setupBlock.getChild("system-data-structure").getChild("pinecone-awards").getChild("nominate-button").getChild("value").value)
            #if($show_nomination_form == "Yes") 
                <div class="section_line_maroon section_gradient_vertical nomination_button hidden-phone">
                        <a href="http://www.umt.edu/web/pinecone-awards/award-categories.php" target="_blank" title="Nominate for the Pinecone Awards"><span>Nominate this Site</span></a>
                </div>
            #end
        ##end pinecone award highjak
        #set ($setupBlockPath = $_SerializerTool.serialize($setupBlock.getChild("path"), true))
        #set ($setupIndex = $setupBlockPath.lastIndexOf("/"))
        #set ($setupBlockPath = $setupBlockPath.substring(0, $setupIndex))
        #set ($setupBlock =  $setupBlock.getChild("system-data-structure"))
        ##Contact Info
        #set ($siteTitle = "")
        #set ($abbreviation = "")
        #set ($label = "")
        #set ($email = "")
        #set ($phone = "")
        #set ($fax = "")
        #set ($lines = "")
        #set ($donor = "")
        #set ($contactSize = "")
        #set ($logo = "")
        #set ($useAbbreviation = "")
        #set ($pullContactInfo = "")
        #set ($contact_belows = "")
        #set ($contact_below = "")
        #set ($contact_page = "")
        #set ($show_donor = "")
        #set ($contactStructure = $_XPathTool.selectSingleNode($setupBlock, "contact_info"))
        #set ($show_donor = $contactStructure.getChild("advanced").getChild("show_donor").value)
        #set ($siteTitle = $_SerializerTool.serialize($setupBlock.getChild("site_info").getChild("title"), true))
        #set ($abbreviation = $_SerializerTool.serialize($setupBlock.getChild("site_info").getChild("abbreviation"), true))
        
                #if($setupBlock.getChild("advanced").getChild("donor").value != "" && $show_donor == 'Yes')
            #set ($siteTitle = $_SerializerTool.serialize($setupBlock.getChild("advanced").getChild("donor"), true)+" "+$siteTitle)
        #end
        ###if($setupBlock.getChild("advanced").getChild("donor").value != "")
            ###set ($abbreviation = $_SerializerTool.serialize($setupBlock.getChild("advanced").getChild("donor"), true)+" "+$abbreviation )
        ###end
        
        #set ($label = $_SerializerTool.serialize($contactStructure.getChild("label"), true))
        #set ($emails = $_XPathTool.selectNodes($contactStructure, "email"))
        #set ($phone = $_SerializerTool.serialize($contactStructure.getChild("phone"), true))
        #set ($phones = $_XPathTool.selectNodes($contactStructure, "phone"))

        #set ($fax = $_SerializerTool.serialize($contactStructure.getChild("fax"), true))
        #set ($lines = $_XPathTool.selectNodes($contactStructure, "address"))
        #set ($contactSize = $_SerializerTool.serialize($contactStructure.getChild("span_size"), true))
        #set ($showLogo = $contactStructure.getChild("advanced").getChild("logo").value)
        #set ($logo = $_XPathTool.selectSingleNode($setupBlock, "advanced").getChild("logo").getChild("path").value)
        #set ($useAbbreviation =  $contactStructure.getChild("advanced").getChild("site_abbreviation").value)
        #set ($contact_belows =  $_XPathTool.selectNodes($contactStructure, "advanced/below_block"))
        #set ($contact_page = $contactStructure.getChild("advanced").getChild("internal_link"))
        #set ($page_link = $_SerializerTool.serialize($contact_page.getChild("path"), true))
        #set ($page_display = $_SerializerTool.serialize($contact_page.getChild("display-name"), true))
        ##Footer Contents
        #set ($footer = $_XPathTool.selectSingleNode($setupBlock, "footer"))
        #set ($footerContents = $_XPathTool.selectNodes($footer, "section"))
        #set ($footerSize = $footerContents.size())
            #if ($footerSize > 0)
                #if ($footerSize == 1)
                    #set ($footerSpan = "col-md-12")
                #elseif($footerSize == 2)
                    #set ($footerSpan = "col-md-6")
                #elseif($footerSize == 3) 
                    #set ($footerSpan = "col-md-4")
                #else
                    #set ($footerSpan = "col-md-3")
                #end
            #end
        #if ($footerSize > 0)
        <div class="site-footer transparent_box_light">
            #if ($contactSize == "Small")
                #set ($contactSpan = "col-md-2")
                #set ($footerWidth = 10)
            #elseif($contactSize == "Normal")
                #set ($contactSpan = "col-md-3")
                #set ($footerWidth = 9)
            #elseif($contactSize == "Large")
                #set ($contactSpan = "col-md-6")
                #set ($footerWidth = 6)
            #else
                #set ($contactSpan = "col-md-12")
                #set ($footerWidth = 12)
            #end
            #if($footerWidth < 12 && $contactSpan != "col-md-12" && $contactSpan != "col-md-12 footer_full_row")
                ##we must have a mega footer including contact info
                #set($pullContactInfo = "pull-right")
            #end
            #if ($footerSize > 0)
                #if ($footerContents.get(0).value == "<content/>" || $footerContents.get(0).value == "")
                    #set ($contactSpan = "col-md-12 footer_full_row")
                #end
            #end    
            #if ($footerSize > 0)
            #set ($checkHeading = $_SerializerTool.serialize($footerContents.get(0).getChild("heading"), true))
            #set ($checkContent = $_SerializerTool.serialize($footerContents.get(0).getChild("content"), true))
            #set ($checkAboveBlock = $_SerializerTool.serialize($footerContents.get(0).getChild("advanced").getChild("above_block").getChild("path"), true))
            #set ($checkBelowBlock = $_SerializerTool.serialize($footerContents.get(0).getChild("advanced").getChild("below_block").getChild("path"), true))
                #if (($checkContent != "" && $checkContent != "<content />") || ($checkHeading != "" && $checkHeading != "<heading />") || ($checkAboveBlock != "" && $checkAboveBlock != "/") || ($checkBelowBlock != "" && $checkBelowBlock != "/"))
                <div class="col-md-$footerWidth $pullContactInfo footer_wrapper">
                    <div class="row">
                        #foreach ($section in $footerContents)
                            #set($heading = "")
                            #set($content = "")
                            #set($footerSectionAboves = "")
                            #set($footerSectionBelows = "")
                            #set($below = "")
                            #set($above = "")
                            
                            #set($heading = $_SerializerTool.serialize($section.getChild("heading"), true))
                            #if($checkContent != "")
                                #set($content = $_SerializerTool.serialize($section.getChild("content"), true))
                            #end
                            #set($class = $_SerializerTool.serialize($section.getChild("advanced").getChild("class"), true))
                            #set($footerSectionBelows = $_XPathTool.selectNodes($section, "advanced/below_block"))
                            #set($footerSectionAboves = $_XPathTool.selectNodes($section, "advanced/above_block"))
                            
                            <div class="$footerSpan">
                             #if($section.getChild("advanced").getChild("class").value != "") <div class="$class">#end
                                #if($heading != "" && $heading != "<heading />")<h3>$heading</h3>#end
                                #foreach ($above in $footerSectionAboves)
                                    #displayBlock($above "above_block")
                                #end
                                #if($content != "") <div class="content">$content</div> #end
                                #foreach ($below in $footerSectionBelows)
                                    #displayBlock($below "below_block")
                                #end
                             #if($section.getChild("advanced").getChild("class").value != "") </div>#end
                            </div>
                        #end
                    </div>
                </div>
                #end
            #end
            
            #if ($contactSpan == "col-md-12" || $contactSpan == "col-md-12 footer_full_row")<div class="row contact_wrapper">#end
            <div class="$contactSpan contact_information">
            #if ($logo != "" && $logo != "/" && $showLogo == "Yes") 
                <img class="site_logo" src="$logo" alt="$siteTitle logo" />
            #elseif ($label != "" && $label != "<label />")
                <h3>$label</h3>
            #end
            
            #if ($contactSpan == "col-md-12" || $contactSpan == "col-md-12 footer_full_row")
            <ul class="inline">
            #else
            <ul>
            #end
            
            #if($showLogo != "Yes" || $logo == "" || $logo == "/")
                #if ($useAbbreviation == "Yes" && $abbreviation != "" && $abbreviation != "<abbreviation />")
                    <li>$abbreviation</li>
                #elseif ($siteTitle != "")
                    <li>$siteTitle</li>
                #end
            #end
            
                #foreach ($line in $lines)
                        #if ($line.value != "" && $line != "<address />" && $lines.size() > 0)<li>$_SerializerTool.serialize($line, true)</li>#end
                #end   
                 #if ($phones.size() >  0)
                     #foreach($phone in $phones)
                         #if ($phone.value != "" && $phone != "<phone />")
                            <li>Phone:  #formatPhone($_SerializerTool.serialize($phone, true))</li>
                         #end
                     #end
                 #end
                 #if ($fax != "" && $fax != "<fax />")<li>Fax: #formatPhone($fax)</li>#end
                #foreach ($email in $emails)
                    #if ($email.value != "" && $email.value != "<email />" && $emails.size() > 0)<li class="contact-email"><a href="mailto:$_SerializerTool.serialize($email, true)">$_SerializerTool.serialize($email, true)</a></li>#end
                #end
                #if ($page_link != "" && $page_link != "<internal_link/>" && $page_link != "/")
                    <li><a href="$page_link">$page_display</a></li>
                #end
                
            </ul>
            #foreach ($contact_below in $contact_belows)
                #displayBlock($contact_below "below_block")
            #end
            </div>
            #if ($contactSpan == "col-md-12" || $contactSpan == "col-md-12 footer_full_row")</div>#end
            </div>
        #end
        
        
        
    #end
#end

## Format URL: http://cascade.umt.edu/entity/open.act?id=5e261c6d0a0a07cc718afc8a1a369c6b&type=format&#highlight

## Audits
### 07-19-2016 15:04	ws132567e	startedit
### 07-19-2016 15:04	ws132567e	edit
### 07-19-2016 17:25	ws132567e	startedit
### 07-19-2016 17:25	ws132567e	edit
### 07-19-2016 17:33	ws132567e	startedit
### 07-19-2016 17:33	ws132567e	edit
### 07-19-2016 19:43	ws132567e	startedit
### 07-19-2016 19:43	ws132567e	edit
### 05-31-2016 19:04	ws132567e	startedit
### 05-31-2016 19:05	ws132567e	edit
