#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure"))
#set ($admin_profiles = $_XPathTool.selectNodes($contentRoot, "/system-data-structure/administrator_profiles/admin_profile"))
#set ($instructor_profiles = $_XPathTool.selectNodes($contentRoot, "/system-data-structure/instructor_profiles/instructor_profile"))

#set ($pageHeading = $_SerializerTool.serialize($pageStructure.getChild("page_heading"), true))
#set ($pageHeading  = "")
#set ($pageHeading  =  $pageStructure.getChild("page_heading").text)
#if ($pageHeading  != "")
    <h1>$pageHeading</h1>
#end


<h2>Faculty</h2>
#set ($admin_profile_count = $admin_profiles.size())
#if ($admin_profile_count > 0)
#foreach($admin_profile in $admin_profiles)
    
    #set ($image = "")
        
    #set ($first_name = $_SerializerTool.serialize($admin_profile.getChild("first_name"), true))
    #set ($last_name = $_SerializerTool.serialize($admin_profile.getChild("last_name"), true))
    #set ($title_dept = $_SerializerTool.serialize($admin_profile.getChild("title_dept"), true)) 
    #set ($bio = $_SerializerTool.serialize($admin_profile.getChild("bio_text"), true))
    #set ($office = $_SerializerTool.serialize($admin_profile.getChild("office"), true))
    #set ($phone = $_SerializerTool.serialize($admin_profile.getChild("phone"), true))
    #set ($hobbies = $_SerializerTool.serialize($admin_profile.getChild("hobbies"), true))
    #set ($hometown = $_SerializerTool.serialize($admin_profile.getChild("hometown"), true))
    #set ($email = $_SerializerTool.serialize($admin_profile.getChild("email"), true))
    #set ($image = $_SerializerTool.serialize($admin_profile.getChild("profile_photo").getChild("path"), true))
    <div class="profile">
        <div class="profile_info">
                <h3>$first_name $last_name - $title_dept</h3>
                <p>$bio</p>
                <p>Hobbies: $hobbies</p>
                <p>Hometown: $hometown</p>
                <p>Office: $office</p>
                <p>Phone: $phone</p>
                <p>Email: <a href="mailto:$email">$email</a></p>
        </div>
        
        #if ($image != "/")
                <div class="profile_photo">
                    <img src="[system-asset]${image}[/system-asset]"/>
                </div>
        #end    
        
    </div>
#end
#end
#set ($in_profile_count = $instructor_profiles.size())
#if ($in_profile_count > 0)


<h2>Students</h2>

#foreach($instructor_profile in $instructor_profiles)           
    
    #set ($in_image = "")
    
    #set ($in_first_name = $_SerializerTool.serialize($instructor_profile.getChild("in_first_name"), true))
    #set ($in_last_name = $_SerializerTool.serialize($instructor_profile.getChild("in_last_name"), true))
    #set ($in_bio = $_SerializerTool.serialize($instructor_profile.getChild("in_bio_text"), true))    
    #set ($hobbies = $_SerializerTool.serialize($instructor_profile.getChild("hobbies"), true))
    #set ($hometown = $_SerializerTool.serialize($instructor_profile.getChild("hometown"), true))            
    #set ($in_image = $_SerializerTool.serialize($instructor_profile.getChild("in_photo").getChild("path"), true))
    <div class="profile">
        <div class="profile_info">
            <h3>$in_first_name $in_last_name</h3>
            <p>$in_bio</p>
            <p>Hobbies: $hobbies</p>
            <p>Hometown: $hometown</p> 
        </div>
        
        #if ($image != "/")
                <div class="profile_photo">
                    <img src="[system-asset]${in_image}[/system-asset]"/>
                </div>
        #end
        
    </div>
#end
#end

## Format URL: http://cascade.umt.edu/entity/open.act?id=6f2282360a0a07cc462ac22ad2876088&type=format&#highlight

## Audits
### 04-18-2013 21:38	mw139604	move
### 04-18-2013 21:39	mw139604	move
### 04-18-2013 21:40	mw139604	copy
### 04-22-2013 18:17	tc222818	edit
### 04-22-2013 18:16	tc222818	startedit
### 09-23-2013 20:04	mw139604	copy
### 03-15-2013 17:57	tc222818	edit
### 03-15-2013 17:56	tc222818	startedit
### 05-09-2013 19:00	mw139604	edit
### 05-09-2013 18:59	mw139604	startedit
