<section class="widget mobile">
    <div class="widgetContent">
        <form action="/calendar/search-results/index.html" id="csu-search-box-mobile">
            <input name="cx" type="hidden" value="015690437426343781868:dag7i9enbco" /> 
            <input name="ie" type="hidden" value="UTF-8" /> 
            <input class="searchBox" id="searchBox-mobile" name="q" placeholder="Find an Event" title="Search" type="text" />
            <label for="searchBox-mobile">search</label>
            <button name="sa" type="submit" value="Submit"><em aria-hidden="true" class="fa fa-search">&#160;</em></button>
        </form>
    </div>
</section>

<section class="widget mobile">
<div class="wysiwyg-content category-label">Events for:</div>
    <select class="calendar-select categoryDropdown" name="categoryDropdown">
        <option value="calendarListing">All</option>
        <option value="Academics">Academics</option>
        <option value="Alumni">Alumni</option>
        <option value="Athletics">Athletics</option>
        <option value="Career Center">Career Center</option>
        <option value="College of Education Engineering and Professional Studies">College of Education, engineering, and Professional Studies</option>
        <option value="College of Humanities and Social Sciences">College of Humanities and Social Sciences</option>
        <option value="College of Math and Science">College of Math and Science</option>
        <option value="Commencement">Commencement</option>
        <option value="Community">Community</option>
        <option value="Current Students">Current Students</option>
        <option value="Division of Extended Studies">Division of Extended Studies</option>
        <option value="Faculty">Faculty</option>
        <option value="Foundation Office">Foundation Office</option>
        <option value="Hasan School of Business">Hasan School of Business</option>
        <option value="Outdoor Pursuits">Outdoor Pursuits</option>
        <option value="Prospective Students">Prospective Students</option>
        <option value="Staff">Staff</option>
        <option value="Student Recreation Center">Student Recreation Center</option>
        <option value="Maintenance Schedule">Maintenance Schedule</option>
    </select>
</section>    

## Format URL: http://cascade.umt.edu/entity/open.act?id=7f0337140a0a07cc545fdb45e89a2be5&type=format&#highlight

## Audits
### 07-26-2017 13:08	mh129234e	create
