<section class="widget desktop">
    <h2>Search</h2>
    <div class="widgetContent">
        <form action="/calendar/search-results/index.html" id="mtech-search-box">
            <input name="cx" type="hidden" value="015690437426343781868:dag7i9enbco" /> 
            <input name="ie" type="hidden" value="UTF-8" /> 
            <input class="searchBox" id="searchBox" name="q" placeholder="Find an Event" title="Search" type="text" />
            <label for="searchBox">search</label>
            <button name="sa" type="submit" value="Submit"><em aria-hidden="true" class="fa fa-search">&#160;</em></button>
        </form>
    </div>
</section>
<div class="col12">
<a href="#" id="btn-show" class="button-blue">Show All</a>
<a href="#" id="btn-hide" class="button-blue">Hide All</a>
</div>

## Format URL: http://cascade.umt.edu/entity/open.act?id=7f03a42d0a0a07cc545fdb454fa8e9d3&type=format&#highlight

## Audits
### 07-26-2017 13:08	mh129234e	create
### 07-26-2017 14:33	mh129234e	startedit
### 07-26-2017 14:33	mh129234e	edit
