#set ($yearLandings = $_XPathTool.selectNodes($contentRoot, "/system-index-block//system-page[not(contains(path, '_cascade')) and string-length(translate(substring-before(path, name),'/','')) <= 4 and name = 'index']"))

#if ($yearLandings.size() > 0)
$_SortTool.addSortCriterion("title", "", "text", "descending", "upper-first")  
$_SortTool.sort($yearLandings)  

<h4>Jump to Year</h4>
<ul>
#foreach ($landing in $yearLandings)
    ## Reference 'link' node.
    ## Reference 'title' node.
    #set ( $link = $landing.getChild("link") )
    #set ( $title = $landing.getChild("title") )
    
    <li><a target="parent" href="[system-asset:configuration=HTML]${link.value}[/system-asset:configuration]">${_EscapeTool.xml($title.value)}</a></li>
#end
</ul>
#end

## Format URL: http://cascade.umt.edu/entity/open.act?id=7f10085f0a0a07cc545fdb457b0475a6&type=format&#highlight

## Audits
### 07-26-2017 13:22	mh129234e	create
