#macro (output $item)
    #set ($header = $item.getChild("header"))
    #set ($content = $item.getChild("content"))
    #set ($block = $item.getChild("block"))
    <div>
        <div class="textElement">
        ## if the block is chosen and is just a WYSIWYG block
            #if ($block.getChild("path").value != "/" && !$block.getChild("content").getChild("system-data-structure"))
                $_SerializerTool.serialize($block.getChild("content"), true)
                ## if the block is chosen and is just a data definition block
            #elseif ($block.getChild("path").value != "/" && $block.getChild("content").getChild("system-data-structure"))   
            ##Gets the slides using contextual XPath so straing from the block and not the /system-index-block                            
                    #set ($slides = $_XPathTool.selectNodes($block, "content/system-data-structure/slideshow"))
                   
                    #set ($count = 2)
                    #if ( $slides.size() > 0)
                        <div id="slideshow">
                            <div id="sliderotator">
                            #foreach ($slide in $slides)
                            #set ($altText = $slide.getChild("alt").value)
                                #set ($slideImage = $slide.getChild("image").getChild("link").value)                        
                                <div id="slide${count}">
                                    <div class="featured_slide">
                                        <div class="element">
                                            <div class="textElement">
                                                    <img src="${slideImage}" alt="${altText}"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                #set ($count = $count + 1)  
                            #end
                        </div>
                        <div id="prevslide"> </div>
                        <div id="nextslide"> </div>
                    </div>
                    #end
            #elseif ($content.value != "" || $content.getChildren().size() > 0 )    
                <h2 class="black">$_EscapeTool.xml($header.value)</h2>
                $_SerializerTool.serialize($content, true)
            #end
        </div>  
    </div>  
#end

#set ($items = $_XPathTool.selectNodes($contentRoot, "/system-index-block/calling-page/system-page/system-data-structure/callout"))
#set ($count = 1)

#foreach ($item in $items)
    #set ($view = $item.getChild("view-option"))
    #if ($view.value == "Additional")
        <div class="clearBoth"> </div>
        #output ($item)
    #elseif ($view.value == "Left Callout")
        <div class="mainContent-column" id="mainContent-column1">
            #output ($item)
        </div>
    #elseif ($view.value == "Right Callout")
        <div class="mainContent-column" id="mainContent-column2">
            #output ($item)
        </div>
    #end
#end

## Format URL: http://cascade.umt.edu/entity/open.act?id=7f134e5c0a0a07cc545fdb4528419548&type=format&#highlight

## Audits
### 07-26-2017 13:25	mh129234e	create
