#set ($events = $_XPathTool.selectNodes($contentRoot, "/system-index-block[@name = 'all events']/system-page"))
#set ( $pageCategories = $_XPathTool.selectNodes($contentRoot, "//system-page[@current][system-data-structure/content/events[display='Yes']]/dynamic-metadata[name='categories']/value") )
#set ( $numDisplay = $_XPathTool.selectSingleNode($contentRoot, "//system-page[@current]/system-data-structure/content/events/num-display") )
#set ( $maxNumberOfEvents = $_MathTool.toNumber( $numDisplay.value ) )
#set ( $currentTime = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block/@current-time") )
#set ( $currentTimeInt = $_MathTool.toNumber( $currentTime.value ) )
#set ( $firstArticle = true )

## DEBUGGING: <br/><br/><div style="color: red;">${maxNumberOfEvents}</div>
## DEBUGGING: <br/><br/><div style="color: red;">${currentTime.value}</div>
## DEBUGGING: <div> ${pageCategories.size()} </div>
## DEBUGGING: #foreach ( $pageCat in $pageCategories )
## DEBUGGING:     <div style="color: red;">${pageCat.value}</div>
## DEBUGGING: #end
#if ($events.size() > 0 && $pageCategories.size() > 0)
    $_SortTool.addSortCriterion("system-data-structure/starts", "en", "number", "ascending", "")
    $_SortTool.addSortCriterion("title", "", "text", "ascending", "upper-first") 
    $_SortTool.sort($events)  
    
    ## DEBUGGING: <div> ${pageCategories.size()} </div>
    #foreach ($event in $events)
        ## check if we've reached our limit
        #if ( $maxNumberOfEvents <= 0 )
            #break
        #end
        
        ## DEBUGGING: <div> $_SerializerTool.serialize($event.getChild("title"), true) </div>
        #if ( !$event.getChild("path").value.contains("_cascade") )
            ## Examine the event's categories to see if it matches the categories for the page
            #set ( $eventCategories = $_XPathTool.selectNodes($event, "dynamic-metadata[name = 'categories']/value" ) )
            #set ( $categoryMatch = false )
            ## DEBUGGING: <div> ${eventCategories.size()} <br />
            #foreach ( $cat in $eventCategories )
                ## DEBUGGING: ${cat.value} <br />
                #foreach ( $pageCat in $pageCategories )
                    #if ( $pageCat.value == $cat.value )
                        #set ( $categoryMatch = true )
                        #break
                    #end
                #end
                #if ( $categoryMatch )
                    #break
                #end
            #end
            ## DEBUGGING: </div><br />
            #if ( $categoryMatch )
                #set ( $eventStart = $event.getChild("system-data-structure").getChild("starts") )
                #set ( $eventEnd = $event.getChild("system-data-structure").getChild("ends") )
                #set ( $eventEndInt = $_MathTool.toNumber( $eventEnd.value ) )
                ## DEBUGGING: #set ( $result = $currentTimeInt < $eventEndInt )
                ## DEBUGGING: <div style="color: blue;">MATCHED!<br />Start: ${eventStart.value}<br />Current: ${currentTimeInt}<br />End: ${eventEndInt}</div>
                ## DEBUGGING: <div style="color: green;">${result}</div>
                #if ( $currentTimeInt < $eventEndInt )
                    #set ( $maxNumberOfEvents = $maxNumberOfEvents - 1 )
                    #if ( $firstArticle )
                        #set ( $firstArticle = false )
                        <section class="events contentBlock">
                            <h2>Events</h2>
                    #end
                    ## Reference 'link' node.
                    ## Reference 'title' node.
                    #set ( $link = $event.getChild("link") )
                    #set ( $title = $event.getChild("title") )
                    ## DEBUGGING: <div><b>${title.value}</b></div>
                    
                    #set ( $eventLocation = $event.getChild("system-data-structure").getChild("location") )
                    <article class="event">
                        <div class="eventDate"><span class="month">$_DateTool.format("MMM", $_DateTool.getDate($eventStart.value))</span><span class="day">$_DateTool.format("d", $_DateTool.getDate($eventStart.value))</span></div>
                        <div class="eventText">
                            <header><a href="${link.value}" class="eventName">$_SerializerTool.serialize($title, true)</a></header>
                            $_DateTool.format("h:mm aa", $_DateTool.getDate($eventStart.value)) - $_DateTool.format("h:mm aa", $_DateTool.getDate($eventEnd.value))<br/>
                            #if ( $eventLocation.value != "" )
                            Location: <span class="campus">$_SerializerTool.serialize($eventLocation, true)</span>
                            #end
                        </div>
                    </article>
                #end
            #end
        #end
    #end
    #if ( !$firstArticle )
            <a href="/calendar/index" class="more">more events</a>
        </section>
    #end
#end

## Format URL: http://cascade.umt.edu/entity/open.act?id=7f13b1540a0a07cc545fdb45e163e299&type=format&#highlight

## Audits
### 07-26-2017 13:26	mh129234e	create
