<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="http://cloud.github.com/downloads/malsup/cycle/jquery.cycle.all.2.72.js"></script>

#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure") )
#set ($left_content = $_SerializerTool.serialize($pageStructure.getChild("left_content"), true))
#set ($tips = $_XPathTool.selectNodes($pageStructure, "tips/tip") )

<div class="left_upep">
$left_content
</div>
<div class="upep_tips">
<p><a id="prev" href="#">Prev</a> | <a id="next" href="#">Next</a></p>
<div class="cycle_show">
#foreach ($tip in $tips)
    #set ($content = $_SerializerTool.serialize($tip, true))
    #if ($content != "")
        <div>$content</div>
    #end
#end
</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
    $('.cycle_show').cycle({ 
        fx:      'fade', 
        speed:    1000, 
        timeout:  6000,
        next: '#next',
        prev: '#prev',
        pause:   1
     });
});
</script>

## Format URL: http://cascade.umt.edu/entity/open.act?id=6860ca980a0a04680069069946c77707&type=format&#highlight

## Audits
### 02-10-2012 17:47	ws132567	create
### 02-10-2012 17:50	ws132567	edit
### 02-10-2012 17:48	ws132567	startedit
### 02-10-2012 17:52	ws132567	edit
### 02-10-2012 17:50	ws132567	startedit
### 02-10-2012 17:52	ws132567	edit
### 02-10-2012 17:52	ws132567	startedit
### 02-10-2012 17:53	ws132567	startedit
### 02-10-2012 17:54	ws132567	edit
### 02-10-2012 17:55	ws132567	edit
