#set ( $sib = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block") )
#set ( $currentPage = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block/system-page") )
#set ( $folderBlock = $_XPathTool.selectNodes( $contentRoot, "/system-index-block/system-folder") )
#set ( $navblock = $_XPathTool.selectNodes( $contentRoot, "/system-index-block/system-block") )
#set ( $blockName = $_XPathTool.selectSingleNode( $currentPage, "name") )
##
<div class="header-nav shadow">
<input id="tm" title="topnav" type="checkbox"/>
<ul class="nav" id="menu">
#set ( $navCounter = 0)
#set ( $items = $_XPathTool.selectNodes($sib, "system-page | system-folder | system-block") )
#foreach ( $item in $items )
#if ($item.getName() == "system-folder")
#set ($getnavitem =  $_XPathTool.selectSingleNode( $item, "dynamic-metadata[name='topincnav']/value").value )
#if ($getnavitem == "Yes" )                            
## #if ( $navCounter >= 3 )
##    <li class="rightFloat"><div class="mobilenavtrigger">&#160;</div>
## #else
##     <li><div class="mobilenavtrigger">&#160;</div>
## #end
<li>
<a href="${item.getChild('link').value}/index">${item.getChild("title").value}</a>
<input id="sm1" title="About" type="checkbox"/>
#if ( $item.getChild("system-folder").getChild("name") != "" ) 
#set ( $subItems =  $_XPathTool.selectNodes( $item, "system-block | system-folder | system-page[dynamic-metadata[name='topincnav' and value='Yes']]") )
#if ( $subItems.size() > 0 )
<ul class="sub-menu">                                          
#foreach ( $subItem in $subItems )
#if ($subItem.getName() == "system-page")
#if ( $subItem.getChild("name").value != "index")
#if ($subItem.getChild("name").value != "contact-confirm")
<li><a href="${subItem.getChild('path').value}">${_EscapeTool.html($subItem.getChild('display-name').value)}</a></li>
#end
#end
#elseif ($subItem.getName() == "system-block")
#set ( $getsubnavblock = $_XPathTool.selectSingleNode( $subItem, "dynamic-metadata[name='display-navigation']/value").value )
#if( $getsubnavblock == "Yes" ) 
#set ( $_subnavitem = $_XPathTool.selectSingleNode( $subItem, "system-data-structure" ) )
#set ( $_sublink = "" )
#set ( $target = "" )
#set ( $title = "" )
#set ( $title = $_item.getChild("title").value )
#if ( $_subnavitem.getChild("link-page").getChild("page").getChild("path").value != "/")
#set ( $_sublink = $_subnavitem.getChild("link-page").getChild("page").getChild("path").value )
#elseif ($_subnavitem.getChild("link-file").getChild("file").getChild("path").value != "/")
#set ( $_sublink = $_subnavitem.getChild("link-file").getChild("file").getChild("path").value )
#elseif ($_subnavitem.getChild("link-external").getChild("url").value != "")
#set ( $_sublink = $_subnavitem.getChild("link-external").getChild("url").value )
#if ($_subnavitem.getChild("link-external").getChild("target").value == "New Window")
#set ( $target = " target='_blank'" )
#end
#end   
<li><a href="${_sublink}" target="${target}">${_EscapeTool.html($subItem.getChild('display-name').value)}</a></li>
#end
#elseif ($subItem.getName() == "system-folder")
#set ($getsubnavfolder =  $_XPathTool.selectSingleNode( $subItem, "dynamic-metadata[name='topincnav']/value").value )
#if ($getsubnavfolder == "Yes" )
##<li><a href="${subItem.getChild('path').value}/index">${_EscapeTool.html($subItem.getChild('display-name').value)}</a></li>
<li><a href="${subItem.getChild('link').value}">${_EscapeTool.html($subItem.getChild('display-name').value)}</a></li>
#end
#end
#end
</ul>
#end
#end
</li>
#end
#elseif ($item.getName() == "system-block")
#set ( $getnavblock = $_XPathTool.selectSingleNode( $item, "dynamic-metadata[name='display-navigation']/value").value )
#if( $getnavblock == "Yes" ) 
#set ( $_item = $_XPathTool.selectSingleNode( $item, "system-data-structure" ) )
#set ( $_link = "" )
#set ( $_target = "" )
#set ( $_title = "" )
#set ( $_title = $_item.getChild("title").value )
#if ($_item.getChild("link-page").getChild("page").getChild("path").value != "/")
#set ( $_link = $_item.getChild("link-page").getChild("page").getChild("link").value )
#elseif ($_item.getChild("link-file").getChild("file").getChild("path").value != "/")
#set ( $_link = $_item.getChild("link-file").getChild("file").getChild("link").value )
#elseif ($_item.getChild("link-external").getChild("url").value != "")
#set ( $_link = $_item.getChild("link-external").getChild("url").value )
#if ($_item.getChild("link-external").getChild("target").value == "New Window")
#set ( $_target = " target='_blank'" )
#end
#end   
<li>
<a href="${_link}" target="${_target}">${_EscapeTool.html($item.getChild('display-name').value)}</a></li>
#end
#end
#end
</ul>
</div>

## Format URL: http://cascade.umt.edu/entity/open.act?id=f50f107a0a0a07cc545fdb453f1c6482&type=format&#highlight

## Audits
### 07-06-2017 17:41	mj129236e	edit
### 07-06-2017 17:41	mj129236e	startedit
### 07-06-2017 17:42	mj129236e	activate_version
### 12-04-2017 13:48	mj129236e	startedit
### 12-04-2017 13:48	mj129236e	edit
### 07-14-2017 14:02	mj129236e	startedit
### 07-14-2017 14:03	mj129236e	edit
### 07-14-2017 14:03	mj129236e	activate_version
### 07-14-2017 14:04	mj129236e	edit
### 07-14-2017 14:04	mj129236e	startedit
