[system-view:external]
#macro (jsonMacro $node $attribute){##
#if($attribute && $attribute != "") "attributes": {"definition-path": "$attribute"},#end
#set($count = $node.getChildren().size())
#foreach ($child in $node.getChildren())
#set ( $nodeName = $child.name.toString().replace("-","_") )
#set($attribute = "")
#set($attribute = $child.getAttribute("definition-path").value.replace(" ","-").toLowerCase())
#if($nodeName == 'value') #set($nodeName =  "Array_Value"+$velocityCount) #end
"$nodeName": #if($nodeName == "content") "$_SerializerTool.serialize($child,true).replaceAll("\r\n"," ").toString().replace("${_EscapeTool.quote}", "\\${_EscapeTool.quote}")" #elseif($child.getChildren().size() > 0) #jsonMacro ($child $attribute) #elseif($nodeName == "path" && $child.value == "/") "" #else "$_SerializerTool.serialize($child,true).replace('"','\"').replaceAll("\r\n"," ")" #end #if($foreach.hasNext),#end
#end}
#end

#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block"))
#set ($callingPage = $_SerializerTool.serialize($pageStructure.getChild("calling-page").getChild("system-page").getChild("name"), true))
#if ($callingPage == "campus_and_community")
    #set ($callingPage = "Campus and Community")
#elseif($callingPage == "academics")
    #set ($callingPage = "Academics")
#elseif($callingPage == "research")
    #set ($callingPage = "Research")
#elseif($callingPage == "international")
    #set ($callingPage = "International")
#elseif($callingPage == "athletics")
    #set ($callingPage = "Athletics")
#elseif($callingPage == "alumni")
    #set ($callingPage = "Alumni")
#elseif($callingPage == "arts_and_culture")
    #set ($callingPage = "Arts and Culture")
#elseif($callingPage == "default")
    #set ($callingPage = "All")
#end

#set ($category_pages = $_XPathTool.selectNodes($contentRoot, "system-folder[name='categories']/system-page"))

<div class="container tile_wrapper">
<div class="tiles">


#set ($count = 0)

<div class="tile_row row-fluid">
#set ($items = $_XPathTool.selectNodes($contentRoot, "//system-page[system-data-structure[@definition-path='Featured Tiles/Raw HTML' or @definition-path='Featured Tiles/Video Tile' or @definition-path='Featured Tiles/Standard Tile']]"))
<!--#START-CODE 
<?php
include_once('tiles/tile_builder.class.php');
$tile_builder = new tile_builder();
$tiles = array();
$mustache_templates = array();
#END-CODE-->
#foreach ($item in $items)
    #set ($categories = "")
    #set ($include = "No")
    #set ($categories = $_XPathTool.selectNodes($item, "system-data-structure/categories/value"))
    #foreach ($value in $categories)
        #if ($value.text == $callingPage)
            #set ($include = "Yes")
        #end
    #end
#if ($include == "Yes" || $callingPage == "All")
<!--#START-CODE $tile = <<<EOF
#jsonMacro($item)
EOF;
array_push($tiles, $tile_builder->parse_json($tile));
#END-CODE-->
#end
#end
#set ($templates = $_XPathTool.selectNodes($contentRoot, "//system-page[system-data-structure[@definition-path='template']]"))
#foreach ($template in $templates)##
<!--#START-CODE$mustache_template_html = <<<EOF
#END-CODE-->#jsonMacro($template)<!--#START-CODE
EOF;
array_push($mustache_templates,$tile_builder->parse_json($mustache_template_html));
#END-CODE-->
#end
<!--#START-CODE $tile_builder->build($tiles, $mustache_templates); ?>
#END-CODE-->
</div>

</div></div>
[/system-view:external]

## Format URL: http://cascade.umt.edu/entity/open.act?id=c60db8c50a0a07cc0358026538ffae39&type=format&#highlight

## Audits
### 04-12-2013 22:32	ns159438e	startedit
### 04-12-2013 22:32	ns159438e	edit
### 05-19-2014 20:37	kf139826e	startedit
### 05-19-2014 20:37	kf139826e	edit
### 09-23-2013 03:03	ns159438e	startedit
### 09-23-2013 03:05	ns159438e	edit
### 09-23-2013 03:08	ns159438e	edit
### 09-23-2013 03:06	ns159438e	startedit
### 09-23-2013 03:09	ns159438e	startedit
### 09-23-2013 03:09	ns159438e	edit
