#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure") )
#set ($rows = $_XPathTool.selectNodes($contentRoot, "/system-data-structure"))
#set ($rowNumbers = $rows.size())
#set ($app_categories = $_XPathTool.selectNodes($pageStructure, "category"))
#set ($content = $_SerializerTool.serialize($pageStructure.getChild("content"), true))

<div class="cas_apps_wrapper remainder-box">
$content

#foreach ($casapp_category in $app_categories)
    #set ($app_category = "")
    #set ($app_category = $_SerializerTool.serialize($casapp_category.getChild("category_name"), true))
    <h2 class="cas_title">$app_category</h2>
    <div class="cat_wrapper row-fluid">
    
    #set ($cas_apps = $_XPathTool.selectNodes($casapp_category, "cas_app"))
    #set ($count = 0)
    #foreach ($cas_app in $cas_apps)
        
        #set ($app_image = "")
        #set ($app_title = "")
        #set ($app_url = "")
        #set ($app_description ="")
        #set ($app_image = $_SerializerTool.serialize($cas_app.getChild("app_icon").getChild("path"), true))
        #set ($app_url = $_SerializerTool.serialize($cas_app.getChild("app_url"), true))
        #set ($app_title = $_SerializerTool.serialize($cas_app.getChild("app_title"), true))
        #set ($app_description = $_SerializerTool.serialize($cas_app.getChild("app_description"), true))    
            <div class="cas_app_container span3">
            <a href="$app_url" title="Go to $app_title">
                <img src="$app_image"/>             
                #if ($cas_app.getChild("app_description").text != "")
                <span>                  
                    <h3 class="app_title">$app_title</h3>
                    <p>$app_description</p>
                </span> 
                #else
                    <h3 class="app_title_centered">$app_title</h3>
                #end
                                
            </a>
            </div>
        #set ($count = $count +1)
        #if ($count == 4)
        </div>
        <div class="row-fluid">
        #end
    #end
    </div>
#end
</div>

## Format URL: http://cascade.umt.edu/entity/open.act?id=888b863c0a0a07cc578cef1861a52d38&type=format&#highlight

## Audits
### 03-03-2014 18:07	kp128580	edit
### 03-03-2014 18:05	kp128580	startedit
### 03-03-2014 18:21	kp128580	startedit
### 03-03-2014 18:23	kp128580	edit
### 03-03-2014 18:27	kp128580	startedit
### 03-03-2014 18:28	kp128580	edit
### 03-03-2014 20:16	kp128580	startedit
### 03-03-2014 20:16	kp128580	edit
### 03-03-2014 20:18	kp128580	startedit
### 03-03-2014 20:19	kp128580	edit
