#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure") )
#set ($rows = $_XPathTool.selectNodes($contentRoot, "/system-data-structure"))
#set ($rowNumbers = $rows.size())
#set ($content = "")
#set ($counter = 0)
#set ($contentNodes = $pageStructure.getChildren("content"))

#foreach ($contentNode in $contentNodes )
    #set ($content = $_SerializerTool.serialize($contentNode, true))
    #set ($columns = $contentNodes.size())
    #if ($counter == 3) 
        <div class="round_box column account_management">
            $content
        </div>
    
    #else
        <div class="column">
            $content
        </div>
        
    #end
    #set ($counter = $counter + 1)
#end


## Format URL: http://cascade.umt.edu/entity/open.act?id=888b860d0a0a07cc578cef187a0c2773&type=format&#highlight

## Audits
