#set ($dirHome = "/Academic Programs/Courses/")
#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block") )
#set ($courses = $_XPathTool.selectNodes($pageStructure, "system-page"))
#set ($currentPage = $_SerializerTool.serialize($pageStructure.getChild("calling-page").getChild("system-page").getChild("display-name"), true))

<h1>$currentPage</h1>


<div>
#foreach ($class in $courses)
    #set ($subject = "")
    #set ($number = "")
    #set ($course-title = "")
    #set ($link = "")
    #set ($active = "") 
    #set ($subject = $_SerializerTool.serialize($class.getChild("system-data-structure").getChild("subject"), true))
    #set ($number = $_SerializerTool.serialize($class.getChild("system-data-structure").getChild("number"), true))
    #set ($course-title = $_SerializerTool.serialize($class.getChild("system-data-structure").getChild("course-title"), true))
    #set ($link = $_SerializerTool.serialize($class.getChild("link"), true))
    #set ($active = $_SerializerTool.serialize($class.getChild("system-data-structure").getChild("active").getChild("value"), true))
    
    #if ($active == "Yes" && $subject == "PTRM")
    <p>
    <a href='$link'>$subject $number - $course-title</a>
    </p>
    #end
#end
</div>










## Format URL: http://cascade.umt.edu/entity/open.act?id=fffc60b60a0a046801e2120b9c2e05dc&type=format&#highlight

## Audits
### 05-17-2011 22:07	sm166858e	startedit
### 05-17-2011 22:08	sm166858e	edit
### 05-17-2011 22:09	sm166858e	edit
### 05-17-2011 22:09	sm166858e	startedit
### 05-17-2011 22:11	sm166858e	startedit
### 05-17-2011 22:11	sm166858e	edit
### 05-17-2011 22:12	sm166858e	startedit
### 05-17-2011 22:12	sm166858e	edit
### 01-28-2012 19:18	ws132567	startedit
### 01-28-2012 19:18	ws132567	edit
