#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure") )
#set ($rows = $_XPathTool.selectNodes($contentRoot, "/system-data-structure"))
#set ($rowNumbers = $rows.size())
#set ($content_page= $_XPathTool.selectNodes($contentRoot, "/system-data-structure"))
#set ($contentNodes = $pageStructure.getChildren("content_cont"))
#set ($PageTitle = $_SerializerTool.serialize($pageStructure.getChild("PageTitle"), true))
#set ($content ="")
#set ($main_content ="")
#set ($right_content ="")
#set ($counter = 0)
#set ($columns= 0)
#set ($leftColPadding = ($pageStructure.getChild("leftColPadding").getChild("value").text))
#foreach ($contentNode in $contentNodes)
    #set ($content= $_SerializerTool.serialize($contentNode, true))
    #if($counter==0)
        #set ($main_content = $_SerializerTool.serialize($contentNode, true))
        #set ($columns = 1)
    #end
    #if($counter==1)
        #set ($right_content = $_SerializerTool.serialize($contentNode, true))  
        #set ($columns = 2)
    #end
    #set ($counter = $counter+1)
#end



<div>
#if($columns ==1)
    <div class="large_site_content">
    #if ($pageStructure.getChild("PageTitle").text != "")
        
            <h1>$PageTitle</h1>
        
#end
        $main_content
    </div>
#end
#if ($columns >1)
    <div class="site_content">
    #if ($pageStructure.getChild("PageTitle").text != "")
        
            <h1>$PageTitle</h1>
        
#end
        $main_content
    </div>
    <div class="site_right">
        $right_content
    </div>
#end
</div>

## Format URL: http://cascade.umt.edu/entity/open.act?id=ec4be99b0a0a046801c458a575544c8e&type=format&#highlight

## Audits
### 01-28-2012 18:34	ws132567	startedit
### 01-28-2012 18:34	ws132567	edit
### 12-30-2010 22:35	sm166858e	edit
### 12-30-2010 22:35	sm166858e	startedit
### 01-03-2011 16:07	es165908e	edit
### 01-03-2011 16:00	es165908e	startedit
### 01-03-2011 16:10	es165908e	startedit
### 01-03-2011 16:11	es165908e	edit
### 04-13-2011 19:47	sm166858e	copy
### 04-14-2011 21:34	sm166858e	edit
