#set ($folder-root-page-name = "default")

#set ($firstFolders = $_XPathTool.selectNodes($contentRoot, "/system-index-block/system-folder"))
#set ($firstPages = $_XPathTool.selectNodes($contentRoot, "/system-index-block/system-page"))
#set ($firstLinks = $_XPathTool.selectNodes($contentRoot, "/system-index-block/system-symlink"))
#macro (recurseNav $fList $pList $lList)
    #set ($folderList = $fList)
    #set ($pageList = $pList)
    #set ($linkList = $lList)
    #set ($folders = "")
    #set ($pages = "")
    #set ($links = "")
    #foreach ($page in $pageList)
        #set ($navExclude = $_SerializerTool.serialize($page.getChild("dynamic-metadata").getChild("value"), true))
        #if ($navExclude != "No" && $_SerializerTool.serialize($page.getChild("name"), true) != "default")
            <li>
                <a href='$_SerializerTool.serialize($page.getChild("path"), true)'>$_SerializerTool.serialize($page.getChild("display-name"), true)</a>
            </li>
        #end
    #end
    #foreach ($link in $linkList)
        #set ($navExclude = $_SerializerTool.serialize($link.getChild("dynamic-metadata").getChild("value"), true))
        #if ($navExclude != "No" && $_SerializerTool.serialize($link.getChild("name"), true) != "default")
            <li>
                <a href='$_SerializerTool.serialize($link.getChild("path"), true)'>$_SerializerTool.serialize($link.getChild("display-name"), true)</a>
            </li>
        #end
    #end
    #foreach($folder in $folderList)
        #set ($navExclude = $_SerializerTool.serialize($folder.getChild("dynamic-metadata").getChild("value"), true))
        #if ($navExclude != "No" && $_SerializerTool.serialize($folder.getChild("name"), true) != "default")
            <li class="has-sub">
                <a href='$_SerializerTool.serialize($folder.getChild("path"), true)/$folder-root-page-name'>$_SerializerTool.serialize($folder.getChild("display-name"), true)</a>
                #set ($folders = $_XPathTool.selectNodes($folder, "system-folder"))
                #set ($pages = $_XPathTool.selectNodes($folder, "system-page"))
                #set ($links = $_XPathTool.selectNodes($folder, "system-symlink"))
                #if($folders.size() > 0 || $pages.size() > 1)
                    <ul>
                        #recurseNav ($folders $pages $links)
                    </ul>
                #end
            </li>
        #end
    #end
#end
<ul>
    <li><a href="/default">Home</a></li>
    #recurseNav ($firstFolders $firstPages $firstLinks)
</ul>

## Format URL: http://cascade.umt.edu/entity/open.act?id=776587760a0a046800a760b2439fe4da&type=format&#highlight

## Audits
### 01-28-2012 18:35	ws132567	edit
### 01-28-2012 18:35	ws132567	startedit
### 11-28-2012 20:43	sm166858e	copy
### 11-29-2012 16:52	sm166858e	startedit
### 11-29-2012 16:53	sm166858e	edit
### 11-29-2012 17:54	sm166858e	edit
### 11-29-2012 17:53	sm166858e	startedit
### 11-29-2012 18:43	sm166858e	startedit
### 11-29-2012 18:44	sm166858e	edit
### 11-29-2012 18:53	ws132567	startedit
