#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure") )
#set ($rows = $_XPathTool.selectNodes($contentRoot, "/system-data-structure"))
#set ($rowNumbers = $rows.size())
#set ($content_page= $_XPathTool.selectNodes($contentRoot, "/system-data-structure"))
#set ($contentNodes = $pageStructure.getChildren("content_cont"))
#set ($content ="")
#set ($PageTitle = $_SerializerTool.serialize($pageStructure.getChild("PageTitle"), true).replaceAll('"',"&quot;").replaceAll("""","&quot;").replaceAll("'","&apos;"))
#set ($main_content ="")
#set ($right_content ="")
#set ($counter = 0)
#set ($columns= 0)
#set ($leftColPadding = ($pageStructure.getChild("leftColPadding").getChild("value").text))

#if ($pageStructure.getChild("PageTitle").text != "")
        
            <h1>$PageTitle</h1>
        
#end

#foreach ($contentNode in $contentNodes)
    #set ($content= $_SerializerTool.serialize($contentNode, true))
    #if($counter==0)
        #set ($main_content = $_SerializerTool.serialize($contentNode, true))
        #set ($columns = 1)
    #end
    #if($counter==1)
        #set ($right_content = $_SerializerTool.serialize($contentNode, true))  
        #set ($columns = 2)
    #end
    #set ($counter = $counter+1)
#end

#if($columns ==1)
    <div>
        $main_content
    </div>
#end
#if ($columns >1)
    <div class="split_left">
        $main_content
    </div>
    <div class="split_right">
        $right_content
    </div>
#end


## Format URL: http://cascade.umt.edu/entity/open.act?id=50679b360a0a0468000745c24ee90578&type=format&#highlight

## Audits
### 01-28-2012 17:48	ws132567	startedit
### 01-28-2012 17:49	ws132567	edit
### 01-28-2012 18:36	ws132567	edit
### 01-28-2012 18:35	ws132567	startedit
### 04-13-2011 19:50	sm166858e	edit
### 04-13-2011 19:47	sm166858e	startedit
### 04-13-2011 19:58	sm166858e	edit
### 04-13-2011 19:58	sm166858e	startedit
### 04-13-2011 21:16	sm166858e	startedit
### 04-13-2011 21:20	sm166858e	edit
