#macro (navMacro $theList)
    #set ($myList = $theList)
    #foreach ($child in $myList.children)
        #set ($displayName = "")
        #set ($isFolder = "")
        #set ($parentFolder = "")
        #set ($parentFPath = "")
        #set ($navExclude = $_SerializerTool.serialize($child.getChild("dynamic-metadata").getChild("value"), true))
        #set ($systemName = $_SerializerTool.serialize($child.getChild("name"), true))
        #set ($childPath = $_SerializerTool.serialize($child.getChild("path"), true))
        #set ($displayName = $_SerializerTool.serialize($child.getChild("display-name"), true))
        #set ($isFolder = $child.getName())
        #set ($currentFolder = $_XPathTool.selectSingleNode($contentRoot, '//system-folder[@current]'))
        #set ($parentFolder = $_XPathTool.selectSingleNode($child, "system-folder[@current]"))
        #set ($currentPage = $_XPathTool.selectSingleNode($contentRoot, '//system-page[@current]'))
        #set ($currentFPath = $_SerializerTool.serialize($currentFolder.getChild("path"), true))
        #set ($parentFPath = $_SerializerTool.serialize($parentFolder.getChild("path"), true))
        #set ($currentPPath = $_SerializerTool.serialize($currentPage.getChild("path"), true))
        #if ($navExclude != "No" && $systemName != "default" && $displayName != "")   
            #if($currentFPath == $childPath || $currentPPath == $childPath || $parentFPath == $currentFPath)
                <li class="active">
                    #else
                        <li>
            #end
            #if($isFolder == "system-folder")
                <div class="pngfix">
                    <a href="$childPath/default">$displayName</a>
                    #set ($newList = $child)
                    <ul>
                        #navMacro ($newList)
                    </ul>
                </div>
                #else
                    <a href="$childPath">$displayName</a>
            #end
                        </li>
        #end
    #end
#end
#set ($firstList = $contentRoot)                
#set ($firstPages = $_XPathTool.selectNodes($contentRoot, "/system-index-block/system-page"))
#foreach ($page in $firstPages)
    #set ($systemName = "")
    #set ($systemName = $_SerializerTool.serialize($page.getChild("name"), true))
    #if ($systemName == "default")
        #set ($homePath = $_SerializerTool.serialize($page.getChild("path"), true))
        #set ($homeName = $_SerializerTool.serialize($page.getChild("display-name"), true))
    #end
#end
<ul class="site_standard_nav">
    <li class="active">
        <div class="pngfix">
            <a href='$homePath'>$homeName</a>
            <ul> 
                #navMacro($firstList)
            </ul>
        </div>
    </li>
</ul>


## Format URL: http://cascade.umt.edu/entity/open.act?id=549e821c0a0a046800f9bc97baec0306&type=format&#highlight

## Audits
### 01-28-2012 18:36	ws132567	startedit
### 01-28-2012 18:36	ws132567	edit
### 04-14-2011 15:26	sm166858e	create
