#if ($contentRoot)
    #set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure"))
    #set ($levels = $_XPathTool.selectNodes($pageStructure, "//level"))
    #set ($divider = "/")
    #set ($currentTitle = $_SerializerTool.serialize($pageStructure.getChild("title"), true))
    #set ($currentLink = $_SerializerTool.serialize($pageStructure.getChild("link"), true))
    <!--#protect
    <div class="site_breadcrumbs" aria-label="Breadcrumb" role="navigation">
    <span class="sr-only">You are here: </span>
    <ol class="breadcrumb">
    #protect-->
    #if($levels.size() > 0)
        #set ($count = $levels.size() - 1)
        #foreach ($i in [$count..0]) 
            #set ($level = $levels.get($i))
            #set ($title = "")
            #set ($link = "")
            #set ($title = $_SerializerTool.serialize($level.getChild("content").getChild("system-data-structure").getChild("title"), true))
            #set ($link = $_SerializerTool.serialize($level.getChild("content").getChild("system-data-structure").getChild("link"), true))
            #if ($title != "" && $title != "<title />")
                <li><a href="$link">$title</a></li>
            #end 
        #end 
    #end
    #if ($currentTitle != "" && $currentTitle != "<title />")
        <li><a href="$currentLink">$currentTitle</a></li>
    #end
#end

## Format URL: http://cascade.umt.edu/entity/open.act?id=2b5855230a0a07cc79dd8f74a5dd81b8&type=format&#highlight

## Audits
### 04-29-2015 15:38	ns159438e	edit
### 04-29-2015 15:38	ns159438e	startedit
### 07-29-2013 16:52	kf139826e	create
### 08-07-2013 20:57	kf139826e	edit
### 08-07-2013 20:57	kf139826e	startedit
### 10-10-2013 15:37	kf139826e	startedit
### 10-10-2013 15:37	kf139826e	edit
### 08-22-2013 17:13	kf139826e	startedit
### 08-22-2013 17:13	kf139826e	edit
### 08-22-2013 17:13	kf139826e	move
