<div id="rotateImage"></div>



<script type="text/javascript">
#set ($sitePath = "http://staging.umt.edu/writingcenter/")
#set ($images = $_XPathTool.selectNodes($contentRoot, "/system-index-block//system-file"))
#set ($imagesCount= $images.size())
#set ($counter = 0)

var imageArray = new Array();
#foreach ($image in $images)
    #set ($path = "[system-asset]" + $_SerializerTool.serialize($image.getChild("path"), true) + "[/system-asset]")
    #set ($name = $_SerializerTool.serialize($image.getChild("name"), true))
    
    var currentImage = {"name": "$name", "path": "$path"};
    imageArray[$counter] = currentImage;
    #set ($counter = $counter + 1)  
#end
var randomnumber = Math.floor(Math.random()* $counter)

<!--#START-CODE
$(document).ready(function() {
    $("#rotateImage").html("<img src=" + imageArray[randomnumber].path + " />");

 });
#END-CODE-->  

</script>



## Format URL: http://cascade.umt.edu/entity/open.act?id=f090ed3f0a0a0468017cfae62c50f55f&type=format&#highlight

## Audits
### 08-25-2014 17:20	kp128580	recycle
### 07-28-2010 13:19	ws132567	startedit
### 07-28-2010 13:41	ws132567	edit
### 07-28-2010 13:41	ws132567	edit
### 07-28-2010 13:41	ws132567	startedit
### 07-28-2010 13:43	ws132567	edit
### 07-28-2010 13:41	ws132567	startedit
### 07-28-2010 13:46	ws132567	edit
### 07-28-2010 13:44	ws132567	startedit
### 07-28-2010 13:47	ws132567	edit
