[system-view:external]
#macro (jsonMacro $node $attribute){##
#if($attribute && $attribute != "") "attributes": {"definition-path": "$attribute"},#end
#set($count = $node.getChildren().size())
#foreach ($child in $node.getChildren())
#set ( $nodeName = $child.name.toString().replace("-","_") )
#set($attribute = "")
#set($attribute = $child.getAttribute("definition-path").value.replace(" ","-").toLowerCase())
#if($nodeName == 'value') #set($nodeName =  "Array_Value"+$velocityCount) #end
"$nodeName": #if($nodeName == "content") "$_SerializerTool.serialize($child,true).replaceAll("\r\n"," ").toString().replace("${_EscapeTool.quote}", "\\${_EscapeTool.quote}")" #elseif($child.getChildren().size() > 0) #jsonMacro ($child $attribute) #elseif($nodeName == "path" && $child.value == "/") "" #else "$_SerializerTool.serialize($child,true).replace('"','\"').replaceAll("\r\n"," ")" #end #if($foreach.hasNext),#end
#end}
#end

#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block"))
#set ($callingPage = $_SerializerTool.serialize($pageStructure.getChild("calling-page").getChild("system-page").getChild("name"), true))
#if ($callingPage == "campus_and_community")
    #set ($callingPage = "Campus and Community")
#elseif($callingPage == "academics")
    #set ($callingPage = "Academics")
#elseif($callingPage == "research")
    #set ($callingPage = "Research")
#elseif($callingPage == "international")
    #set ($callingPage = "International")
#elseif($callingPage == "athletics")
    #set ($callingPage = "Athletics")
#elseif($callingPage == "alumni")
    #set ($callingPage = "Alumni")
#elseif($callingPage == "arts_and_culture")
    #set ($callingPage = "Arts and Culture")
#elseif($callingPage == "default")
    #set ($callingPage = "All")
#end

#set ($category_pages = $_XPathTool.selectNodes($contentRoot, "system-folder[name='categories']/system-page"))
<div class="container tile_wrapper main-content category-page">
<div class="tiles">
#set ($count = 0)
#set ($items = $_XPathTool.selectNodes($contentRoot, "//system-page[system-data-structure[@definition-path='Featured Tiles/Raw HTML' or @definition-path='Featured Tiles/Video Tile' or @definition-path='Featured Tiles/Standard Tile']]"))
<!--#START-CODE 
<?php

require_once('utility.class.php');
bootstrap::autoload();
$tile_builder = new UMT\Ponderosa\HomepageStories();
$tiles = array();

#END-CODE-->
#foreach ($item in $items)
    #set ($categories = "")
    #set ($include = "No")
    #set ($categories = $_XPathTool.selectNodes($item, "system-data-structure/categories/value"))
    #foreach ($value in $categories)
        #if ($value.text == $callingPage)
            #set ($include = "Yes")
        #end
    #end
#if ($include == "Yes" || $callingPage == "All")
<!--#START-CODE $tile = <<<EOF
#jsonMacro($item)
EOF;
array_push($tiles, $tile_builder->parse_json($tile));
#END-CODE-->
#end
#end
<!--#START-CODE $tile_builder->build($tiles, null); ?> #END-CODE-->
</div>
</div>
[/system-view:external]

## Format URL: http://cascade.umt.edu/entity/open.act?id=434947ed0a0a07cc3260cf1ec47c35b5&type=format&#highlight

## Audits
### 11-30-2015 16:50	ns159438e	startedit
### 11-30-2015 16:50	ns159438e	edit
### 11-30-2015 16:56	ns159438e	edit
### 11-30-2015 16:55	ns159438e	startedit
### 11-30-2015 16:58	ns159438e	edit
### 11-30-2015 16:58	ns159438e	startedit
### 11-30-2015 17:05	ns159438e	edit
### 11-30-2015 17:04	ns159438e	startedit
### 11-30-2015 17:05	ns159438e	startedit
### 11-30-2015 17:06	ns159438e	edit
