#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure"))

#set ($content = $_SerializerTool.serialize($pageStructure.getChild("content"), true))

#if ($content != "<content />" && $content != "")
    <div class="tile">
            $content
    </div>
#end

## Format URL: http://cascade.umt.edu/entity/open.act?id=4349485c0a0a07cc3260cf1e0770a31f&type=format&#highlight

## Audits
