#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure"))

#set ($title = $_SerializerTool.serialize($pageStructure.getChild("title"), true))
#set ($link = $_SerializerTool.serialize($pageStructure.getChild("link"), true))
#set ($video = $_SerializerTool.serialize($pageStructure.getChild("youtube_id"), true))
#set ($content = $_SerializerTool.serialize($pageStructure.getChild("content"), true))

<div class="tile">
    #if ($video != "" && $video != "<youtube_id />")
            <iframe width="560" height="315" src="http://www.youtube.com/v/$video?html=1" frameborder="0" allowfullscreen="yes">
            </iframe>
    #end
    #if ($title != "")
        #if ($link != "")<a href="$link">#end
            <h3>$title</h3>
        #if ($link != "")</a>#end
    #end
    #if ($content != "<content />")$content#end
</div>

## Format URL: http://cascade.umt.edu/entity/open.act?id=4349487e0a0a07cc3260cf1e9588d1d7&type=format&#highlight

## Audits
