#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure") )
#set ($title = "")
#set ($description = "")

#set ($title = $_SerializerTool.serialize($pageStructure.getChild("title"), true))
#set ($main_description = $_SerializerTool.serialize($pageStructure.getChild("description"), true))
#set ($services = $_XPathTool.selectNodes($contentRoot, "/system-data-structure/subscriptions/service"))
#set ($categories = $_XPathTool.selectNodes($contentRoot, "/system-data-structure/categories/*"))

<div class="item_description">
<h2>$title</h2>
 <p>$main_description</p>
 
<h3>Categories</h3>
<ul class="page_categories">
#set ($countYes =0)

    #foreach ($category in $categories)
        #set($value = "")
        #set($value = $category.getChild("value").value)
      
        #if($value == "Yes")
               #set($countYes = $countYes + 1)
               #if ($countYes ==1)
                <li><a href="/categories/$category.getName().toLowerCase()">
                    $category.getName().replaceAll("_"," ")</a>
                </li>
               #else 
                <li>&#160;|&#160;<a href="/categories/$category.getName().toLowerCase()">
                    $category.getName().replaceAll("_"," ")</a>
                </li>
              #end
        #end  
    #end
</ul>
</div><!--end item_description-->

<div class="channels">
<h3>Channels</h3>
<ul class="page_services">

#foreach ($service in $services)
        #set ($type = "")
        #set ($class = "")
        #set ($description = "")
        #set ($name = "")
        #set ($url = "")
        #set ($type = $_SerializerTool.serialize($service.getChild("servicetype"), true))
        #set ($description = $_SerializerTool.serialize($service.getChild("servicedescription"), true))
        #set ($class = $_SerializerTool.serialize($service.getChild("servicetype"), true).replaceAll(" ",""))
        #set($class = "s" +$class)
        #set ($name = $_SerializerTool.serialize($service.getChild("servicename"), true))
        #set ($url = $_SerializerTool.serialize($service.getChild("serviceurl"), true))
        
    <li class="$class"><a href="$url">$name</a></li>
    #end
</ul>

</div><!--end channels-->

## Format URL: http://cascade.umt.edu/entity/open.act?id=d0d2bb870a0a07cc157dbcd4ae2efc59&type=format&#highlight

## Audits
### 02-28-2013 19:38	kp128580	startedit
### 02-28-2013 19:38	kp128580	edit
### 02-12-2013 23:52	kp128580	startedit
### 02-12-2013 23:58	kp128580	edit
### 02-12-2013 23:59	kp128580	startedit
### 02-13-2013 00:00	kp128580	edit
### 02-14-2013 21:48	kp128580	startedit
### 02-14-2013 21:55	kp128580	edit
### 02-14-2013 21:56	kp128580	startedit
### 02-14-2013 21:57	kp128580	edit
