#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure"))
#set ($graphic= $_XPathTool.selectSingleNode($pageStructure, "linked_img"))
#set ($text = $_XPathTool.selectSingleNode($pageStructure, "alt").text)

#set ($link =  $pageStructure.getChild("internal_link").getChild("path").text)
    #if ($link == "/")
            #set ($link = $pageStructure.getChild("external_link").text)
    #end


    #set ($image = "")
    #set ($image =  $_SerializerTool.serialize($graphic.getChild("path"), true))

    #if ($image != "/" && $text != "" && $link != "/")
    <a href="$link"><img src="[system-asset]${image}[/system-asset]" alt="$text"/></a>
    #else
       <img src="[system-asset]${image}[/system-asset]" alt="$text"/>
    #end 


## Format URL: http://cascade.umt.edu/entity/open.act?id=42b76e660a0a07cc22b7be2a540fa13b&type=format&#highlight

## Audits
### 04-25-2013 19:42	kp128580	move
