#set ( $defaultPageName = "index" )
#set ( $separator = "&#47;" )

## Gather items for breadcrumb
#set ( $trail = $_XPathTool.selectNodes($contentRoot, "//system-folder") )
## Reference the current page
#set ( $page = $_XPathTool.selectSingleNode($contentRoot, "//system-page[@current]") )

## Only display the breadcrumbs if we're not currently on the homepage.
#if ($page.getChild("path").value != "/${defaultPageName}")
<ul class="breadcrumb">
## Define a loop
#foreach ( $crumb in $trail )    
    ## Attempt to use the Default Page's title; otherwise, use the Folder's information.
    #set ( $defaultPageTitle = $_XPathTool.selectSingleNode($crumb, "system-page[name = '${defaultPageName}']/title") )
    #if ( $defaultPageTitle && $defaultPageTitle.value != "" )
        #set ( $theLinkTitle = $defaultPageTitle )
    #elseif ( $crumb.getChild("title") && $crumb.getChild("title").value != "" )        
        ## Reference to the title node
        #set ( $theLinkTitle = $crumb.getChild("title") )
    #else            
        ## Reference to the name node
        #set ( $theLinkTitle = $crumb.getChild("name") )
    #end
    
    ## Value of the link node
    #set ( $link = $crumb.getChild("link").value )
    
    ## Check for 'current' attribute
    #if ( $crumb.getAttribute("current") )
        ## Test page name
        #if ( $page.getChild("name").value == "${defaultPageName}" )
            $_EscapeTool.xml($theLinkTitle.value)
        #else
            <li><a target="_parent" href="[system-asset:configuration=HTML]${link}/${defaultPageName}[/system-asset:configuration]">$_EscapeTool.xml($theLinkTitle.value)</a></li>
            <li><span class="divider">${separator}</span></li>
            
            ## Reference to the Current Page's title node
            #set ( $pageTitle = $_XPathTool.selectSingleNode($page, "title") )            
            #if ( $pageTitle && $pageTitle.value != "" )
                #set ( $thePageTitle = $pageTitle )
            #else
                #set ( $thePageTitle = $page.getChild("name") )
            #end
            <li>${_EscapeTool.xml($thePageTitle.value)}</li>
        #end
    #else
        <li><a target="_parent" href="[system-asset:configuration=HTML]${link}/${defaultPageName}[/system-asset:configuration]">$_EscapeTool.xml($theLinkTitle.value)</a></li>
        <li><span class="divider">${separator}</span></li>
    #end
#end
</ul>
#end

## Format URL: http://cascade.umt.edu/entity/open.act?id=7f0190420a0a07cc545fdb4541a6b06c&type=format&#highlight

## Audits
### 07-26-2017 13:06	mh129234e	create
