#set ($dirHome = "/directory")
#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block") )
#set ($profiles = $_XPathTool.selectNodes($pageStructure, "system-page"))
#set ($currentPage = $_SerializerTool.serialize($pageStructure.getChild("calling-page").getChild("system-page").getChild("display-name"), true))
#set ($division_supervisor = "")
<link href="/css/directory.css" rel="stylesheet" type="text/css"/>

<a href="$dirHome/default">Directory</a> > $currentPage
<h2>$currentPage</h2>
<div  id='directory'>
<ul>
#foreach ($profile in $profiles)
    #set ($name = $_SerializerTool.serialize($profile.getChild("display-name"), true))
    #set ($title = $_SerializerTool.serialize($profile.getChild("system-data-structure").getChild("title"), true))
    #set ($link = $_SerializerTool.serialize($profile.getChild("path"), true))
    #set ($supervisor = $_SerializerTool.serialize($profile.getChild("system-data-structure").getChild("supervisedby").getChild("display-name"), true))
    #set ($dept = $profile.getChild("system-data-structure").getChild("dept").text)
    #set ($division = $_SerializerTool.serialize($profile.getChild("system-data-structure").getChild("division"), true))

    #if ($profile.getChild("system-data-structure").getChild("dept").text == "" && $division == $currentPage)
        <li class="manager"><a href='$link'>$name</a> - $title</li>
        #set ($division_supervisor = $profile.getChild("path").text)
    #end

#end
</ul>
#set ($managers = $_XPathTool.selectNodes($pageStructure, "system-page"))
#set ($employees = $_XPathTool.selectNodes($pageStructure, "system-page"))
$_SortTool.addSortCriterion("system-data-structure/dept", "", "text", "ascending", "upper-first")  
$_SortTool.sort($managers)
#set ($manager_dept = $currentPage)
#set ($prev_manager_dept = "")
#set ($manager_string = "")
#set ($manager_name = "")
#set ($manager_title = "")
#set ($open_position = "")
#set ($manager_link = "")

#foreach ($manager in $managers)
    #if ($manager.getChild("system-data-structure").getChild("supervisedby").getChild("path").text == $division_supervisor)
        #set ($manager_string = $manager.getChild("path").text)
        #set ($manager_name = $_SerializerTool.serialize($manager.getChild("display-name"), true))
        #set ($manager_title = $_SerializerTool.serialize($manager.getChild("system-data-structure").getChild("title"), true))
        #set ($prev_manager_dept = $manager_dept)
        #set ($manager_dept = $manager.getChild("system-data-structure").getChild("dept").text)
        #set ($open_position = $manager.getChild("system-data-structure").getChild("open_position").value)
        #set ($manager_link = $_SerializerTool.serialize($manager.getChild("path"), true))
        #set ($open_position_class = "")
        #if($open_position== "Yes") 
            #set ($open_position_class = "open_position")
        #end
        #if($prev_manager_dept != $manager_dept) 
        <div class="department">$manager_dept</div>
        <ul>
            <li class="manager $open_position_class"><a href='$manager_link'>$manager_name</a> - $manager_title</li>
        #else
        <ul>
            <li class="$open_position_class"><a href='$manager_link'>$manager_name</a> - $manager_title</li>
            #end
        #foreach ($employee in $employees)
            #set ($employee_name = "")
            #set ($employee_title = "")
            #set ($employee_link = "")

            #if ($employee.getChild("system-data-structure").getChild("supervisedby").getChild("path").text == $manager_string)
                #set ($employee_name = $_SerializerTool.serialize($employee.getChild("display-name"), true))
                #set ($employee_title = $_SerializerTool.serialize($employee.getChild("system-data-structure").getChild("title"), true))        
                #set ($employee_link = $_SerializerTool.serialize($employee.getChild("path"), true))
                <li><a href='$employee_link'>$employee_name</a> - $employee_title</li>      
            #end
        #end
        </ul>
    #end        
#end
</div>

## Format URL: http://cascade.umt.edu/entity/open.act?id=092cfe060a0a0468010332ba48c880d1&type=format&#highlight

## Audits
### 07-06-2011 15:37	es165908e	edit
### 07-06-2011 15:37	es165908e	startedit
### 07-06-2011 15:38	es165908e	startedit
### 07-06-2011 15:39	es165908e	edit
### 07-06-2011 15:48	es165908e	edit
### 07-06-2011 15:48	es165908e	startedit
### 07-06-2011 15:56	es165908e	edit
### 07-06-2011 15:53	es165908e	startedit
### 07-06-2011 15:58	es165908e	edit
### 07-06-2011 15:56	es165908e	startedit
