#set ($dirHome = "/directory")
#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block") )
#set ($profiles = $_XPathTool.selectNodes($pageStructure, "system-page"))
#set ($currentPage = $_SerializerTool.serialize($pageStructure.getChild("calling-page").getChild("system-page").getChild("display-name"), true))
<link href="/css/directory.css" rel="stylesheet" type="text/css"/>
<a href="$dirHome/default">Directory</a> > $currentPage
<h2>$currentPage</h2>
<table border='0' width='100%' id='directory' class='alpha_header'>
    <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Phone</th>
    </tr>
#foreach ($profile in $profiles)
    #set ($name = $_SerializerTool.serialize($profile.getChild("name"), true))
    #set ($displayName = $_SerializerTool.serialize($profile.getChild("display-name"), true))
    #set ($title = $_SerializerTool.serialize($profile.getChild("system-data-structure").getChild("title"), true))
    #set ($phone = $_SerializerTool.serialize($profile.getChild("system-data-structure").getChild("phone"), true))
    #set ($link = $_SerializerTool.serialize($profile.getChild("path"), true))
    #set ($dept = $_SerializerTool.serialize($profile.getChild("system-data-structure").getChild("dept"), true))
    #if ($currentPage.toLowerCase() == $name.substring(0,1))
    <tr>
    <td><a href='$link'>$displayName</a></td>
    <td>$title</td>
    <td>(406) 243-$phone</td>
    </tr>
    #end
#end
</table>

## Format URL: http://cascade.umt.edu/entity/open.act?id=092cfe540a0a0468010332bacecdd540&type=format&#highlight

## Audits
### 05-20-2011 15:58	es165908e	startedit
### 05-20-2011 15:58	es165908e	edit
### 05-20-2011 16:45	es165908e	startedit
### 05-20-2011 16:45	es165908e	edit
### 05-20-2011 16:46	es165908e	edit
### 05-20-2011 16:46	es165908e	startedit
### 05-23-2011 15:15	es165908e	edit
### 05-23-2011 15:14	es165908e	startedit
### 05-23-2011 16:31	es165908e	startedit
### 05-23-2011 16:31	es165908e	edit
