<link href="/form/assets/form.css" rel="stylesheet" type="text/css"/>
#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure") )
##
#set ($to = "")
#set ($wrapping_class = "")
#set ($thanks_text = "")
#set ($elements = "")
#set ($content = "")
#set ($content_block = "")
#set ($from_field = "")
#set ($subject_field = "")
#set ($form_id = "")
#set($show_clear_form = "false")
##
#set($add_item_selector = "")
#set($item_grouping_selector =  "")
#set($item_grouping_heading = "")
#set ($acceptable_referers = "")
##
#set ($content = $_SerializerTool.serialize($pageStructure.getChild("content"), true))
#set ($content_block = $_SerializerTool.serialize($pageStructure.getChild("content_block").getChild("content"), true))
#set ($wrapping_class = $_SerializerTool.serialize($pageStructure.getChild("wrapping_class"), true))
#if($wrapping_class == "<wrapping_class />") #set ($wrapping_class = "") #end
#set ($to = $_SerializerTool.serialize($pageStructure.getChild("to"), true))
#set ($from_field = $_SerializerTool.serialize($pageStructure.getChild("from_field"), true))
#set ($subject_field = $_SerializerTool.serialize($pageStructure.getChild("subject_field"), true))
#set ($thanks_text = $_SerializerTool.serialize($pageStructure.getChild("thanks_text"), true))
#set ($form_id = $_SerializerTool.serialize($pageStructure.getChild("form_id"), true))
#set ($elements = $_XPathTool.selectNodes($pageStructure, "form_element"))
#set ($acceptable_referers = $_XPathTool.selectNodes($pageStructure, "advanced_options/acceptable_referers/referer"))
##
#set($add_item_selector = "."+$_SerializerTool.serialize($pageStructure.getChild('advanced_options').getChild("add_item_class"), true))
#set($item_grouping_selector =  "."+$_SerializerTool.serialize($pageStructure.getChild('advanced_options').getChild("grouping_class"), true))
#set($item_grouping_heading = $_SerializerTool.serialize($pageStructure.getChild('advanced_options').getChild("group_heading"), true))

#if($pageStructure.getChild("show_clear_form").getChild("value").value == "Yes")
    #set($show_clear_form = "true")
#end

[system-view:external]
<div class="form_page_wrap $wrapping_class">
<div class='content'>$content</div>
<div class='content'>$content_block</div>
<!--#START-CODE
<?php
$config = array(
    "thanks"=>"#END-CODE-->$thanks_text<!--#START-CODE",
    "from_field"=>"#END-CODE-->$from_field<!--#START-CODE",
    "subject_field"=>"#END-CODE-->$subject_field<!--#START-CODE",
    "show_clear_form"=>#END-CODE-->$show_clear_form<!--#START-CODE,
    "form_id" => str_replace(" ","_","#END-CODE-->$form_id<!--#START-CODE")
    );
$referers = array();
#END-CODE-->
#foreach($acceptable_referer in $acceptable_referers)
    #if($acceptable_referer.value != "")
    <!--#START-CODE array_push($referers, "$_SerializerTool.serialize($acceptable_referer, true)"); #END-CODE-->
    #end
#end
<!--#START-CODE
if(count($referers) > 0) {
    $config['acceptable_referers'] = $referers;
}
$fields = array(
#END-CODE-->
#foreach($element in $elements)
    #set($type = "")
    #set($name = "")
    #set($help_text = "")
    #set($class = "")
    #set($fieldset = "")
    #set($options = "")
    #set($options = $_XPathTool.selectNodes($element, "Options/option"))
    #set($type = $_SerializerTool.serialize($element.getChild("type"), true))
    #set($name = $_SerializerTool.serialize($element.getChild("name"), true))
    #set($help_text = $_SerializerTool.serialize($element.getChild("help_text"), true))
    #set($class = $_SerializerTool.serialize($element.getChild("class"), true))
    #set($fieldset = $_SerializerTool.serialize($element.getChild("fieldset"), true))
    #set($required = "false")
    #if($element.getChild("required").getChild("value").value == "Yes")
        #set($required = "true")
    #end
    <!--#START-CODE
    array(
    "type"=>"#END-CODE-->$type<!--#START-CODE",
    "name"=>"#END-CODE-->$name<!--#START-CODE",
    "help_text"=>"#END-CODE-->$help_text<!--#START-CODE",
    "fieldset"=>"#END-CODE-->$fieldset<!--#START-CODE",
    "options"=>array(#END-CODE-->
    #foreach($option in $options)
        #set($option_text = "")
        #set($option_text = $_SerializerTool.serialize($option, true))
        #if($option_text != "")"$option_text" #if($velocityCount != $options.size()), #end #end
    #end
    <!--#START-CODE),
    "class"=>"#END-CODE-->$class<!--#START-CODE",
    "required"=>#END-CODE-->$required<!--#START-CODE)#END-CODE-->#if($velocityCount != $elements.size()), #end
#end
<!--#START-CODE
);
$Forms = new Forms($config);
$Forms->display_email_form($fields, "#END-CODE-->$to<!--#START-CODE", $_POST);
?>
#END-CODE-->
<link rel="StyleSheet" href="/css/email_form.css" type="text/css" />

#if($add_item_selector != "" && $item_grouping_selector != "" && $item_grouping_heading != "")   
<!--#START-CODE
<script src="http://www.google.com/jsapi" type="text/javascript" ></script>
<script type="text/javascript">google.load('jquery', '1.7');</script>
<script type="text/javascript">  $.noConflict();</script>

<script type="text/javascript">
var add_item_selector = "#END-CODE-->$add_item_selector<!--#START-CODE";
var item_grouping_selector = "#END-CODE-->$item_grouping_selector<!--#START-CODE";
var item_grouping_heading = "#END-CODE-->$item_grouping_heading<!--#START-CODE";
var grouping_count = 1;
var item_grouping_section = jQuery("<li><div class='added_course'><h3>"+item_grouping_heading+" </h3></div></li>");

jQuery(document).ready(function($){
    $(item_grouping_selector+":first").parent().before("<li><h3>"+item_grouping_heading+" 1</h3></li>");
    $(item_grouping_selector).each(function() {
        var list_item = $(this).parent().clone();
        item_grouping_section.append(list_item);
    });
    $(add_item_selector).click(function(){
        var item_grouping_section_template = item_grouping_section.clone();
        grouping_count++;
        var next_id = grouping_count;
        $("input",item_grouping_section_template).val("");
        $(item_grouping_selector,item_grouping_section_template).each(function(){
            var name = $(this).attr('name');
            $(this).attr('name', name+"_"+next_id);
            $(this).attr('for', name+"_"+next_id);
        });

        $('h3',item_grouping_section_template).append(grouping_count);
        $(add_item_selector).parent().before(item_grouping_section_template.clone());
    });
});
</script>
#END-CODE-->
#end

</div>
[/system-view:external]
[system-view:internal]
<div class="form_page_wrap">
<div class="alert">
    <p>This form only will work once published. Please check a published version of this page to see the form.</p>
</div>
<h2>Form Builder Block</h2>
<div class='content'>$content</div>
<div class='content'>$content_block</div>
<p>Email results to $to</p>

<p>Thanks: $thanks_text</p>
<p>From Field: $from_field</p>
<p>Form Id: $form_id</p>
<p>Show Clear Form: $show_clear_form</p>

#if($add_item_selector != "" && $item_grouping_selector != "" && $item_grouping_heading != "")
    <h3>Repeatable Groupings: </h3>
    <p>Add Item Selector: $add_item_selector</p>
    <p>Item Grouping Selector: $item_grouping_selector</p>
    <p>Item Grouping Heading: $item_grouping_heading</p>
#end

<h4>Fields:</h4>
<table>
<thead>
    <tr>
        <th>Name</th>
        <th>Options</th>
        <th>Type</th>
        <th>Help Text</th>
        <th>Required</th>
        <th>CSS Class</th>
    </tr>
</thead>
#foreach($element in $elements)

    #set($type = "")
    #set($name = "")
    #set($class = "")
    #set($required = "false")
    #set($help_text = "")
    #set($options = "")
    
    #set($options = $_XPathTool.selectNodes($element, "Options/option"))
    #set($help_text = $_SerializerTool.serialize($element.getChild("help_text"), true))
    #set($type = $_SerializerTool.serialize($element.getChild("type"), true))
    #set($name = $_SerializerTool.serialize($element.getChild("name"), true))
    #set($class = $_SerializerTool.serialize($element.getChild("class"), true))
    
    #if($element.getChild("required").getChild("value").value == "Yes")
        #set($required = "true")
    #end
    
    <tr>
        <td>$name</td>
        <td>
            <ul>
            #foreach($option in $options)
                #set($option_text = "")
                #set($option_text = $_SerializerTool.serialize($option, true))
                #if($option_text != "")
                    <li>$option_text</li>
                #end
            #end
            </ul>
        </td>
        <td>$type</td>
        <td>$help_text</td>
        <td>$required</td>
        <td>$class</td>
    </tr>
#end
</table>
</div>
[/system-view:internal]

## Format URL: http://cascade.umt.edu/entity/open.act?id=1778bca30a0a07cc79dd8f7428556162&type=format&#highlight

## Audits
### 07-25-2013 20:15	hs135117	create
### 08-05-2013 20:37	hs135117	edit
### 08-05-2013 20:36	hs135117	startedit
