<link rel="stylesheet" href="http://cas.umt.edu/draft/sfd_new_templates/bootstrapSandbox/v2/bootstrap2_3_2/css/listnav.css" />


#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure"))

#set ($eventList = $_XPathTool.selectNodes($pageStructure, "//event"))

<div id="eventsList-nav" class="listNav"></div>

    <ul id="eventsList" class="unstyled event-archive">
    #foreach ($event in $eventList)
        
        #set ($performer = "")
        #set ($eventDate = "")
        
        #set ($performer = $_SerializerTool.serialize($event.getChild("performer"), true))
        #set ($eventDate = $_SerializerTool.serialize($event.getChild("eventDate"), true))
        
        <li class="row-fluid"><span class="event-performer span6 offset1">$performer</span><span class="event-date span4">$eventDate</span></li>

    #end    
    </ul>



## Format URL: http://cascade.umt.edu/entity/open.act?id=f88b73f60a0a07cc7315594855ab42c2&type=format&#highlight

## Audits
### 07-02-2014 19:27	tc222818	create
### 07-02-2014 19:31	tc222818	edit
### 07-02-2014 19:31	tc222818	startedit
### 07-02-2014 19:32	tc222818	startedit
### 07-02-2014 19:45	tc222818	edit
### 07-02-2014 19:53	tc222818	startedit
### 07-02-2014 19:56	tc222818	edit
### 07-02-2014 20:58	tc222818	startedit
### 07-02-2014 20:59	tc222818	edit
### 07-02-2014 21:20	tc222818	startedit
