#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure"))

#set ($image = $_SerializerTool.serialize($pageStructure.getChild("headerImage").getChild("path"), true))

#set ($blockSetup = $_XPathTool.selectNodes($pageStructure, "blockSetup"))

#set ($wrapClass = "")
#set ($imgClass = "")

#set ($wrapClass = $_XPathTool.selectSingleNode($blockSetup, "wrapClass").text)
#set ($imgClass = $_XPathTool.selectSingleNode($blockSetup, "imgClass").text)

#if ($image != "/")
    <div class="row-fluid header-image $wrapClass">
        <img class="$imgClass" src="[system-asset]${image}[/system-asset]"/>
    </div>
#end


## Format URL: http://cascade.umt.edu/entity/open.act?id=9ca449610a0a07cc133a5f6a71eed422&type=format&#highlight

## Audits
### 01-16-2014 20:00	tc222818	create
### 01-16-2014 20:04	tc222818	startedit
### 01-16-2014 20:06	tc222818	edit
### 01-16-2014 20:19	tc222818	edit
### 01-16-2014 20:15	tc222818	startedit
### 01-16-2014 20:39	tc222818	edit
### 01-16-2014 20:36	tc222818	startedit
