#set ($buttons = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure") )

#set ($blockSetup = $_XPathTool.selectNodes($buttons, "blockSetup"))

#set ($wrapClass = "")
#set ($wrapClass = $_XPathTool.selectSingleNode($blockSetup, "wrapClass").text)

<div class="interestButtons $wrapClass">
    
    ## set up block header
    
    #set ($blockHeading = "")
    #set ($blockHeading = $_XPathTool.selectSingleNode($buttons, "interestHeading").text)
##    #set ($blockHeading =  $pageStructure.getChild("interestHeading").text)
    #if ($blockHeading != "")
        <div class="buttonsHeading">
            <h2>$blockHeading</h2>
        </div>
    #end

    ## set up Scholarships and Donate Buttons       
    #set ($intScholarship = "")
    #set ($extScholarship = "")
    #set ($donateButton = "")
    
    #set ($intScholarship = $_XPathTool.selectSingleNode($buttons, "intScholarship").getChild("path").text)
    
    #if ($intScholarship == "/")
        #set ($extScholarship = $_XPathTool.selectSingleNode($buttons, "extScholarship").text)
    #end
    
    #set ($scholarshipBtnClass = $_XPathTool.selectSingleNode($buttons, "scholarshipBtnClass").text)
    
    #set ($donateButton = $_XPathTool.selectSingleNode($buttons, "donateButton").getChild("path").text)
    
    #set ($donateBtnClass = $_XPathTool.selectSingleNode($buttons, "donateBtnClass").text)
    
    #if ($extScholarship != "")
        <a class="btn btn-large btn-block $scholarshipBtnClass" href="$extScholarship" target="_blank">Scholarships</a>
    #else
        <a class="btn btn-large btn-block $scholarshipBtnClass" href="$intScholarship">Scholarships</a>
    #end
    
    #if ($donateButton != "/")
        <a class="btn btn-large btn-block $donateBtnClass" href="$donateButton">Make a Gift</a>
    #end
    
    ## set up custom buttons
    
    #set($custButtons = $_XPathTool.selectNodes($buttons, "custButton"))
    
    #foreach ($custButton in $custButtons)
                    
            #set ($label = "")
            #set ($link = "")
            #set ($extLink = "")
            #set ($label = $_SerializerTool.serialize($custButton.getChild("button_label"),true)) 
            
            #set ($link = $_XPathTool.selectSingleNode($custButton, "internal_link").getChild("path").text)
            
            #if ($link == "/")
                #set ($extLink = $_XPathTool.selectSingleNode($custButton, "external_link").text)
            #end    
            
            #set ($custBtnClass = $_XPathTool.selectSingleNode($custButton, "custBtnClass").text)
            
            #if($extLink != "" && $label != "")
                <a class="btn btn-large btn-block $custBtnClass" href="$extLink" target="_blank">$label</a>
            #else        
                <a class="btn btn-large btn-block $custBtnClass" href="$link">$label</a>
            #end        
                                    
    #end
    
    
    
</div> ## interest Buttons

## Format URL: http://cascade.umt.edu/entity/open.act?id=9ccea7bf0a0a07cc133a5f6a670f7f68&type=format&#highlight

## Audits
### 01-16-2014 20:47	tc222818	create
### 01-16-2014 20:51	tc222818	edit
### 01-16-2014 20:50	tc222818	startedit
### 01-16-2014 20:53	tc222818	startedit
### 01-16-2014 20:56	tc222818	edit
### 01-16-2014 20:59	tc222818	edit
### 01-16-2014 20:58	tc222818	startedit
### 01-16-2014 20:59	tc222818	startedit
### 01-16-2014 21:00	tc222818	edit
### 01-16-2014 21:01	tc222818	startedit
