#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure"))
##
#set($content_width = 8)
##
#set($title = $_SerializerTool.serialize($pageStructure.getChild("digital_collection_basics").getChild("digital_collection_title"), true))
#set($description = $_SerializerTool.serialize($pageStructure.getChild("digital_collection_basics").getChild("digital_collection_description"), true))
#set($image = $pageStructure.getChild("digital_collection_basics").getChild("digital_collection_representative_image").getChild("path").value)
    #set($alt = $title.replaceAll('"',"&#34;"))
#set($thumbnail = $item.getChild("system-data-structure").getChild("digital_collection_basics").getChild("digital_collection_thumbnail").getChild("path").value)
#set($collection_image = "")
#set($description = $_SerializerTool.serialize($pageStructure.getChild("digital_collection_basics").getChild("digital_collection_description"), true))
##
#set($search_path = $_SerializerTool.serialize($pageStructure.getChild("digital_collection_advanced_metadata").getChild("digital_collection_search_path"), true))
#set($search_id = $_SerializerTool.serialize($pageStructure.getChild("digital_collection_advanced_metadata").getChild("digital_collection_search_id"), true))
#set($browse_link = $_SerializerTool.serialize($pageStructure.getChild("digital_collection_advanced_metadata").getChild("digital_collection_browse_link"), true))
#set($show_search = true)
#if($search_path == "" || $search_id == "")
    #set($show_search = false)
#end
##
#set($direct_link = $_SerializerTool.serialize($pageStructure.getChild("digital_collection_direct_link").getChild("digital_collection_direct_link_location"), true))
##
#set($display_type = $_SerializerTool.serialize($pageStructure.getChild("digital_collection_display_type"), true))
##
#set($page_content = $_SerializerTool.serialize($pageStructure.getChild("digital_collection_landing_page").getChild("digital_collection_landing_page"), true))
#set($sidebar_content = "")
#if($pageStructure.getChild("digital_collection_landing_page").getChild("digital_collection_sidebar_content").value != "")
    #set($sidebar_content = $_SerializerTool.serialize($pageStructure.getChild("digital_collection_landing_page").getChild("digital_collection_sidebar_content"), true))
#end
#set($featured_items = $_XPathTool.selectNodes($pageStructure, "/digital_collection_landing_page/digital_collection_featured_item"))
##
#set($show_sidebar = true)
#if($sidebar_content == "" && $show_search == false)
    #set($show_sidebar = false)
    #set($content_width = 12)
#end
##
#if($display_type == "Direct Link" && $direct_link != "")
    <h2>Visit the collection at $direct_link</h2>
    <!--#passthrough
    <script type="text/javascript">
    window.location = "$direct_link";
    </script>
    #passthrough-->    
#else 
    #if($image != "/")
        <div class="row-fluid"><div class="span12 text-center"><img src="$image" alt="$alt" /></div></div>
    #end
    <div class="row-fluid">
        <div class="span$content_width">
            <div class="page_content">
            $page_content
            #if($browse_link != "") 
            <h3><a href="$browse_link">Browse the Collection »</a></h3>
            #end
            <p>If you have questions about this website, our photo use policy, or would like to learn more about our collections, please <a href="archives-and-special-collections/archives-contact/default.php">contact us</a>.</p>
            </div>
            <div class="row-fluid featured_item">
            #foreach($item in $featured_items)
                #set($feature_title = "")
                #set($feature_link = "")
                #set($feature_image = "")
                #set($feature_description = "")
                ##
                #set($feature_title = $_SerializerTool.serialize($item.getChild("digital_collection_featured_item_title"), true))
                #set($feature_link = $_SerializerTool.serialize($item.getChild("digital_collection_featured_item_link"), true))
                #set($feature_image = $_SerializerTool.serialize($item.getChild("digital_collection_featured_item_image").getChild("path"), true))
                #set($feature_description = $_SerializerTool.serialize($item.getChild("digital_collection_featured_item_description"), true))
                <div class="span4">
                    <h3><a href="$feature_link">$feature_title</a></h3>
                    #if($feature_image != "")
                        <a href="$feature_link"><img src="$feature_image" alt="$feature_title"/></a>
                    #end
                    <p>$feature_description</p>
                </div>
            #end
            </div>
        </div>
        #if($show_sidebar)
            <div class="span4">
            #if($show_search)
                <div class="search">
                <!--
                    $search_path<br/>
                    $search_id<br/>
                    -->
<h3>Search the Map Collection</h3>
<form action="http://content.lib.umt.edu/cdm4/results.php" method="get">
<input name="CISOFIELD1" type="hidden" value="CISOSEARCHALL" /><input name="CISORESTMP" type="hidden" value="results.php" /><input name="CISOVIEWTMP" type="hidden" value="item_viewer.php" /><input name="CISOMODE" type="hidden" value="grid" /><input name="CISOGRID" type="hidden" value="thumbnail,A,1;title,A,1;subjec,A,0;creato,200,0;none,A,0;20;title,none,none,none,none" /><input name="CISOBIB" type="hidden" value="title,A,1,N;subjec,A,0,N;creato,200,0,N;none,A,0,N;none,A,0,N;20;title,none,none,none,none" /><input name="CISOTHUMB" type="hidden" value="20 (4x5);title,none,none,none,none" /><input name="CISOTITLE" type="hidden" value="20;title,none,none,none,none" /><input name="CISOHIERA" type="hidden" value="20;subjec,title,none,none,none" /><input name="CISOSUPPRESS" type="hidden" value="0" /><input name="CISOBOX1" size="20" type="text" /><input name="CISOROOT" type="hidden" value="$search_path" />
<select name="">
    <option value="all">Search All Words</option>
    <option value="any">Search Any Word</option>
    <option value="exact">Match Exact Phrase</option>
</select>
<input class="button" type="submit" value="go" /> 
</form>

                </div>
            #end
                <div class="sidebar">$sidebar_content</div>
            </div>
        #end
    </div>
#end

## Format URL: http://cascade.umt.edu/entity/open.act?id=653b8d3d0a0a07cc19f7656f928bbbf4&type=format&#highlight

## Audits
