#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure"))
##
#set($image = $_SerializerTool.serialize($pageStructure.getChild("photo").getChild("path"), true))

#set($title = $_SerializerTool.serialize($pageStructure.getChild("title"), true))
#set($alt_text = $_SerializerTool.serialize($pageStructure.getChild("alt_text"), true))
#set($photo_byline = $_SerializerTool.serialize($pageStructure.getChild("photo_byline"), true))
#set($link_text = $_SerializerTool.serialize($pageStructure.getChild("link_text"), true))
#set($link_url = $_SerializerTool.serialize($pageStructure.getChild("link_url"), true))
##
  <div class="row-fluid featured_image overlay dark">
  <img alt="$alt_text" src="$image" />

  <div class="block library hidden-phone">
    <p style="text-align:right;" class="small">
    <strong>$title</strong> <br />
    $photo_byline<br />
    #if ($link_url != "" && $link_url != "<link_url />")<a target="_blank" href="$link_url">#end
    #if ($link_text != "")$link_text#end
    #if ($link_url != "" && $link_url != "<link_url />")</a>#end
    </p>
  </div>
  </div>

## Format URL: http://cascade.umt.edu/entity/open.act?id=653b8dca0a0a07cc19f7656f459f27a8&type=format&#highlight

## Audits
