#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block"))
#set ($people = $_XPathTool.selectNodes($pageStructure, "system-page/system-data-structure"))

#foreach ($person in $people)
    #set ($photo = $_SerializerTool.serialize($person.getChild("photo").getChild("path"), true))
    #set ($name = $_SerializerTool.serialize($person.getChild("name"), true))
    #set ($position = $_SerializerTool.serialize($person.getChild("position"), true))
    #set ($email = $_SerializerTool.serialize($person.getChild("email"), true))
    #set ($phone = $_SerializerTool.serialize($person.getChild("phone"), true))
    #set ($fax = $_SerializerTool.serialize($person.getChild("fax"), true))
    #set ($content = $_SerializerTool.serialize($person.getChild("content"), true))
    
    #set ($degrees = $_XPathTool.selectNodes($person, "degrees/degree"))
    <div class="person_wrap">
        <div class="person_contact">
        #if ($photo != "/")
            <img alt="$name" src="$photo" width="150" />
        #else
            <div class="no_image"></div>
        #end
        <p>
            #if ($email != "<email />")<a href="mailto:$email">Email $name</a><br/>#end
            #if ($phone != "<phone />")<strong>Phone: </strong>$phone<br/>#end
            #if ($fax != "<fax />")<strong>Fax: </strong>$fax#end
        </p>
        </div>
        <div class="person_content">
        <p>
            <strong>$name<br />
            #if ($position != "")$position#end</strong>
        </p>
        #if ($degrees.get(0).text != "")
        <ul class="degree_list">
            #foreach ($degree in $degrees)
                <li>$_SerializerTool.serialize($degree, true)</li> 
            #end 
        </ul>
        #end
        #if ($content != "<content />")
        <div>
            $content
        </div>
        #end
        </div>
    </div>
#end

## Format URL: http://cascade.umt.edu/entity/open.act?id=d4ec861c0a0a07cc229358628b840f20&type=format&#highlight

## Audits
### 11-29-2012 15:53	ws132567	edit
### 11-29-2012 15:52	ws132567	startedit
### 11-29-2012 16:19	ws132567	startedit
### 11-29-2012 16:19	ws132567	edit
### 11-29-2012 20:48	ws132567	edit
### 11-29-2012 20:48	ws132567	startedit
### 11-30-2012 15:31	ws132567	startedit
### 11-30-2012 15:31	ws132567	edit
### 11-30-2012 15:42	ws132567	startedit
### 11-30-2012 15:42	ws132567	edit
