#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure"))
#set ($name = $_SerializerTool.serialize($pageStructure.getChild("name"), true))
#set ($title = $_SerializerTool.serialize($pageStructure.getChild("title"), true))
#set ($phone = $_SerializerTool.serialize($pageStructure.getChild("phone"), true))
#set ($email = $_SerializerTool.serialize($pageStructure.getChild("email"), true))
#set ($photo = $_SerializerTool.serialize($pageStructure.getChild("photo").getChild("path"), true))
#set ($content = $_SerializerTool.serialize($pageStructure.getChild("content"), true))

#if ($name != "<name />")
    <h2>$name - #if($title != "<title />")$title#end</h2>
#end
<div class="pic_wrap">
#if ($photo != "/")
    <img src="$photo" alt="$name" />
#end
<span>
#if ($phone != "")
    $phone<br />
#end
#if ($email != "")
    <a href="mailto:$email">$email</a>
#end
</span>
</div>
#if ($content != "<content />")
    <div class="profile_content">$content</div>
#end

## Format URL: http://cascade.umt.edu/entity/open.act?id=777810080a0a07cc0aea7f0b8f42b783&type=format&#highlight

## Audits
### 07-11-2012 19:15	ws132567	create
### 07-11-2012 19:26	ws132567	startedit
### 07-11-2012 19:27	ws132567	edit
### 07-11-2012 19:27	ws132567	edit
### 07-11-2012 19:27	ws132567	startedit
### 07-11-2012 19:27	ws132567	edit
### 07-11-2012 19:27	ws132567	startedit
### 07-11-2012 19:28	ws132567	startedit
### 07-11-2012 19:30	ws132567	edit
### 07-11-2012 19:30	ws132567	startedit
