#set ($quotes = $_XPathTool.selectNodes($contentRoot, "/system-data-structure//quote"))
#set ($quotesSize = $quotes.size())
#set ($counter = 0)
<h3 class="access_hidden">Quotes and Testimonials</h3>
<div class='quotes transparent_box_light'>
<div>
    <div class="quoteLeft pngfix"></div>
    <p><span class="quoteText"></span></p>
    <div class="quoteRight pngfix"></div>
    <p class="author"></p>
</div>
</div>

<script type="text/javascript">
    require(["jquery"],function(){ 
    var quotesArray = new Array();
#foreach ($quote in $quotes)
    #set ($quoteText = $_SerializerTool.serialize($quote.getChild("text"), true).replaceAll("\n", "").replaceAll("\r", ""))
    #set ($author = $_SerializerTool.serialize($quote.getChild("author"), true))
    #set ($fontSize = $_SerializerTool.serialize($quote.getChild("font"), true))

        quotesArray[$counter] = new Array();
        quotesArray[$counter]["quoteText"] = "$quoteText";
        quotesArray[$counter]["author"] = "$author";
        quotesArray[$counter]["fontSize"] = "$fontSize";
    
    #set ($counter = $counter + 1)
#end
var randomNumber = Math.floor(Math.random() * $counter);
$(document).ready(function(){
    $(".quotes div").addClass(quotesArray[randomNumber]["fontSize"]);
    $(".quotes span.quoteText").html(quotesArray[randomNumber]["quoteText"]);
    $(".quotes p.author").html(quotesArray[randomNumber]["author"]); 
 });
});
</script>  

## Format URL: http://cascade.umt.edu/entity/open.act?id=90e9123a0a0a07cc140fc357f11d87fa&type=format&#highlight

## Audits
### 05-26-2015 15:48	tc222818	create
### 05-26-2015 19:51	sr165871	copy
