#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block") )
#set ($newsitems = $_XPathTool.selectNodes($pageStructure, "system-page"))

<div>

    <ul class="space" style="margin-left: 0px; padding-right: 20px;">
    
        #foreach ($newsitem in $newsitems)
        
        #set ($title = "")
        #set ($desc = "")
        #set ($story = "")
        #set ($link = "")
        #set ($url = "")
        #set ($date = "")
        
        
        #set ($title = $_SerializerTool.serialize($newsitem.getChild("system-data-structure").getChild("spotlightTitle"), true).replaceAll("""","&quot;").replaceAll("'","&apos;"))
       
       #if ($title != "")
  
                #set ($desc = $_SerializerTool.serialize($newsitem.getChild("system-data-structure").getChild("shortDesc"), true))
                #set ($story = $_SerializerTool.serialize($newsitem.getChild("system-data-structure").getChild("story"), true))
                #set ($link = $_SerializerTool.serialize($newsitem.getChild("path"), true))
                #set ($url = $_SerializerTool.serialize($newsitem.getChild("system-data-structure").getChild("url"), true))
                #set ($date = $_SerializerTool.serialize($newsitem.getChild("system-data-structure").getChild("posted"), true))    
                    
                <li  style="border-bottom: 1px solid #D9D9D9; margin-bottom: 15px; padding-bottom: 15px; list-style-type: none;">  
                
             
               <h4>$title</h4>

                    #if ($desc != "")
                    <p>$desc
                    
                         #if ($story != "" && $story != "<story />")
                             <a href="$link">Read more.</a>
                          #end
                    
                    </p>
                    #end
    
                <span style="float: right; margin: -8px 5px 5px 5px; text-align: right;">$date</span>

                </li>
                
        #end
        #end    

</ul>
</div>

## Format URL: http://cascade.umt.edu/entity/open.act?id=ce22e33f0a0a07cc222f8903fc8a54b9&type=format&#highlight

## Audits
### 05-22-2013 21:26	sm166858e	startedit
### 05-22-2013 21:29	sm166858e	edit
### 05-22-2013 21:37	sm166858e	edit
### 05-22-2013 21:31	sm166858e	startedit
### 05-22-2013 21:42	sm166858e	edit
### 05-22-2013 21:42	sm166858e	startedit
### 05-22-2013 21:45	sm166858e	edit
### 05-22-2013 21:45	sm166858e	startedit
### 05-22-2013 21:49	sm166858e	edit
### 05-22-2013 21:46	sm166858e	startedit
