<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="http://cas.umt.edu/draft/sfd_new_templates/scripts/JQuery%20Scripts/jquery-cycle-3.0.3.js"></script>

#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure"))
#set ($stories = $_XPathTool.selectNodes($pageStructure, "story"))

<div class="story_wrap">
    <ul id="stories">
    #foreach ($story in $stories)
        #set ($image = $_SerializerTool.serialize($story.getChild("image").getChild("path"), true))
        #set ($link = $story.getChild("internal_link").getChild("path").text)
        #if ($link == "/")
            #set ($link = $story.getChild("external_link").text)
        #end
        #set ($content = $_SerializerTool.serialize($story.getChild("content"), true))
        
        #if($link != "")
            #if ($content != "" && $image != "/")
                <div class="with_content" style="background-image: url([system-asset]${image}[/system-asset])"><a class="story_link" href="${link}"></a><span class="story_text">${content}</span></div>
            #elseif ($image != "/")
                <div class="without_content" style="background-image: url([system-asset]${image}[/system-asset])"><a class="story_link" href="${link}"></a></div>
            #end
        #else
            #if ($content != "" && $image != "/")
                <div class="with_content" style="background-image: url([system-asset]${image}[/system-asset])"><span class="story_text">${content}</span></div>
            #elseif ($image != "/")
                <div class="without_content" style="background-image: url([system-asset]${image}[/system-asset])"></div>
            #end
        #end        
    #end
    </ul>
    <div id="story_nav"></div>
</div>

#if ($stories.size() > 1)
<script type="text/javascript">
jQuery(document).ready(function($) {
    jQuery('#stories').cycle({
        pager:  '#story_nav',
        height: '450px ',
        width: '900px',
        fit: 1,
        speed:    1000, 
        timeout:  12000,
        pagerAnchorBuilder: function(idx, slide) { 
            return '<a href="#"><span class="pager_button">'+ (idx+1) +'</span></a>'; 
        } 
    });
});
</script>
#end

## Format URL: http://cascade.umt.edu/entity/open.act?id=3e5b7b7e0a0a07cc7083ca277db94e9c&type=format&#highlight

## Audits
### 07-23-2013 18:06	tc222818	edit
### 07-23-2013 18:06	tc222818	startedit
### 06-13-2013 16:26	mw139604	move
### 06-13-2013 19:04	mw139604	edit
### 06-13-2013 19:04	mw139604	startedit
