#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure"))

#set ($name = $_SerializerTool.serialize($pageStructure.getChild("name"), true))
#set ($position = $_SerializerTool.serialize($pageStructure.getChild("position"), true))
#set ($dept = $_SerializerTool.serialize($pageStructure.getChild("department"), true))
#set ($image = $_SerializerTool.serialize($pageStructure.getChild("image").getChild("path"), true))
#set ($content = $_SerializerTool.serialize($pageStructure.getChild("content"), true))
#set ($bio = $_SerializerTool.serialize($pageStructure.getChild("bio"), true))

#if ($name != "")<h1 class="profile_name">$name</h1>#end
#if ($position != "" || $dept != "")<h2 class="profile_position">#if ($position != "")$position,#end#if($dept != "") $dept#end</h2>#end
#if ($image != "")<p><img class="profile_image" src="$image" alt="$name" align="right" hspace="10" vspace="30" /></p>#end
#if ($content != "")$content#end
#if ($bio != "")
<br />
<hr style="width: 600px;" width="600" />
<br />
<p>$bio</p>
#end

## Format URL: http://cascade.umt.edu/entity/open.act?id=c907c45c0a0a07cc0aea7f0b3dfbadd5&type=format&#highlight

## Audits
### 07-27-2012 15:22	ws132567	create
### 07-27-2012 15:29	ws132567	startedit
### 07-27-2012 15:36	ws132567	edit
### 07-27-2012 15:36	ws132567	edit
### 07-27-2012 15:36	ws132567	startedit
### 07-27-2012 15:39	ws132567	edit
### 07-27-2012 15:39	ws132567	startedit
### 07-27-2012 15:42	ws132567	startedit
### 07-27-2012 15:43	ws132567	edit
### 07-27-2012 15:45	ws132567	startedit
