#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure"))
#set ($contents = $_XPathTool.selectNodes($pageStructure, "content"))
#set ($content_count = 0)
#set ($right_content = false)

#if ($contents.size() < 2)
    #set ($right_content = $_SerializerTool.serialize($pageStructure.getChild("right_block").getChild("content"), true))
#end

#if ($contents.size() == 2)
    #foreach ($content in $contents)
        #if ($content_count == 0)
            <div class="content_2col">
                $_SerializerTool.serialize($content, true)
            </div>
            #set ($content_count = $content_count + 1)
        #elseif ($content_count == 1)
            <div class="dept_right">
                $_SerializerTool.serialize($content, true)
            </div>
        #end
    #end
#elseif ($contents.size() == 1 && $right_content)
    #foreach ($content in $contents)
       <div class="content_2col">
            $_SerializerTool.serialize($content, true)
       </div>
       <div class="dept_right">
            $right_content
       </div>
    #end
#elseif ($contents.size() == 1)
    #foreach ($content in $contents)
       <div class="content_1col">
            $_SerializerTool.serialize($content, true)
       </div>
    #end
#end


## Format URL: http://cascade.umt.edu/entity/open.act?id=652607de0a0a046800888dbedeca379d&type=format&#highlight

## Audits
### 01-28-2012 19:08	es165908e	edit
### 01-28-2012 19:07	es165908e	startedit
### 11-02-2011 16:39	ws132567	create
### 11-02-2011 16:42	ws132567	startedit
### 11-02-2011 16:49	ws132567	edit
### 11-02-2011 16:49	ws132567	startedit
### 11-02-2011 16:50	ws132567	edit
### 11-02-2011 16:54	ws132567	edit
### 11-02-2011 16:54	ws132567	startedit
### 11-02-2011 16:59	ws132567	edit
