#set ( $currentFolder = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block//system-folder[@current]") )
#set ( $parentFolder = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block//system-folder[system-folder[@current]]") )
#set ( $newsArticles = $_XPathTool.selectNodes($contentRoot, "/system-index-block//system-folder[@current]//system-folder[name!='categories']/system-page[name!= 'default']") )
$_SortTool.addSortCriterion("system-data-structure/startDate", "", "text", "descending", "upper-first")  
$_SortTool.sort($newsArticles) 
#set($limiter = 0)
#set($imgSrc= '')
#set($imgSrc2= '')
#set ($today = $_DateTool.getDate())
#set($month=$_DateTool.format('MM/yyyy', $today))
<ul class="alt_content">
#foreach ($newsArticle in $newsArticles)
        #set ($startDate = $_DateTool.getDate($newsArticle.getChild("system-data-structure").getChild("start_date").value ))
        #set($testMonth=$_DateTool.format('MM/yyyy', $startDate))
        #set($displayDate=$_DateTool.format('MM/dd/yyyy', $startDate))
      #set($imgSrc = $newsArticle.getChild("system-data-structure").getChild("image").value)
      #set($imgSrc2 = "")
      #if($imgSrc != "/")
      #set($imgNum = $imgSrc.indexOf(".jpg")+4)
      #set($imgSrc2 = $imgSrc.substring(0, $imgNum))
      #set($imgSrc2 = '<img src="'+$imgSrc2+'" height="40" />')
      #end
     #set($title = $newsArticle.getChild('title').text )
      #set($path = $newsArticle.getChild('path').text)
      #set($summary = $newsArticle.getChild("system-data-structure").getChild("summary").text)
      <li>
    <div class="listing-news-area">
            <div class="listing-news-story-photo">$imgSrc2</div>
          <div class="listing-news-story-text">
                <div class="listing-news-story-title"><a href="$path">
            ${_EscapeTool.xml($title)}
        </a></div>
        $displayDate<br />
                ${_EscapeTool.xml($summary)}
<span class="news-story-more"><a href="$path"> ... Read more</a></span> 
            </div><div style="clear:both;"></div>
           </div>
           </li>
    #end
    </ul>

## Format URL: http://cascade.umt.edu/entity/open.act?id=9b1454490a0a07cc0aea7f0b0579760b&type=format&#highlight

## Audits
### 08-13-2012 17:38	av179450e	startedit
### 08-13-2012 17:39	av179450e	edit
### 08-13-2012 17:40	av179450e	edit
### 08-13-2012 17:39	av179450e	startedit
### 08-13-2012 17:41	av179450e	edit
### 08-13-2012 17:40	av179450e	startedit
### 08-13-2012 17:43	av179450e	edit
### 08-13-2012 17:43	av179450e	startedit
### 08-13-2012 17:44	av179450e	startedit
### 08-13-2012 17:46	av179450e	edit
