#macro(FacultyDatabase $root)
    #set ($pageStructure = $root)
    ##
    #set($velocity_school_id = "")
    #set($velocity_columns = "")
    #set($velocity_school_name = "")
    #set($velocity_template = "null")
    #set($types_list ="")
    #set($mustache_detail = "")
    #set($mustache_listing = "")
    ##
    #if($pageStructure.getChild("advanced").getChild("mustache_listing").value != "")
        #set($mustache_detail = $_SerializerTool.serialize($pageStructure.getChild("advanced").getChild("mustache_detail"), true))
    #end
    #if($pageStructure.getChild("advanced").getChild("mustache_listing").value != "")
        #set($mustache_listing = $_SerializerTool.serialize($pageStructure.getChild("advanced").getChild("mustache_listing"), true))
    #end
    ##
    #set($velocity_columns = $_SerializerTool.serialize($pageStructure.getChild("advanced").getChild("columns"), true))
    #set($velocity_template = $_SerializerTool.serialize($pageStructure.getChild("advanced").getChild("format"), true))
    #set($heading_level = $_SerializerTool.serialize($pageStructure.getChild("advanced").getChild("heading_level"), true))
    #set($velocity_template = $velocity_template.toLowerCase().replaceAll(' ','-'))
    #if ($velocity_template == "default-listing")
        #set ($velocity_template = "null")
    #end
    
    #set($velocity_school_id = $_SerializerTool.serialize($pageStructure.getChild("school_id"), true))
    #set($setup_block = $_XPathTool.selectSingleNode($root, "advanced/setup_block/content/system-data-structure"))
    #set($contact_info = $setup_block.getChild('contact_info'))
    #set($address_lines = "")
    #set($address_lines = $_XPathTool.selectNodes($root, "//address"))
    #set($velocity_school_name = $_SerializerTool.serialize($setup_block.getChild("site_info").getChild("title"), true))
    #set($address_lines_list= $velocity_school_name)
    #set($departments = $_XPathTool.selectNodes($root, "department"))

    ##
    [system-view:external]
    <link href="[system-asset:id=7ec811320a0a07cc2bcece51fd608e62]/faculty-database/um-plugin-directory-listing.min.css[/system-asset]" rel="stylesheet"/>
    ##
    <!--#passthrough
    <?php
    include_once('directory-listing/directory-listing.class.php');

    #foreach($department in $departments)
        #set($department_label = "")
        #set($department_id = "")
        #set($limit_by_tag = "")
        ##
        #set($department_label = $department.getChild('label').value)
        #set($department_id = $department.getChild('department_id').value)
        #set($display_style = "type")
        #set($style = $department.getChild('display').getChild('style').value)
        #set($limit_by_tag = $department.getChild('display').getChild('tag_filter').value)
        #set($types = $_XPathTool.selectNodes($department, "display/person_type"))
        #set($tag_filter = $_XPathTool.selectNodes($department, "display/tag_filter"))

        #if($style == "By Tag") 
            #set($display_style = "tag")
        #end
        
        $php_mustache_listing = <<<EOF
        $mustache_listing
EOF;
        $php_mustache_detail = <<<EOF
        $mustache_detail
EOF;
        
        $display = array(
        "limit_by_tag" => "$limit_by_tag",
        "type" => "$display_style",
        "mustache_listing"=>trim($php_mustache_listing),
        "mustache_detail"=>trim($php_mustache_detail),
        "breakdown" => array(
        #foreach($type in $types)
            #set($label = "")
            #set($id = "")
            #set($label = $_SerializerTool.serialize( $type.getChild('label'), true))
            #set($id = $_SerializerTool.serialize( $type.getChild('id'), true))
            #set($types_list = $types_list+ "<strong>$label</strong>: $id<br/>")
            "$label" => "$id" #if($velocityCount < $types.size()),
            #end
        #end
    ));    
        #if($velocityCount > 1) if(!utility::input('ID')) { #end 
        $directory = new directory_listing("$velocity_school_id", "$department_id", $display,"$department_label");
        $directory->initialize("$velocity_template","$velocity_columns", false, "$heading_level");
        
        #if($velocityCount > 1) } #end 
    #end
    ?>#passthrough-->
    [/system-view:external]
    [system-view:internal]
    
    <p>There is a 1 hour cache to speed up page load times, if you want manually clear the cache you can by appending ?clear=true to the page on www.umt.edu</p>
    <div>
        <h2>Organization Information</h2>
        <ul>
            <li><strong>School ID</strong>: $velocity_school_id</li>
            <li><strong>Department ID</strong>: $department_id</li>
        </ul>
    </div>
    #if ($address_lines_list != "")<div><h2>Address</h2> <p>$address_lines_list</p></div>#end
    <div><h2>Person Types</h2> <p>$types_list</p></div>
    [/system-view:internal]
#end
#if($contentRoot && $_XPathTool.selectSingleNode($contentRoot, '.').getChild("school_id") && $_XPathTool.selectSingleNode($contentRoot, '.').getChild("school_id").value != "")
    #FacultyDatabase($_XPathTool.selectSingleNode($contentRoot, "."))
#end

## Format URL: http://cascade.umt.edu/entity/open.act?id=7aabfb7c0a0a07cc2bcece51a830cfa4&type=format&#highlight

## Audits
### 03-12-2015 15:39	ns159438e	startedit
### 03-12-2015 15:39	ns159438e	edit
### 01-05-2016 20:47	ns159438e	startedit
### 01-05-2016 20:47	ns159438e	edit
### 05-19-2014 16:26	kf139826e	edit
### 05-19-2014 16:25	kf139826e	startedit
### 02-13-2014 15:40	kp128580	startedit
### 02-13-2014 15:40	kp128580	edit
### 02-13-2014 15:54	kp128580	startedit
### 02-13-2014 15:56	kp128580	edit
