#macro(CycleSlideshow $root)
    #set ($pageStructure = $root)
    #set ($cycle_slides= $_XPathTool.selectNodes($pageStructure, "slide"))
    #set ($cycle_options= $_XPathTool.selectSingleNode($pageStructure, "adv_opts"))
    #set ($cycle_arrows=  $_XPathTool.selectSingleNode($pageStructure, "adv_opts/arrows"))
    
        #set ($fx= $_SerializerTool.serialize($cycle_options.getChild("fx"), true))
            #if ($fx == "horizontal scroll")
                #set ($fx = "scrollHorz")
            #end
        #set ($use_captions = $_SerializerTool.serialize($cycle_options.getChild("use_captions"), true))
        #set ($align_captions = $_SerializerTool.serialize($cycle_options.getChild("captions_vertical"), true))
        #set ($align_captions = $align_captions.replaceAll(' ',''))
        #set ($align_captions = $align_captions.toLowerCase())
        #set ($use_title= $_SerializerTool.serialize($cycle_options.getChild("use_title"), true))
        #set ($pause= $_SerializerTool.serialize($cycle_options.getChild("hover_pause"), true))
        #set ($speed= $_SerializerTool.serialize($cycle_options.getChild("speed"), true))
        #set ($timeout= $_SerializerTool.serialize($cycle_options.getChild("timeout"), true))
        #set ($float= $_SerializerTool.serialize($cycle_options.getChild("float"), true))
        #set ($heading_level = $cycle_options.getChild("heading_level").value)
        #headingLevel($heading_level)
        
        #set ($custom_prev = "/")
        #set ($custom_prev = $_SerializerTool.serialize($cycle_arrows.getChild("prev").getChild("path"), true))
        #set ($custom_next= "/")
        #set ($custom_next= $_SerializerTool.serialize($cycle_arrows.getChild("next").getChild("path"), true))
    
    <div class="plugin cycle-slideshow-container">    
    <$heading_level_one class="access_hidden">Check out the slideshow of $cycle_slides.size() items below:</$heading_level_one>
    <ul class="access_hidden">
        #foreach ($slide in $cycle_slides)
            #set ($cycle_image ="/")
            #set ($cycle_image = $_SerializerTool.serialize($slide.getChild("image").getChild("link"), true))
            #set ($cycle_caption= "/")
            #set ($cycle_caption= $_SerializerTool.serialize($slide.getChild("content"), true))
            #set ($cycle_caption = $cycle_caption.replaceAll('"', "'"))
            #set ($cycle_alt = "/")
            #set ($cycle_alt = $_SerializerTool.serialize($slide.getChild("alt"), true))
            <li>Slide Title: $cycle_alt  #if ($cycle_caption != "") Slide Caption: $cycle_caption #end</li>
        #end
    </ul>
    
    [system-view:internal]<p class="alert alert-success">The slideshow may not display correctly until published.</p>[/system-view:internal]
     
      <div aria-hidden="true" id="slides" style="float: $float;" class="cycle-slideshow dynamic" 
            data-cycle-fx="$fx"
            data-cycle-timeout="$timeout"
            data-cycle-speed="$speed"
            data-cycle-pause-on-hover="$pause" 
        >
       
      <div class="cycle-prev"></div>
        <div class="cycle-next"></div>
        
      #if ($use_title == "true" || $use_captions == "true")
                <div class="cycle-overlay $align_captions"></div>
       #end  
                
        #foreach ($slide in $cycle_slides)
            #set ($cycle_image ="")
            #set ($cycle_caption = "")
            #set ($cycle_alt = "")
            ##
            #if($slide.getChild("image").getChild("link").value != "")
                #set ($cycle_image = $_SerializerTool.serialize($slide.getChild("image").getChild("link"), true))
            #end
            #if($slide.getChild("content").value != "")
                #set ($cycle_caption= $_SerializerTool.serialize($slide.getChild("content"), true))
                #set ($cycle_caption = $cycle_caption.replaceAll('"', "'"))
            #end
            #if($slide.getChild("alt").value != "")
                #set ($cycle_alt = $_SerializerTool.serialize($slide.getChild("alt"), true))
            #end
            ##
            #if ($cycle_image != "" && $use_title == "true" && $use_captions == "true" )   
                <img src="$cycle_image" alt="$cycle_alt" data-cycle-title="$cycle_alt" data-cycle-desc="$cycle_caption" />          
            #elseif ($cycle_image != "" && $use_title =="true")
                <img src="$cycle_image" alt="$cycle_alt"  data-cycle-desc="$cycle_alt"/>
            #elseif ($cycle_image != "" && $use_captions == "true")
                <img src="$cycle_image" alt="$cycle_alt"  data-cycle-desc="$cycle_caption" />
            #else  
                <img src="$cycle_image" alt="$cycle_alt"/>          
            #end
        #end
    
        #if ($custom_prev !="/" && $custom_next != "/")
        <style>
            .cycle-prev {left: 0;  background: url([system-asset]${custom_prev}[/system-asset]) 50% 50% no-repeat !important;}
            .cycle-next {right: 0; background: url([system-asset]${custom_next}[/system-asset]) 50% 50% no-repeat !important;}
        </style>
        #end
     </div>
     </div>
     
    <script type="text/javascript">
    require(["cycle"],function(){
    
    });
    </script>
#end
#if($contentRoot && $_XPathTool.selectSingleNode($contentRoot, '.').getChild("adv_opts") && $_XPathTool.selectSingleNode($contentRoot, '.').getChild("adv_opts").getChild("fx").value != "")
    #import('/_cms/scripts/includes/macros/headingLevel')
    #CycleSlideshow($_XPathTool.selectSingleNode($contentRoot, "."))
#end


## Format URL: http://cascade.umt.edu/entity/open.act?id=bfd2115a0a0a07cc79dd8f74f439eea5&type=format&#highlight

## Audits
### 09-10-2013 21:02	kp128580	move
### 07-23-2013 18:02	kf139826e	edit
### 07-23-2013 18:02	kf139826e	startedit
### 07-25-2013 15:58	kp128580	edit
### 07-25-2013 15:58	kp128580	startedit
### 02-13-2014 15:40	kp128580	startedit
### 02-13-2014 15:40	kp128580	edit
### 02-19-2014 22:14	kp128580	edit
### 02-19-2014 22:13	kp128580	startedit
### 02-20-2014 17:50	kp128580	startedit
