#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure") )
#set ($rows = $_XPathTool.selectNodes($contentRoot, "/system-data-structure"))

#set ($title = $_SerializerTool.serialize($pageStructure.getChild("title"), true))
#set ($content = $_SerializerTool.serialize($pageStructure.getChild("content"), true))

#set ($date = $_DateTool.toDate("MM-dd-yyyy",$pageStructure.getChild("news_date").value ))
#set ($month = $_DateTool.format('MMM', $date))
#set ($day = $_DateTool.format('dd', $date))
#set ($year = $_DateTool.format('yyyy', $date))

<link href="[system-asset:id=ed99294e0a0a0468009d4d8493edc672]/css/news.css[/system-asset]" rel="stylesheet" type="text/css" />

<div class="span12 content_wrapper news">
    <div class="date">
        <span class="month">$month</span>
        <span class="day">$day</span>
        <span class="year">$year</span>
    </div>
    <h2>$title</h2>
    $content
    <a href="/News_and_Events/default">View All News</a>
</div>

## Format URL: http://cascade.umt.edu/entity/open.act?id=0dd8c7ae0a0a0468009197a2fc9f6546&type=format&#highlight

## Audits
### 05-20-2011 14:39	ns159438e	startedit
### 05-20-2011 14:43	ns159438e	edit
### 05-20-2011 14:51	ns159438e	edit
### 05-20-2011 14:48	ns159438e	startedit
### 05-20-2011 14:52	ns159438e	startedit
### 05-20-2011 14:52	ns159438e	edit
### 05-20-2011 14:52	ns159438e	startedit
### 05-20-2011 14:53	ns159438e	edit
### 05-20-2011 14:55	ns159438e	edit
### 05-20-2011 14:54	ns159438e	startedit
