#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure") )
#set ($rows = $_XPathTool.selectNodes($contentRoot, "/system-data-structure"))
#set ($rowNumbers = $rows.size())
#set ($content = "")
#set ($counter = 0)

#set ($news_feed = "")
#if($pageStructure.getChild("news_feed").value != "") 
    #set ($news_feed = $_SerializerTool.serialize($pageStructure.getChild("news_feed").getChild("path"), true))
    #set ($news_viewmore_link = $_SerializerTool.serialize($pageStructure.getChild("more_news").getChild("path"), true))
#end
<div class="content_wrapper">
#if($news_feed != "/")
  
        <link rel="stylesheet" href="/css/news.css" type="text/css" media="all" />

    <script type="text/javascript" src="[system-asset:id=75547bbd0a0a07cc628b41636c653efa]/js/jquery.jcarousel.min.js[/system-asset]"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            jQuery('#news ul').jcarousel({
                vertical: true,
                auto: 4,
                scroll: 1,
                animation: 2500,
                buttonNextHTML: null,
                buttonPrevHTML: null,
                wrap: 'circular'
            });
        });
    </script>
    <div id="news" class="news" >
        <h4>News and Events</h4>
        <ul class="jcarousel jcarousel-list jcarousel-list-vertical">
    [system-view:external] 
    <!--#START-CODE
    <?php
        include("#END-CODE-->[system-asset:id=4a535a390a0a04680053cab6e0a57c82]/includes/includes.inc.php[/system-asset]<!--#START-CODE");
        print_formatted_events_feed("#END-CODE-->[system-asset]${news_feed}[/system-asset]<!--#START-CODE");
    ?>
    #END-CODE-->
    [/system-view:external] 
    [system-view:internal] 
            <li>
                <div class="date"><span class="month">Mar</span><span class="day">28</span><span class="year">2011</span></div>
                <p class="description"><a class="title" href="#">Example Event 1</a><p>This is the description for the example event, This event will be great!</p></p>
            </li>
            <li>
                <div class="date"><span class="month">Mar</span><span class="day">28</span><span class="year">2011</span></div>
                <p class="description"><a class="title" href="#">Example Event 2</a><p>This is the description for the example event, This event will be great!</p></p>
            </li>
            <li>
                <div class="date"><span class="month">Mar</span><span class="day">28</span><span class="year">2011</span></div>
                <p class="description"><a class="title" href="#">Example Event 3</a><p>This is the description for the example event, This event will be great!</p></p>
            </li>
    [/system-view:internal] 
            </ul>
    <h4 class="view_all_news"><a class="morenews" href="$news_viewmore_link">View All News</a></h4>
    </div>
    

#end

#set ($contentNodes = $pageStructure.getChildren("content"))
#foreach ($contentNode in $contentNodes )
    #set ($content = $_SerializerTool.serialize($contentNode, true))
    #set ($columns = $contentNodes.size())
    #if ($columns == 1)             
        $content
    #else
        #if($counter==0)
            <div class="main_content">                      
                $content
            </div>
        #end
        #if($counter==1)
            <div class="sidebar">
                $content
            </div>
        #end
    #end
    #set ($counter = $counter + 1)
#end
</div>

## Format URL: http://cascade.umt.edu/entity/open.act?id=e8ab135f0a0a046801ef6939863c6ef2&type=format&#highlight

## Audits
### 05-18-2011 15:16	ns159438e	edit
### 05-18-2011 15:16	ns159438e	startedit
### 05-20-2011 14:39	ns159438e	copy
### 01-28-2012 19:31	ws132567	startedit
### 01-28-2012 19:31	ws132567	edit
### 05-25-2011 17:32	ns159438e	edit
### 05-25-2011 17:30	ns159438e	startedit
### 05-25-2011 17:34	ns159438e	edit
### 05-25-2011 17:34	ns159438e	startedit
### 05-25-2011 17:35	ns159438e	edit
