#set ($calling_page = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block/calling-page/system-page"))
#set ($calling_page_title = $_SerializerTool.serialize($calling_page.getChild("display-name"),true).replaceAll("'",""))

#set($currentDateNode = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block/@current-time") )
#set($currentDate = $_DateTool.getDate($currentDateNode.value ))

#set ($news_items = $_XPathTool.selectNodes($contentRoot, "//system-page[system-data-structure[@definition-path='News Item']]"))
$_SortTool.addSortCriterion("system-data-structure/news_date", "", "text", "descending", "upper-first")  
$_SortTool.sort($news_items)  

#foreach ($newsArticle in $news_items)

    #set ($date = $_DateTool.toDate("MM-dd-yyyy",$newsArticle.getChild("system-data-structure").getChild("end_date").value ))
    #set ($diff = $_DateTool.difference($date, $currentDate).seconds)
        
    #set ($categories = "")
    #set ($in_category = false)
    #set ($categories = $_XPathTool.selectNodes($newsArticle, "system-data-structure/categories/value"))

    #foreach($category in $categories)
        #if($category.value == $calling_page_title || $calling_page_title == "Institute for Educational Research &amp; Service")
            #set ($in_category = true)
        #end
    #end
    #if($diff < 0 && $in_category == true)
        #set ($startDate = "nothing")
        #set ($startDate = $_DateTool.getDate($newsArticle.getChild("start-date").value ))
        #if ($startDate == "nothing")
            #set ($startDate = $_DateTool.getDate($newsArticle.getChild("created-on").value ))
        #end
        
        #set ($title = $newsArticle.getChild("system-data-structure").getChild('title'))
        #set ($link = $newsArticle.getChild('path').text)
        #set ($description = $newsArticle.getChild("system-data-structure").getChild('content'))
        #set ($startDate = $_DateTool.toDate("MM-dd-yyyy",$newsArticle.getChild("system-data-structure").getChild("news_date").value ))
        #set ($formatedDate = $_DateTool.format("yyyy-MM-dd'T'HH:mmZ", $startDate))
        <item>
            <title>$_SerializerTool.serialize($title, true)</title>
            <link>[system-asset]${link}[/system-asset]</link>
            <guid>[system-asset]${link}[/system-asset]</guid>
            <description><![CDATA[$_SerializerTool.serialize($description, true)]]></description>
            <pubDate>$formatedDate</pubDate>
        </item>
    #end
#end

## Format URL: http://cascade.umt.edu/entity/open.act?id=27aac2890a0a046800fc15cbdd77700f&type=format&#highlight

## Audits
### 01-28-2012 19:32	ws132567	edit
### 01-28-2012 19:32	ws132567	startedit
### 05-25-2011 15:06	ns159438e	edit
### 05-25-2011 15:04	ns159438e	startedit
### 05-25-2011 15:10	ns159438e	startedit
### 05-25-2011 15:12	ns159438e	edit
### 05-25-2011 17:17	ns159438e	edit
### 05-25-2011 17:17	ns159438e	startedit
### 05-25-2011 17:17	ns159438e	startedit
### 05-25-2011 17:19	ns159438e	edit
