################################################################################################################################
## LEFT COLUMN NAVIGATION
################################################################################################################################
## *****Macro for displaying page*****
#macro ( showPage $page )
#set ( $pageTitle = "" )
#set ( $pageDisplayName = "" )
#set ( $includeNav = "" )
#set ( $currentPage = "" )
#set ( $pageLoc = "" )
#set ( $activeClass = "" )

#set ( $pageTitle = $page.getChild("title") )
#set ( $pageDisplayName = $page.getChild("display-name") )
#set ( $includeNav = $_XPathTool.selectSingleNode($page, "dynamic-metadata[name = 'incnav']/value").value )
#set ( $currentPage = $_XPathTool.selectSingleNode($page, "@current='true'") )
#set ( $pageLoc = $page.getChild("link").value )

#if ( $pageDisplayName && $pageDisplayName != "" && $pageDisplayName.value != "" )
#set ( $thePageDisplayName = $pageDisplayName )
#elseif ( $pageTitle && $pageTitle != "" && $pageTitle.value != "" )
#set ( $thePageDisplayName = $pageTitle )
#else
#set ( $thePageDisplayName = $page.getChild("name") )
#end

#if ( $currentPage )
#set ( $activeClass = "class='active'" )
#end

#if ( $includeNav == "Yes" )
<li ${activeClass}><a href="${pageLoc}"><span>$_EscapeTool.xml($thePageDisplayName.value)</span></a></li>
#end
#end

## *****Macro for displaying files*****
#macro ( showFile $file )
#set ( $fileTitle = "" )
#set ( $fileTitle = $file.getChild("title") )
#set ($defaultPage = $_XPathTool.selectSingleNode($file, "name = 'index'"  ))

#if ( $fileTitle && $fileTitle != "" && $fileTitle.value != "" )
#set ( $fileLoc = $file.getChild("link").value )

<li><a #if($linkLoc.contains('http'))target="_blank"#end href="${_EscapeTool.xml($fileLoc)}">$_EscapeTool.xml($fileTitle.value)</a></li>
#end
#end

## *****Macro for displaying external links*****
#macro ( showLink $link )
#set ( $linkTitle = "" )
#set ( $linkDisplayName = "" )
#set ( $linkTitle = $link.getChild("title") )
#set ( $linkDisplayName = $link.getChild("display-name") )
#set ($defaultPage = $_XPathTool.selectSingleNode($link, "name = 'index'"  ))

#if ( $linkDisplayName && $linkDisplayName != "" && $linkDisplayName.value != "" )
#set ( $theLinkDisplayName = $linkDisplayName )
#elseif ( $linkTitle && $linkTitle != "" && $linkTitle.value != "" )
#set ( $theLinkDisplayName = $linkTitle )
#else
#set ( $theLinkDisplayName = $link.getChild("name") )
#end
#set ( $linkLoc = $link.getChild("link").value )

#if ($linkLoc.indexOf('/') == 0)
<li><a target="_top" href="[system-asset]${_EscapeTool.xml($linkLoc)}[/system-asset]">$_EscapeTool.xml($theLinkDisplayName.value)</a></li>
#else
<li><a #if($linkLoc.contains('http'))target="_blank"#end href="${_EscapeTool.xml($linkLoc)}">$_EscapeTool.xml($theLinkDisplayName.value)</a></li>
#end
#end

## *****Macro for displaying external links*****
#macro ( showBlockLink $link )
#set ( $linkTitle = "" )
#set ( $linkDisplayName = "" )
#set ( $linkTitle = $link.getChild("title") )
#set ( $linkDisplayName = $link.getChild("display-name") )
#set ($defaultPage = $_XPathTool.selectSingleNode($link, "name = 'index'"  ))

#if ( $linkDisplayName && $linkDisplayName != "" && $linkDisplayName.value != "" )
#set ( $theLinkDisplayName = $linkDisplayName )
#elseif ( $linkTitle && $linkTitle != "" && $linkTitle.value != "" )
#set ( $theLinkDisplayName = $linkTitle )
#else
#set ( $theLinkDisplayName = $link.getChild("name") )
#end

#if ( $link.getChild("system-data-structure").getChild("link-page").getChild("page").getChild("path").value != "/" )
#set ( $linkLoc = $link.getChild("system-data-structure").getChild("link-page").getChild("page").getChild("path").value ) 
#elseif ( $link.getChild("system-data-structure").getChild("link-file").getChild("file").getChild("path").value != "/" )
#set ( $linkLoc = $link.getChild("system-data-structure").getChild("link-file").getChild("file").getChild("path").value )    
#elseif ( $link.getChild("system-data-structure").getChild("link-external").getChild("url").value != "" )    
#set ( $linkLoc = $link.getChild("system-data-structure").getChild("link-external").getChild("url").value )
#else   
#set ( $linkLoc = "test" ) 
#end

#if ($linkLoc.indexOf('/') == 0)
<li><a target="_top" href="[system-asset]${_EscapeTool.xml($linkLoc)}[/system-asset]">$_EscapeTool.xml($theLinkDisplayName.value)</a></li>
#else
<li><a #if($linkLoc.contains('http'))target="_blank"#end href="${_EscapeTool.xml($linkLoc)}">$_EscapeTool.xml($theLinkDisplayName.value)</a></li>
#end
#end

## *****Macro for displaying folder*****
#macro ( showFolder $theFolder )
#set ( $currentFolder = $_XPathTool.selectSingleNode($contentRoot, "//system-folder[@current='true']") )

#set ( $activeClass = "" )
#set ( $folderLoc = "" )
#set ( $folderTitle = "" )
#set ( $folderDisplayName = "" )
#set ( $includeFolderNav = "" )
#set ( $folderPath = "" )

#set ( $folderLoc = $theFolder.getChild("link").value )
#set ( $folderTitle = $theFolder.getChild("title") )
#set ( $folderDisplayName = $theFolder.getChild("display-name") )
#set ( $includeFolderNav = $_XPathTool.selectSingleNode($theFolder, "dynamic-metadata[name = 'incnav']/value").value )
#set ( $folderPath = $theFolder.getChild("path").value )
#set ( $folderDepth = $folderPath.split("/").size() - 1 )


#if ( $folderDisplayName && $folderDisplayName != "" && $folderDisplayName.value != "" )
#set ( $theFolderTitle = $_EscapeTool.xml($folderDisplayName.value) )
#elseif ( $folderTitle && $folderTitle != "" && $folderTitle.value != "" )
#set ( $theFolderTitle = $_EscapeTool.xml($folderTitle.value) )
#else
#set ( $theFolderTitle = $_EscapeTool.xml($theFolder.getChild("name").value) )
#end

#if ( $includeFolderNav == "Yes" )
#set ( $currentfolderPath = $folderPath + "/" )
#set ( $currentPagePath = $_XPathTool.selectSingleNode($contentRoot, "//system-page[@current='true']/path").value)

#if ( $currentPagePath.contains($currentfolderPath) )
#set ( $activeClass = "class='active'" )
#end

#if ( $folderDepth == 1 )     
#set ( $subfolders = $_XPathTool.selectNodes($theFolder, "system-page[name != 'index' and @reference | dynamic-metadata[name='incnav' and value='Yes']] | system-folder[dynamic-metadata[name='incnav' and value='Yes']] | system-folder[descendant::system-page[@current]] | system-symlink | system-file | system-block") )

#if ( $subfolders.size() > 0  )
#loopFolder($subfolders)
#end
#else
<li $activeClass>
<a href="${folderLoc}/index">${theFolderTitle}</a>

#set ( $subfolders = $_XPathTool.selectNodes($theFolder, "system-page[name != 'index' and @reference | dynamic-metadata[name='incnav' and value='Yes']] | system-folder[dynamic-metadata[name='incnav' and value='Yes']] | system-folder[descendant::system-page[@current]] | system-symlink | system-file | system-block") )

#if ( $subfolders.size() > 0 && $folderDepth < 4 )
<ul class="sub-menu">
#loopFolder($subfolders)
</ul>
#end
</li>
#end
#end
#end

## *****Macro for processing folder*****
#macro ( loopFolder $folder )
#if ( $folder.size() > 0 )
#foreach ( $item in $folder )
#if ( $item.getName() == "system-page" )
#showPage($item)
#elseif ( $item.getName() == "system-symlink" )
#showLink($item)
#elseif ( $item.getName() == "system-block" )
#showBlockLink($item)
#elseif ( $item.getName() == "system-file" )
#showFile($item)
#else
#showFolder($item)
#end
#end
#end
#end

## *****Begin processing navigation XML*****
#set ( $sib = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block") )
#set ( $rootFolders = $_XPathTool.selectNodes($sib, "system-folder | system-page | system-symlink | system-file") )
#set ( $rootFolder = $_XPathTool.selectSingleNode($sib, "system-folder[@current='true']") )
#set ( $leftColumn = $_XPathTool.selectNodes($rootFolder, "system-page[name != 'index' and @reference | dynamic-metadata[name='incnav' and value='Yes']] | system-folder[dynamic-metadata[name='incnav' and value='Yes']] | system-folder[descendant::system-page[@current]] | system-symlink | system-file | system-block") )
#set ( $ancestorFolder = $_XPathTool.selectSingleNode($sib, "//system-page[@current='true']/ancestor::system-folder").getChild("display-name").value )
#set ( $leftColDisplay = $_XPathTool.selectSingleNode($sib, "system-page[@current='true']/system-data-structure/page-content/left-column").value )
##
#set ( $data = $_XPathTool.selectSingleNode($contentRoot, "//system-page[@current='true']/system-data-structure") )
#set ( $leftColumn = $_XPathTool.selectSingleNode($data, "page-content/left-column") )
#set ( $displayLeftCol = "" )
#set ( $displayLeftCol = $leftColumn.getChild("display").value )
#set ( $leftColValue = $data.getChild("page-content").getChild("left-column").getChild("display").value )

#set ( $left = "hide" )
#if ( $leftColValue == "Yes" )
    #set ( $left = "col3 row left-column" )
#elseif ( $leftColValue == "No" )
    #set ( $left = "hide" )
#end

#set ( $sectionNav = $data.getChild("page-content").getChild("left-column").getChild("display-left-nav").value )

<div class="${left}">
#if ( $sectionNav == "Yes" )
<nav class="left-nav is-desktop" for="left navigation">
<h4>${ancestorFolder}</h4>
<ul>    
#foreach ( $item in $rootFolders)
#if ( $item.getName() == "system-folder" )
#set ($baseFolderIsActive = '')
#set ($baseFolderIsActive = $_XPathTool.selectSingleNode($item, "descendant::system-page[@current = 'true']"))
#if ($baseFolderIsActive != '')
#showFolder($item)
#end
#end
#end
</ul>
</nav>
#elseif ($sectionNav == "Yes" && $pageType == "news-detai")
<nav class="left-nav light-gray-bg is-desktop" for="left navigation">
<h4>${ancestorFolder}</h4>
<ul>    
#foreach ( $item in $rootFolders)
#if ( $item.getName() == "system-folder" )
#set ($baseFolderIsActive = '')
#set ($baseFolderIsActive = $_XPathTool.selectSingleNode($item, "descendant::system-page[@current = 'true']"))
#if ($baseFolderIsActive != '')
#showFolder($item)
#end
#end
#end
</ul>
</nav>
#end

#############################################################
## WIDGETS
#############################################################
#set ( $data = $_XPathTool.selectSingleNode($contentRoot, "//system-folder/system-page/system-data-structure/page-content/left-column/widget/content") )


#set ( $widgets = $_XPathTool.selectNodes($contentRoot, "//system-page[@current='true']/system-data-structure/page-content/left-column/widget/content/system-data-structure/widget") )

#foreach ( $widget in $widgets )
    #set ( $widgetPath = $_XPathTool.selectSingleNode($widget, "../../../path").value )
    #set ( $widgetType = $_XPathTool.selectSingleNode($widget, "type").value )
    
    #set ( $newsData = $_XPathTool.selectSingleNode($contentRoot, "//system-page[@current='true']/system-data-structure") )
    #set ( $newsArticles = $_XPathTool.selectNodes($contentRoot, "//system-page") )


    #if ( $widgetType == 'Video' && $widgetPath != "/")
    
        #set ( $video = $_XPathTool.selectSingleNode($widget, "video") ) 
        [system-view:internal]
            <div class="full-wrapper video">
                <div class="wrapper">
                    <div class="youtube">
                        ## <h4>${_EscapeTool.xml($video.getChild("heading").value)}</h4>
                        <a class="popup-youtube" href="https://www.youtube.com/watch?v=${video.getChild('video-id').value}">
                            <img src="${video.getChild('thumb').getChild('path').value}" alt="${video.getChild('title').value}"/>
                            <div class="play"><img src="/_global/_images/play-small.png" alt="Play"/></div>
                        </a>
                    </div>
                    <p>${_EscapeTool.xml($video.getChild("title").value)}</p>
                </div> 
            </div>
        [/system-view:internal]
        [system-view:external] <!--\#include virtual="${widgetPath}.html"--> [/system-view:external]
            
    #elseif ($widgetType == 'WYSIWYG' && $widgetPath != "/")
    
        #set ( $standard = $_XPathTool.selectSingleNode($widget, "standard") ) 
        [system-view:internal]
        <div class="full-wrapper wysiwyg">
            <div class="wrapper">
            #if ( $standard.getChild("heading").value != "" )
                <div class="leftNav-title"><h3>${_EscapeTool.xml($standard.getChild("heading").value)}</h3></div>
            #end
            #if ( $standard.getChild("title").value != "" )
                <h4>${_EscapeTool.xml($standard.getChild("title").value)}</h4>
            #end
            #if ( $standard.getChild("content").value != "" )
                <div class="wysiwyg-content">$_SerializerTool.serialize($standard.getChild("content"), true)</div>
            #end
            </div>
        </div>
        [/system-view:internal]
        [system-view:external] <!--\#include virtual="${widgetPath}.html"--> [/system-view:external]
    
    #elseif ($widgetType == 'Image' && $widgetPath != "/")
        #set ( $image = $_XPathTool.selectSingleNode($widget, "image") ) 
        [system-view:internal]
        <div class="full-wrapper image">
            <div class="wrapper">
                <div class="leftNav-title"><h3>${_EscapeTool.xml($image.getChild("heading").value)}</h3></div>
                <img src="${image.getChild('img').getChild('path').value}" alt="${image.getChild('title').value}" />
                <h4>${_EscapeTool.xml($image.getChild("title").value)}</h4>
                <div class="wysiwyg-content">$_SerializerTool.serialize($image.getChild("content"), true)</div>
            </div>
        </div>
        [/system-view:internal]
        [system-view:external] <!--\#include virtual="${widgetPath}.html"--> [/system-view:external]
   
   #elseif ($widgetType == 'Call to Action Button' && $widgetPath != "/")
       #set ( $button = $_XPathTool.selectSingleNode($widget, "button") ) 
       [system-view:internal]
        <div class="full-wrapper button">
            <div class="wrapper">
            #set ( $_title = "" )
            #set ( $_title = $button.getChild("text").value )
            #if ($button.getChild("link-page").getChild("page").getChild("path").value != "/")
                #set ( $_link = $button.getChild("link-page").getChild("page").getChild("path").value )
                #set ( $_target = "_parent" )
            #elseif ($button.getChild("link-file").getChild("file").getChild("path").value != "/")
                #set ( $_link = $button.getChild("link-file").getChild("file").getChild("path").value )
                #set ( $_target = "_blank" )
            #elseif ($button.getChild("link-external").getChild("url").value != "/")
                #set ( $_link = $button.getChild("link-external").getChild("url").value )
                #if ($button.getChild("link-external").getChild("target").value == "New Window")
                    #set ( $_target = "_blank" )
                #else
                    #set ( $_target = "_parent" )
                #end
            #end
            #if ($_title != "")
                <a target='${_target}' class='btn btn-green' href='${_link}'>$_EscapeTool.html($_title)</a>      
            #end
            </div>
        </div>   
        [/system-view:internal]
        [system-view:external] <!--\#include virtual="${widgetPath}.html"--> [/system-view:external]
        
    #elseif ($widgetType == 'Linked List' && $widgetPath != "/")
        #set ( $link = $_XPathTool.selectSingleNode($widget, "linked-list") )
        #set ( $links = $_XPathTool.selectNodes($link, "link") )
        [system-view:internal]
        <div class="full-wrapper linkedList">
            <div class="wrapper">
            <h4>${_EscapeTool.xml($link.getChild("heading").value)}</h4>
            <ul>
                #foreach ( $item in $links )
                    #set ( $_title = "" )
                    #set ( $_title = $item.getChild("text").value )
                    #if ($item.getChild("link-page").getChild("page").getChild("path").value != "/")
                        #set ( $_link = $item.getChild("link-page").getChild("page").getChild("path").value )
                        #set ( $_target = "_parent" )
                    #elseif ($item.getChild("link-file").getChild("file").getChild("path").value != "/")
                        #set ( $_link = $item.getChild("link-file").getChild("file").getChild("path").value )
                         #set ( $_target = "_blank" )
                    #elseif ($item.getChild("link-external").getChild("url").value != "/")
                        #set ( $_link = $item.getChild("link-external").getChild("url").value )
                        #if ($item.getChild("link-external").getChild("target").value == "New Window")
                            #set ( $_target = "_blank" )
                        #else
                            #set ( $_target = "_parent" )
                        #end
                    #end
                
                    <li><a target='${_target}' href='${_link}'>$_EscapeTool.html($_title)</a></li>
                #end
            </ul>
            </div>
        </div>     
        [/system-view:internal]
        [system-view:external] <!--\#include virtual="${widgetPath}.html"--> [/system-view:external]

   
  #elseif ($widgetType == 'Events' && $widgetPath != "/")
       
        [system-view:internal]
            <div class="events widget green is-desktop">
        		<h3>EVENTS</h3>
        		<div class="wrap col12">
        			<p class="content">The event listing will display here when published.</p>
        		</div>
        		
        		<div class="col12">
        			<a class="btn btn-green" href="#">Montana Tech Events</a>
        		</div>
        	</div>
        [/system-view:internal]
        [system-view:external] <!--\#include virtual="${widgetPath}.html"--> [/system-view:external]
   

#end       
        
#end

</div>

## Format URL: http://cascade.umt.edu/entity/open.act?id=14196f8a0a0a07cc545fdb45ed55dd83&type=format&#highlight

## Audits
### 07-05-2017 18:53	mj129236e	create
### 07-05-2017 18:53	mj129236e	move
### 07-06-2017 12:45	mj129236e	startedit
### 07-06-2017 12:45	mj129236e	edit
### 07-06-2017 12:47	mj129236e	startedit
### 07-06-2017 12:47	mj129236e	edit
### 07-06-2017 12:50	mj129236e	startedit
### 07-06-2017 12:50	mj129236e	edit
### 07-06-2017 12:51	mj129236e	startedit
### 07-06-2017 12:51	mj129236e	edit
