#set ($pageStructure = $_XPathTool.selectNodes($contentRoot, "/system-index-block/system-page/system-data-structure") )


#set ($title = "")
#set ($anchor = "")
#set ($content = "")
#set ($image = "")
#set ($imageURL = "")

#set ($currentPhoto = $pageStructure.get(0))
#set ($image = $_SerializerTool.serialize($currentPhoto.getChild("image").getChild("path"), true))
#set ($imageURL = "[system-asset:local]" + $image + "[/system-asset:local]")
#set ($title = $_SerializerTool.serialize($currentPhoto.getChild("title"), true))
#set ($dq = '"')
#set ($anchor = $title.replaceAll(" ","-").replaceAll("[$dq|'|,|’|.|(|)]","").toLowerCase())
#set ($anchor = $_EscapeTool.xml($anchor))
#set ($content = $_SerializerTool.serialize($currentPhoto.getChild("content"), true))

<div class="about_photo">
    <h4><a href='http://www.umt.edu/featured-photos/?photo=$anchor#$anchor'>The Story Behind the Photo</a></h4>
    <div class="content">
        #if ($content != "" && $content != "<content />")
                $content
        #end
        <div class="share button"><div class="fb-like" data-href="http://www.umt.edu/featured-photos/?photo=$anchor#$anchor" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-action="recommend"></div></div>
        <div class="submit_stories">Submit photo and story ideas to thrive@umontana.edu</div>
    </div>
    <div class="separator">
        <p><a href="/featured-photos/default">Previously Featured Photos</a></p>
    </div>
</div>  

## Format URL: http://cascade.umt.edu/entity/open.act?id=b3018cd90a0a07cc035802657737e92f&type=format&#highlight

## Audits
### 04-16-2013 01:51	db111722e	startedit
### 04-16-2013 01:52	db111722e	edit
### 04-16-2013 04:01	ns159438e	edit
### 04-16-2013 04:01	ns159438e	startedit
### 04-29-2013 15:06	ns159438e	startedit
### 04-29-2013 15:08	ns159438e	edit
### 04-29-2013 15:10	ns159438e	startedit
### 04-29-2013 15:12	ns159438e	edit
### 04-29-2013 15:14	ns159438e	edit
### 04-29-2013 15:14	ns159438e	startedit
