## Format for dates
#set ( $format = "MMMM d, yyyy" )

## Abstract out the "system-data-structure" node
#set ( $sib = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure") )

#set ($startDate = $_DateTool.getDate($sib.getChild("created-on").value ))

<ul class="list-inline">
    <li>$_DateTool.format($format, $startDate)</li>
</ul>
$_SerializerTool.serialize($sib.getChild("story"), true)


## Format URL: http://cascade.umt.edu/entity/open.act?id=4818e5510a0a07cc3260cf1ec22db69d&type=format&#highlight

## Audits
### 08-19-2015 22:34	cc115111e	startedit
### 08-19-2015 22:44	cc115111e	edit
### 08-19-2015 22:50	cc115111e	edit
### 08-19-2015 22:48	cc115111e	startedit
### 08-19-2015 22:50	cc115111e	startedit
### 08-19-2015 22:52	cc115111e	edit
### 08-19-2015 22:59	cc115111e	edit
### 08-19-2015 22:58	cc115111e	startedit
### 08-19-2015 23:02	cc115111e	edit
### 08-19-2015 23:02	cc115111e	startedit
