## Macro for displaying page
#macro ( showPage $page )
    ## Grab page "title"
    #set ( $pageTitle = $page.getChild("title") )
    
    ## Grab page "display-name"
    #set ( $pageDisplayName = $page.getChild("display-name") )
    
    #if ( $pageTitle && $pageTitle.value != "" )
        #set ( $thePageTitle = $pageTitle )
    #elseif ( $pageDisplayName && $pageDisplayName.value != "" )
        #set ( $thePageTitle = $pageDisplayName )
    #else
        #set ( $thePageTitle = $page.getChild("name") )
    #end
    
    ## Get page location
    #set ( $pageLoc = $page.getChild("link").value )
    
    ## Cascade Server version 6.10+
    ## Use $_SerializerTool.serialize($thePageTitle, true) for versions previous to 6.10
    <a href="${pageLoc}">$_EscapeTool.xml($thePageTitle.value)</a>
#end

## Macro for displaying folder
#macro ( showFolder $folder )
    ## Grab folder "title"
    #set ( $folderTitle = $folder.getChild("title") )
    
    ## Grab folder "display-name"
    #set ( $folderDisplayName = $folder.getChild("display-name") )
    
    #if ( $folderTitle && $folderTitle.value != "" )
        #set ( $theFolderTitle = $folderTitle )
    #elseif ( $folderDisplayName && $folderDisplayName.value != "" )
        #set ( $theFolderTitle = $folderDisplayName )
    #else
        #set ( $theFolderTitle = $folder.getChild("name") )
    #end
    
    ## Get folder location
    #set ( $folderLoc = $folder.getChild("link").value )
    
    ## Cascade Server version 6.10+
    ## Use $_SerializerTool.serialize($thePageTitle, true) for versions previous to 6.10
    <h2 class="cux-eyebrow">$_EscapeTool.xml($theFolderTitle.value)</h2>
    
    ## Check for child folders
    #set ( $subfolders = $_XPathTool.selectNodes($folder, "system-page[name!='index'] | system-folder | system-symlink") )
    #if ( $subfolders.size() > 0 )
        #loopFolder($subfolders)
    #end
#end

## Macro for processing folder
#macro ( loopFolder $theFolder )
    ## Check for assets
    #if ( $theFolder.size() > 0 )
        <ul class="list-unstyled">
        ## Loop through folder
        #foreach ( $item in $theFolder )
            <li>
            ## Check item type
            #if ( $item.getName() == "system-page" || $item.getName() == "system-symlink")
                #showPage($item)
            #else ## You're working with another folder
                #showFolder($item)
                #loopFolder($item)
            #end
            </li>
        #end
        </ul>
    #end
#end


## Abstract out the "system-index-block" node
#set ( $sib = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block") )

## Gather "system-page" and "system-folder" nodes
#set ( $items = $_XPathTool.selectNodes($sib, "system-page[name!='index'] | system-folder | system-symlink") )

## Make the site map
#if ( $items.size() > 0 )
    #loopFolder($items)
#end

## Format URL: http://cascade.umt.edu/entity/open.act?id=b795f3080a0a07cc3260cf1e8c098213&type=format&#highlight

## Audits
### 07-22-2015 21:05	cc115111e	create
### 07-22-2015 22:03	cc115111e	edit
### 07-22-2015 22:00	cc115111e	startedit
### 07-22-2015 22:44	cc115111e	edit
### 07-22-2015 22:41	cc115111e	startedit
