#set ($adminHome = "/admin")
#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block") )
#set ($tabs = $_XPathTool.selectNodes($pageStructure, "system-page"))
#set ($currentTab = $_SerializerTool.serialize($pageStructure.getChild("calling-page").getChild("system-page").getChild("display-name"), true))
<div class="tabs">
<ul class="top_tabs">
#foreach ($tab in $tabs)
    #set ($include = $_XPathTool.selectSingleNode($tab, "dynamic-metadata[name='nav_exclude']").value )
    #if ($include == "nav_excludeYes")
        #set ($displayName = $_SerializerTool.serialize($tab.getChild("display-name"), true))
        #set ($link = $_SerializerTool.serialize($tab.getChild("path"), true))  
        #if ($currentTab == $displayName)
            #set ($current = "on")
        #else
             #set ($current = "off")
        #end
        <li>
            <a href='$link' class='$current'>$displayName</a>
        </li>
    #end
#end
</ul>
</div>

## Format URL: http://cascade.umt.edu/entity/open.act?id=b2c1d20e0a0a07cc1517225f0208f7bd&type=format&#highlight

## Audits
