#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure"))
#set ($tabs = $_XPathTool.selectNodes($pageStructure, "tab"))
#set ($currentPage = "<system-page-display-name/>")
<div class="tabs">
    <ul class="top_tabs">
    #foreach ($tab in $tabs)
        #set ($name = "")
        #set ($link = "")
        #set ($name = $_SerializerTool.serialize($tab.getChild("name"), true))
        #set ($link = $_SerializerTool.serialize($tab.getChild("internal_link").getChild("path"), true))       
        #if ($link == "/")
            #set ($link = $_SerializerTool.serialize($tab.getChild("external_link"), true))
        #end
        <li><a href="$link">$name</a></li>
    #end
    </ul>
</div>

## Format URL: http://cascade.umt.edu/entity/open.act?id=6741ea7b0a0a07cc721708f964ce9959&type=format&#highlight

## Audits
### 12-04-2012 18:51	ws132567	create
### 12-04-2012 18:56	ws132567	edit
### 12-04-2012 18:52	ws132567	startedit
### 12-04-2012 18:56	ws132567	startedit
### 12-04-2012 18:57	ws132567	edit
### 12-04-2012 19:06	ws132567	edit
### 12-04-2012 19:05	ws132567	startedit
### 12-04-2012 19:06	ws132567	startedit
### 12-04-2012 19:06	ws132567	edit
### 12-04-2012 19:08	ws132567	edit
