<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="/galleriffic/assets/galleriffic.js"></script>
<script type="text/javascript" src="/galleriffic/assets/opacityrollover.js"></script>
<link href="/galleriffic/assets/galleriffic.css" rel="stylesheet" type="text/css"/>

#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure"))
#set ($images = $_XPathTool.selectNodes($pageStructure, "image"))
#set ($options =  $_XPathTool.selectSingleNode($pageStructure,"adv"))

    #set ($title =   $_SerializerTool.serialize($pageStructure.getChild("title"), true))
    #set ($use_captions = $_SerializerTool.serialize($options.getChild("caption"), true))
    #set ($thumb_position = $_SerializerTool.serialize($options.getChild("thumb"), true))
    #set ($style = $_SerializerTool.serialize($options.getChild("style"), true))
    #set ($controls = $_SerializerTool.serialize($options.getChild("controls"), true)) 
    #set ($auto = $_SerializerTool.serialize($options.getChild("autostart"), true)) 
    #set ($delay_option = $_SerializerTool.serialize($options.getChild("delay"), true)) 
    
    #if ($style == "Dark")
    <style>
        div.slideshow img {border: 2px solid #636363 !important;border-radius:3px; margin-left: 15px !important;}
    </style>
    #elseif($style == "Light")
     <style>
        div.slideshow img {border: 2px solid #ccc !important; border-radius:3px; margin-left: 15px !important;}
    </style>
    #end  
    
    #if($delay_option == "3")
        #set ($delay_option = "3000")
    #elseif($delay_option == "4")
        #set ($delay_option = "4000")
    #elseif($delay_option == "5")
        #set ($delay_option = "5000")
    #elseif($delay_option == "6")
        #set ($delay_option = "6000") 
    #end       
        
<h1 class="header_top">$title</h1>
     
#if($thumb_position == "below")
 <div id="page">
    <div id="container">
        <div id="image_gallery_container" class="content">                               
          <div class="slideshow-container">
          <div id="slideshow" class="slideshow"></div>
          </div>  
                    
        #if($controls =="True")                  
         <div id="controls" class="controls">
             <div class="ss-controls">
                 <a href="#play" class="play" title="Play">Play Slideshow</a>
             </div>
             <div class="nav-controls"></div>
         </div>
         #else
         <div id="controls" class="controls access_hidden">
             <div class="ss-controls access_hidden">
                 <a href="#play" class="play access_hidden" title="Play">Play Slideshow</a>
             </div>
             <div class="nav-controls access_hidden"></div>
         </div>
         #end    
                                           
        <div id="thumbs" class="navigation">  
        <ul class="thumbs noscript">            
      #foreach ($image in $images)
            <li>   
                #set ($caption = "") 
                #set($name = "")
                #set($path = "")
                
                #set ($alt = $_SerializerTool.serialize($image.getChild("alt"), true))
                #set ($caption = $_SerializerTool.serialize($image.getChild("cap"), true))
                #set ($path =  $_SerializerTool.serialize($image.getChild("item").getChild('path'), true))
                                                    
             #if($use_captions == "True")
             <div class="caption">${caption}</div> 
             <a class="thumb" href="[system-asset]${path}[/system-asset]"  name="${alt}">
             <img class="thumb_img" src="[system-asset]${path}[/system-asset]" alt="${alt}"></img></a>
             #else
             <a class="thumb" href="[system-asset]${path}[/system-asset]"  name="${alt}">
             <img class="thumb_img" src="[system-asset]${path}[/system-asset]" alt="${alt}"></img></a>
             #end                                                                            
         </li>    
    #end
    </ul>    
    <div id="caption" class="caption-container"></div>     
            </div>        
        </div>  
    </div>
 </div>
 #end
 
 #if($thumb_position == "above")
 <div id="page">
    <div id="container">
        <div id="image_gallery_container" class="content">
        
        #if($controls =="True")                  
         <div id="controls" class="controls">
             <div class="ss-controls">
                 <a href="#play" class="play" title="Play">Play Slideshow</a>
             </div>
             <div class="nav-controls"></div>
         </div>
         #else
         <div id="controls" class="controls access_hidden">
             <div class="ss-controls access_hidden">
                 <a href="#play" class="play access_hidden" title="Play">Play Slideshow</a>
             </div>
             <div class="nav-controls access_hidden"></div>
         </div>
         #end         
        
            <div id="thumbs" class="navigation">
                <ul class="thumbs noscript">
      #foreach ($image in $images)
            <li>   
                #set ($caption = "") 
                #set($name = "")
                #set($path = "")
                
                #set ($alt = $_SerializerTool.serialize($image.getChild("alt"), true))
                #set ($caption = $_SerializerTool.serialize($image.getChild("cap"), true))
                #set ($path =  $_SerializerTool.serialize($image.getChild("item").getChild('path'), true))
                                                    
             #if($use_captions == "True")
             <a class="thumb" href="[system-asset]${path}[/system-asset]"  name="${alt}">
             <img class="thumb_img" src="[system-asset]${path}[/system-asset]" alt="${alt}"></img></a>
             <div class="caption">${caption}</div> 
             #else
             <a class="thumb" href="[system-asset]${path}[/system-asset]"  name="${alt}">
             <img class="thumb_img" src="[system-asset]${path}[/system-asset]" alt="${alt}"></img></a>
             #end                                                                            
         </li>    
    #end
    </ul>         
    </div>  
            <div id="caption" class="caption-container"></div>          
            <div class="slideshow-container">
                <div id="slideshow" class="slideshow"></div>
            </div>                                                
        </div>  
    </div>
 </div>
 #end
 
 
 
<script type="text/javascript">
          $(document).ready(function(){
          
        ### We only want these styles applied when javascript is enabled
                $('div.content').css('display', 'block');

             ### Initially set opacity on thumbs and add
             ### additional styling for hover effect on thumbs
                var onMouseOutOpacity = 0.99;
                $('#thumbs ul.thumbs li').opacityrollover({
                    mouseOutOpacity:   onMouseOutOpacity,
                    mouseOverOpacity:  1.0,
                    fadeSpeed:         'fast',
                    exemptionSelector: '.selected'
                });
                
        var gallery = $('#thumbs').galleriffic({
        delay:                             $delay_option, ### in milliseconds
        numThumbs:                    8, ###The number of thumbnails to show page
        preloadAhead:                  10, ### Set to -1 to preload all images
        enableTopPager:               false,
        enableBottomPager:          true,
        maxPagesToShow:            8,  ### The maximum number of pages to display in either the top or bottom pager
        imageContainerSel:           '#slideshow', ### The CSS selector for the element within which the main slideshow image should be rendered
        controlsContainerSel:         '#controls', ### The CSS selector for the element within which the slideshow controls should be rendered
        captionContainerSel:          '#caption', ### The CSS selector for the element within which the captions should be rendered
        loadingContainerSel:          '#loading', ### The CSS selector for the element within which should be shown when an image is loading
        renderSSControls:              true, ### Specifies whether the slideshow's Play and Pause links should be rendered
        renderNavControls:             true, ### Specifies whether the slideshow's Next and Previous links should be rendered
         playLinkText:                     'Play',
        pauseLinkText:                   'Pause',
        prevLinkText:                     'Previous',
        nextLinkText:                     'Next',
        nextPageLinkText:              'Next',
        prevPageLinkText:              'Prev',
        enableHistory:                     true, ### Specifies whether the url's hash and the browser's history cache should update when the current slideshow image changes
        enableKeyboardNavigation:  true, ### Specifies whether keyboard navigation is enabled
        autoStart:                           $auto, ### Specifies whether the slideshow should be playing or paused when the page first loads
        syncTransitions:                  false, ### Specifies whether the out and in transitions occur simultaneously or distinctly
        defaultTransitionDuration:    900, ### If using the default transitions, specifies the duration of the transitions
        onSlideChange:             function(prevIndex, nextIndex) {
                        ###'this' refers to the gallery, which is an extension of $('#thumbs')
                        this.find('ul.thumbs').children()
                            .eq(prevIndex).fadeTo('fast', onMouseOutOpacity).end()
                            .eq(nextIndex).fadeTo('fast', 1.0);
                    },
                    onPageTransitionOut:       function(callback) {
                        this.fadeTo('fast', 0.0, callback);
                    },
                    onPageTransitionIn:        function() {
                        this.fadeTo('fast', 1.0);
                    }
    });
 });
</script>  

## Format URL: http://cascade.umt.edu/entity/open.act?id=07c226a70a0a07cc79dd8f747e2c7ada&type=format&#highlight

## Audits
### 07-22-2013 19:32	hs135117	move
### 07-22-2013 19:48	hs135117	edit
### 07-22-2013 19:48	hs135117	startedit
### 07-22-2013 19:48	hs135117	startedit
### 07-22-2013 19:49	hs135117	edit
### 07-22-2013 19:50	hs135117	startedit
### 07-22-2013 19:51	hs135117	edit
### 07-22-2013 19:52	hs135117	startedit
### 07-22-2013 20:05	hs135117	edit
### 07-22-2013 20:11	hs135117	edit
