###########################################################
## HOMEPAGE NEWS FEED
###########################################################
#set ( $data = $_XPathTool.selectSingleNode($contentRoot, "//system-page[@current='true']/system-data-structure") )
#set ( $newsArticles = $_XPathTool.selectNodes($contentRoot, "//system-page") )
#set ( $pageLink = $_XPathTool.selectSingleNode($contentRoot, "system-page") )

[system-view:internal]
This will display the Latest News Once Published.
[/system-view:internal]

[system-view:external]
<div class="full-wrapper news-events">
    <div class="wrapper row">
        <div class="col5 news green">
            <h3>News</h3>

                #set ( $newsArticleCounter = 0 )
                
                #foreach ( $newsArticle in $newsArticles )
                
                    #set ( $title = "" )
                    #set ( $summary = "" )
                    #set ( $newsLink = "" )
                    
                    #set ( $title = $_XPathTool.selectSingleNode($newsArticle, "system-data-structure/page-content/news-article/headline").value )
                    #set ( $summary = $_XPathTool.selectSingleNode($newsArticle, "system-data-structure/page-content/news-article/summary") )
                    #set ( $newsLink = $newsArticle.getChild("link").value )
                    
                    ##Only write out the 3 most recent articles.
                    #set ( $newsArticleCounter = $newsArticleCounter + 1 )
                    #if ( $newsArticleCounter == 4 )
                        #break
                    #end
                    
                    <div class="wrap">
                        <h6><a href="${newsLink}">${title}</a></h6>
                        <p>$_SerializerTool.serialize($summary, true)</p>
                    </div>
                    
                #end
        </div>
    </div>
    <a href="/news" class="btn btn-green newslink">Read More News Stories</a>
</div>
    <div class="col1"></div>
[/system-view:external]







## Format URL: http://cascade.umt.edu/entity/open.act?id=143c66370a0a07cc545fdb452813b133&type=format&#highlight

## Audits
### 07-05-2017 19:31	mj129236e	create
### 07-06-2017 19:55	mj129236e	edit
### 07-06-2017 19:53	mj129236e	startedit
### 07-06-2017 19:56	mj129236e	startedit
### 07-06-2017 19:57	mj129236e	edit
### 07-06-2017 20:01	mj129236e	edit
### 07-06-2017 20:00	mj129236e	startedit
### 08-01-2017 16:11	mj129236e	edit
### 08-01-2017 16:11	mj129236e	startedit
### 08-01-2017 16:13	mj129236e	edit
