#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure"))
#set ($content_bits = $_XPathTool.selectNodes($pageStructure, "section"))

#foreach($content_bit in $content_bits)
    #set ($key = "")
    #set ($title = "")
    #set ($instruction = "")
    #set ($key = $_SerializerTool.serialize($content_bit.getChild("key"), true))
    #set ($title = $_SerializerTool.serialize($content_bit.getChild("title"), true))
    #set ($instruction = $_SerializerTool.serialize($content_bit.getChild("instruction"), true))
    #set ($questions = $_XPathTool.selectNodes($content_bit, "Question"))
    <section>
        <key>$key</key>
        <title>$title</title>
        <instruction>$instruction</instruction> 
        <questions> 
        #foreach($question in $questions)
            #set ($key = "")
            #set ($placeholder_text = "")
            #set ($key = $_SerializerTool.serialize($question.getChild("question_key"), true))
            #set ($placeholder_text = $_SerializerTool.serialize($question.getChild("placeholder"), true))
            <question>
                <key>$key</key>
                <placeholder_text>$placeholder_text</placeholder_text>
            </question>
        #end
        </questions>
    </section>
#end


## Format URL: http://cascade.umt.edu/entity/open.act?id=d45573ad0a0a0468010a4af79ee7ac11&type=format&#highlight

## Audits
### 01-28-2012 18:08	es165908e	startedit
### 01-28-2012 18:08	es165908e	edit
### 01-12-2012 23:51	ns159438e	create
### 01-13-2012 23:42	ns159438e	edit
### 01-13-2012 23:42	ns159438e	startedit
### 01-13-2012 23:42	ns159438e	edit
### 01-13-2012 23:42	ns159438e	startedit
### 01-18-2012 17:07	ns159438e	startedit
### 01-18-2012 17:07	ns159438e	edit
