<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js" type="text/javascript" ></script>
<script type="text/javascript" src="http://www.umt.edu/_plugins/cycle_slideshow/assets/jquery.cycle.min.js"></script>
<link href="/cycle_2.0/slideshow.css" rel="stylesheet" type="text/css"/>

#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure"))
#set ($slides= $_XPathTool.selectNodes($pageStructure, "slide"))
#set ($options= $_XPathTool.selectSingleNode($pageStructure, "adv_opts"))
#set ($arrows=  $_XPathTool.selectSingleNode($pageStructure, "adv_opts/arrows"))

    #set ($fx= $_SerializerTool.serialize($options.getChild("fx"), true))
    #set ($use_captions = $_SerializerTool.serialize($options.getChild("use_captions"), true))
    #set ($use_title= $_SerializerTool.serialize($options.getChild("use_title"), true))
    #set ($pause= $_SerializerTool.serialize($options.getChild("hover_pause"), true))
    #set ($speed= $_SerializerTool.serialize($options.getChild("speed"), true))
    #set ($timeout= $_SerializerTool.serialize($options.getChild("timeout"), true))
    #set ($float= $_SerializerTool.serialize($options.getChild("float"), true))
    
    #set ($custom_prev = "/")
    #set ($custom_prev = $_SerializerTool.serialize($arrows.getChild("prev").getChild("path"), true))
    #set ($custom_next= "/")
    #set ($custom_next= $_SerializerTool.serialize($arrows.getChild("next").getChild("path"), true))

    
<h3 class="hidden">Check out the slideshow below:</h3>
  <div id="slides" style="float: $float;" class="cycle-slideshow" 
        data-cycle-fx="$fx"
        data-cycle-timeout="$timeout"
        data-cycle-speed="$speed"
        data-cycle-pause-on-hover="$pause" 
    >
    
  <div class="cycle-prev"></div>
    <div class="cycle-next"></div>
    
  #if ($use_title == "true" || $use_captions == "true")
            <div class="cycle-overlay"></div>
   #end  
            
    #foreach ($slide in $slides)
        #set ($image ="/")
        #set ($image = $_SerializerTool.serialize($slide.getChild("image").getChild("path"), true))
        #set ($caption= "/")
        #set ($caption= $_SerializerTool.serialize($slide.getChild("content"), true))
        #set ($alt = "/")
        #set ($alt = $_SerializerTool.serialize($slide.getChild("alt"), true))
            
            
        #if ($image != "/" && $use_title == "true" && $use_captions == "true" )   
             <img src="[system-asset]${image}[/system-asset]" alt="$alt" data-cycle-title="$alt" data-cycle-desc="$caption" />          
         #elseif ($image != "/" && $use_title =="true")
              <img src="[system-asset]${image}[/system-asset]" alt="$alt"  data-cycle-desc="$alt"/>
         #elseif ($image != "/" && $use_captions == "true")
              <img src="[system-asset]${image}[/system-asset]" alt="$alt"  data-cycle-desc="$caption" />
          #else  
             <img src="[system-asset]${image}[/system-asset]" alt="$alt"/>          
          #end
            
    #end

    #if ($custom_prev !="/" && $custom_next != "/")
    <style>
        .cycle-prev {left: 0;  background: url([system-asset]${custom_prev}[/system-asset]) 50% 50% no-repeat !important;}
        .cycle-next {right: 0; background: url([system-asset]${custom_next}[/system-asset]) 50% 50% no-repeat !important;}
    </style>
    #end
 </div>


## Format URL: http://cascade.umt.edu/entity/open.act?id=ee7b00100a0a07cc79dd8f743df31868&type=format&#highlight

## Audits
### 07-22-2013 19:01	hs135117	copy
### 07-23-2013 17:54	kf139826e	startedit
### 07-23-2013 17:54	kf139826e	edit
