#macro(displayBlock $displayBlock_block $displayBlock_wrapping_class)
    #set($displayBlock_object = "")
    #set($documentation_url = "")
    #set($displayBlock_object = $_.locateBlock($displayBlock_block.getChild("path").value,$displayBlock_block.getChild("site").value))
    
    #if(!$displayBlock_object.dataDefinitionPath) 
        #set($displayBlock_content = "")
        #set($displayBlock_content = $_SerializerTool.serialize($displayBlock_block.getChild("content"), true))
        #set($displayBlock_show_wrapping_div = $displayBlock_wrapping_class && $displayBlock_wrapping_class != "" && $displayBlock_block.getChild("content"))
        #if($displayBlock_show_wrapping_div) <div class="$displayBlock_wrapping_class"> #end
            $displayBlock_content
        #if($displayBlock_show_wrapping_div) </div> #end
    #elseif($displayBlock_block.getChild("content").getChild("system-data-structure"))
        #set($displayBlock_show_wrapping_div = $displayBlock_wrapping_class && $displayBlock_wrapping_class != "" && $displayBlock_block.getChild("content"))
        #if($displayBlock_show_wrapping_div) <div class="$displayBlock_wrapping_class"> #end
        #if($displayBlock_object.dataDefinitionPath == "Plugins/Open Hours")
            #OpenHours($displayBlock_block.getChild("content").getChild("system-data-structure"))    
            #set($documentation_url = "http://www.umt.edu/web/plugins/open-hours/default.php")
        #elseif($displayBlock_object.dataDefinitionPath == "Plugins/Events")
            #UMTEvents($displayBlock_block.getChild("content").getChild("system-data-structure"))     
            #set($documentation_url = "http://www.umt.edu/web/plugins/events/default.php") 
        #elseif($displayBlock_object.dataDefinitionPath == "Plugins/Social Media Integration")
            #SocialMedia($displayBlock_block.getChild("content").getChild("system-data-structure"))    
            #set($documentation_url = "http://www.umt.edu/web/plugins/social-media/default.php") 
        #elseif($displayBlock_object.dataDefinitionPath == "Plugins/RSS Feed")
            #RSSFeed($displayBlock_block.getChild("content").getChild("system-data-structure"))       
            #set($documentation_url = "http://www.umt.edu/web/plugins/rss_feed/default.php")
        #elseif($displayBlock_object.dataDefinitionPath == "Plugins/Form Builder")
            #FormBuilder($displayBlock_block.getChild("content").getChild("system-data-structure"))
            #set($documentation_url = "http://www.umt.edu/web/plugins/form-builder/default.php") 
        #elseif($displayBlock_object.dataDefinitionPath == "Plugins/YouTube Embed")
            #YoutubeEmbed($displayBlock_block.getChild("content").getChild("system-data-structure"))
            #set($documentation_url = "http://www.umt.edu/web/plugins/youtube-videos/default.php") 
         #elseif($displayBlock_object.dataDefinitionPath == "Plugins/A to Z")
            #AtoZPlugin($displayBlock_block.getChild("content").getChild("system-data-structure"))
            #set($documentation_url = "http://www.umt.edu/web/plugins/A-to-Z/default.php") 
        #elseif($displayBlock_object.dataDefinitionPath == "Plugins/Cycle Slideshow")
            #CycleSlideshow($displayBlock_block.getChild("content").getChild("system-data-structure"))
            #set($documentation_url = "http://www.umt.edu/web/plugins/cycle_slideshow/default.php") 
        #elseif($displayBlock_object.dataDefinitionPath == "Plugins/Galleriffic")
            #Gallerific($displayBlock_block.getChild("content").getChild("system-data-structure"))
            #set($documentation_url = "http://www.umt.edu/web/plugins/galleriffic/default.php") 
        #elseif($displayBlock_object.dataDefinitionPath == "Plugins/Accordion, Tabs")
            #AccordionTabs($displayBlock_block.getChild("content").getChild("system-data-structure"))
            #set($documentation_url = "http://www.umt.edu/web/plugins/accordion-tabs/default.php") 
        #elseif($displayBlock_object.dataDefinitionPath == "Plugins/Random Image")
            #RandomImage($displayBlock_block.getChild("content").getChild("system-data-structure"))
            #set($documentation_url = "http://www.umt.edu/web/plugins/random-image/default.php") 
        #elseif($displayBlock_object.dataDefinitionPath == "Plugins/Faculty Database")
            #FacultyDatabase($displayBlock_block.getChild("content").getChild("system-data-structure"))
            #set($documentation_url = "http://www.umt.edu/web/plugins/employee-database/default.php") 
        #elseif($displayBlock_object.dataDefinitionPath == "Plugins/Weather")
            #Weather($displayBlock_block.getChild("content").getChild("system-data-structure"))
            #set($documentation_url = "http://www.umt.edu/web/plugins/weather/default.php") 
        #elseif($displayBlock_object.dataDefinitionPath == "Plugins/Degree Builder - Catalog")
            #DegreeBuilder($displayBlock_block.getChild("content").getChild("system-data-structure"))
        #elseif($displayBlock_object.dataDefinitionPath == "Plugins/Org Chart")
            #OrgChartPlugin($displayBlock_block.getChild("path").value)
            #set($documentation_url = "http://www.umt.edu/web/plugins/org-chart/default.php") 
        #elseif($displayBlock_object.dataDefinitionPath == "Plugins/Degree Map")
            #Degree_Map($displayBlock_block.getChild("content").getChild("system-data-structure"))
            #set($documentation_url = "http://www.umt.edu/web/plugins/degree-maps/default.php") 
        #elseif($displayBlock_object.dataDefinitionPath == "Plugins/Catalog - Degree Info")
            #Catalog($displayBlock_block.getChild("content").getChild("system-data-structure"))
            #set($documentation_url = "http://www.umt.edu/web/plugins/catalog/default.php") 
        #elseif($displayBlock_object.dataDefinitionPath == "Thematic Page/Mailchimp Button")
            #Mailchimp($displayBlock_block.getChild("content").getChild("system-data-structure"))
        #elseif($displayBlock_object.dataDefinitionPath == "Plugins/Timely Events")
            #Timely_Events($displayBlock_block.getChild("content").getChild("system-data-structure"))
            #set($documentation_url = "http://www.umt.edu/web/plugins/events/default.php") 
        #elseif($displayBlock_object.dataDefinitionPath == "Plugins/Buttons")
            #Buttons($displayBlock_block.getChild("content").getChild("system-data-structure"))
            #set($documentation_url = "http://www.umt.edu/web/plugins/buttons/default.php") 
        #end
        #if($displayBlock_show_wrapping_div) </div> #end
        #if($displayBlock_object && $displayBlock_object != "")
            #editBlock($displayBlock_block $documentation_url)
        #end
    #end
#end

## Format URL: http://cascade.umt.edu/entity/open.act?id=77eb54a60a0a07cc133a5f6a4135be8f&type=format&#highlight

## Audits
### 03-28-2014 19:59	kp128580	startedit
### 03-28-2014 19:59	kp128580	edit
### 02-11-2014 22:27	kp128580	startedit
### 02-11-2014 22:28	kp128580	edit
### 02-11-2014 22:28	kp128580	edit
### 02-11-2014 22:28	kp128580	startedit
### 02-11-2014 22:31	kp128580	startedit
### 02-11-2014 22:31	kp128580	edit
### 02-11-2014 22:44	kp128580	startedit
### 02-11-2014 22:44	kp128580	edit
