#macro (jsonMacro $node $attribute){##
#if($attribute && $attribute != "") "attributes": {"definition-path": "$attribute"},#end
#set($count = $node.getChildren().size())
#foreach ($child in $node.getChildren())
#set ( $nodeName = $child.name.toString().replace("-","_") )
#set($attribute = "")
#set($attribute = $child.getAttribute("definition-path").value.replace(" ","-").toLowerCase())
#if($nodeName == 'value') #set($nodeName =  "Array_Value"+$velocityCount) #end
"$nodeName": #if($nodeName == "content") "$_SerializerTool.serialize($child,true).replaceAll("\r\n"," ").toString().replace("${_EscapeTool.quote}", "\\${_EscapeTool.quote}")" #elseif($child.getChildren().size() > 0) #jsonMacro ($child $attribute) #elseif($nodeName == "path" && $child.value == "/") "" #else #if($child.value != "")"$_SerializerTool.serialize($child,true).replace('"','\"').replaceAll("\r\n"," ")" #else "" #end #end #if($foreach.hasNext),#end
#end}
#end

#set($initial_tile_count = 6)
#set ($count = 0)
#set ($stickies = [])
#set ($item_array = [])

<div class="tile_wrapper">
      <div class="tiles">                          
#set ($items = $_XPathTool.selectNodes($contentRoot, "//system-page[system-data-structure[@definition-path='Featured Tiles/Raw HTML' or @definition-path='Featured Tiles/Video Tile' or @definition-path='Featured Tiles/Standard Tile']]"))
#foreach ($item in $items)
    #set ($is_sticky = "")
    #set ($is_sticky = $_SerializerTool.serialize($item.getChild("system-data-structure").getChild("sticky").getChild("value"), true))
    #if ($is_sticky == "Yes")
        #set ($can_add = $stickies.add($item))
    #end
#end

#if ($stickies.size() < $initial_tile_count)
    #set ($remainder = $initial_tile_count - $stickies.size())
    #foreach ($item in $items)
        #set ($is_sticky = "")
        #set ($is_sticky = $_SerializerTool.serialize($item.getChild("system-data-structure").getChild("sticky").getChild("value"), true))
        #if ($count < $remainder && $is_sticky != "Yes")
            #set ($can_add = $item_array.add($item))
            #set ($count = $count + 1)
        #end
    #end
    #foreach ($sticky in $stickies)
        #set ($can_add = $item_array.add($sticky))      
    #end
#end
[system-view:external]
<!--#START-CODE 
<?php
include_once('tiles/tile_builder.class.php');
$tile_builder = new tile_builder();
$tiles = array();
$mustache_templates = array();
#END-CODE-->
#foreach ($item in $item_array)
    #if($velocityCount <=$initial_tile_count  )##
<!--#START-CODE $tile = <<<EOF
#jsonMacro($item)
EOF;
array_push($tiles, $tile_builder->parse_json($tile));
#END-CODE-->
    #end
#end
#set ($templates = $_XPathTool.selectNodes($contentRoot, "//system-page[system-data-structure[@definition-path='template']]"))
#foreach ($template in $templates)##
<!--#START-CODE$mustache_template_html = <<<EOF
#END-CODE-->#jsonMacro($template)<!--#START-CODE
EOF;
array_push($mustache_templates, $tile_builder->parse_json($mustache_template_html));
#END-CODE-->
#end
<!--#START-CODE $tile_builder->build($tiles, $mustache_templates); ?>
#END-CODE-->
[/system-view:external]
</div>
<div class="more_tiles" data-initialtiles="$initial_tile_count"><a href="#"><span class="caret"></span><span class="content">More Stories</span><span class='hide loading'><img src='/_common/assets/imx/small_circle.gif' alt='loading'/></span><span class="caret"></span></a></div>
</div>

## Format URL: http://cascade.umt.edu/entity/open.act?id=657f29250a0a07cc462ac22afdecb06b&type=format&#highlight

## Audits
### 04-12-2013 22:05	ns159438e	startedit
### 04-12-2013 22:06	ns159438e	edit
### 04-12-2013 22:07	ns159438e	edit
### 04-12-2013 22:07	ns159438e	startedit
### 04-15-2013 17:15	ns159438e	startedit
### 04-15-2013 17:16	ns159438e	edit
### 04-15-2013 17:18	ns159438e	edit
### 04-15-2013 17:17	ns159438e	startedit
### 04-15-2013 17:18	ns159438e	startedit
### 04-15-2013 17:19	ns159438e	edit
