#set($sys_pages = $_XPathTool.selectNodes($contentRoot, '//system-page//system-data-structure'))

<style type="text/css">
 
    ul.employeelist {}
    ul.employeelist li {
        clear: both;
        display: block;
        
        padding: 5px;
        
        width: 100%;
        overflow: hidden;
        
        list-style-type: none;
        
        border: 1px solid #ccc;
        background-color: #fff;
        
        background: -moz-linear-gradient(top, rgba(173,173,173,0) 0%, rgba(245,245,245,0.65) 97%, rgba(247,247,247,0.65) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(173,173,173,0)), color-stop(97%,rgba(245,245,245,0.65)), color-stop(100%,rgba(247,247,247,0.65))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(173,173,173,0) 0%,rgba(245,245,245,0.65) 97%,rgba(247,247,247,0.65) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(173,173,173,0) 0%,rgba(245,245,245,0.65) 97%,rgba(247,247,247,0.65) 100%); /* Opera11.10+ */
        background: -ms-linear-gradient(top, rgba(173,173,173,0) 0%,rgba(245,245,245,0.65) 97%,rgba(247,247,247,0.65) 100%); /* IE10+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00adadad', endColorstr='#a6f7f7f7',GradientType=0 ); /* IE6-9 */
        background: linear-gradient(top, rgba(173,173,173,0) 0%,rgba(245,245,245,0.65) 97%,rgba(247,247,247,0.65) 100%); /* W3C */
    }
    ul.employeelist li h2 { color: #456b84; }
    
    ul.employeelist li div.employeeheader {padding: 0 0 5px 0; margin: 0 0 5px 0; border-bottom: 1px solid #ccc; width: 100%; }
    
    
    ul.employeelist li div.title { font-weight: bold; }
    ul.employeelist li div.credentials { font-style: italic; }
    
    
    ul.employeelist li img.employeephoto {float: left; border: 1px solid #ccc; padding: 1px; margin: 0 15px 0 0; background-color: #fff; width: 100px; }

</style>


<ul class="employeelist">
#foreach($page in $sys_pages) 
    <li>   
            
            #set ($imagelink = $page.getChild('image').getChild('path').value)
        #if($imagelink != "/") 
            <img src="[system-asset]${imagelink}[/system-asset]" alt="$page.getChild('fname').value $page.getChild('lname').value" class="employeephoto"/>
        #end
        
        #if($imagelink == "/") 
            <img src="http://life.umt.edu/home/imx/curry_logo.png" alt="$page.getChild('fname').value $page.getChild('lname').value" class="employeephoto"/>
        #end
        
        #set($fname = $page.getChild('fname').value)
        #set($lname = $page.getChild('lname').value)
        
        <div class="employeeheader">
                <h2>${_EscapeTool.xml($fname)} ${_EscapeTool.xml($lname)}</h2>
                
                #set ($title = $page.getChild('title').value)
            #if($title!= "") 
                <div class="title">${_EscapeTool.xml($title)}</div>
            #end
            
                #set ($credentials = $page.getChild('credentials').value)
            #if($credentials != "") 
                <div class="credentials">${_EscapeTool.xml($credentials)}</div>
            #end    
            
              #set ($specialization= $page.getChild('specialization').value)
            #if($specialization!= "") 
                <div class="specialization">${_EscapeTool.xml($specialization)}</div>
            #end    
            </div>
        
        </li>
#end
</ul>

## Format URL: http://cascade.umt.edu/entity/open.act?id=a280a0530a0a07cc442fbe4751a51b5e&type=format&#highlight

## Audits
### 03-25-2013 17:23	db111722e	move
### 03-25-2013 23:13	db111722e	edit
### 03-25-2013 23:13	db111722e	startedit
