#######################################################################################################################################
## Format:          /formats/homepage/callout-blocks
## Project:         Montana Tech University
## Purpose:         Use to create the homepage Featured blocks
##
## History:         Developer       Description
## 06/28/2017       mj              Initial
#######################################################################################################################################
##
## Get the current page's system-data-structure node from the XML document
#set ( $data = $_XPathTool.selectSingleNode($contentRoot, "//system-page[@current='true']/system-data-structure") )
##
## Get the slider images
#set ( $featuredBlocks = $_XPathTool.selectNodes($data, "featured/boxes/box") )
##
#set ( $introTexts = $_XPathTool.selectNodes($data, "featured") )
##
#######################################################################
## Loop through the Intro to write content out.
#######################################################################
#foreach ( $introText in $introTexts )
##
## Initialize Variables
#set ( $intro = "" )
## Set Variables
#set ( $intro =  $introText.getChild("intro") )
##
<div class="openingText green">
<div class="wrapper row">
<div class="col12">
$_SerializerTool.serialize($intro, true)
</div>
</div>
</div>
##
##
#end    
##
<div class="callout-blocks">
<div class="wrapper row">
##
#######################################################################
## Loop through the feature blocks to write them out.
#######################################################################
#foreach ( $featuredBlock in $featuredBlocks )
##
## Initialize Variables
#set ( $featuredImages = "" )
#set ( $featuredTitle = "" )
#set ( $altText = "" )
#set ( $linkText = "" )
#set ( $summary = "" )
##
##
## Set Variables
#set ( $featuredImages = $featuredBlock.getChild("image").getChild("link").value  )
#set ( $featuredTitle = $featuredBlock.getChild("title").value  )
#set ( $altText = $featuredBlock.getChild("alt").value  )
#set ( $linkText = $featuredBlock.getChild("link-text").value  )
#set ( $summary = $featuredBlock.getChild("summary").value )
##
###################################
## Set the link
###################################
##Initialize Variables
#set ( $linkType = "Page" )
#set ( $featureLink = "" )
#set ( $linkTarget = "_self" )
#set ( $pageLink = "" )
#set ( $fileLink = "" )
#set ( $extLink = "" )
#set ( $extLinkTarget = "" )
##
##Figure out whether we're using a page, file, or external link
#set ( $linkType = $featuredBlock.getChild("link-type").value )
#set ( $pageLink = $featuredBlock.getChild("page").getChild("link").value )
#set ( $fileLink = $featuredBlock.getChild("file").getChild("link").value )
#set ( $extLink = $featuredBlock.getChild("url").value )
#set ( $extLinkTarget = $featuredBlock.getChild("target").value )
##
#if ( $pageLink != "" && $pageLink != "/" && $linkType == "Page" )
#set ( $featureLink = $pageLink )
#elseif ( $fileLink != "" && $fileLink != "/" && $linkType == "File" )
#set ( $featureLink = $fileLink )
#elseif ( $extLink != "" && $extLink != "/" && $linkType == "External Web Site" )
#set ( $featureLink = $extLink )
##
#if ( $extLinkTarget == "New Window" )
#set ( $linkTarget= "_blank" )
#end
#end
##
<div class="col4">
<div class="block">
<img alt="$_EscapeTool.xml($altText)" src="${featuredImages}"/>
<div class="card_title">
<h3>$_EscapeTool.xml($featuredTitle)</h3>
</div>
<div class="card_content">
<div class="content_wrap">
<h3>$_EscapeTool.xml($featuredTitle)</h3>
<p>${summary}</p>
##
#if ( $featureLink != "/" )
<a class="readmore" href="${featureLink}" target="${linkTarget}" title="${altText}">$_EscapeTool.xml($linkText)</a>
#end
##
</div>
</div>
</div>
</div>
##
#end 
</div>                
</div>

## Format URL: http://cascade.umt.edu/entity/open.act?id=ef34aab40a0a07cc545fdb45f45e8bd8&type=format&#highlight

## Audits
### 07-13-2017 20:04	mj129236e	startedit
### 07-13-2017 20:05	mj129236e	edit
### 07-20-2017 15:21	mj129236e	startedit
### 07-20-2017 15:21	mj129236e	edit
### 07-21-2017 15:29	mj129236e	startedit
### 07-21-2017 15:29	mj129236e	edit
### 07-21-2017 15:41	mj129236e	startedit
### 07-21-2017 15:42	mj129236e	edit
### 07-21-2017 16:17	mj129236e	edit
### 07-21-2017 16:17	mj129236e	startedit
