#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure"))
#set ($graphic= $_XPathTool.selectSingleNode($pageStructure, "linked_img"))
#set ($text = $_XPathTool.selectSingleNode($pageStructure, "alt").text)

#set ($link =  $pageStructure.getChild("internal_link").getChild("path").text)
    #if ($link == "/")
            #set ($link = $pageStructure.getChild("external_link").text)
    #end


    #set ($image = "")
    #set ($image =  $_SerializerTool.serialize($graphic.getChild("path"), true))

    #if ($image != "/" && $text != "" && $link != "/")
    <a href="$link"><img src="[system-asset]${image}[/system-asset]" alt="$text"/></a>
    #else
       <img src="[system-asset]${image}[/system-asset]" alt="$text"/>
    #end 


## Format URL: http://cascade.umt.edu/entity/open.act?id=92a378b80a0a07cc2ad965ea705e1a9e&type=format&#highlight

## Audits
### 01-31-2013 22:06	kp128580	edit
### 01-31-2013 22:04	kp128580	startedit
### 01-31-2013 22:07	kp128580	startedit
### 01-31-2013 22:09	kp128580	edit
### 01-31-2013 22:11	kp128580	startedit
### 01-31-2013 22:12	kp128580	edit
### 01-31-2013 22:22	kp128580	startedit
### 01-31-2013 22:22	kp128580	edit
### 01-31-2013 22:24	kp128580	edit
### 01-31-2013 22:23	kp128580	startedit
