#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure"))

#set ($title = "")
#set ($desc = "")
#set ($content = "")
#set ($thumb = "")
#set ($image = "")

#set ($title = $_SerializerTool.serialize($pageStructure.getChild("title"), true))
#set ($desc = $_SerializerTool.serialize($pageStructure.getChild("description"), true))
#set ($content = $_SerializerTool.serialize($pageStructure.getChild("content"), true))
#set ($thumb = $_SerializerTool.serialize($pageStructure.getChild("thumb").getChild("path"), true))
#set ($image = $_SerializerTool.serialize($pageStructure.getChild("image").getChild("path"), true))

#if ($title != "" && $title != "<title />")
    <h2>$title</h2>
#else
    <h2>Seating Map</h2>
#end
#if ($desc != "" && $desc != "<description />")<p>$desc</p>#end
#if ($image != "" && $image != "<path />")<a href="$image" target="_blank"><img src="$thumb" alt="Seating Map" /></a>#end
<a href="$image" target="_blank"><img src="[system-asset:id=5c3f0f8f0a0a07cc22b7be2ad182ec8b]/imx/events_ticketing_img/enlarge.jpg[/system-asset]" alt="Enlarge the view" /></a>
#if ($content != "" && $content != "<content />")$content#end

## Format URL: http://cascade.umt.edu/entity/open.act?id=ccfd33830a0a07cc222f8903a4dfde17&type=format&#highlight

## Audits
### 05-22-2013 16:05	ws132567	create
### 05-22-2013 16:07	ws132567	startedit
### 05-22-2013 16:10	ws132567	edit
### 05-22-2013 16:13	ws132567	edit
### 05-22-2013 16:11	ws132567	startedit
### 05-22-2013 16:13	ws132567	startedit
### 05-22-2013 16:14	ws132567	edit
### 05-22-2013 16:23	ws132567	edit
### 05-22-2013 16:22	ws132567	startedit
### 05-22-2013 16:35	ws132567	startedit
