#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block"))

#set ($pages =  $_XPathTool.selectNodes($pageStructure, "system-page"))

#foreach ($page in $pages)

    #set ($innerStructure = "")
    
    #set ($name = "")
    #set ($path = "")
    #set ($title = "")
    #set ($desc = "")
    #set ($content = "")
    #set ($thumb = "")
    #set ($image = "")
    
    #set ($innerStructure = $page.getChild("system-data-structure"))
    
    #set ($name = $_SerializerTool.serialize($page.getChild("name"), true))
    #set ($path = $_SerializerTool.serialize($page.getChild("path"), true))
    #set ($title = $_SerializerTool.serialize($innerStructure.getChild("title"), true))
    #set ($desc = $_SerializerTool.serialize($innerStructure.getChild("description"), true))
    #set ($content = $_SerializerTool.serialize($innerStructure.getChild("content"), true))
    #set ($thumb = $_SerializerTool.serialize($innerStructure.getChild("thumb").getChild("path"), true))
    #set ($image = $_SerializerTool.serialize($innerStructure.getChild("image").getChild("path"), true))
    
    #if ($name != "default")
        <div class="seating_map">
            #if ($title != "" && $title != "<title />")
                <a href="$path"><h2>$title</h2></a>
            #else
                <h2>Seating Map</h2>
            #end
            #if ($desc != "" && $desc != "<description />")<p>$desc</p>#end
            <a href="$path"><img src="$thumb" alt="Seating Map" /></a>
            #if ($image != "" && $image != "<path />")<a href="$image" target="_blank"><img src="[system-asset:id=5c3f0f8f0a0a07cc22b7be2ad182ec8b]/imx/events_ticketing_img/enlarge.jpg[/system-asset]" alt="Enlarge the view"/></a>#end
        </div>
    #end    
#end

## Format URL: http://cascade.umt.edu/entity/open.act?id=cd2888640a0a07cc222f8903dc52a403&type=format&#highlight

## Audits
### 05-22-2013 16:53	ws132567	startedit
### 05-22-2013 16:54	ws132567	edit
### 05-22-2013 16:54	ws132567	edit
### 05-22-2013 16:54	ws132567	startedit
### 05-22-2013 17:28	ws132567	edit
### 05-22-2013 17:23	ws132567	startedit
### 05-22-2013 17:28	ws132567	startedit
### 05-22-2013 17:29	ws132567	edit
### 05-22-2013 17:29	ws132567	startedit
### 05-22-2013 17:30	ws132567	edit
