#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure"))


#set ($list = $_XPathTool.selectNodes($pageStructure, "//dropdown-item"))


<div id="dropdown">
    
    <ul> ##labels in dropdown picker
        #foreach($item in $list)
            #set ($item-title = "")
            #set ($item-title = $_SerializerTool.serialize($item.getChild("item-title"), true))
        #set ($item-titleID = "")
        #set ($item-titleID = $item-title)
            #set ($item-titleID = $item-titleID.replaceAll("[^a-zA-Z1-9]","_"))
            <li>
            <a href="#$item-titleID">$item-title</a>
        </li>     
        #end ##item foreach
    </ul>
    #foreach($item in $list)
            #set ($item-title = "")
            #set ($item-title = $_SerializerTool.serialize($item.getChild("item-title"), true))
        #set ($item-titleID = "")
        #set ($item-titleID = $item-title)
            #set ($item-titleID = $item-titleID.replaceAll("[^a-zA-Z1-9]","_"))
        <div id="#$item-titleID">$item-title</div>  
        #end
</div>
<script>

function test( test ){
    $('.dropdown').hide()
    $(test).show()
}
$(document).ready(function(){
        var menu = $("#dropdown")
        var drop = '<select>'
        $("#dropdown > ul > li > a").each(function( ind ) {
            var nam = $(this).html()
            var id = $(this).attr('href')
            if(ind == 0){
                $('.dropdown').hide()
                $(id).show()
            }
            drop += '<option onclick="test(\'' + id + '\')">' + nam + '</option>'
            });
        menu.html(drop)
        });
</script>

## Format URL: http://cascade.umt.edu/entity/open.act?id=6c96e7430a0a07cc138c3c8fa90637a9&type=format&#highlight

## Audits
### 11-18-2013 19:01	tc222818	create
### 11-18-2013 19:55	tc222818	edit
### 11-18-2013 19:52	tc222818	startedit
