<div class="clear"></div>

<div class="full-wrapper news-events light-gray-bg">
    <div class="wrapper row">
		<div class="col5 news green">
			<h3>News</h3>
			<div class="wrap">
				<h6><a href="#">Montana Tech Receives Funding for International Research</a></h6>
				<p>The University of Kashmir in collaboration with Montana Tech has won a prestigious U.S.-India 21st Century Knowledge Initiative Award...</p>
			</div>
			<div class="wrap">
				<h6><a href="#">Montana Tech Receives Funding for International Research</a></h6>
				<p>The University of Kashmir in collaboration with Montana Tech has won a prestigious U.S.-India 21st Century Knowledge Initiative Award...</p>
			</div>
			<div class="wrap">
				<h6><a href="#">Montana Tech Receives Funding for International Research</a></h6>
				<p>The University of Kashmir in collaboration with Montana Tech has won a prestigious U.S.-India 21st Century Knowledge Initiative Award...</p>
			</div>
			<a href="#" class="btn btn-green newslink">Read More News Stories</a>
		</div>
		<div class="col1"><!-- <div style="border-right:1px solid #8d5023; height:100%; width:19px"> -->&#160;<!-- </div> --></div>
		<div class="col5 events green">
			<h3>Events</h3>
			<div class="wrap col12">
				<div class="col2 cal-tab">
					<span class="week">Today</span>
					<span class="day">16</span>
					<span class="month">Mar</span>
				</div>
				<div class="col10">
					<div class="time">9:00am</div>
					<div class="title">Integrated Simulation in Nursing Education Conference - Day One</div>
				</div>
			</div>
			<div class="wrap col12">
				<div class="col2 cal-tab">
					<span class="week">Tues.</span>
					<span class="day">21</span>
					<span class="month">Mar</span>
				</div>
				<div class="col10">
					<div class="time">9:00am</div>
					<div class="title">F- Semester 2017 aplication deadline: August 14</div>
				</div>
			</div>
			<div class="wrap col12">
				<div class="col2 cal-tab">
					<span class="week">Tues.</span>
					<span class="day">21</span>
					<span class="month">Mar</span>
				</div>
				<div class="col10">
					<div class="time">9:00am</div>
					<div class="title">Football vs. Carroll College (HOME)</div>
				</div>
			</div>
			<div class="wrap col12">
				<div class="col2 cal-tab">
					<span class="week">Tues.</span>
					<span class="day">21</span>
					<span class="month">Mar</span>
				</div>
				<div class="col10">
					<div class="time">9:00am</div>
					<div class="title">Career Fair 2nd Day Interviews</div>
				</div>
			</div>
			<div class="col6">
				<a class="btn btn-green" href="#">Montana Tech Events</a>
			</div>
			<div class="col6">
				<a class="btn btn-green" href="#">Academic Calendar</a>
			</div>
		</div>
	</div>
</div>


## Format URL: http://cascade.umt.edu/entity/open.act?id=ef35f3970a0a07cc545fdb4506867993&type=format&#highlight

## Audits
### 06-28-2017 14:58	mj129236e	create
### 06-28-2017 14:59	mj129236e	move
