#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block") )
#set ($items = $_XPathTool.selectNodes($pageStructure, "system-page"))

<div id="news">
     
     #set ($itemcount = 0) 

    #foreach ($newsitem in $items)

    #if($itemcount >3)
        #break
    #end
      
    #set ($title = "")
    #set ($title = $_SerializerTool.serialize($newsitem.getChild("system-data-structure").getChild("spotlightTitle"), true).replaceAll("""","&quot;").replaceAll("'","&apos;"))
    
    #set ($desc = "")
    #set ($desc = $_SerializerTool.serialize($newsitem.getChild("system-data-structure").getChild("shortDesc"), true))
    
    #set ($story = "")
    #set ($story = $_SerializerTool.serialize($newsitem.getChild("system-data-structure").getChild("story"), true))
    
    #set ($video = "")
    #set ($video = $newsitem.getChild("system-data-structure").getChild("video").text)
    
    #set ($image = "")
    #set ($image = $_SerializerTool.serialize($newsitem.getChild("system-data-structure").getChild("spotlightImage").getChild("path"), true))
    
    #set ($caption = "")
    #set ($caption = $_SerializerTool.serialize($newsitem.getChild("system-data-structure").getChild("caption"), true).replaceAll("""","&quot;").replaceAll("'","&apos;"))
    
    #set ($link = "")
    #set ($link = $_SerializerTool.serialize($newsitem.getChild("path"), true))
  
 <div class="newsitem">
     
     #if ($video != "" && $video != "<video />")
        <div class="image"><!--#START-CODE $video #END-CODE--></div>
     #else
        <div class="image"><img src='$image' alt="$caption" /></div>
     #end
     

        
        <div class="content"> 
        
            
                 #if ($story != "" && $story != "<story />")
                       <h4>$title</h4>
                       <div>$desc <a href="$link">Read more.</a></div>
                 #else
                     <h4>$title</h4>
                     <div>$desc</div>      
                 #end
            
        </div>
   </div>
   
      #set ($itemcount = $itemcount + 1)
    #end
    <p style="text-align: center;"><a href="/alumni/allstories.php">View Stories Archive</a></p>
</div>

## Format URL: http://cascade.umt.edu/entity/open.act?id=7bb748880a0a07cc79dd8f74df24aa99&type=format&#highlight

## Audits
### 06-25-2013 14:25	sm166858e	startedit
### 06-25-2013 14:26	sm166858e	edit
