#macro(RSSFeed $root)
#set($pageStructure = $root)
#set ($blog_feed= $_XPathTool.selectSingleNode($pageStructure, "blog_feed"))
#set ($options= $_XPathTool.selectSingleNode($pageStructure, "adv_opts"))
#set ($title= $_SerializerTool.serialize($blog_feed.getChild("title"), true))
#set ($title = $title.toLowerCase().replaceAll(" ","_"))
#set ($blog= $_SerializerTool.serialize($blog_feed.getChild("feed"), true))
#set ($number= $_SerializerTool.serialize($options.getChild("number"), true))
#set ($header= $_SerializerTool.serialize($options.getChild("header"), true))
#set ($date= $_SerializerTool.serialize($options.getChild("date"), true))
#set ($dateformat= $_SerializerTool.serialize($options.getChild("dateformat"),
true))
#set ($snippet= $_SerializerTool.serialize($options.getChild("snippet"), true))
#set ($header_level =
$_SerializerTool.serialize($options.getChild("heading_level"), true))

#set ($custom_header=
$_SerializerTool.serialize($options.getChild("custom_header"), true))
#set ($more_link= $_SerializerTool.serialize($options.getChild("more_link"),
true))

#if($options.getChild("custom_header").value != "" && $header == "true")
#set ($header= "false")
<!--#protect <$header_level>$custom_header</$header_level> #protect-->
#end
#set ($hide_content= "false")
#if($options.getChild("hide_content").value == "" ||
$options.getChild("hide_content").value == "No")
#set ($hide_content= "true")
#end

<div class="rss_feed dynamic" id="$title">

</div>
##
<script src="http://www.mtech.edu/global/rss/jquery-1.8.2.js"/>
<script src="http://www.mtech.edu/global/rss/jquery.zrssfeed.min.js" />
<script>
$('#$title').rssfeed('$blog',
{
limit: 100,
header: $header,
date: $date,
dateformat: '$dateformat',
titletag: 'h3',
content: $hide_content,
snippet: $snippet
});
</script>

#if($options.getChild("more_link").value != "")
<a href="$more_link" class="more_link">More from $custom_header</a>
#end

#end
##

#if($contentRoot && $_XPathTool.selectSingleNode($contentRoot,
'.').getChild("blog_feed") && $_XPathTool.selectSingleNode($contentRoot,
'.').getChild("blog_feed").getChild("feed").value != "")
#RSSFeed($_XPathTool.selectSingleNode($contentRoot, "."))
#end

## Format URL: http://cascade.umt.edu/entity/open.act?id=0ccc92a20a0a07cc3260cf1ecfa2ec8a&type=format&#highlight

## Audits
### 06-19-2015 17:10	dn150212e	create
### 06-19-2015 21:16	dn150212e	edit
### 06-19-2015 21:14	dn150212e	startedit
### 06-23-2015 16:14	kp128580	edit
### 06-23-2015 16:12	kp128580	startedit
### 06-23-2015 16:18	kp128580	edit
### 06-23-2015 16:18	kp128580	startedit
### 06-23-2015 18:13	dn150212e	startedit
### 06-23-2015 18:15	dn150212e	edit
### 06-23-2015 18:15	dn150212e	startedit
