#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block") )
#set ($profiles = $_XPathTool.selectNodes($pageStructure, "system-page"))


<ul class="no_bullets">
    #foreach ($profile in $profiles)
    
    #set ($name = "")
    #set ($gradDate = "")
    #set ($currentPosition = "")
    #set ($longDesc = "")
    #set ($imagelink = "")
    
    

    #set ($name = $_SerializerTool.serialize($profile.getChild("system-data-structure").getChild("name"), true).replaceAll("""","&quot;").replaceAll("'","&apos;"))
    #set ($gradDate = $_SerializerTool.serialize($profile.getChild("system-data-structure").getChild("gradDate"), true).replaceAll("""","&quot;").replaceAll("'","&apos;"))
    #set ($currentPosition = $_SerializerTool.serialize($profile.getChild("system-data-structure").getChild("currentPosition"), true).replaceAll("""","&quot;").replaceAll("'","&apos;"))
    #set ($longDesc = $_SerializerTool.serialize($profile.getChild("system-data-structure").getChild("longDesc"), true))
    #set ($imagelink = $_SerializerTool.serialize($profile.getChild("system-data-structure").getChild("image").getChild("link"), true))
    
    #if ($name != "")
                
            <li>
               <span style="font-weight:bold;">$name</span> - $gradDate<br />
               <span style="font-style:italic;">Current Position: </span>$currentPosition<br />   
                <a href="#" class="show_hide">Read more</a>
                <div class="FAQslidingDiv">
                #if ($imagelink != "")
                <img class="imagewrap" style="float:right; margin: 5px;" src='$imagelink' alt="Photo of $name" width="150px;"/>
                #end
                $longDesc</div>
             </li>
              <hr />
    #end
    #end
</ul>
    
 
<script type="text/javascript">

$(document).ready(function(){

    //Hide (Collapse) the toggle containers on load
    $(".FAQslidingDiv").hide(); 

    //Switch the "Open" and "Close" state per click then slide up/down (depending on open/close state)
    $(".show_hide").click(function(){
        $(this).toggleClass("active").next().slideToggle("normal");
        return false; //Prevent the browser jump to the link anchor
    });

});

</script>

## Format URL: http://cascade.umt.edu/entity/open.act?id=64eab2b90a0a046800888dbe1f79daf5&type=format&#highlight

## Audits
### 01-28-2012 19:23	ws132567	edit
### 01-28-2012 19:23	ws132567	startedit
### 11-02-2011 15:34	sm166858e	move
### 11-02-2011 15:34	sm166858e	startedit
### 11-02-2011 15:40	sm166858e	edit
### 11-02-2011 15:42	sm166858e	edit
### 11-02-2011 15:41	sm166858e	startedit
### 11-02-2011 15:50	sm166858e	activate_version
### 11-02-2011 15:51	sm166858e	edit
### 11-02-2011 15:50	sm166858e	startedit
