#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block"))

#set ($setupBlocks = $_XPathTool.selectNodes($pageStructure, "//system-block"))
#set ($setupBlock = $setupBlocks.get(0).getChild("system-data-structure"))
#set ($setupBlockPath = $_SerializerTool.serialize($setupBlocks.get(0).getChild("path"), true))
$_EscapeTool.xml($setupBlockPath)
#set ($setupIndex = $setupBlockPath.lastIndexOf("/"))
#set ($setupBlockPath = $setupBlockPath.substring(0, $setupIndex))

#set ($callingPage = $_XPathTool.selectSingleNode($pageStructure, "calling-page"))
#set ($callingPageName = $_SerializerTool.serialize($callingPage.getChild("system-page").getChild("name"), true))
#set ($callingPagePath = $_SerializerTool.serialize($callingPage.getChild("system-page").getChild("path"), true))
#set ($callingIndex = $callingPagePath.lastIndexOf("/"))
#set ($callingPagePath = $callingPagePath.substring(0, $callingIndex))

#set ($rootName = $_SerializerTool.serialize($setupBlock.getChild("advanced").getChild("root_name"), true))
#if ($rootName == "" || $rootName == "<root_name />")
    #set ($rootName = "default")
#end

#set ($title = "")
#set ($image = "")
#set ($content = "")
#set ($hideTitle = "")

#set ($imageStructure = $_XPathTool.selectSingleNode($setupBlock, "homepage/featured_image"))
#set ($styleCheck = $_SerializerTool.serialize($setupBlock.getChild("homepage").getChild("featured_image").getChild("style"), true))
#set ($title = $_SerializerTool.serialize($imageStructure.getChild("title"), true))
#set ($image = $_SerializerTool.serialize($imageStructure.getChild("image").getChild("path"), true))
#set ($content = $_SerializerTool.serialize($imageStructure.getChild("content"), true))
#set ($hideTitle = $_SerializerTool.serialize($imageStructure.getChild("hide_title").getChild("value"), true))
#set ($about = $_SerializerTool.serialize($setupBlock.getChild("site_info").getChild("about"), true))
#set ($link = $_SerializerTool.serialize($imageStructure.getChild("internal_link").getChild("path"), true))
#if ($link == "/")
    #set ($link = $_SerializerTool.serialize($imageStructure.getChild("external_link"), true))
#end

#if ($image != "/" && $callingPageName == $rootName && $callingPagePath == $setupBlockPath)
    #if ($styleCheck =="Full Row Image, Content Below")
    <div class="row-fluid featured_image">
        #if ($title != "" && $title != "<title />")
            #if ($link != "" && $link != "<external_link />")<a href="$link">#end<img src="$image" alt="$title" />#if ($link != "" && $link != "<external_link />")</a>#end
        #else
            #if ($link != "" && $link != "<external_link />")<a href="$link">#end<img src="$image" alt="Featured Image" />#if ($link != "" && $link != "<external_link />")</a>#end
        #end
        
        #if ($content != "" && $content != "<content />")
            <div class="block">
                <p>#if($hideTitle != "Yes" && ($title != "" && $title != "<title />"))<span class="featured_image_title">$title </span>#end$content</p>
            </div>
        #end
    </div>
    #elseif ($styleCheck =="Half Row Image, Short Content to the Right")
    <div class="row-fluid featured_image">
        <div class="span6">
            #if ($title != "" && $title != "<title />")
                    #if ($link != "" && $link != "<external_link />")<a href="$link">#end<img src="$image" alt="$title" />#if ($link != "" && $link != "<external_link />")</a>#end
            #else
                #if ($link != "" && $link != "<external_link />")<a href="$link">#end<img src="$image" alt="Featured Image" />#if ($link != "" && $link != "<external_link />")</a>#end
            #end
            </div>
            <div class="span6">
            #if ($content != "" && $content != "<content />")
                <p>#if($hideTitle != "Yes" && ($title != "" && $title != "<title />"))<span class="featured_image_title">#if ($link != "" && $link != "<external_link />")$title#end </span>#end$content</p>
            #end
        </div>
    </div>
    #else
    <div class="row-fluid featured_image">
        <div class="span6">
            #if ($title != "" && $title != "<title />")
                    #if ($link != "" && $link != "<external_link />")<a href="$link">#end<img src="$image" alt="$title" />#if ($link != "" && $link != "<external_link />")</a>#end
            #else
                #if ($link != "" && $link != "<external_link />")<a href="$link">#end<img src="$image" alt="Featured Image" />#if ($link != "" && $link != "<external_link />")</a>#end
            #end
            </div>
            <div class="span6">
            #if ($about != "" && $about != "<about />")
                $about
            #end
        </div>
    </div>
    #end
#end

## Format URL: http://cascade.umt.edu/entity/open.act?id=f2832c6a0a0a07cc79dd8f74e172a104&type=format&#highlight

## Audits
