#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure") )

#set ($content = "")
#set ($redbox = "")
#set ($facebook = "")
#set ($content = $_SerializerTool.serialize($_XPathTool.selectSingleNode($contentRoot, "/system-data-structure/content"), true))
#set ($redbox = $_SerializerTool.serialize($_XPathTool.selectSingleNode($contentRoot, "/system-data-structure/red-box"), true))
#set ($facebook = $_SerializerTool.serialize($_XPathTool.selectSingleNode($contentRoot, "/system-data-structure/facebook/content"), true))
#set ($blocks = $_XPathTool.selectNodes($contentRoot, "/system-data-structure/block"))
#set ($examples = $_XPathTool.selectNodes($contentRoot, "/system-data-structure/images/image"))

<div id="welcome">
    $content
</div>
<div class='right_col'>
<div id="interntable" class="style8">
    $redbox
</div>
<div class="blocks">
#foreach ($block in $blocks)
    #set ($content = "")
    #set ($content = $_SerializerTool.serialize($block.getChild("content"), true))
    <div class="block">
        $content
    </div>
#end
</div>
</div>

<hr style="clear: both; border: 1px solid #603; margin-top: 5px;"/>
<div class="examples">
#foreach ($example in $examples)
    #set ($image = "")
    #set ($alt = "")
    #set ($caption = "")
    #set ($image = $_SerializerTool.serialize($example.getChild("file").getChild("path"), true))
    #set ($alt = $_SerializerTool.serialize($example.getChild("file").getChild("title"), true))
    #set ($caption = $_SerializerTool.serialize($example.getChild("caption"), true))
    <div>
        <img src="$image" alt="$alt"/>
        <p>$caption</p>
    </div>
#end
</div>

## Format URL: http://cascade.umt.edu/entity/open.act?id=0be181f30a0a046801a8ec64a05636d7&type=format&#highlight

## Audits
### 02-09-2011 19:24	ns159438e	create
### 02-09-2011 19:28	ns159438e	startedit
### 02-09-2011 19:29	ns159438e	edit
### 02-09-2011 19:29	ns159438e	startedit
### 02-09-2011 19:29	ns159438e	edit
### 02-09-2011 19:29	ns159438e	startedit
### 02-09-2011 19:30	ns159438e	edit
### 02-09-2011 19:31	ns159438e	startedit
### 02-09-2011 19:32	ns159438e	edit
### 02-09-2011 19:38	ns159438e	edit
