#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure"))
#set ($sections = $_XPathTool.selectNodes($pageStructure, 'section'))
#set ($sidebars = "")
#set ($sidebars = $_XPathTool.selectNodes($pageStructure, 'sidebar'))
#set ($halfCount = 0)
#set ($has_sidebar = "")
#set ($has_sidebar = $_SerializerTool.serialize($sidebars.get(0).getChild("content"), true))

#if ($has_sidebar == "")
<div class="section_wrap full_section">
#else
<div class="section_wrap sidebar">
#end
#foreach ($section in $sections)
    #set ($title = "")
    #set ($content = "")
    #set ($width = "")
    #set ($title = $_SerializerTool.serialize($section.getChild("title"), true))
    #set ($content = $_SerializerTool.serialize($section.getChild("content"), true))
    #set ($width = $_SerializerTool.serialize($section.getChild("width"), true))
    #if ($content != "<content />")
        #if ($width == "Full")
            #set ($halfCount = 0)
            <div class="section full_section" style="clear:both">
        #elseif ($width == "Half" && $halfCount == 2)
            <div class="section half_section" style="clear: both;">
            #set ($halfCount = 1)
        #elseif ($width == "Half")
            <div class="section half_section">
            #set ($halfCount = $halfCount + 1)
        #end
            #if ($title != "")<h2>$title</h2>#end
            $content
        </div>
    #end
#end
</div>
#if ($has_sidebar != "")
<div class="sidebar_right">
    #foreach ($sidebar in $sidebars)
        #set ($content = "")
        #set ($content = $_SerializerTool.serialize($sidebar.getChild("content"), true))
        <div class="sidebar_section">
            $content
        </div>
    #end
</div>
#end

## Format URL: http://cascade.umt.edu/entity/open.act?id=e7bfcf900a0a07cc0aea7f0bfeca5e66&type=format&#highlight

## Audits
### 09-26-2012 22:02	ns159438e	startedit
### 09-26-2012 22:02	ns159438e	edit
### 09-26-2012 22:04	ns159438e	edit
### 09-26-2012 22:04	ns159438e	startedit
### 08-02-2012 14:32	ws132567	move
### 08-06-2012 15:13	ws132567	edit
### 08-06-2012 15:12	ws132567	startedit
