#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure"))


#set ($image = "")
#set ($thumb = "")
#set ($name = "")
#set ($bio = "")
#set ($youtube = "")
#set ($active = "")
#set ($adjective_1 = "")
#set ($adjective_2 = "")
#set ($adjective_3 = "")

#set ($image = $_SerializerTool.serialize($pageStructure.getChild("image").getChild("path"), true))
#set ($thumb = $_SerializerTool.serialize($pageStructure.getChild("thumb").getChild("path"), true))
#set ($name = $_SerializerTool.serialize($pageStructure.getChild("name"), true))
#set ($bio = $_SerializerTool.serialize($pageStructure.getChild("bio"), true))
#set ($youtube = $_SerializerTool.serialize($pageStructure.getChild("youtube_link"), true))
#set ($active = $_SerializerTool.serialize($pageStructure.getChild("active"), true))
#set ($adjective_1 = $_SerializerTool.serialize($pageStructure.getChild("adjectives").getChild("adjectives_1"), true))
#set ($adjective_2 = $_SerializerTool.serialize($pageStructure.getChild("adjectives").getChild("adjectives_2"), true))
#set ($adjective_3 = $_SerializerTool.serialize($pageStructure.getChild("adjectives").getChild("adjectives_3"), true))

<div class="remainder-box normal_page">
    <div class="row-fluid row-simple">
        <div class="span12">
            ##<h1>$name</h1>
            <ul class="inline adjectives">
            <li>$adjective_1</li>
            <li>$adjective_2</li>
            <li>$adjective_3</li>
            </ul>
        </div>
    </div>
    <div class="row-fluid">
        #if($youtube == "")
            <div class="span12">
        #else
        <div class="span4">
        #end
            <img src="$image" alt="$name" /> 
            <div class="oreo-padding bio">$bio</div>
        </div>
    #if($youtube != "") 
        <div class="span8 video">
                   <!--#protect  <iframe title="$name" allowfullscreen webkitallowfullscreen mozallowfullscreen frameborder="0" src="http://www.youtube.com/embed/$youtube?rel=0&amp;html5=1" width="740px" height="494px"></iframe> #protect-->
        </div>
    #end
    </div>
</div>

## Format URL: http://cascade.umt.edu/entity/open.act?id=888c3fb20a0a07cc23f2bf04408992e1&type=format&#highlight

## Audits
