#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block") )
#set ($profiles = $_XPathTool.selectNodes($pageStructure, "system-page"))
            
<div class="sideblock round_box"> 
<div class="title blue_container">Featured Student</div>    
<div class="content">               
<ul class="no_bullets">
    
            #foreach ($profile in $profiles)
        
                #set ($first = "")
                #set ($last = "")
                #set ($title = "")
                #set ($imageLink = "")
                #set ($feature = "")
                #set ($link = "")           
   
                #set ($first = $_SerializerTool.serialize($profile.getChild("system-data-structure").getChild("first"), true).replaceAll("""","&quot;").replaceAll("'","&apos;"))
                #set ($last = $_SerializerTool.serialize($profile.getChild("system-data-structure").getChild("last"), true).replaceAll("""","&quot;").replaceAll("'","&apos;"))
                #set ($title = $_SerializerTool.serialize($profile.getChild("system-data-structure").getChild("title"), true).replaceAll("""","&quot;").replaceAll("'","&apos;"))
                #set ($imagelink = $_SerializerTool.serialize($profile.getChild("system-data-structure").getChild("photo").getChild("link"), true))
                #set ($feature = $_SerializerTool.serialize($profile.getChild("system-data-structure").getChild("feature").getChild("value"), true))
                #set ($link = $_SerializerTool.serialize($profile.getChild("path"), true))
            
            #if ($feature == "Yes")
                                        
                        <li style="padding-bottom: 15px;">
                    
                     
                        #if ($imagelink != "" && $imagelink != "/")
                        <p><img style="max-width: 200px;" src='$imagelink' alt="Photo of $first $last"/></p>
                        #end
                        
                        <p style="text-align: center;"><strong>$first $last</strong></p>
                        <p>$title</p>
                        
                        <p class="textsm"><a  href="$link">more information about $first</a></p>
                     
                        </li>
               
             #end         
    #end

</ul>
<p class="textsm" style="text-align: center;"><a style="color: #000;" href="[system-asset:id=3d96035e0a0a07cc628b4163fe10f023]/Featured_Students/default[/system-asset]">View all featured students</a></p>
</div>   
</div>        

## Format URL: http://cascade.umt.edu/entity/open.act?id=3ccd06e70a0a07cc628b4163fa4cd97e&type=format&#highlight

## Audits
### 05-11-2012 16:50	sm166858e	startedit
### 05-11-2012 16:52	sm166858e	edit
### 05-11-2012 16:53	sm166858e	startedit
### 05-11-2012 16:56	sm166858e	edit
### 05-11-2012 16:57	sm166858e	startedit
### 05-11-2012 16:58	sm166858e	edit
### 05-11-2012 17:11	sm166858e	edit
### 05-11-2012 17:11	sm166858e	startedit
### 05-11-2012 17:11	sm166858e	startedit
### 05-11-2012 17:19	sm166858e	edit
