#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure") )
#set ($profiles = $_XPathTool.selectNodes($pageStructure, "system-page"))
#set ($first = $_SerializerTool.serialize($pageStructure.getChild("first"), true).replaceAll("""","&quot;").replaceAll("'","&apos;"))
#set ($last = $_SerializerTool.serialize($pageStructure.getChild("last"), true).replaceAll("""","&quot;").replaceAll("'","&apos;"))
#set ($title = $_SerializerTool.serialize($pageStructure.getChild("title"), true).replaceAll("""","&quot;").replaceAll("'","&apos;"))
#set ($body = $_SerializerTool.serialize($pageStructure.getChild("body"), true))
#set ($imagelink = $_SerializerTool.serialize($pageStructure.getChild("photo").getChild("link"), true))

<div class="page_breadcrumb"><a href="www.cfc.umt.edu">CFC Home</a> &gt; <a href="www.cfc.umt.edu/academics/">Degrees</a> &gt; <a href="[system-asset:id=7b4493c70a0a0468015d585d774c9fec]/default[/system-asset]">ResCon</a> &gt;  <a href="[system-asset:id=3d96035e0a0a07cc628b4163fe10f023]/Featured_Students/default[/system-asset]">Featured Students</a> &gt;  $first $last</div>
<br />
    
                
                #if ($imagelink != "" && $imagelink != "/")
                <img class="imagewrap" style="max-width: 250px; float:right;" src='$imagelink' alt="Photo of $first $last"/>
                #end
               <h1>$title</h1>
               
                #if ($body != "" && $body != "<body />")
                $body
                #end
              
           <p style="text-align: center;"><a style="color: #000;" href="[system-asset:id=3d96035e0a0a07cc628b4163fe10f023]/Featured_Students/default[/system-asset]">View all featured students</a></p>

## Format URL: http://cascade.umt.edu/entity/open.act?id=3cca94d90a0a07cc628b41632362ae99&type=format&#highlight

## Audits
### 05-11-2012 16:46	sm166858e	move
### 05-11-2012 16:46	sm166858e	move
### 05-11-2012 16:48	sm166858e	copy
### 05-11-2012 16:58	sm166858e	startedit
### 05-11-2012 17:04	sm166858e	edit
### 05-11-2012 17:41	sm166858e	edit
### 05-11-2012 17:41	sm166858e	startedit
### 05-11-2012 20:31	sm166858e	edit
### 05-11-2012 20:29	sm166858e	startedit
### 05-11-2012 20:43	sm166858e	startedit
