#set ($rows = $_XPathTool.selectNodes($contentRoot, "/system-data-structure//row"))
#set ($rowsCount = $rows.size())
#set ($counter = 0)

#foreach ($row in $rows)
    #set ($heading = $_SerializerTool.serialize($row.getChild("heading"), true))
    #set ($image = $_SerializerTool.serialize($row.getChild("image").getChild("path"), true))
    #set ($content = $_SerializerTool.serialize($row.getChild("content"), true))
    #set ($counter = $counter + 1)
    
    #if ($counter % 2 == 1)
        <div class="leftRow">
            <div class="content">
                <h1><span class="pngfix"></span>$heading</h1>
                $content
            </div>
            <div class="about_image">
                <img src="$image" />
            </div>
        </div>
    #else
        <div class="rightRow">
            <div class="about_image">
                <img src="$image" />
            </div>
            <div class="content">
                <h1><span class="pngfix"></span>$heading</h1>
                $content
            </div>
        </div>
    #end
    <div style="clear:both;"></div> 
#end

## Format URL: http://cascade.umt.edu/entity/open.act?id=1467c3540a0a046800812efc9ffb31c9&type=format&#highlight

## Audits
### 07-27-2010 14:56	ws132567	create
### 07-27-2010 15:10	ws132567	edit
### 07-27-2010 14:58	ws132567	startedit
### 07-27-2010 15:20	ws132567	edit
### 07-27-2010 15:19	ws132567	startedit
### 07-27-2010 15:20	ws132567	startedit
### 07-27-2010 15:20	ws132567	edit
### 07-27-2010 15:21	ws132567	startedit
### 07-27-2010 15:21	ws132567	edit
### 07-27-2010 15:24	ws132567	startedit
