##Define a recursive macro
#macro (recurseNav $fList $pList $lList)
    #set ($folderList = $fList)
    #set ($pageList = $pList)
    #set ($linkList = $lList)
    #set ($folders = "")
    #set ($pages = "")
    #set ($links = "")
    ##Pages
    #foreach ($page in $pageList)
                #set ($navExclude = "")
                #set ($systemName = "")
                #set ($displayName = "")
                #set ($linkPath = "")               
        #set ($navExclude = $_SerializerTool.serialize($page.getChild("dynamic-metadata").getChild("value"), true))
        #set ($systemName = $_SerializerTool.serialize($page.getChild("name"), true))
        #set ($displayName = $_SerializerTool.serialize($page.getChild("display-name"), true))
        #set ($linkPath = $_SerializerTool.serialize($page.getChild("path"), true))
        #if ($navExclude != "No" && $systemName != "default")
            <li>
                <a href='$linkPath'>$displayName</a>
            </li>
        #end
    #end
    ##Links
    #foreach ($link in $linkList)
        #set ($navExclude = "")
                #set ($systemName = "")
                #set ($displayName = "")
                #set ($linkPath = "")
        #set ($navExclude = $_SerializerTool.serialize($link.getChild("dynamic-metadata").getChild("value"), true))
        #set ($systemName = $_SerializerTool.serialize($link.getChild("name"), true))
        #set ($displayName = $_SerializerTool.serialize($link.getChild("display-name"), true))
        #set ($linkPath = $_SerializerTool.serialize($link.getChild("path"), true))
        #if ($navExclude != "No" && $systemName != "default")
            <li>
                <a href='$linkPath'>$displayName</a>
            </li>
        #end
    #end
    ##Folders
    #foreach($folder in $folderList)
        ##The colleges folder displays <h3>s
                    #set ($systemName = "")
                    #set ($displayName = "")
                    #set ($linkPath = "")
            #set ($systemName = $_SerializerTool.serialize($folder.getChild("name"), true))
            #set ($displayName = $_SerializerTool.serialize($folder.getChild("display-name"), true))
            #set ($linkPath = $_SerializerTool.serialize($folder.getChild("path"), true))       
            #if ($systemName == "colleges")
                <li>
                    <a href='$linkPath'>$displayName</a>
                    #set ($folders = $_XPathTool.selectNodes($folder, "system-folder"))
                    #set ($pages = $_XPathTool.selectNodes($folder, "system-page"))
                    #set ($links = $_XPathTool.selectNodes($folder, "system-symlink"))
                    #if($folders.size() > 0)
                        <ul>
                            <li>
                                #foreach($folder in $folders)
                                    #set ($displayName = "")
                                    #set ($displayName = $_SerializerTool.serialize($folder.getChild("display-name"), true))
                                    <h3>
                                        $displayName
                                    </h3>
                                    #set ($folders = $_XPathTool.selectNodes($folder, "system-folder"))
                                    #set ($pages = $_XPathTool.selectNodes($folder, "system-page"))
                                    #set ($links = $_XPathTool.selectNodes($folder, "system-symlink"))
                                    #if($folders.size() > 0 || $pages.size() > 1)
                                        ##The data lists avoid javascript hiding
                                        <dl>
                                            #foreach ($page in $pages)
                                                #set ($navExclude = "")
                                                        #set ($systemName = "")
                                                        #set ($displayName = "")
                                                        #set ($linkPath = "")
                                                #set ($navExclude = $_SerializerTool.serialize($page.getChild("dynamic-metadata").getChild("value"), true))
                                                #set ($systemName = $_SerializerTool.serialize($page.getChild("name"), true))
                                                #set ($displayName = $_SerializerTool.serialize($page.getChild("display-name"), true))
                                                #set ($linkPath = $_SerializerTool.serialize($page.getChild("path"), true))
                                                #if ($navExclude != "No" && $systemName != "default")
                                                    <dt>
                                                        <a href='$linkPath'>$displayName</a>
                                                    </dt>
                                                #end
                                            #end
                                        </dl>
                                    #end
                                #end
                            </li>
                        </ul>
                    #end
                </li>
            #end
            ##All the other folders are <li>s
                            #set ($navExclude = "")
                            #set ($systemName = "")
                            #set ($displayName = "")
                            #set ($folderPath = "")
            #set ($navExclude = $_SerializerTool.serialize($folder.getChild("dynamic-metadata").getChild("value"), true))
                            #set ($systemName = $_SerializerTool.serialize($folder.getChild("name"), true))
                            #set ($displayName = $_SerializerTool.serialize($folder.getChild("display-name"), true))
                            #set ($folderPath = $_SerializerTool.serialize($folder.getChild("path"), true))
                #if ($navExclude != "No" && $displayName != "default" && $systemName != "colleges" && $systemName != "audience" && $displayName != "")
                    <li>
                        <a href='$folderPath/default'>$displayName</a>
                        #set ($folders = $_XPathTool.selectNodes($folder, "system-folder"))
                        #set ($pages = $_XPathTool.selectNodes($folder, "system-page"))
                        #set ($links = $_XPathTool.selectNodes($folder, "system-symlink"))
                        ##If more folders are found, call the macro
                            #if($folders.size() > 0 || $pages.size() > 1)
                                <ul>
                                    #recurseNav ($folders $pages $links)
                                </ul>
                            #end
                    </li>
                        #end
                #end
    #end
    
##Set the firt level list to initiate the macro with
#set ($firstFolders = $_XPathTool.selectNodes($contentRoot, "/system-index-block/system-folder"))
#set ($firstPages = $_XPathTool.selectNodes($contentRoot, "/system-index-block/system-page"))
#set ($firstLinks = $_XPathTool.selectNodes($contentRoot, "/system-index-block/system-symlink"))
    ##Initial call to macro
    <ul class="sf-menu tabs_nav pngfix">
        #recurseNav ($firstFolders $firstPages $firstLinks)
    </ul>

##The audience folder is excluded from above, the ul needs a different class
#foreach ($folder in $firstFolders)
    #set ($systemName = $_SerializerTool.serialize($folder.getChild("name"), true))
    #if ($systemName == "audience")
                        #set ($folders = $_XPathTool.selectNodes($folder, "system-folder"))
          #set ($pages = $_XPathTool.selectNodes($folder, "system-page"))
      #set ($links = $_XPathTool.selectNodes($folder, "system-symlink"))
        <ul class="sf-menu tabs_audience pngfix">
                       #recurseNav ($folders, $pages, $links)
        </ul>
    #end
#end

## Format URL: http://cascade.umt.edu/entity/open.act?id=3500660f0a0a046801c70c756d0769ee&type=format&#highlight

## Audits
### 10-31-2010 16:33	ws132567	edit
### 10-31-2010 16:33	ws132567	startedit
### 10-31-2010 16:39	ws132567	edit
### 10-31-2010 16:39	ws132567	startedit
### 10-31-2010 16:40	ws132567	activate_version
### 09-13-2010 20:32	kf139826e	startedit
### 09-13-2010 20:33	kf139826e	edit
### 09-13-2010 20:33	kf139826e	edit
### 09-13-2010 20:33	kf139826e	startedit
### 09-13-2010 20:34	kf139826e	activate_version
