#set ( $sib = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block") )
#set ( $currentPage = $_XPathTool.selectSingleNode($contentRoot, "//system-page[@current='true']") )
#set ( $folderBlock = $_XPathTool.selectNodes( $contentRoot, "/system-index-block/system-folder") )
#set ( $navblock = $_XPathTool.selectNodes( $contentRoot, "/system-index-block/system-block") )
#set ( $blockName = $_XPathTool.selectSingleNode( $currentPage, "name") )

## Page Title
#set ( $titleName = $_XPathTool.selectSingleNode($currentPage, "title") )

<div class="full-wrapper header-main interior is-mobile">
<div class="wrapper row logo">
<a href="/index.html" title="Home"><img src="/_global/_images/logo.svg" alt="Montana Tech"/>
<span>${titleName.value}</span></a>
</div>

<input class="mobile-trigger" id="nav-trigger" type="checkbox" title="mobile menu"/>
<label for="nav-trigger" aria-label="nav-trigger" title="mobile menu"><span>&#160;</span><p class="hide">menu</p></label>
<div class="mobile-menu">
<div class="navwrap">
<input id="tm" title="topnav" type="checkbox"/>
<ul class="main-nav">
#set ( $navCounter = 0)
#set ( $items = $_XPathTool.selectNodes($sib, "system-page | system-folder | system-block") )
#foreach ( $item in $items )
#if ($item.getName() == "system-folder")
#set ($getnavitem =  $_XPathTool.selectSingleNode( $item, "dynamic-metadata[name='topincnav']/value").value )
#if ($getnavitem == "Yes" )                            
## #if ( $navCounter >= 3 )
##    <li class="rightFloat"><div class="mobilenavtrigger">&#160;</div>
## #else
##     <li><div class="mobilenavtrigger">&#160;</div>
## #end
<li>
##
<a href="${item.getChild('path').value}/index">${item.getChild("title").value}</a>
<input id="mm1" title="" type="checkbox" checked="checked"/>
#if ( $item.getChild("system-folder").getChild("name") != "" ) 
#set ( $subItems =  $_XPathTool.selectNodes( $item, "system-block | system-folder | system-page[dynamic-metadata[name='topincnav' and value='Yes']]") )
#if ( $subItems.size() > 0 )
<i>&#160;</i>
<ul class="sub-menu">                                          
#foreach ( $subItem in $subItems )
#if ($subItem.getName() == "system-page")
#if ( $subItem.getChild("name").value != "index")
#if ($subItem.getChild("name").value != "contact-confirm")
<li><a href="${subItem.getChild('path').value}">${_EscapeTool.html($subItem.getChild('display-name').value)}</a></li>
#end
#end
#elseif ($subItem.getName() == "system-block")
#set ( $getsubnavblock = $_XPathTool.selectSingleNode( $subItem, "dynamic-metadata[name='display-navigation']/value").value )
#if( $getsubnavblock == "Yes" ) 
#set ( $_subnavitem = $_XPathTool.selectSingleNode( $subItem, "system-data-structure" ) )
#set ( $_sublink = "" )
#set ( $target = "" )
#set ( $title = "" )
#set ( $title = $_item.getChild("title").value )
#if ( $_subnavitem.getChild("link-page").getChild("page").getChild("path").value != "/")
#set ( $_sublink = $_subnavitem.getChild("link-page").getChild("page").getChild("path").value )
#elseif ($_subnavitem.getChild("link-file").getChild("file").getChild("path").value != "/")
#set ( $_sublink = $_subnavitem.getChild("link-file").getChild("file").getChild("path").value )
#elseif ($_subnavitem.getChild("link-external").getChild("url").value != "")
#set ( $_sublink = $_subnavitem.getChild("link-external").getChild("url").value )
#if ($_subnavitem.getChild("link-external").getChild("target").value == "New Window")
#set ( $target = " target='_blank'" )
#end
#end   
<li><a href="${_sublink}" target="${target}">${_EscapeTool.html($subItem.getChild('display-name').value)}</a></li>
#end
#elseif ($subItem.getName() == "system-folder")
#set ($getsubnavfolder =  $_XPathTool.selectSingleNode( $subItem, "dynamic-metadata[name='topincnav']/value").value )
#if ($getsubnavfolder == "Yes" )
## <li><a href="${subItem.getChild('path').value}/index">${_EscapeTool.html($subItem.getChild('display-name').value)}</a></li>
<li><a href="${subItem.getChild('link').value}">${_EscapeTool.html($subItem.getChild('display-name').value)}</a></li>
#end
#end
#end
</ul>
#end
#end
</li>
#end
#elseif ($item.getName() == "system-block")
#set ( $getnavblock = $_XPathTool.selectSingleNode( $item, "dynamic-metadata[name='display-navigation']/value").value )
#if( $getnavblock == "Yes" ) 
#set ( $_item = $_XPathTool.selectSingleNode( $item, "system-data-structure" ) )
#set ( $_link = "" )
#set ( $_target = "" )
#set ( $_title = "" )
#set ( $_title = $_item.getChild("title").value )
#if ($_item.getChild("link-page").getChild("page").getChild("path").value != "/")
#set ( $_link = $_item.getChild("link-page").getChild("page").getChild("link").value )
#elseif ($_item.getChild("link-file").getChild("file").getChild("path").value != "/")
#set ( $_link = $_item.getChild("link-file").getChild("file").getChild("link").value )
#elseif ($_item.getChild("link-external").getChild("url").value != "")
#set ( $_link = $_item.getChild("link-external").getChild("url").value )
#if ($_item.getChild("link-external").getChild("target").value == "New Window")
#set ( $_target = " target='_blank'" )
#end
#end   
<li>
<a href="${_link}" target="${_target}">${_EscapeTool.html($item.getChild('display-name').value)}</a></li>
#end
#end
#end





###### Mobile Only Links ######

<div id="mobileOnlyUtility"></div>

###### End Mobile Only Links ######






</ul>
</div>
</div>
##
<button class="mobile-search"><img style="margin-top:3px" src="/_global/_images/search.svg" alt="mobile search" /><img style="display:none; width:30px; height:auto" src="/_global/_images/close-white.svg" alt="search button" /></button>
##
</div>
##
<div class="mobile-search-bar closed">
<div class="wrapper row">
<form action="../search-results.html" method="get" id="mobile-search">
<input name="cx" type="hidden" value="002022617921403464781:9ck1sj_tcj8"/>
<input type="search" class="searchField" name="q" placeholder="" title="search" onblur="if (this.value=='') this.value = 'Search Montana Tech...'" onfocus="if (this.value=='Search Montana Tech...') this.value = ''" value="Search Montana Tech..." aria-labelledby="submitBtnStatic"/>
<button type="submit" class="mbtn" name="sa" value="Submit"><img src="/_global/_images/search.svg" alt="go"/></button>
##
</form>


</div>
</div>

## Format URL: http://cascade.umt.edu/entity/open.act?id=50c3450b0a0a07cc545fdb45d3eaa60a&type=format&#highlight

## Audits
### 07-17-2017 14:20	mj129236e	edit
### 07-17-2017 14:19	mj129236e	startedit
### 07-17-2017 14:12	mj129236e	startedit
### 07-17-2017 14:14	mj129236e	edit
### 07-17-2017 14:04	mj129236e	startedit
### 07-18-2017 12:30	mj129236e	startedit
### 07-18-2017 12:30	mj129236e	edit
### 07-18-2017 12:31	mj129236e	startedit
### 07-18-2017 12:32	mj129236e	edit
### 07-18-2017 12:33	mj129236e	edit
