#############################################################
## WIDGETS
#############################################################
#set ( $data = $_XPathTool.selectSingleNode($contentRoot, "//system-folder/system-page/system-data-structure/page-content/left-column/widget/content") )
#set ( $widgets = $_XPathTool.selectNodes($contentRoot, "//system-page[@current='true']/system-data-structure/page-content/left-column/widget/content/system-data-structure/widget") )
#foreach ( $widget in $widgets )
    #set ( $widgetPath = $_XPathTool.selectSingleNode($widget, "../../../path").value )
    #set ( $widgetType = $_XPathTool.selectSingleNode($widget, "type").value )
    #if ( $widgetType == 'Video' && $widgetPath != "/")
        #set ( $video = $_XPathTool.selectSingleNode($widget, "video") ) 
        [system-view:internal]
            <div class="full-wrapper video">
                <div class="wrapper">
                    <div class="youtube">
                        ## <h4>${_EscapeTool.xml($video.getChild("heading").value)}</h4>
                        <a class="popup-youtube" href="https://www.youtube.com/watch?v=${video.getChild('video-id').value}">
                            <img src="${video.getChild('thumb').getChild('path').value}" alt="${video.getChild('title').value}"/>
                            <div class="play"><img src="/_global/_images/play-small.png" alt="Play"/></div>
                        </a>
                    </div>
                    <p>${_EscapeTool.xml($video.getChild("title").value)}</p>
                </div> 
            </div>[/system-view:internal]
        [system-view:external] <!--\#include virtual="${widgetPath}.html"--> [/system-view:external]   
    #elseif ($widgetType == 'WYSIWYG' && $widgetPath != "/")
        #set ( $standard = $_XPathTool.selectSingleNode($widget, "standard") ) 
        [system-view:internal]
        <div class="full-wrapper wysiwyg">
            <div class="wrapper">
            #if ( $standard.getChild("heading").value != "" )
                <div class="leftNav-title"><h3>${_EscapeTool.xml($standard.getChild("heading").value)}</h3></div>
            #end
            #if ( $standard.getChild("title").value != "" )
                <h4>${_EscapeTool.xml($standard.getChild("title").value)}</h4>
            #end
            #if ( $standard.getChild("content").value != "" )
                <div class="wysiwyg-content">$_SerializerTool.serialize($standard.getChild("content"), true)</div>
            #end
            </div>
        </div>[/system-view:internal]
        [system-view:external] <!--\#include virtual="${widgetPath}.html"--> [/system-view:external]
    #elseif ($widgetType == 'Image' && $widgetPath != "/")
        #set ( $image = $_XPathTool.selectSingleNode($widget, "image") ) 
        [system-view:internal]
        <div class="full-wrapper image">
            <div class="wrapper">
                <div class="leftNav-title"><h3>${_EscapeTool.xml($image.getChild("heading").value)}</h3></div>
                <img src="${image.getChild('img').getChild('path').value}" alt="${image.getChild('title').value}" />
                <h4>${_EscapeTool.xml($image.getChild("title").value)}</h4>
                <div class="wysiwyg-content">$_SerializerTool.serialize($image.getChild("content"), true)</div>
            </div>
        </div>[/system-view:internal]
        [system-view:external] <!--\#include virtual="${widgetPath}.html"--> [/system-view:external]
   #elseif ($widgetType == 'Call to Action Button' && $widgetPath != "/")
       #set ( $button = $_XPathTool.selectSingleNode($widget, "button") ) 
       [system-view:internal]
        <div class="full-wrapper button">
            <div class="wrapper">
            #set ( $_title = "" )
            #set ( $_title = $button.getChild("text").value )
            #if ($button.getChild("link-page").getChild("page").getChild("path").value != "/")
                #set ( $_link = $button.getChild("link-page").getChild("page").getChild("path").value )
                #set ( $_target = "_parent" )
            #elseif ($button.getChild("link-file").getChild("file").getChild("path").value != "/")
                #set ( $_link = $button.getChild("link-file").getChild("file").getChild("path").value )
                #set ( $_target = "_blank" )
            #elseif ($button.getChild("link-external").getChild("url").value != "/")
                #set ( $_link = $button.getChild("link-external").getChild("url").value )
                #if ($button.getChild("link-external").getChild("target").value == "New Window")
                    #set ( $_target = "_blank" )
                #else
                    #set ( $_target = "_parent" )
                #end
            #end
            #if ($_title != "")
                <a target='${_target}' class='btn btn-green' href='${_link}'>$_EscapeTool.html($_title)</a>      
            #end
            </div>
        </div>[/system-view:internal]
        [system-view:external] <!--\#include virtual="${widgetPath}.html"--> [/system-view:external]
    #elseif ($widgetType == 'Linked List' && $widgetPath != "/")
        #set ( $link = $_XPathTool.selectSingleNode($widget, "linked-list") )
        #set ( $links = $_XPathTool.selectNodes($link, "link") )
        [system-view:internal]
        <div class="full-wrapper linkedList">
            <div class="wrapper">
            <h4>${_EscapeTool.xml($link.getChild("heading").value)}</h4>
            <ul>
                #foreach ( $item in $links )
                    #set ( $_title = "" )
                    #set ( $_title = $item.getChild("text").value )
                    #if ($item.getChild("link-page").getChild("page").getChild("path").value != "/")
                        #set ( $_link = $item.getChild("link-page").getChild("page").getChild("path").value )
                        #set ( $_target = "_parent" )
                    #elseif ($item.getChild("link-file").getChild("file").getChild("path").value != "/")
                        #set ( $_link = $item.getChild("link-file").getChild("file").getChild("path").value )
                         #set ( $_target = "_blank" )
                    #elseif ($item.getChild("link-external").getChild("url").value != "/")
                        #set ( $_link = $item.getChild("link-external").getChild("url").value )
                        #if ($item.getChild("link-external").getChild("target").value == "New Window")
                            #set ( $_target = "_blank" )
                        #else
                            #set ( $_target = "_parent" )
                        #end
                    #end
                    <li><a target='${_target}' href='${_link}'>$_EscapeTool.html($_title)</a></li>
                #end
            </ul>
            </div>
        </div>[/system-view:internal]
        [system-view:external] <!--\#include virtual="${widgetPath}.html"--> [/system-view:external]
   #end    
#end

## Format URL: http://cascade.umt.edu/entity/open.act?id=9e1670500a0a07cc3bbbfc80b6fba543&type=format&#highlight

## Audits
### 08-01-2017 14:02	mj129236e	edit
### 08-01-2017 14:00	mj129236e	startedit
### 08-01-2017 13:57	mj129236e	startedit
### 08-01-2017 13:58	mj129236e	edit
