#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure"))
<div class="container landing-box">
<div class="umbox content">
<div class="affiliates oreo-padding">
    #set ($intro= $_SerializerTool.serialize($pageStructure.getChild("intro_paragraph"), true))
    <div class="row-fluid">
        <div class="span9">
        <h1 class="affiliates_header">Affiliates</h1>
        <p>$intro</p>
        </div>
    </div>
        #set ($affiliates = $_XPathTool.selectNodes($contentRoot, "/system-data-structure/affiliates/affiliate"))
        #foreach($affiliate in $affiliates)
            #set ($name = "")
            #set ($location = "")
            #set ($logo = "")
            #set ($description = "")
            #set ($link = "")
                    
            #set ($name = $_SerializerTool.serialize($affiliate.getChild("name"), true))
            #set ($location = $_SerializerTool.serialize($affiliate.getChild("location"), true))
            #set ($logo = $_SerializerTool.serialize($affiliate.getChild("logo").getChild("path"), true))
            #set ($description = $_SerializerTool.serialize($affiliate.getChild("description"), true))
            #set ($link = $affiliate.getChild("link").text)
            
            <div class="row-fluid">
                <div class="span3"><a href="$link" title="$name" class="no-decoration"><img src="[system-asset]${logo}[/system-asset]" alt="$name"/></a></div>
                <div class="span9">
                    <h3><a href="$link">$name</a> ($location)</h3>    
                    <p>$description</p>
                </div>
            </div>
        #end
    </div>
</div>
</div>

## Format URL: http://cascade.umt.edu/entity/open.act?id=434949870a0a07cc3260cf1e1c41ecc3&type=format&#highlight

## Audits
