#set ($dynamic_metadata = $_XPathTool.selectNodes($contentRoot, "/system-index-block/calling-page/system-page/dynamic-metadata"))
#set($title = "")
#set($image = "")
#set($type = "website")
##
#foreach($datum in $dynamic_metadata) 
    #if($datum.getChild('name').value == 'og_image')
        #set($image = $_SerializerTool.serialize($datum.getChild('value'), true))
    #elseif($datum.getChild('name').value == 'og_title')
        #set($title = $_SerializerTool.serialize($datum.getChild('value'), true))
    #end
#end
##
#if($title != "")
<meta property="og:title" content="$title" />
<meta property="og:type" content="$type" />
<!--#START-CODE<meta property="og:url" content="<?php print($_SERVER["SCRIPT_URI"]); ?>" />#END-CODE-->
<meta property="og:image" content="$image" />
#end

## Format URL: http://cascade.umt.edu/entity/open.act?id=434943c60a0a07cc3260cf1e1acc222a&type=format&#highlight

## Audits
