[system-view:internal]<script type="text/javascript" src="http://life.umt.edu/_plugins/require.js"></script>[/system-view:internal]
[system-view:external]<script type="text/javascript" src="/_plugins/require.js"></script>[/system-view:external]

[system-view:internal]
<script type="text/javascript">
    var require_base_url = 'http://life.umt.edu';
</script>
[/system-view:internal]

[system-view:external]
<script type="text/javascript">
    var require_base_url = '';
</script>
[/system-view:external]

<script>

require.config({
    paths:{
        "jquery" :'//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min',
        "jquery-ui": '//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min',
        "mega_menu":  require_base_url + '/_plugins/mega_menu/mega_menu',
        "link": require_base_url + '/_plugins/link',
        "events": require_base_url + '/_plugins/events/events',
        "mustache": require_base_url + '/_plugins/mustache',
        "galleriffic": require_base_url + '/_plugins/galleriffic/jquery.galleriffic',
        "z_rss_feed": require_base_url + '/_plugins/rss_feed/jquery.zrssfeed.min',
        "light_box": require_base_url + '/_plugins/light_box/jquery.colorbox-min'
    },
    shim:{
        "jquery-ui" : {
            deps:['jquery','link!//ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery.ui.all']
        },
        'jquery':{
            exports: '$'
        },
        'mega_menu': {
            deps:['jquery','link!' + require_base_url + '/_plugins/mega_menu/mega_menu']
        },
       'events': {
            deps:['jquery','link!' + require_base_url + '/_plugins/events/events']
        },
        'mustache':{},
        'galleriffic':{
            deps:['jquery','link!' + require_base_url + '/_plugins/galleriffic/galleriffic']
        },
        'z_rss_feed':{
            deps:['jquery','link!' + require_base_url + '/_plugins/rss_feed/rss_feed']
        },
        'light_box':{
            deps:['jquery','link!' + require_base_url + '/_plugins/light_box/colorbox']
        }
    }
});
</script>

## Format URL: http://cascade.umt.edu/entity/open.act?id=3ac1c79a0a0a07cc1f7c915716cb74ab&type=format&#highlight

## Audits
### 01-14-2013 20:30	es216137e	startedit
### 01-14-2013 20:36	es216137e	edit
