#######################################################################################################################################
## Format:          /formats/emergency-message
## Project:         Montana Tech University
## Purpose:         Use to create the Emergency Message Banner
##
## History:         Developer       Description
## 06/29/2017       mj              Initial
#######################################################################################################################################


## Get the current page's system-data-structure node from the XML document
#set ( $data = $_XPathTool.selectSingleNode($contentRoot, "//system-page[name='popup-message']/system-data-structure") )

#set ( $popup = $_XPathTool.selectSingleNode($data, "popup") )
   
## Initialize Variables
#set ( $display = "" )
#set ( $video = "" )
#set ( $bottomContent = "" )
#set ( $popupContent = "" )

## Set Variables
#set ( $display = $popup.getChild("display").value )
#set ( $popupContent = $popup.getChild("content") )
#set ( $video = $popup.getChild("video").value )
#set ( $bottomContent = $popup.getChild("content-bottom") )

#if ( $display != "No" )  
<div id="popupEvent" class="mfp-hide white-popup">
    <a class="myClose popup-modal-dismiss" href="#">&#215;</a>
    
#if ( $popupContent.value != "" or $popupContent.value !="/" )
<div class="content">
<p>$_SerializerTool.serialize($popupContent, true)</p>


    #if ( $video == "Yes" )
        <div class="videoWrapperOuter">
        <div class="videoWrapperInner">
        
            $_SerializerTool.serialize($bottomContent, true)
       
            
    #end

 #if ( $video == "Yes" )
        </div>
    </div>
   
#end
</div>
<script>
    if (jQuery("#popupEvent").length != 0) {

    if (sessionStorage.getItem('animateStickyMenuOnce') == 'true') {
        //Initialize the plugin
        $.magnificPopup.close();
    } else {
        sessionStorage.setItem('animateStickyMenuOnce', 'true');

        //Open the menu 
        $.magnificPopup.open({
            items: {
                src: '#popupEvent',
            },
            type: 'inline',
            preloader: false,
            modal: true
        });
        //Close button
        $(document).on('click', '.popup-modal-dismiss', function(e) {
            e.preventDefault();
            $.magnificPopup.close();
        });
    }
}
</script>
#end

</div>
#end


## Homepage PopUp on Page Load - add " class="popup-modal-dismiss" " to button to close
## <div id="popupEvent" class="mfp-hide white-popup">
##     <div class="videoWrapperOuter">
##         <div class="videoWrapperInner">   
##             <iframe src="https://www.youtube.com/embed/Mh4nFyGzic4" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
##         </div>
##     </div>

##     <p><a class="popup-modal-dismiss" href="#">Dismiss</a></p>
## </div>

## Format URL: http://cascade.umt.edu/entity/open.act?id=d22ef8200a0a2873443ef4c0bb33ea1d&type=format&#highlight

## Audits
### 08-24-2017 16:11	mj129236e	startedit
### 08-24-2017 16:15	mj129236e	edit
### 08-24-2017 16:21	mj129236e	startedit
### 08-24-2017 16:24	mj129236e	edit
### 08-24-2017 16:26	mj129236e	startedit
### 08-24-2017 16:29	mj129236e	edit
### 08-24-2017 16:33	mj129236e	startedit
### 08-24-2017 16:34	mj129236e	edit
### 08-24-2017 16:39	mj129236e	startedit
### 08-24-2017 16:40	mj129236e	edit
