#set ($dirHome = "/Academic Programs/Courses/")
#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block") )
#set ($courses = $_XPathTool.selectNodes($pageStructure, "system-page"))
#set ($currentPage = $_SerializerTool.serialize($pageStructure.getChild("calling-page").getChild("system-page").getChild("display-name"), true))

<div id="tabs">
<ul>
<li><a href="#tabs-1">Grad Courses</a></li>
<li><a href="#tabs-2">By Topic</a></li>
</ul>

<div id="tabs-1">
#foreach ($class in $courses)


    #set ($subject = "")
    #set ($number = "")
    #set ($course-title = "")
    #set ($link = "")
    #set ($active = "") 
    #set ($level = "")
    #set ($subject = $_SerializerTool.serialize($class.getChild("system-data-structure").getChild("subject"), true))
    #set ($level = $_SerializerTool.serialize($class.getChild("system-data-structure").getChild("level"), true))
    #set ($number = $_SerializerTool.serialize($class.getChild("system-data-structure").getChild("number"), true))
    #set ($course-title = $_SerializerTool.serialize($class.getChild("system-data-structure").getChild("course-title"), true))
    #set ($link = $_SerializerTool.serialize($class.getChild("path"), true))
    #set ($active = $_SerializerTool.serialize($class.getChild("system-data-structure").getChild("active").getChild("value"), true))
    
    #if ($active == "Yes" && $level != "U")
    <p>
    <a href='$link'>$subject $number - $course-title</a>
    </p>
    #end
#end
</div>

<div id="tabs-2">

<h2>Natural/Physical Science Emphasis</h2>
#foreach ($class in $courses)
    #set ($subject = "")
    #set ($number = "")
    #set ($course-title = "")
    #set ($link = "")
    #set ($active = "") 
    #set ($level = "")
    #set ($topic = "")
    #set ($subject = $_SerializerTool.serialize($class.getChild("system-data-structure").getChild("subject"), true))
    #set ($level = $_SerializerTool.serialize($class.getChild("system-data-structure").getChild("level"), true))
    #set ($topic = $_SerializerTool.serialize($class.getChild("system-data-structure").getChild("Grad").getChild("topic"), true))
    #set ($number = $_SerializerTool.serialize($class.getChild("system-data-structure").getChild("number"), true))
    #set ($course-title = $_SerializerTool.serialize($class.getChild("system-data-structure").getChild("course-title"), true))
    #set ($link = $_SerializerTool.serialize($class.getChild("path"), true))
    #set ($active = $_SerializerTool.serialize($class.getChild("system-data-structure").getChild("active").getChild("value"), true))
    
    #if ($active == "Yes" && $level != "U" && $topic == "NP")
    <p><a href='$link'>$subject $number - $course-title</a></p>
    
    #end
#end

<h2>Social/Policy Science Emphasis</h2>
#foreach ($class in $courses)
    #set ($subject = "")
    #set ($number = "")
    #set ($course-title = "")
    #set ($link = "")
    #set ($active = "") 
    #set ($level = "")
    #set ($topic = "")
    #set ($subject = $_SerializerTool.serialize($class.getChild("system-data-structure").getChild("subject"), true))
    #set ($level = $_SerializerTool.serialize($class.getChild("system-data-structure").getChild("level"), true))
    #set ($topic = $_SerializerTool.serialize($class.getChild("system-data-structure").getChild("Grad").getChild("topic"), true))
    #set ($number = $_SerializerTool.serialize($class.getChild("system-data-structure").getChild("number"), true))
    #set ($course-title = $_SerializerTool.serialize($class.getChild("system-data-structure").getChild("course-title"), true))
    #set ($link = $_SerializerTool.serialize($class.getChild("path"), true))
    #set ($active = $_SerializerTool.serialize($class.getChild("system-data-structure").getChild("active").getChild("value"), true))
    
    #if ($active == "Yes" && $level != "U" && $topic == "SP")
    <p><a href='$link'>$subject $number - $course-title</a></p>
    
    #end
#end

<h2>Research Methods, Modeling, and Techniques</h2>
#foreach ($class in $courses)
    #set ($subject = "")
    #set ($number = "")
    #set ($course-title = "")
    #set ($link = "")
    #set ($active = "") 
    #set ($level = "")
    #set ($topic = "")
    #set ($subject = $_SerializerTool.serialize($class.getChild("system-data-structure").getChild("subject"), true))
    #set ($level = $_SerializerTool.serialize($class.getChild("system-data-structure").getChild("level"), true))
    #set ($topic = $_SerializerTool.serialize($class.getChild("system-data-structure").getChild("Grad").getChild("topic"), true))
    #set ($number = $_SerializerTool.serialize($class.getChild("system-data-structure").getChild("number"), true))
    #set ($course-title = $_SerializerTool.serialize($class.getChild("system-data-structure").getChild("course-title"), true))
    #set ($link = $_SerializerTool.serialize($class.getChild("path"), true))
    #set ($active = $_SerializerTool.serialize($class.getChild("system-data-structure").getChild("active").getChild("value"), true))
    
    #if ($active == "Yes" && $level != "U" && $topic == "RM")
    <p><a href='$link'>$subject $number - $course-title</a></p>
    
    #end
#end

<h2>Discussion and Seminar Classes</h2>
#foreach ($class in $courses)
    #set ($subject = "")
    #set ($number = "")
    #set ($course-title = "")
    #set ($link = "")
    #set ($active = "") 
    #set ($level = "")
    #set ($topic = "")
    #set ($subject = $_SerializerTool.serialize($class.getChild("system-data-structure").getChild("subject"), true))
    #set ($level = $_SerializerTool.serialize($class.getChild("system-data-structure").getChild("level"), true))
    #set ($topic = $_SerializerTool.serialize($class.getChild("system-data-structure").getChild("Grad").getChild("topic"), true))
    #set ($number = $_SerializerTool.serialize($class.getChild("system-data-structure").getChild("number"), true))
    #set ($course-title = $_SerializerTool.serialize($class.getChild("system-data-structure").getChild("course-title"), true))
    #set ($link = $_SerializerTool.serialize($class.getChild("path"), true))
    #set ($active = $_SerializerTool.serialize($class.getChild("system-data-structure").getChild("active").getChild("value"), true))
    
    #if ($active == "Yes" && $level != "U" && $topic == "Sem")
    <p><a href='$link'>$subject $number - $course-title</a></p>
    
    #end
#end

</div>


</div>







## Format URL: http://cascade.umt.edu/entity/open.act?id=3765849e0a0a046801acf670d41c0e39&type=format&#highlight

## Audits
### 01-28-2012 17:48	ws132567	edit
### 01-28-2012 17:48	ws132567	startedit
### 10-24-2011 19:26	sm166858e	startedit
### 10-24-2011 19:30	sm166858e	edit
### 10-24-2011 19:36	sm166858e	edit
### 10-24-2011 19:36	sm166858e	startedit
### 10-24-2011 19:40	sm166858e	startedit
### 10-24-2011 19:40	sm166858e	edit
### 10-24-2011 19:48	sm166858e	edit
### 10-24-2011 19:41	sm166858e	startedit
