<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript">
    google.load("jquery", "1.3");
</script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure") )
#set ($accordions = $_XPathTool.selectNodes($pageStructure, "accordion_group"))
#set ($below_content = $_SerializerTool.serialize($pageStructure.getChild("below_content"), true))

#foreach ($accordion in $accordions)
    #set ($content = "")
    #set ($sections = "")
    #set ($content = $_SerializerTool.serialize($accordion.getChild("content"), true))
    #set ($sections = $_XPathTool.selectNodes($accordion, "section"))
    <div class="accordion_wrap">
    #if ($content != "")<div class="above_accordion">$content</div>#end
    <div class="accordion">
    #foreach ($section in $sections)
        #set ($label = "")
        #set ($content = "")
        #set ($label = $_SerializerTool.serialize($section.getChild("label"), true))
        #set ($content = $_SerializerTool.serialize($section.getChild("content"), true))
        <h2><a class="accordionItem" href="#$label$foreach.count">$label</a></h2>
        <div class="acc_content">$content</div>
    #end
    </div>
    </div>
#end
#if ($below_content != "<below_content />")<div class="below_accordion">$below_content</div>#end

<script type="text/javascript">
$.noConflict();
jQuery(document).ready(function($){
    $( ".accordion" ).accordion({ 
                header: 'h2',
                active: false,
                autoHeight: false,
    });
    
    $( ".accordion" ).accordion( "option", "collapsible", true );
    
    var hash = window.location.hash;
    if (hash != ""){
        var thash = hash.substring(hash.lastIndexOf('#'), hash.length);
        $('.accordion').find('a[href*='+ thash + ']').closest('h2').trigger('click');
    }
        
    $(".accordionItem").click(function(event){
             if ($(this).parent().next().is(':visible')){
                 window.location.hash="";
             }
             else{
                 window.location.hash=this.hash;
             }
    });
         
})
</script>

## Format URL: http://cascade.umt.edu/entity/open.act?id=e3977ee20a0a07cc0aea7f0b4b0ccb67&type=format&#highlight

## Audits
### 11-15-2012 18:19	cf133616	copy
