#set ( $pageData = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block/calling-page/system-page") )
#set ( $pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure") )

#set ( $tl_image = "")
#set ( $tl_alt = "")
#set ( $tl_link = "")
#set ( $tl_image = $pageStructure.getChild("topleft").getChild("image").getChild("path").text)
#set ( $tl_alt = $_SerializerTool.serialize($pageStructure.getChild("topleft").getChild("title"), true))
#set ( $tl_link = $pageStructure.getChild("topleft").getChild("external_link").text)
#if ($tl_link == "") #set ( $tl_link = $pageStructure.getChild("topleft").getChild("external_link").text) #end

#set ( $tc_image = "")
#set ( $tc_alt = "")
#set ( $tc_link = "")
#set ( $tc_image = $pageStructure.getChild("topcenter").getChild("image").getChild("path").text)
#set ( $tc_alt = $pageStructure.getChild("topcenter").getChild("title").value)
#set ( $tc_link = $pageStructure.getChild("topcenter").getChild("external_link").text)
#if ($tc_link == "") #set ( $tc_link = $pageStructure.getChild("topcenter").getChild("external_link").text) #end

#set ( $tr_image = "")
#set ( $tr_alt = "")
#set ( $tr_link = "")
#set ( $tr_image = $pageStructure.getChild("topright").getChild("image").getChild("path").text)
#set ( $tr_alt = $pageStructure.getChild("topright").getChild("title").value)
#set ( $tr_link = $pageStructure.getChild("topright").getChild("external_link").text)
#if ($tr_link == "") #set ( $tr_link = $pageStructure.getChild("topright").getChild("external_link").text) #end

#set ( $bl_image = "")
#set ( $bl_alt = "")
#set ( $bl_link = "")
#set ( $bl_image = $pageStructure.getChild("bottomleft").getChild("image").getChild("path").text)
#set ( $bl_alt = $pageStructure.getChild("bottomleft").getChild("title").value)
#set ( $bl_link = $pageStructure.getChild("bottomleft").getChild("external_link").text)
#if ($bl_link == "") #set ( $bl_link = $pageStructure.getChild("bottomleft").getChild("external_link").text) #end

#set ( $bc_image = "")
#set ( $bc_alt = "")
#set ( $bc_link = "")
#set ( $bc_image = $pageStructure.getChild("bottomcenter").getChild("image").getChild("path").text)
#set ( $bc_alt = $pageStructure.getChild("bottomcenter").getChild("title").value)
#set ( $bc_link = $pageStructure.getChild("bottomcenter").getChild("external_link").text)
#if ($bc_link == "") #set ( $bc_link = $pageStructure.getChild("bottomcenter").getChild("external_link").text) #end

#set ( $br_image = "")
#set ( $br_alt = "")
#set ( $br_link = "")
#set ( $br_image = $pageStructure.getChild("bottomright").getChild("image").getChild("path").text)
#set ( $br_alt = $pageStructure.getChild("bottomright").getChild("title").value)
#set ( $br_link = $pageStructure.getChild("bottomright").getChild("external_link").text)
#if ($br_link == "") #set ( $br_link = $pageStructure.getChild("bottomright").getChild("external_link").text) #end
#set ($main_content = "")
#set ($main_content = $_SerializerTool.serialize($pageStructure.getChild("content"), true))
<div class="front_page">
    <div class="front_top row">
        <div class='topleft col'>
            <a href="$tl_link">
                <img src='$tl_image' alt='$tl_alt' class="pngfix"/>
                <p>$tl_alt</p>
            </a>
        </div>
        <div class='topcenter col'>
            <a href="$tc_link">
                <img src='$tc_image' alt='$tc_alt' class="pngfix"/>
                <p>$tc_alt</p>
            </a>
        </div>
        <div class='topright col'>
            <a href="$tr_link">
                <img src='$tr_image' alt='$tr_alt' class="pngfix"/>
                <p>$tr_alt</p>
            </a>
        </div>
    </div>
    <div class="front_bottom row">
        <div class='bottomleft col'>
            #if($pageStructure.getChild("bottomleft").getChild("title").value !="")
            <a href="$bl_link">         
                <img src='$bl_image' alt='$bl_alt' class="pngfix"/>         
                <p>$bl_alt</p>
            </a>
            #end
        </div>
        <div class='bottomcenter col'>
            <a href="$bc_link">
                <img src='$bc_image' alt='$bc_alt' class="pngfix"/>
                <p>$bc_alt</p>
            </a>
        </div>
        <div class='bottomright col'>
            #if($pageStructure.getChild("bottomright").getChild("title").value !="")
            <a href="$br_link"> 
                <img src='$br_image' alt='$br_alt' class="pngfix"/>
                <p>$br_alt</p>
            </a>
            #end
        </div>
    </div>
</div>
<div>$main_content</div>

## Format URL: http://cascade.umt.edu/entity/open.act?id=1969c7f00a0a04680141ce140f39768a&type=format&#highlight

## Audits
### 06-08-2010 21:14	ns159438e	create
### 06-08-2010 21:16	ns159438e	edit
### 06-08-2010 21:15	ns159438e	startedit
### 06-08-2010 21:16	ns159438e	edit
### 06-08-2010 21:16	ns159438e	startedit
### 06-08-2010 21:18	ns159438e	startedit
### 06-08-2010 21:19	ns159438e	edit
### 06-08-2010 21:19	ns159438e	startedit
### 06-08-2010 21:19	ns159438e	edit
### 06-08-2010 21:21	ns159438e	startedit
