#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure") )
##
#set ($to = "")
#set ($thanks_text = "")
#set ($elements = "")
#set ($content = "")
#set ($from_field = "")
#set ($form_id = "")
#set ($show_clear_form = "false")

#set ($content = $_SerializerTool.serialize($pageStructure.getChild("content"), true))
#set ($to = $_SerializerTool.serialize($pageStructure.getChild("to"), true))
#set ($from_field = $_SerializerTool.serialize($pageStructure.getChild("from_field"), true))
#set ($thanks_text = $_SerializerTool.serialize($pageStructure.getChild("thanks_text"), true))
#set ($form_id = $_SerializerTool.serialize($pageStructure.getChild("form_id"), true))
#set ($elements = $_XPathTool.selectNodes($pageStructure, "form_element"))

#if($pageStructure.getChild("show_clear_form").getChild("value").value == "Yes")
    #set($show_clear_form = "true")
#end
<questions>
#foreach($element in $elements)
    #set($type = "")
    #set($name = "")
    #set($help_text = "")
    #set($class = "")
    #set($fieldset = "")
    #set($options = "")
    #set($options = $_XPathTool.selectNodes($element, "Options/option"))
    #set($type = $_SerializerTool.serialize($element.getChild("type"), true))
    #set($name = $_SerializerTool.serialize($element.getChild("name"), true))
    #set($help_text = $_SerializerTool.serialize($element.getChild("help_text"), true))
    #set($class = $_SerializerTool.serialize($element.getChild("class"), true))
    #set($fieldset = $_SerializerTool.serialize($element.getChild("fieldset"), true))
    #set($required = "false")
    #if($element.getChild("required").getChild("value").value == "Yes")
        #set($required = "true")
    #end
    <question>
        <type>$type</type>
        <name>$name</name>
        <help_text>$help_text</help_text>
        <fieldset>$fieldset</fieldset>
        <options>
        #foreach($option in $options)
            #set($option_text = $_SerializerTool.serialize($option, true))
            <option>$option_text</option>
        #end
        </options>
        <class>$class</class>
        <required>$required</required>
    </question>
#end
</questions>

## Format URL: http://cascade.umt.edu/entity/open.act?id=3c8820ff0a0a04680111464c43112043&type=format&#highlight

## Audits
### 01-28-2012 20:45	kf139826e	edit
### 01-28-2012 20:45	kf139826e	startedit
### 10-25-2011 19:24	ns159438e	startedit
### 10-25-2011 19:31	ns159438e	edit
### 10-25-2011 19:32	ns159438e	startedit
### 10-25-2011 19:32	ns159438e	edit
