#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure") )
#set ($color = $_SerializerTool.serialize($pageStructure.getChild("color"), true))
#set ($content = $_SerializerTool.serialize($pageStructure.getChild("content"), true))
#set ($block_title = $_SerializerTool.serialize($pageStructure.getChild("block_title"), true))


#if ($pageStructure.getChild("color").value == "Blue")
    #set ($color = "title blue_container")
#elseif ($pageStructure.getChild("color").value== "Gray")
    #set ($color = "title gray_container")
#elseif ($pageStructure.getChild("color").value== "Orange")
    #set ($color = "title orange_container")
#elseif ($pageStructure.getChild("color").value== "Yellow")
    #set ($color = "title yellow_container")
#elseif ($pageStructure.getChild("color").value== "Green")
    #set ($color = "title green_container")
#elseif ($pageStructure.getChild("color").value== "None")
    #set ($color = "title sideblock")
#end

 <div class="sideblock round_box">

#if ($pageStructure.getChild("block_title").value != "")
        <div class='$color'>$block_title</div>
     
     #end

#if ($pageStructure.getChild("content").value != "")
        <div class="content">$content</div>
     #end

</div>

## Format URL: http://cascade.umt.edu/entity/open.act?id=50d1222d0a0a0468000745c2b91a3e12&type=format&#highlight

## Audits
### 01-28-2012 18:34	ws132567	edit
### 01-28-2012 18:34	ws132567	startedit
### 05-27-2011 15:31	sm166858e	copy
### 06-01-2011 19:41	sm166858e	startedit
### 06-01-2011 19:41	sm166858e	edit
### 04-13-2011 21:42	sm166858e	create
### 04-13-2011 21:48	sm166858e	edit
### 04-13-2011 21:47	sm166858e	startedit
### 04-13-2011 21:50	sm166858e	startedit
### 04-13-2011 21:50	sm166858e	edit
