#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure") )
##
#set ($feed_url = "")
#set ($limit = 5)
#set ($show_description = "No")
#set ($show_subscription = "Yes")
#set ($show_description_bool = "")
#set ($show_subscription_bool = "")
##
#set ($feed_url = $_SerializerTool.serialize($pageStructure.getChild("feed_url"), true))
#set ($limit = $_SerializerTool.serialize($pageStructure.getChild("limit"), true))
#set ($show_description = $_SerializerTool.serialize($pageStructure.getChild("show_description"), true))
#set ($show_subscription = $_SerializerTool.serialize($pageStructure.getChild("show_subscription"), true))
##
#if($show_description == "Yes")
	#set ($show_description_bool = "TRUE")
#else 
	#set ($show_description_bool = "FALSE")
#end
##
#if($show_subscription == "Yes")
	#set ($show_subscription_bool = "TRUE")
#else 
	#set ($show_subscription_bool = "FALSE")
#end
[system-view:external]
<!--#START-CODE
<?php 
 rss::display('#END-CODE-->$feed_url<!--#START-CODE', #END-CODE-->$limit<!--#START-CODE, #END-CODE-->$show_description_bool<!--#START-CODE, #END-CODE-->$show_subscription_bool<!--#START-CODE);
?>
#END-CODE-->
[/system-view:external]
[system-view:internal]
<h2>RSS Block</h2>
<p>Showing Feed <a href='$feed_url' target='_blank'>$feed_url</a></p>
<h4>options:</h4>
<ul>
	<li>Number of items: $limit</li>
	<li>Show Description: $show_description</li>
	<li>Show Subscription: $show_subscription</li>
</ul>
[/system-view:internal]

## Format URL: http://cascade.umt.edu/entity/open.act?id=12e5b5e30a0a0468012803ba595ab004&type=format&#highlight

## Audits
