<student_groups>
#set($query = $_.query()) 
#set ($groups = $query.byContentType("/student-group").sortBy("name").sortDirection("asc").maxResults(500).execute())
#foreach ($group in $groups)
    #set ($name = "")
    #set ($category = "")
    #set ($recognized = "")
    #set ($purpose = "")
    #set ($contact = "")
    #set ($advisor = "")
    #set ($url = "")
    #set ($facebook = "")
    #set ($facebook_url = "")
    #set ($twitter = "")
    
    #set ($name = $group.getStructuredDataNode("name").textValue)
    #set ($category = $group.getStructuredDataNode("category").textValue)
    #set ($recognized = $group.getStructuredDataNode("recognized").textValue)
    #set ($purpose = $group.getStructuredDataNode("purpose").textValue)
    #set ($contact = $group.getStructuredDataNode("contact").textValue)
    #set ($advisor = $group.getStructuredDataNode("advisor").textValue)
    #set ($url = $group.getStructuredDataNode("url").textValue)
    #set ($facebook = $group.getStructuredDataNode("facebook").textValue)
    #set ($facebook_url = $group.getStructuredDataNode("facebook_url").textValue)
    #set ($twitter = $group.getStructuredDataNode("twitter").textValue)
    
    <group>
        <name>$_EscapeTool.xml($name)</name>
        <category>$_EscapeTool.xml($category)</category>
        <recognized>$_EscapeTool.xml($recognized)</recognized>
        <purpose>$_EscapeTool.xml($purpose)</purpose>
        <contact>$_EscapeTool.xml($contact)</contact>
        <advisor>$_EscapeTool.xml($advisor)</advisor>
        <url>$_EscapeTool.xml($url)</url>
        <facebook>$_EscapeTool.xml($facebook)</facebook>
        <facebook_url>$_EscapeTool.xml($facebook_url)</facebook_url>
        <twitter>$_EscapeTool.xml($twitter)</twitter>
    </group>
#end
</student_groups>

## Format URL: http://cascade.umt.edu/entity/open.act?id=73d26f360a0a07cc7fe61b75a28e8687&type=format&#highlight

## Audits
### 06-21-2016 16:36	ws132567e	create
### 06-21-2016 16:52	ws132567e	edit
### 06-21-2016 16:51	ws132567e	startedit
### 06-21-2016 16:54	ws132567e	edit
### 06-21-2016 16:53	ws132567e	startedit
### 06-21-2016 16:55	ws132567e	startedit
### 06-21-2016 16:55	ws132567e	edit
### 06-21-2016 16:56	ws132567e	startedit
### 06-21-2016 16:58	ws132567e	edit
### 06-21-2016 17:30	ws132567e	edit
