#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure") )
#set ($tabs = $_XPathTool.selectNodes($pageStructure, "tab"))
#set ($before = $_SerializerTool.serialize($pageStructure.getChild("before"), true))
#set ($after = $_SerializerTool.serialize($pageStructure.getChild("after"), true))

<link href="/_common/_css/jquery_tabs.css" rel="stylesheet" type="text/css"/>

<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

#if ($before != "" && $before != "<before />")
                    <div>$before</div>
#end

    #set ($tabcounter = 0 )
        
        <div id="tabs">
        <ul>
        #foreach ($tab in $tabs)
            #set ($title = $_SerializerTool.serialize($tab.getChild("title"), true).replaceAll("""","&quot;").replaceAll("'","&apos;"))
                                    
               <li>
                <a href='#$tabcounter'>$title</a></li>
                #set ($tabcounter =$tabcounter + 1 )
         #end
         </ul>
  
 #set ($tabcounter = 0 )
  
  #foreach ($tab in $tabs)
  #set ($tabContent = $_SerializerTool.serialize($tab.getChild("tabContent"), true))
  <div id='$tabcounter'>
  $tabContent
  </div>
  #set ($tabcounter =$tabcounter + 1 )
  #end
  
  </div>

#if ($after != "" && $after != "<after />")
                    <div>$after</div>
#end
  
  <script>
  $(document).ready(function() {
    $("#tabs").tabs();
  });
  </script>


## Format URL: http://cascade.umt.edu/entity/open.act?id=5f575c700a0a046801cbbeb125aff5b2&type=format&#highlight

## Audits
### 12-07-2011 23:18	sm166858e	copy
### 01-28-2012 18:41	ws132567	startedit
### 01-28-2012 18:41	ws132567	edit
### 09-12-2011 20:32	sm166858e	create
### 09-12-2011 20:33	sm166858e	startedit
### 09-12-2011 20:35	sm166858e	edit
### 09-12-2011 20:38	sm166858e	startedit
### 09-12-2011 20:39	sm166858e	edit
### 09-12-2011 20:40	sm166858e	startedit
### 09-12-2011 20:43	sm166858e	edit
