#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure"))
#set ($types =  $_XPathTool.selectNodes($pageStructure , "mediabox_type"))

<link href="http://www.umt.edu/_common/resources/js/mediabox_advanced/mediaboxAdv.css" media="screen" rel="stylesheet" type="text/css"/>
<script src="http://www.umt.edu/_common/resources/js/mediabox_advanced/MooTools-main-1.4.5.js" type="text/javascript"></script>
<script src="http://www.umt.edu/_common/resources/js/mediabox_advanced/mediaboxAdv-1.5.4.js" type="text/javascript"></script>
<script src="http://www.umt.edu/_common/resources/mootools/swfobject_new.js" type="text/javascript"></script>

<script type="text/javascript">
     window.addEvent('domready', function() {
     
            #foreach ($type in $types)
            
               #set ($class =  $_SerializerTool.serialize($type.getChild("class"), true))
               #set ($width=  $_SerializerTool.serialize($type.getChild("width"), true))
               #set ($height=  $_SerializerTool.serialize($type.getChild("height"), true))
               
                $$('.$class').addEvent('click', function() {
                if(this.get('title') == null ) { this.set('title',' '); }
                if(this.get('aria-captionurl') == null ) { this.set('aria-captionurl',' '); }
                Mediabox.open(this.get('href'),this.get('title'),'$width $height', this.get('aria-captionurl'));
                return false;
                });

            
            #end
    });
</script>

## Format URL: http://cascade.umt.edu/entity/open.act?id=783c58c50a0a07cc79dd8f74e77192bd&type=format&#highlight

## Audits
### 06-25-2013 22:25	kp128580	startedit
### 06-25-2013 22:27	kp128580	edit
### 06-25-2013 22:28	kp128580	edit
### 06-25-2013 22:28	kp128580	startedit
### 06-26-2013 19:03	kp128580	startedit
### 06-26-2013 19:04	kp128580	edit
### 06-26-2013 19:05	kp128580	startedit
### 06-26-2013 19:09	kp128580	edit
### 06-26-2013 19:11	kp128580	startedit
### 06-26-2013 19:12	kp128580	edit
