#set ( $nav = $_XPathTool.selectNodes($contentRoot, "/system-index-block/system-page"))
#set ( $external_nav = $_XPathTool.selectNodes($contentRoot, "/system-index-block/system-symlink"))
<script type="text/javascript">
<!--
window.location = "http://www.umt.edu/"
//-->
</script>
<div data-role="page" id="Home"> 
    <div data-role="header">
        <h1>The University of Montana - Mobile Beta</h1>
    </div> 
    <div data-role="content">
        <ul data-role="listview" data-inset="true" data-theme="c" data-dividertheme="b"> 
            <li data-role="list-divider">Overview</li> 
            #foreach ($item in $nav)  
                ##
                #set ($name = "")  
                #set ($path = "")
                #set ($display = "")
                ##
                #set ($name = $_SerializerTool.serialize($item.getChild('name'), true))  
                #set ($display = $_SerializerTool.serialize($item.getChild('display-name'), true))
                #set ($path = $_SerializerTool.serialize($item.getChild('path'), true))  
    
                <li><a href="$path">$display</a></li>
            #end
        </ul> 
        <ul data-role="listview" data-inset="true" data-theme="c" data-dividertheme="b"> 
            <li data-role="list-divider">Other Mobile Resources</li> 
            #foreach ($item in $external_nav)  
                ##
                #set ($name = "")  
                #set ($path = "")
                #set ($display = "")
                ##
                #set ($name = $_SerializerTool.serialize($item.getChild('name'), true))  
                #set ($path = $_SerializerTool.serialize($item.getChild('path'), true))  
    
                <li><a href="$path">$name</a></li>
            #end
        </ul> 
    </div> 
</div> 

## Format URL: http://cascade.umt.edu/entity/open.act?id=6cf06b9c0a0a04680128b9bca7a04334&type=format&#highlight

## Audits
### 02-10-2011 18:47	ns159438e	startedit
### 02-10-2011 18:48	ns159438e	edit
### 02-10-2011 21:12	ns159438e	startedit
### 02-10-2011 21:13	ns159438e	edit
### 02-10-2011 21:14	ns159438e	startedit
### 02-10-2011 21:14	ns159438e	edit
### 02-10-2011 21:18	ns159438e	edit
### 02-10-2011 21:16	ns159438e	startedit
### 02-11-2011 14:13	ns159438e	startedit
### 02-11-2011 14:14	ns159438e	edit
