<script type="text/javascript">
 require(["galleriffic"],function(){
     $(document).ready(function(){
        var gallery = $('#thumbs').galleriffic({
        delay:                     3000, // in milliseconds
        numThumbs:                 8, // The number of thumbnails to show page
        preloadAhead:              10, // Set to -1 to preload all images
        enableTopPager:            false,
        enableBottomPager:         true,
        maxPagesToShow:            7,  // The maximum number of pages to display in either the top or bottom pager
        imageContainerSel:         '#slideshow', // The CSS selector for the element within which the main slideshow image should be rendered
        controlsContainerSel:      '#controls', // The CSS selector for the element within which the slideshow controls should be rendered
        captionContainerSel:       '#caption', // The CSS selector for the element within which the captions should be rendered
        loadingContainerSel:       '#loading', // The CSS selector for the element within which should be shown when an image is loading
        renderSSControls:         false, // Specifies whether the slideshow's Play and Pause links should be rendered
        renderNavControls:         false, // Specifies whether the slideshow's Next and Previous links should be rendered
        playLinkText:              'Play',
        pauseLinkText:             'Pause',
        prevLinkText:              'Previous',
        nextLinkText:              'Next',
        nextPageLinkText:          'Next',
        prevPageLinkText:          'Prev',
        enableHistory:             false, // Specifies whether the url's hash and the browser's history cache should update when the current slideshow image changes
        enableKeyboardNavigation:  true, // Specifies whether keyboard navigation is enabled
        autoStart:                 false, // Specifies whether the slideshow should be playing or paused when the page first loads
        syncTransitions:           false, // Specifies whether the out and in transitions occur simultaneously or distinctly
        defaultTransitionDuration: 1000, // If using the default transitions, specifies the duration of the transitions
        onSlideChange:             undefined, // accepts a delegate like such: function(prevIndex, nextIndex) { ... }
        onTransitionOut:           undefined, // accepts a delegate like such: function(slide, caption, isSync, callback) { ... }
        onTransitionIn:            undefined, // accepts a delegate like such: function(slide, caption, isSync) { ... }
        onPageTransitionOut:       undefined, // accepts a delegate like such: function(callback) { ... }
        onPageTransitionIn:        undefined, // accepts a delegate like such: function() { ... }
        onImageAdded:              undefined, // accepts a delegate like such: function(imageData, $li) { ... }
        onImageRemoved:            undefined  // accepts a delegate like such: function(imageData, $li) { ... }
    });
     });
 });
</script>

[system-view:internal]
#set($folder_path = $_XPathTool.selectSingleNode($contentRoot.children, '//path').value)
#set($folder = $folder_path.substring(0, $folder_path.lastIndexOf("/")))
#set($site = $_XPathTool.selectSingleNode($contentRoot.children, '//site').value)

<div style="width: 100%; background-color: #FFD980; border: 1px solid #F90; color: #363636;" >
    <em style="margin: 15px; display: block;">This page is using the galleriffic plugin.<br /></em>
    <ul>
        <li>The galleriffic format is using a list of images from ${site} -> ${folder} </li>
        <li>All images that are configured to include when indexing will be in the gallery.</li>
        <li>Please set the display name and the title for all of your images.</li>
        <li>The display name will be used as a caption and the title will be used for an accessaible alternate description. </li>
        <li>The index block that the format is assigned to needs to include "User Metadata" as well.</li>
    </ul>
</div>
[/system-view:internal]
<div id="image_gallery_container">
<div id="controls"></div><div id="loading">Loading Image Gallery...</div>
<div id="thumbs">
    <ul class="thumbs noscript">
    #foreach($image in $_XPathTool.selectNodes($contentRoot.children,'//system-file')) 
            <li>
                #set ($display_name = "")  
                #set ($title ="" ) 
                #set ($display_name = $_SerializerTool.serialize($image.getChild('display-name'),true))  
                #set ($link = $image.getChild('link').value)
                #set ($title = $_SerializerTool.serialize($image.getChild('title'),true)) 
                <a class="thumb" href="[system-asset]${link}[/system-asset]" title="${title}" name="${display_name}"><img class="thumb_img" src="[system-asset]${link}[/system-asset]" alt="${title}"></img></a>
                <div class="caption">${display_name}</div>
            </li>    
    #end
    </ul>
</div>
<div id="caption"></div>
<div id="slideshow"></div>
</div>

## Format URL: http://cascade.umt.edu/entity/open.act?id=ec84031c0a0a07cc45ebbb937036d640&type=format&#highlight

## Audits
### 09-05-2013 05:08	ns159438e	recycle
