<link href="http://www.umt.edu/_common/resources/css/liquid_flex.css" rel="stylesheet" type="text/css" />

#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure"))
#set ($sections = $_XPathTool.selectNodes($pageStructure, 'section'))
#set ($sidebars = "")
#set ($sidebars = $_XPathTool.selectNodes($pageStructure, 'sidebar'))
#set ($halfCount = 0)
#set ($has_sidebar = "")
#set ($has_sidebar = $_SerializerTool.serialize($sidebars.get(0).getChild("content"), true))

#if ($has_sidebar == "")
<div class="section_wrap">
#else
<div class="section_wrap sidebar">
#end
#foreach ($section in $sections)
    #set ($title = "")
    #set ($content = "")
    #set ($width = "")
    #set ($title = $_SerializerTool.serialize($section.getChild("title"), true))
    #set ($content = $_SerializerTool.serialize($section.getChild("content"), true))
    #set ($width = $_SerializerTool.serialize($section.getChild("width"), true))
    #if ($content != "<content />")
        #if ($width == "Full")
            #set ($halfCount = 0)
            <div class="section full_section" style="clear:both">
            
        #elseif ($width == "Half" && $halfCount == 2)
            <div class="section half_section col1" style="clear: both;">
            #set ($halfCount = 1)
            
        #elseif ($width == "Half")
             #if ($foreach.count%2 == 1)
                <div class="section half_section col1 header_top">
            #else
                <div class="section half_section col2">
            #end
            #set ($halfCount = $halfCount + 1)
            
        #end
        
        #if ($title != "")
            <h2>$title</h2>
        #end
            $content
        </div>
    #end
#end
</div>

#if ($has_sidebar != "")
<div class="sidebar_right">
   #foreach ($sidebar in $sidebars)
      #set ($content = "")
     #set ($content = $_SerializerTool.serialize($sidebar.getChild("content"), true))
      <div class="sidebar_section">
           $content
     </div>
  #end
 </div>
 #end

## Format URL: http://cascade.umt.edu/entity/open.act?id=d2a048010a0a07cc1517225f693679c6&type=format&#highlight

## Audits
### 11-15-2012 23:15	kp128580	copy
### 11-05-2012 22:10	kp128580	create
### 11-05-2012 22:10	kp128580	startedit
### 11-05-2012 22:12	kp128580	edit
### 11-05-2012 22:20	kp128580	startedit
### 11-05-2012 22:20	kp128580	edit
### 11-05-2012 22:23	kp128580	edit
### 11-05-2012 22:20	kp128580	startedit
### 11-05-2012 22:26	kp128580	startedit
### 11-05-2012 22:30	kp128580	edit
