#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block"))
#set ($links = $_XPathTool.selectNodes($pageStructure, "system-symlink"))
#set ($name = $pageStructure.getChild("calling-page").getChild("system-page").getChild("title").value)

<h1>$name</h1>
#foreach ($link in $links)
    #set ($title = $link.getChild("display-name").value)
    #set ($path = $link.getChild("path").value)
    #set ($summary = "")
    #set ($summary = $link.getChild("summary").value)
    #set ($summarychecked = $_StringTool.substringAfter($summary, "<p"))
    #if ($summary != "")
        <h3><a href="$path" target="_blank">$title</a></h3>
        ##Check if the summary uses paragraph tags or not
        #if ($summarychecked == "") ##If not, add paragraph tags.
            <p>$summary</p>
        #else ##Else, don't add any tags.
            $summary
        #end
    #else
        <h3><a href="$path" target="_blank">$title</a></h3>
    #end
#end

## Format URL: http://cascade.umt.edu/entity/open.act?id=8d766ee40a0a07cc138c3c8fc3f34c0b&type=format&#highlight

## Audits
### 11-25-2013 04:18	pe205482	startedit
### 11-25-2013 04:18	pe205482	edit
### 11-25-2013 04:22	pe205482	startedit
### 11-25-2013 04:22	pe205482	edit
