#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure"))
#set ($profiles = $_XPathTool.selectNodes($contentRoot, "/system-data-structure/profiles/profile"))

#set ($above_content = $_SerializerTool.serialize($pageStructure.getChild("above_content"), true))
#set ($below_content = $_SerializerTool.serialize($pageStructure.getChild("below_content"), true))

#set ($pageHeading = $_SerializerTool.serialize($pageStructure.getChild("page_heading"), true))
#set ($pageHeading = "")
#set ($pageHeading =  $pageStructure.getChild("page_heading").text)
#if ($pageHeading != "")
    <div class="row span12 pageHeading">
        <h2>$pageHeading</h2>
    </div>
#end

#if ($above_content != "<above_content />")
    <div class="row above_profiles">
        $above_content
    </div>
#end

<div style="clear:both;"></div>

#set ($profile_count = $profiles.size())
#if ($profile_count > 0)
#foreach($profile in $profiles)
    
    #set ($bio = "")
    #set ($email = "")
    #set ($image = "")
    #set ($first_name = "")
    #set ($last_name = "")
    #set ($title_dept = "")
    #set ($link = "")
    #set ($extLink = "")
        
    #set ($first_name = $_SerializerTool.serialize($profile.getChild("first_name"), true))
    #set ($last_name = $_SerializerTool.serialize($profile.getChild("last_name"), true))
    #set ($title_dept = $_SerializerTool.serialize($profile.getChild("title_dept"), true))
    #set ($email = $_SerializerTool.serialize($profile.getChild("email"), true)) 
    #set ($bio = $_SerializerTool.serialize($profile.getChild("bio_text"), true))
    #set ($lines = $_XPathTool.selectNodes($profile, "line"))
    #set ($line_check = $_SerializerTool.serialize($profile.getChild("line"), true))
    #set ($link = $profile.getChild("link").getChild("path").text)
    #set ($extLink = $profile.getChild("extLink").text)
    

    #set ($image = $_SerializerTool.serialize($profile.getChild("profile_photo").getChild("path"), true))
    <div class="row-fluid profile">
        
        #if ($image != "/")
                <div class="profile_photo">
                    <img src="[system-asset]${image}[/system-asset]"/>
                </div>
        #end 
        
        <div class="profile_info">
            #if ($title_dept != "" && $link == "/" && $extLink == "")
                <h3>$first_name $last_name - $title_dept</h3>
            #elseif ($title_dept != "" && $link != "/" && $extLink == "")
                <h3>$first_name $last_name - $title_dept</h3>
            #elseif ($title_dept != "" && $link == "/" && $extLink != "")
                <h3>$first_name $last_name - $title_dept</h3>
            #elseif ($title_dept == "" && $link != "/" && $extLink == "")    
                <h3>$first_name $last_name</h3>
            #elseif ($title_dept == "" && $link == "/" && $extLink != "")    
                <h3>$first_name $last_name</h3>
            #else
                <h3>$first_name $last_name</h3>
            #end
                
                        
                #foreach ($line in $lines)
                    #set ($content = "")
                    #set ($content = $_SerializerTool.serialize($line, true))
                    #if($content != "")
                        <p>$content</p>
                    #end
                #end
                #if ($email != "")
                    <p>Email: <a href="mailto:$email">$email</a></p>
                #end                   
            
        </div>
        
        #if ($bio != "<bio_text />")    
            <div class="profile_bio">
                $bio
            </div>
        #end 
        
        <div style="clear:both;"></div>
        
        <div class="profile_hr">
            <hr/>
        </div>
                     
    </div> ##profile
    
    
        
#end
#end

<div style="clear:both;"></div>

#if ($below_content != "<below_content />")
    <div class="below_profiles">
        $below_content
    </div>
#end

## Format URL: http://cascade.umt.edu/entity/open.act?id=708d4c6d0a0a07cc1c455c334940dcb7&type=format&#highlight

## Audits
