#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block"))
#set ($callingPage = $_XPathTool.selectSingleNode($pageStructure, "calling-page/system-page"))
#set ($callingPageName = $_SerializerTool.serialize($callingPage.getChild("display-name"), true))
#set ($courses = $_XPathTool.selectNodes($pageStructure, "system-page[name!='default']"))

<h2>$callingPageName Courses</h2>
<p>Filter by: <a href="/courses/default">Default</a> - <a href="/Courses/types/default">Term/Type</a> - <a href="/Courses/programs/default">Program</a></p>
#set ($count=0)
<ul>
    #foreach ($course in $courses)
        #set ($innerStructure = $_XPathTool.selectSingleNode($course, "system-data-structure/course"))
        #set ($courseTypes = $_XPathTool.selectNodes($innerStructure, "type/value"))
        #foreach ($courseType in $courseTypes)
            #set ($type =  $_SerializerTool.serialize($courseType, true))
            #if ($type== $callingPageName)
                #set ($title = "")
                #set ($number = "")
                #set ($path = "")
                #set ($count = $count +1)
                #set ($title = $_SerializerTool.serialize($innerStructure.getChild("title"), true))
                #set ($number = $_SerializerTool.serialize($innerStructure.getChild("number"), true))
                #set ($path = $_SerializerTool.serialize($course.getChild("path"), true))
                #set ($active = $innerStructure.getChild("active").value)
                #if ($active != "No")
                    <li><a href="$path">$number - $title</a></li>
                #end
            #end
        #end
    #end
</ul>
#if ($count == 0)
    <p>There are no $callingPageName courses listed at this time.</p>
#end
<p>Filter by: <a href="/courses/default">Default</a> - <a href="/Courses/types/default">Term/Type</a> - <a href="/Courses/programs/default">Program</a></p>

## Format URL: http://cascade.umt.edu/entity/open.act?id=000918300a0a07cc1517225f9519f340&type=format&#highlight

## Audits
### 11-14-2012 17:48	ws132567	create
### 11-14-2012 18:04	ws132567	edit
### 11-14-2012 17:50	ws132567	startedit
### 11-14-2012 18:04	ws132567	startedit
### 11-14-2012 18:04	ws132567	edit
### 11-14-2012 18:05	ws132567	edit
### 11-14-2012 18:05	ws132567	startedit
### 11-14-2012 18:05	ws132567	startedit
### 11-14-2012 18:05	ws132567	edit
### 11-14-2012 18:06	ws132567	startedit
