#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block"))
#set ($pages = $_XPathTool.selectNodes($pageStructure, "system-page"))
<h2>Choose a Program</h2>
<p>Choose a program to view courses that are part of that program or its requirements. Alternatively, <a href="/Courses/default">go back to the main course list</a>.</p>

<ul>
#foreach ($page in $pages)
    #set ($name ="")
    #set ($path ="")

    #set ($name = $_SerializerTool.serialize($page.getChild("display-name"), true))
    #set ($title= $_SerializerTool.serialize($page.getChild("title"), true))
    #set ($path = $_SerializerTool.serialize($page.getChild("path"), true))
    #if ($name != "Choose a Program")   
        <li><a href="$path">$title ($name)</a></li>
    #end
#end
</ul>

## Format URL: http://cascade.umt.edu/entity/open.act?id=62adb3e70a0a07cc79dd8f74272a589e&type=format&#highlight

## Audits
### 06-20-2013 17:42	kp128580	startedit
### 06-20-2013 17:42	kp128580	edit
### 06-20-2013 17:43	kp128580	startedit
### 06-20-2013 17:43	kp128580	edit
### 06-20-2013 17:43	kp128580	startedit
### 06-20-2013 17:44	kp128580	edit
### 10-26-2013 20:21	pe205482	edit
### 10-26-2013 20:20	pe205482	startedit
### 10-26-2013 20:24	pe205482	startedit
### 10-26-2013 20:24	pe205482	edit
