#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure") )
#set ($stories = $_XPathTool.selectNodes($pageStructure, "stories"))

    <div id="story-archive">
    
    
#foreach ($story in $stories)
        
    #set ($image = "")
    #set ($title = "")
    #set ($desc = "")
    #set ($alt = "")
    #set ($url = "")
    #set ($page = "")
    #set ($file = "")
    #set ($page = "")
    #set ($posted = "")

    #set ($title = $_SerializerTool.serialize($$story.getChild("title"), true).replaceAll("""","&quot;").replaceAll("'","&apos;"))
    #set ($alt = $_SerializerTool.serialize($$story.getChild("title"), true).replaceAll("""","&quot;").replaceAll("'","&apos;"))
    #set ($image = $_SerializerTool.serialize($$story.getChild("image").getChild("path"), true))
    #set ($desc = $_SerializerTool.serialize($$story.getChild("desc"), true))
    #set ($url = $_SerializerTool.serialize($$story.getChild("url"), true))
    #set ($page = $_SerializerTool.serialize($$story.getChild("page").getChild("path"), true))
    #set ($file = $_SerializerTool.serialize($$story.getChild("file").getChild("path"), true))
    #set ($posted = $_SerializerTool.serialize($$story.getChild("posted"), true))

           
        <div class="card item">
        <div class="row-fluid">
            #if ($image != "/" && $image != "")
                <div class="span8">
                    #if ($url != "" && $url != "<url />")
                        <h3><a href="$url" target="blank">$title</a></h3>
                    #elseif ($page != "" && $page != "<page />" && $page != "/")
                        <h3><a href="$page">$title</a></h3>
                    #elseif ($file != "" && $file != "<file />" && $file != "/")
                        <h3><a href="$file" target="blank">$title</a></h3>
                    #else
                        <h3>$title</h3>
                    #end
                    <div class="content">$desc</div>
                </div>
                <div class="span4"><img src='$image' alt="$alt" class="corners"/></div>
            #else
                <div class="span12">
                    #if ($url != "" && $url != "<url />")
                        <h3><a href="$url" target="blank">$title</a></h3>
                    #elseif ($page != "" && $page != "<page />" && $page != "/")
                        <h3><a href="$page" target="blank">$title</a></h3>
                     #elseif ($file != "" && $file != "<file />" && $file != "/")
                        <h3><a href="$file" target="blank">$title</a></h3>
                    #else
                        <h3>$title</h3>
                    #end
                    <div class="content">$desc</div>
                </div>
            #end
        </div>
        <div class="row-fluid">
            <div class="date">$posted</div>
        </div>
        </div>
#end
   



</div>



  

## Format URL: http://cascade.umt.edu/entity/open.act?id=b64c69390a0a07cc73155948348e6495&type=format&#highlight

## Audits
### 07-01-2014 21:00	sm166858e	startedit
### 07-01-2014 21:02	sm166858e	edit
### 07-01-2014 21:05	sm166858e	edit
### 07-01-2014 21:04	sm166858e	startedit
### 07-01-2014 21:27	sm166858e	edit
### 07-01-2014 21:11	sm166858e	startedit
### 07-01-2014 21:29	sm166858e	startedit
### 07-01-2014 21:30	sm166858e	edit
### 07-01-2014 21:32	sm166858e	activate_version
### 07-01-2014 21:33	sm166858e	activate_version
