#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure") )
#set ($stories = $_XPathTool.selectNodes($pageStructure, "stories"))


 <div class="row-fluid featured_tiles" style="margin: 25px 0px;">
 <div class="row-fluid tile_row">
 
#set ($itemcount = 0) 
    
#foreach ($story in $stories)

    #if($itemcount >2)
        #break
    #end
        
    #set ($image = "")
    #set ($title = "")
    #set ($desc = "")
    #set ($alt = "")
    #set ($url = "")
    #set ($page = "")

    #set ($title = $_SerializerTool.serialize($$story.getChild("title"), true).replaceAll("""","&quot;").replaceAll("'","&apos;"))
    #set ($alt = $_SerializerTool.serialize($$story.getChild("title"), true).replaceAll("""","&quot;").replaceAll("'","&apos;"))
    #set ($image = $_SerializerTool.serialize($$story.getChild("image").getChild("path"), true))
    #set ($desc = $_SerializerTool.serialize($$story.getChild("desc"), true))
    #set ($url = $_SerializerTool.serialize($$story.getChild("url"), true))
    #set ($page = $_SerializerTool.serialize($$story.getChild("page").getChild("path"), true))

        <div class="site_tile light_shadow span4" style="height: auto;"> 
        <div class="row-fluid">
            
            #if ($image != "/" && $image != "")
                <div class="row-fluid">
                <div class="span12 tile_image no_frame">
                    <div><img src='$image' alt="$alt"/></div>  
                </div>
                </div>
            #end
                
            <div class="row-fluid">
            <div class="span12">
            <div class="tile_content" style="padding: 0px 4%;">

                #if ($url != "" && $url != "<url />")
                    <h3 style="font-size: 16px;"><a href="$url" target="blank" style="color: #5e0009">$title</a></h3>
                    #elseif ($page != "" && $page != "<page />" && $page != "/")
                        <h3><a href="$page" style="color: #5e0009">$title</a></h3>
                    #else
                        <h3>$title</h3>
                #end
                    $desc
            </div>     
            </div>
            </div>

        </div>
        </div>
        
    #set ($itemcount = $itemcount + 1)
#end
   

</div>
</div>

<script type="text/javascript">
require(["jquery", "height_equalizer"],function(jQuery,height_equalizer){
   jQuery(document).ready(function($){
       height_equalizer.equalize(".site_tile");
   });
}); 
</script>







   


## Format URL: http://cascade.umt.edu/entity/open.act?id=b64c34a80a0a07cc731559489132dea2&type=format&#highlight

## Audits
### 07-11-2014 19:53	sm166858e	startedit
### 07-11-2014 19:53	sm166858e	edit
### 07-18-2014 14:35	sm166858e	edit
### 07-18-2014 14:34	sm166858e	startedit
### 07-18-2014 14:36	sm166858e	edit
### 07-18-2014 14:36	sm166858e	startedit
### 07-18-2014 15:26	sm166858e	startedit
### 07-18-2014 15:29	sm166858e	edit
### 06-19-2014 22:43	sm166858e	create
### 06-19-2014 22:43	sm166858e	copy
