#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure"))

#set ($block_heading= $_SerializerTool.serialize($pageStructure.getChild("block_heading"), true))
#set ($list = $_XPathTool.selectNodes($pageStructure, "//item"))

<div id="news">
    <h3>$block_heading</h3>
    <ul>
        #foreach($item in $list)
        #set ($body= "")
        #set ($heading= "")
        #set ($body= $_SerializerTool.serialize($item.getChild("body"), true))
        #set ($heading = $_SerializerTool.serialize($item.getChild("heading"), true))
            <li>
                <h4>$heading</h4>
                $body
            </li>
            <hr  />
        #end
    </ul>
</div>

## Format URL: http://cascade.umt.edu/entity/open.act?id=8d7e97b80a0a07cc442fbe473ae7f2c0&type=format&#highlight

## Audits
### 03-21-2013 15:23	tc222818	startedit
### 03-21-2013 15:24	tc222818	edit
### 03-21-2013 15:28	tc222818	edit
### 03-21-2013 15:27	tc222818	startedit
### 03-21-2013 15:29	tc222818	edit
### 03-21-2013 15:29	tc222818	startedit
### 03-21-2013 16:29	tc222818	edit
### 03-21-2013 16:27	tc222818	startedit
### 04-09-2013 15:58	tc222818	copy
