#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure"))
#set ($loginbuttons = $_XPathTool.selectNodes($pageStructure , "login_block_area/content/system-data-structure/button"))

<div id="login">
<ul>
#foreach ($button in $loginbuttons )
    #set ($label = "")
    #set ($link = "")
    #set ($label =  $_SerializerTool.serialize($button.getChild("button_label"),true)) 
    #set ($link =  $button.getChild("internal_link").getChild("path").text)
    #if ($link == "/")
            #set ($link = $button.getChild("external_link").text)
    #end


        #if($label != "")
            <li><a href="$link">$label</a></li>
        #end
#end
</ul>
</div><!--end login-->



#set ($links= $_XPathTool.selectNodes($pageStructure, "green_bar_link"))

<div class="green_bar_links">
<ul>
#foreach ($green_bar_link in $links)
    #set ($label = "")
    #set ($link = "")
    #set ($label =  $_SerializerTool.serialize($green_bar_link.getChild("link_label"),true)) 
    #set ($link =  $_SerializerTool.serialize($green_bar_link.getChild("internal_link").getChild("path"),true)) 
    #if ($link == "/")
            #set ($link = $_SerializerTool.serialize($green_bar_link.getChild("external_link"),true)) 
    #end


        #if($label != "")
            <li><a href="$link">$label</a></li>
        #end
#end
</ul>
</div>

#set ($contact=  $_SerializerTool.serialize($_XPathTool.selectSingleNode($pageStructure , "contact_block/content"), true))

<div id="contact_info">
     #if($contact != "")
       $contact
   #end
</div><!--end contact_info-->


## Format URL: http://cascade.umt.edu/entity/open.act?id=bdf9ee0c0a0a07cc1517225f07e6bf99&type=format&#highlight

## Audits
### 11-19-2012 20:02	kp128580	edit
### 11-19-2012 20:00	kp128580	startedit
### 01-31-2013 21:55	kp128580	copy
### 11-01-2012 21:56	kp128580	create
### 11-01-2012 21:59	kp128580	startedit
### 11-01-2012 22:01	kp128580	edit
### 11-01-2012 22:02	kp128580	startedit
### 11-01-2012 22:03	kp128580	edit
### 11-01-2012 22:03	kp128580	startedit
### 11-01-2012 22:03	kp128580	edit
