#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure"))
#set ($highlights= $_XPathTool.selectNodes($pageStructure, "highlight"))



#foreach ($highlight in $highlights)
    #set ($image = "")
    #set ($link = "")
    #set($alt = "")
    #set ($image =  $_SerializerTool.serialize($highlight.getChild("image").getChild("path"), true))
    #set ($alt =  $_SerializerTool.serialize($highlight.getChild("desc"), true))
    #set ($link =  $highlight.getChild("internal_link").getChild("path").text)
    #if ($link == "/")
            #set ($link = $highlight.getChild("external_link").text)
    #end
<div class="highlight">

    #if ($image != "/" && $alt != "")
        <a href="$link"><img src="[system-asset]${image}[/system-asset]" alt="$alt"/></a>

    <p><a href="$link">learn more about $alt</a></p>
    #end
    
    </div>
#end



## Format URL: http://cascade.umt.edu/entity/open.act?id=e26cfe7c0a0a07cc1517225fb7878097&type=format&#highlight

## Audits
### 11-15-2012 19:09	kp128580	edit
### 11-15-2012 19:09	kp128580	startedit
### 11-16-2012 23:14	kp128580	edit
### 11-16-2012 23:13	kp128580	startedit
### 01-31-2013 22:04	kp128580	copy
### 11-08-2012 23:56	kp128580	edit
### 11-08-2012 23:56	kp128580	startedit
### 11-09-2012 00:00	kp128580	move
### 11-09-2012 00:01	kp128580	startedit
### 11-09-2012 00:02	kp128580	edit
