## get the page structure
#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure") ) 

#set($calendar_id = $$pageStructure.getChild("calendar_id").value)
#set($limit = $$pageStructure.getChild("limit").value)

<div class="events_system_content">
    <img src="//life.umt.edu/_common/loaders/small_circle.gif" alt="Loading icon that signifies events are being loaded."/>
</div>
<script type="text/javascript">
    require(['events'], function(events){
        events.get($calendar_id, $limit);
    });
</script>
<script id="events_template" type="text/html">
{{#events}}
    <div class="events_system_item">
        <div class="header">
            {{#link}}<a href="{{link}}">{{/link}}
                <span class="title">{{title}}</span>
            {{#link}}</a>{{/link}}
            
            <a href="" class="toggle_details">Details</a>
            
            {{#running_date}}
                <span class="running_date">{{running_date}}</span>
            {{/running_date}}
        </div>
        
        <div class="content">
            <div class="description">
                {{description}}
            </div>

            <div class="details">
                <dl>
                    {{#start_date}}
                        <dt>Start Date</dt>
                        <dd>{{start_date}}</dd>
                    {{/start_date}}

                    {{#end_date}}
                        <dt>End Date</dt>
                        <dd>{{end_date}}</dd>
                    {{/end_date}}

                    {{#time}}
                        <dt>Time</dt>
                        <dd>{{time}}</dd>
                    {{/time}}
                    {{#start_time}}
                        <dt>Start Time</dt>
                        <dd>{{start_time}}</dd>
                    {{/start_time}}
                    {{#end_time}}
                        <dt>End Time</dt>
                        <dd>{{end_time}}</dd>
                    {{/end_time}}
                    {{#location}}
                        <dt>Location</dt>
                        <dd>{{location}}</dd>
                    {{/location}}
                    {{#url}}
                        <dt>Website</dt>
                        <dd>{{url}}</dd>
                    {{/url}}
                    
                    <dt>Contact</dt>
                    <dd>
                        {{#contact_name}}{{contact_name}}{{/contact_name}}<br/>
                        {{#contact_phone}}{{contact_phone}}{{/contact_phone}}<br/>
                        {{#contact_email}}{{contact_email}}{{/contact_email}}
                    </dd>
                </dl>
            </div>
        </div>
    </div>
{{/events}}
</script>

## Format URL: http://cascade.umt.edu/entity/open.act?id=f1bf6e910a0a07cc5cc125d9fa152f73&type=format&#highlight

## Audits
