<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
<link href="/styles/style.css" rel="stylesheet" type="text/css" />
<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript">
    google.load("jquery", "1.3");
</script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

<div style="clear:both;"></div>

#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure") )
#set ($sections = $_XPathTool.selectNodes($pageStructure, "section"))
#set ($above_content = $_SerializerTool.serialize($pageStructure.getChild("above_content"), true))
#set ($below_content = $_SerializerTool.serialize($pageStructure.getChild("below_content"), true))

#set ($pageHeading = $_SerializerTool.serialize($pageStructure.getChild("page_heading"), true))
#set ($pageHeading  = "")
#set ($pageHeading  =  $pageStructure.getChild("page_heading").text)
#if ($pageHeading  != "")
    <div class="pageHeading">
        <h2>$pageHeading</h2>
    </div>    
#end

#if ($above_content != "<above_content />")<div class="above_accordion">$above_content</div>#end
#if($sections.get[0].text!= "<content />")
<div class="accordion">
    #foreach ($section in $sections)
        #set ($label = "")
        #set ($content = "")
        #set ($label = $_SerializerTool.serialize($section.getChild("label"), true))
        #set ($content = $_SerializerTool.serialize($section.getChild("content"), true))
        <h3><a id="toggle_content" href="#">$label</a></h3>
        <div id="info">$content</div>
    #end
</div>

#if ($below_content != "<below_content />")<div class="below_accordion">$below_content</div>#end

<script type="text/javascript">
$.noConflict();
jQuery(document).ready(function($){
    $( ".accordion" ).accordion({ 
                header: 'h3',
                active: false,
                autoHeight: false,
    });
    
    $( ".accordion" ).accordion( "option", "collapsible", true );         
})
</script>

#end

## Format URL: http://cascade.umt.edu/entity/open.act?id=ef3b92980a0a07cc0b648925284aa80c&type=format&#highlight

## Audits
### 06-05-2013 15:34	mw139604	copy
### 07-10-2014 13:41	tc222818	copy
### 09-24-2013 22:01	tc222818	edit
### 09-24-2013 22:00	tc222818	startedit
### 04-29-2013 18:46	tc222818	startedit
### 04-29-2013 18:46	tc222818	edit
### 04-29-2013 19:03	tc222818	startedit
### 04-29-2013 19:03	tc222818	edit
### 04-29-2013 19:48	tc222818	copy
### 04-09-2013 17:43	tc222818	copy
