<div style="clear:both;"></div>

#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure"))


#set ($pageHeading = $_SerializerTool.serialize($pageStructure.getChild("page_heading"), true))
#set ($pageHeading  = "")
#set ($pageHeading  =  $pageStructure.getChild("page_heading").text)
#if ($pageHeading  != "")
    <div class="pageHeading">
        <h2>$pageHeading</h2>
    </div>
#end




#set ($contents = $_XPathTool.selectNodes($pageStructure, "content"))

    #if ($contents.size() < 1)
        $_SerializerTool.serialize($pageStructure.getChild("content"), true)
    #else
      #foreach ($content in $contents)
          #if ($foreach.count == 1)
              #set ($colCount = 'dept_1col')
          #end
          
          #if ($foreach.count == 2)
              #set ($colCount = 'dept_2col')
          #end
          
          #if ($foreach.count == 3)
              #set ($colCount = 'dept_3col')
          #end
    #end
  
#set($content = $_SerializerTool.serialize($pageStructure.getChild("content"), true))
  
  #foreach ($content in $contents)
          <div class="$colCount">
              $_SerializerTool.serialize($content, true)
          </div>
  #end
#end

<div style="clear:both;"></div>



## Format URL: http://cascade.umt.edu/entity/open.act?id=ffb1e3a40a0a07cc70751932bf8b9125&type=format&#highlight

## Audits
### 06-05-2013 15:33	mw139604	copy
### 09-24-2013 21:30	tc222818	edit
### 09-24-2013 21:30	tc222818	startedit
### 08-07-2013 04:39	tc222818	copy
### 06-19-2013 22:37	tc222818	edit
### 06-19-2013 22:31	tc222818	startedit
### 06-19-2013 22:47	tc222818	startedit
### 06-19-2013 22:48	tc222818	edit
### 08-21-2013 04:06	tc222818	copy
### 04-12-2013 19:21	tc222818	startedit
