#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure") )
#set ($profiles = $_XPathTool.selectNodes($pageStructure, "system-page"))
#set ($name = $_SerializerTool.serialize($pageStructure.getChild("name"), true).replaceAll("""","&quot;").replaceAll("'","&apos;"))
#set ($topic = $_SerializerTool.serialize($pageStructure.getChild("topic"), true))
#set ($studyarea = $_SerializerTool.serialize($pageStructure.getChild("studyarea"), true).replaceAll("""","&quot;").replaceAll("'","&apos;"))
#set ($advisor = $_SerializerTool.serialize($pageStructure.getChild("advisor"), true).replaceAll("""","&quot;").replaceAll("'","&apos;"))
#set ($email = $_SerializerTool.serialize($pageStructure.getChild("email"), true))
#set ($degree = $_SerializerTool.serialize($pageStructure.getChild("degree"), true).replaceAll("""","&quot;").replaceAll("'","&apos;"))
#set ($imagelink = $_SerializerTool.serialize($pageStructure.getChild("image").getChild("link"), true))
    
                
                #if ($imagelink != "" && $imagelink != "/")
                <img class="imagewrap" style="float:right; margin: 5px; max-height: 175px; max-width: 175px;" src='$imagelink' alt="Photo of $name"/>
                #end
               <p>
               <span style="font-weight:bold; font-size:14px;">$name</span><br />
               $degree, $studyarea<br />
               <span style="font-style:italic;">Advisor: </span>$advisor</p>
                #if ($topic != "" && $topic != "<topic />" && $degree == "M.S. Student")
                    <p><span style="font-weight:bold;">Thesis Topic: </span>$topic</p>
                #elseif ($topic != "" && $topic != "<topic />" && $degree == "Ph.D. Candidate")
                    <p><span style="font-weight:bold;">Dissertation Topic: </span>$topic</p>
                      #elseif ($topic != "" && $topic != "<topic />" && $degree == "Ph.D. Student")
                    <p><span style="font-weight:bold;">Dissertation Topic: </span>$topic</p>
                #end
                            
               
                <p>
                
                #if ($email != "" && $email != "<email />")
                <span style="font-weight:bold;">Email address: </span><a href="mailto:$email">$email </a>
                #end
                

                                    
                </p>
                    
                


## Format URL: http://cascade.umt.edu/entity/open.act?id=82e8b9fd0a0a04680181db77c1c93941&type=format&#highlight

## Audits
### 03-13-2012 22:31	sm166858e	startedit
### 03-13-2012 22:32	sm166858e	edit
### 05-11-2012 16:45	sm166858e	copy
### 03-07-2013 16:05	sm166858e	copy
### 02-15-2012 21:26	sm166858e	startedit
### 02-15-2012 21:28	sm166858e	edit
