#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure") )
#set ($rows = $_XPathTool.selectNodes($contentRoot, "/system-data-structure"))
#set ($rowNumbers = $rows.size())
#set ($lines = $_XPathTool.selectNodes($pageStructure, "line"))
#set ($Integer = 0)
#set ($announcements = $_SerializerTool.serialize($pageStructure.getChild("announcements").getChild("announcements"), true))
#set ($navBlockPath = "")
#set ($navBlockPath = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure/navigation_block/content/system-index-block"))
<div class="stories_wrap">
    <div class="line stories_secondary">
        ##Stories
        #set ($stories = $_XPathTool.selectNodes($pageStructure, "stories"))
        #set ($story_column_counter = 0)
        #set ($story_column_total = 0)
        #set ($story_column_width_equal = "")
        #foreach ($story in $stories)
            #set ($story_column_width_string = $_SerializerTool.serialize($story.getChild("unit_width"), true))
            #set ($story_column_width = $Integer.parseInt($story_column_width_string))
            #set ($story_column_counter = $story_column_width + $story_column_counter)
            #if ($story_column_counter > 4)         
                #set ($story_column_width_equal = 1)
            #end
        #end
        #foreach ($story in $stories)
            #set ($story_width_class = "")
            #set ($image_path = "")
            #set ($image_alt = "")
            #set ($media_link = "")
            #set ($story_link = "") 
            #set ($story_column_width = 0)
            #set ($story_column_width_string = $_SerializerTool.serialize($story.getChild("unit_width"), true))
            #set ($story_column_width = $Integer.parseInt($story_column_width_string))
            #if ($story_column_width_equal != "")
                #set ($story_column_width = $story_column_width_equal)
                #set ($story_column_counter = $stories.size())          
            #end        
            #set ($lastUnit = "")
            #set ($spacing = "")
            #set ($story_column_total = $story_column_total + $story_column_width)
            #if ($story_column_total == $story_column_counter)
                #set ($lastUnit = "lastUnit")
            #else
            #set ($spacing = "spacing") 
            #end
            #set ($story_width_class = "size"+$story_column_width+"of"+$story_column_counter)

            #set ($image_path = $_SerializerTool.serialize($story.getChild("image").getChild("path"), true))
            #set ($image_alt = $_SerializerTool.serialize($story.getChild("image").getChild("display-name"), true))
            #set ($media_link = $_SerializerTool.serialize($story.getChild("mediabox").getChild("value"), true))
            #if ($media_link == "")
                #set ($media_link = "No")
            #end
            #set ($story_link = $_SerializerTool.serialize($story.getChild("external_link"), true))
            #if ($story_link == "")
                #set ($story_link = $_SerializerTool.serialize($story.getChild("internal_link").getChild("path"), true))
            #end
            <div class="unit $story_width_class $spacing $lastUnit">
            #if ($story_link == "/" && $image_path != "/")
                <img src="$image_path" alt="$image_alt" />
            #elseif ($media_link == "Yes" && $image_path != "/")
                <a class="mediabox_big" href="$story_link"><img src="$image_path" alt="$image_alt" /></a>
            #elseif ($media_link == "No" && $image_path != "/")
                <a href="$story_link"><img src="$image_path" alt="$image_alt" /></a>
            #end        
            </div>                                          
        #end
        ##End Stories
    </div>

</div>

<div class="announcements">
    $announcements
</div>

#set ($firstList = $contentRoot)                
#*stubbornella variable columns*#
    <div class="line content_wrap">     
    #set ($content_units = $_XPathTool.selectNodes($pageStructure, "column_unit"))
    #set ($column_counter = 0)
    #set ($column_total = 0)
    #set ($column_width_equal = "")
    #foreach ($unit in $content_units)
        #set ($column_width_string = $_SerializerTool.serialize($unit.getChild("unit_width"), true))
        #set ($column_width = $Integer.parseInt($column_width_string))
        #set ($column_counter = $column_width + $column_counter)
        #if ($column_counter > 4)           
            #set ($column_width_equal = 1)
        #end
    #end
    #foreach ($unit in $content_units)              
        #set ($width_class = "")
        #set ($media_link = "")
        #set ($unit_link = "")
        #set ($unit_content = $_SerializerTool.serialize($unit.getChild("content"), true))
        #set ($column_width = 0)
        #set ($column_width_string = $_SerializerTool.serialize($unit.getChild("unit_width"), true))
        #set ($column_width = $Integer.parseInt($column_width_string))

        #if ($column_width_equal != "")
            #set ($column_width = $column_width_equal)
            #set ($column_counter = $content_units.size())          
        #end        
        #set ($lastUnit = "")
        #set ($spacing = "")
        #set ($column_total = $column_total + $column_width)
        #if ($column_total == $column_counter)
            #set ($lastUnit = "lastUnit")
        #else
            #set ($spacing = "spacing") 
        #end

        #set ($width_class = "size"+$column_width+"of"+$column_counter)
        
        #set ($unit_image = $_SerializerTool.serialize($unit.getChild("image").getChild("path"), true))
        #set ($unit_alt = $_SerializerTool.serialize($unit.getChild("image").getChild("display-name"), true))
        #set ($media_link = $_SerializerTool.serialize($unit.getChild("mediabox").getChild("value"), true))
        #if ($media_link == "")
            #set ($media_link = "No")
        #end
        #set ($unit_link = $_SerializerTool.serialize($unit.getChild("external_link"), true))
        #if ($unit_link == "")
            #set ($unit_link = $_SerializerTool.serialize($unit.getChild("internal_link").getChild("path"), true))
        #end
        
        
        <div class="unit $width_class $spacing $lastUnit">
            #if ($unit_link == "/" && $unit_image != "/")
                <img src="$unit_image" alt="$unit_alt" />
            #elseif ($media_link == "Yes" && $unit_image != "/")
                <a href="$unit_link" class="mediabox_big"><img src="$unit_image" alt="$unit_alt" /></a>
            #elseif ($media_link == "No" && $unit_image != "/")
                <a href="$unit_link"><img src="$unit_image" alt="$unit_alt" /></a>
            #end
            <span class="box_content">
                $unit_content
            </span>
            #if ($media_link == "Yes" && $unit_image != "/")
                <a class="find_more mediabox_big" href="$unit_link">Find out more</a>
            #elseif ($media_link == "No" && $unit_image != "/")
                <a class="find_more" href="$unit_link">Find out more</a>
            #end
        </div>          
    #end
    </div>

## Format URL: http://cascade.umt.edu/entity/open.act?id=7e272f4d0a0a046801966b7740bbe318&type=format&#highlight

## Audits
### 07-13-2011 15:45	es165908e	startedit
### 07-13-2011 15:51	es165908e	edit
### 01-28-2012 20:41	es165908e	edit
### 01-28-2012 20:41	es165908e	startedit
### 01-28-2012 20:42	es165908e	startedit
### 01-28-2012 20:42	es165908e	edit
### 07-19-2011 19:45	es165908e	edit
### 07-19-2011 19:35	es165908e	startedit
### 07-19-2011 19:46	es165908e	startedit
### 07-19-2011 20:10	es165908e	edit
