#if($contentRoot)

#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure") )

#set($resize_width =  $_XPathTool.selectSingleNode($pageStructure , "resize_images").getChild('width').value)
#set($resize_height =  $_XPathTool.selectSingleNode($pageStructure , "resize_images").getChild('height').value)


<div class="student_creator_container">

#foreach($group in $_XPathTool.selectNodes($pageStructure, "group"))

    #set($group_text =  $group.getChild('group_text').value)
    
    #if($group_text  != "")
        <div style="clear:left;"></div>
        <div>
        <h2>$group_text </h2>
    #end
    
    #set($count = 1)
    #set($group_items = $_XPathTool.selectNodes($group ,'group_item'))
    #foreach($group_item in $group_items)
         #set($image =$group_item.getChild('image'))
         #set ($img_path = $_SerializerTool.serialize($group_item.getChild("image").getChild('path'), true))
         #set($alt_text =  $_SerializerTool.serialize($group_item.getChild('alt'),true))
         #set($caption =$_SerializerTool.serialize($group_item.getChild('caption'),true))
         #set($contents = $group_item.getChild('contents'))
         #set($link_to_external_site = $contents.getChild('link_to_external_site'))
         #set($link_to_internal_site= $contents.getChild('link_to_internal_site'))
         #set($content =$_SerializerTool.serialize($contents.getChild('content'),true))
         
         #set($link_to = "")
         #set($link_to_type = "")
         #if($link_to_external_site.value != "")
              #set($link_to_type = "external")
              #set($link_to = $_SerializerTool.serialize($link_to_external_site,true))
         #elseif($link_to_internal_site.getChild('path').value != "/")
               #set($link_to_type = "internal")
               #set($link_to = $_SerializerTool.serialize($link_to_internal_site.getChild('path'), true))
         #end
         
         
        
         
         #set($width_text = "")
         #if($resize_width != "")
             #set($width_text = "width:${resize_width}px;")
         #end

         #set($height_text= "")
         #if($resize_height != "")
             #set($height_text = "height:${resize_height}px")
         #end
         
         #if($link_to_type == "external")
             #set($linked= "true")
         #elseif($link_to_type == "internal")
            #set($linked= "true")
         #else
            #set($linked= "false")
         #end
         
         <div class="fleft student_item"  linked="$linked">
            <div class="image_container" aria-live="polite">
            
                 #if($link_to_type == "external")
                    <a href="$link_to">
                 #elseif($link_to_type == "internal")
                    <a href="[system-asset]${link_to}[/system-asset]">
                 #else
                    <a href="javascript:void(0)">
                 #end
                 
                <img src="[system-asset]${img_path}[/system-asset]"   style="$width_text $height_text" alt="$alt_text" />
                $caption
                </a>
            </div>
            <div class="content_container">
                $content
            </div>
         </div>
         
         #if($count % 2 == 0)
             <div class="two_break"></div>
         #end    
         #if($count % 3 == 0)
             <div class="three_break"></div>
         #end
         
         
        #set($count = $count + 1)
         
    #end
    
    #if($group_text  != "")
        </div>
        <div style="clear:left;"></div>
    #end

#end
</div>


<script>

require(['jquery'], function($){
        $('.student_item').click(function(){
            var children = $(this).children()
            var linked= $(this).attr('linked')
            var img_container = $(children[0])
            var information_container = $(children[1])

            ## ands don't work in cascade's formats
            if(linked !== undefined){
                if(linked === "false"){
                    if($(this).hasClass('expanded_student_item')){
                        $(this).removeClass('expanded_student_item')
                        img_container.removeClass('expanded_image_container')
                        information_container.removeClass('expanded_content_container')
                    }
                    else{
                        $(this).addClass('expanded_student_item')
                        img_container.addClass('expanded_image_container')
                        information_container.addClass('expanded_content_container')
                    }
                }
            }
        })
})

</script>
         

<style>

    .student_item{
        border: 1px solid #ccc;
        width:29%;
        margin:0 1%;
        padding:10px 1%;
        margin-bottom:20px;
        box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.2);
        -webkit-transition-duration: 0.25s;
        -moz-transition-duration: 0.25s;
        -o-transition-duration: 0.25s;
        transition-duration: 0.25s;
        -webkit-transition-property: opacity;
        -moz-transition-property: opacity;
        -o-transition-property: opacity;
        transition-property: opacity;
        -webkit-transform: translateZ(0);
    }
    
    
    .student_item:hover{
        cursor:pointer;
        
    }
    
    .student_creator_container .image_container{
        text-align:center;
    }
    .student_creator_container div{
        text-align:left;
    }
    
    .student_creator_container .btop{
        border-top:1px solid #ccc;
    }
    
    .student_creator_container .bbottom{
        border-bottom:1px solid #ccc;
    }
    
    .student_creator_container .image_container img{
        margin-bottom:10px;
        margin-left:auto;
        margin-right:auto;
        display:block;
        border: 2px solid #fff; 
        border-radius:5px;
    }
     
    .student_creator_container .image_container{
        text-align:center;
    }
    
    .student_creator_container .content_container{
        display:none;
    }
    
    .fleft{
        float:left;
    }
    
    .student_creator_container .expanded_student_item{
        width:100%;
        padding-top:20px;
    }
    
    .student_creator_container .expanded_image_container{
        width:33%;
        float:left;
    }
    
    .student_creator_container .expanded_content_container{
        width:62%;
        float:left;
        margin-left:3%;
        margin-bottom:20px;
        display:block;
    }
    
    .two_break{}
    .three_break{clear:left;}
    
    @media (max-width: 800px) {
        .student_item {
            width:45%;
        }
        .student_creator_container .expanded_image_container{
            width:100%;
            float:none;
        }
        .student_creator_container .expanded_content_container{
            width:100%;
            float:none;
        }
            .two_break{clear:left;}
            .three_break{clear:none;}
    }
    
    @media (max-width: 500px) {
        .student_item {
            width:100%;
        }
        .student_creator_container .expanded_image_container{
            width:100%;
            float:none;
        }
        .student_creator_container .expanded_content_container{
            width:100%;
            float:none;
        }
    }
    
</style>






#end

## Format URL: http://cascade.umt.edu/entity/open.act?id=d8380ab10a0a07cc138c3c8f42db828b&type=format&#highlight

## Audits
### 12-17-2013 22:18	jc113350	move
### 12-17-2013 22:20	jc113350	move
### 12-17-2013 22:20	jc113350	move
### 12-09-2013 16:37	jc113350	create
