#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure") )

#set ($header = ($pageStructure.getChild("header").getChild("path").text))

#set ($rows = $_XPathTool.selectNodes($contentRoot, "/system-data-structure"))
#set ($rowNumbers = $rows.size())
#set ($student_projects = $_XPathTool.selectNodes($contentRoot, "/system-data-structure/project_container"))

#set ($leftColPadding = ($pageStructure.getChild("leftColPadding").getChild("value").text))
#set ($project_name = "")
#set ($anchor_name ="")
#set ($student = "")
#set ($degree ="")
#set ($advisor ="")
#set ($funding_sources ="")
#set ($project_duration ="")
#set ($objectives ="")
#set ($progress_status ="")
<h2><system-page-title/></h2>
<hr class="project_break"/>
#foreach ($student_project in $student_projects)
	
	#set ($project_name = $_SerializerTool.serialize($student_project.getChild("project_name"), true))
	#set ($anchor_name = $_SerializerTool.serialize($student_project.getChild("anchor"), true))
	#set ($student = $_SerializerTool.serialize($student_project.getChild("student"), true))
	#set ($degree = $_SerializerTool.serialize($student_project.getChild("degree"), true))
	#set ($advisor = $_SerializerTool.serialize($student_project.getChild("advisor"), true))
	#set ($funding_sources = $_SerializerTool.serialize($student_project.getChild("funding_sources"), true))
	#set ($project_duration = $_SerializerTool.serialize($student_project.getChild("project_duration"), true))
	#set ($objectives  = $_SerializerTool.serialize($student_project.getChild("objectives"), true))
	#set ($progress_status  = $_SerializerTool.serialize($student_project.getChild("progress_status"), true))

	<div class="project_container">
		#if($student_project.getChild("anchor").value !="")
			<a id="$anchor_name" name="$anchor_name"></a>
		#end
		<h3>
		$project_name
		</h3>
		<table>
			<tr>
				<td class="tr_label">Student or Primary Researcher:</td>
				<td class="bold_td">$student</td>
			</tr>
			#if($student_project.getChild("degree").text !="")
			<tr>
				<td class="tr_label">Degree:</td>
				<td>$degree</td>
			</tr>
			#end
			#if($student_project.getChild("advisor").text !="")
			<tr>
				<td class="tr_label">Advisor:</td>
				<td>$advisor</td>
			</tr>
			#end
			<tr>
				<td class="tr_label">Funding Sources:</td>
				<td>$funding_sources</td>
			</tr>
			<tr>
				<td class="tr_label">Project Duration:</td>
				<td>$project_duration</td>
			</tr>
		</table>
		<p class="bold_heading">Objectives:</p>
		$objectives
		<p class="bold_heading">Progress and Status:</p>
		$progress_status	
	</div>
	<hr class="project_break"/>
#end

## Format URL: http://cascade.umt.edu/entity/open.act?id=a2f5eb2b0a0a046800025d3b7c493d1a&type=format&#highlight

## Audits
### 12-01-2010 17:23	es165908e	create
### 12-01-2010 17:39	es165908e	edit
### 12-01-2010 17:24	es165908e	startedit
### 12-01-2010 20:22	es165908e	startedit
### 12-01-2010 20:23	es165908e	edit
### 12-01-2010 20:33	es165908e	startedit
### 12-01-2010 20:34	es165908e	edit
### 12-01-2010 20:37	es165908e	edit
### 12-01-2010 20:36	es165908e	startedit
### 12-01-2010 20:38	es165908e	startedit
