#*
Styles for making sure this works,
remove .show_grid from line 25
when you get rid of them.
*#
<style>
.show-grid [class*="span"] {
    background-color: #eee;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    min-height: 40px;
    line-height: 40px;
}
.row-fluid{
    margin-bottom:10px;
}
</style>

#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure"))

#set ($rows = $_XPathTool.selectNodes($pageStructure, "row"))
#foreach ($row in $rows)
<div class="row-fluid show-grid">    
#set ($spans = $_XPathTool.selectNodes($row , "span"))
#foreach ($span in $spans)
    #set ($size = "")
    #set ($offset = "")
    #set ($content = "")

    #set ($size = $_SerializerTool.serialize($span.getChild("span"), true))
    #set ($offset = $_SerializerTool.serialize($span.getChild("offset"), true))
    #set ($content = $_SerializerTool.serialize($span.getChild("content"), true))
    #if ($offset == "0")
        <div class="span$size">$content</div>
    #else
        <div class="span$size offset$offset">$content</div>
    #end
#end
</div>
#end

## Format URL: http://cascade.umt.edu/entity/open.act?id=42aa3a8d0a0a07cc5c260a45775c8beb&type=format&#highlight

## Audits
