<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="http://cas.umt.edu/draft/sfd_new_templates/scripts/JQuery%20Scripts/jquery-cycle-3.0.3.js"></script>

#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure"))
#set ($stories = $_XPathTool.selectNodes($pageStructure, "story"))

<div class="feature_story_wrap">
##    #set ($index = 0)
    <ul id="stories">
    #foreach ($story in $stories)
##    #set ($index = $index +1)
##    <ul id="stories$index" style="visibility:hidden; display:none;">
        #set ($image = $_SerializerTool.serialize($story.getChild("image").getChild("path"), true))
        #set ($link = $story.getChild("internal_link").getChild("path").text)
        #if ($link == "/")
            #set ($link = $story.getChild("external_link").text)
        #end
        #set ($content = $_SerializerTool.serialize($story.getChild("content"), true))
        
        #if($link != "")
            #if ($content != "" && $image != "/")
                <div class="with_content" style="background-image: url([system-asset]${image}[/system-asset])"><a class="story_link" href="${link}"></a><span class="story_text">${content}</span></div>
            #elseif ($image != "/")
                <div class="without_content" style="background-image: url([system-asset]${image}[/system-asset])"><a class="story_link" href="${link}"></a></div>
            #end
        #else
            #if ($content != "" && $image != "/")
                <div class="with_content" style="background-image: url([system-asset]${image}[/system-asset])"><span class="story_text">${content}</span></div>
            #elseif ($image != "/")
                <div class="without_content" style="background-image: url([system-asset]${image}[/system-asset])"></div>
            #end
        #end    
    #end        
    </ul>    
    <div id="story_nav"></div>
</div>

#if ($stories.size() > 1)
<script type="text/javascript">
jQuery(document).ready(function($) {
    jQuery('#stories').cycle({
        pager:  '#story_nav',
        height: '525px ',
        width: '300px',
        fit: 1,
        speed:    1000, 
        timeout:  15000,
        pagerAnchorBuilder: function(idx, slide) { 
            return '<a href="#"><span class="pager_button">'+ (idx+1) +'</span></a>'; 
        } 
    });
});
</script>
#end

## Format URL: http://cascade.umt.edu/entity/open.act?id=7fb9762b0a0a07cc2bcece51220c533c&type=format&#highlight

## Audits
### 10-03-2013 19:19	mw139604	edit
### 10-03-2013 19:18	mw139604	startedit
### 10-03-2013 19:19	mw139604	startedit
### 10-03-2013 19:20	mw139604	edit
### 10-03-2013 19:21	mw139604	edit
### 10-03-2013 19:21	mw139604	startedit
### 10-09-2013 17:30	tc222818	move
### 10-09-2013 17:36	tc222818	startedit
### 10-09-2013 17:36	tc222818	edit
### 10-09-2013 17:36	tc222818	startedit
