<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript">
    google.load("jquery", "1.3");
</script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure") )
#set ($top_content = $_SerializerTool.serialize($pageStructure.getChild("content"), true))
#set ($bottom_content = $_SerializerTool.serialize($pageStructure.getChild("below_content"), true))
#set ($sections  = $_XPathTool.selectNodes($pageStructure, "section"))
<div class="above_accordion">$top_content</div>
<div id="accordion">
#foreach ($section in $sections)
    #set ($label = $_SerializerTool.serialize($section.getChild("label"), true))
    #set ($content = $_SerializerTool.serialize($section.getChild("content"), true))
    <h2><a class="accordionItem" href="#$label">$label</a></h2>
    <div class="acc_content">$content</div>
#end
</div>
<div class="below_accordion">$bottom_content</div>

<script type="text/javascript">
  
$(document).ready(function(){
    $( "#accordion" ).accordion({ 
                header: 'h2',
                active: false,
                autoHeight: false,
    });
    
    $( "#accordion" ).accordion( "option", "collapsible", true );
    
    var hash = window.location.hash;
    if (hash != ""){
        var thash = hash.substring(hash.lastIndexOf('#'), hash.length);
        $('#accordion').find('a[href*='+ thash + ']').closest('h2').trigger('click');
    }
        
    $(".accordionItem").click(function(event){
             if ($(this).parent().next().is(':visible')){
                 //window.location.href = window.location.href.replace(/#.*/,'');
                 
                 window.location.hash="";
             }
             else{
                 window.location.hash=this.hash;
             }
    });
         
})
</script>

## Format URL: http://cascade.umt.edu/entity/open.act?id=e303d7810a0a07cc0aea7f0b615c762f&type=format&#highlight

## Audits
### 08-01-2012 16:28	ws132567	edit
### 08-01-2012 16:27	ws132567	startedit
### 08-01-2012 16:30	ws132567	move
