#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure"))
#set ($pages = $_XPathTool.selectNodes($pageStructure, "people/content/system-index-block/system-page"))
#set ($courseList = $_XPathTool.selectNodes($pageStructure, "courses/content/system-index-block/system-page"))

$_SortTool.addSortCriterion("name", "", "text", "ascending", "lower-first")
$_SortTool.sort($pages) 

<div class="directory_list">
<table>
<thead>
<tr>
<th width="40%">Name</th>
<th width="20%">Phone</th>
<th width="20%">Email</th>
<th width="20%">Office</th>
</tr>
</thead>
<tbody>

    #foreach($page in $pages)
        #set ($image = "")
        #set ($title = "")
        #set ($phone = "")
        #set ($email = "")
        #set ($office = "")
        #set ($firstName = "")
        #set ($lastName = "")
        #set ($metadata = "")
        #set ($profile = "")
        #set ($path = "")
        #set ($photo = "")
        #set ($type = "")
        #set ($active = "")
        #set ($courses = [])
        
        #set ($path = $_SerializerTool.serialize($page.getChild("path"), true))
        
        #foreach ($course in $courseList)
            #set ($instructors = "")
            #set ($instructors = $_XPathTool.selectNodes($course.getChild("system-data-structure").getChild("instructors"), "instructor"))
            #foreach ($instructor in $instructors)
                #set ($coursePath = "")
                #set ($coursePath = $_SerializerTool.serialize($instructor.getChild("path"), true))
                #if ($coursePath == $path)
                     #set ($courseAdd = $courses.add($course))
                #end
            #end
        #end
        
        #set ($metadata = $_XPathTool.selectNodes($page, "dynamic-metadata"))
        #foreach ($data in $metadata)
            #set ($name = "")
            #set ($name = $_SerializerTool.serialize($data.getChild("name"), true))
            #if ($name == "first-name")
                #set ($firstName = $_SerializerTool.serialize($data.getChild("value"), true))
                #elseif($name == "last-name")
                    #set ($lastName = $_SerializerTool.serialize($data.getChild("value"), true))
                    #elseif($name == "type")
                        #set ($type = $_SerializerTool.serialize($data.getChild("value"), true))
                        #elseif ($name == "active")
                            #set ($active = $_SerializerTool.serialize($data.getChild("value"), true))
            #end
        #end
            #set ($profile = $_XPathTool.selectSingleNode($page, "system-data-structure"))
            #set ($photo = $_SerializerTool.serialize($profile.getChild("image").getChild("profile-thumbnail").getChild("path"), true))
            #set ($title = $_SerializerTool.serialize($profile.getChild("contact").getChild("title"), true))
            #set ($phone = $_SerializerTool.serialize($profile.getChild("contact").getChild("phone"), true))
            #set ($email = $_SerializerTool.serialize($profile.getChild("contact").getChild("email"), true))
            #set ($office = $_SerializerTool.serialize($profile.getChild("contact").getChild("office"), true))
            #if ($firstName != "" && $lastName != "" && $active == "Yes" && $type == "Adjunct Faculty")
            
               <!-- <div class="d_row whole_row">
                    #if ($photo != "/")
                        <div class="d_thumb">
                            <a href="$path">
                                <img alt="" height="100" src="$photo" />
                            </a>
                        </div>
                    #else
                        <div class="d_thumb no_thumb">
                                <p>No Image Available</p>
                        </div>
                    #end
                    #if ($firstName != "" && $lastName != "")
                        <div class="d_expanded">
                            <p>
                                <a class="largetitle" href="$path">$firstName $lastName</a>
                                <br />
                                #if ($title != "<title />")$title<br />#end
                                #if ($phone != "<phone />")$phone<br />#end
                                #if($email != "<email />")<a href="mailto:$email">$email</a><br />#end
                                #if ($office != "<office />")$office#end
                            </p>
                        </div>
                    #end
                    #if ($courses.size() > 0)
                        <div class="prof_course">
                        <h3>Courses</h3>
                            <ul>
                            #foreach ($course in $courses)
                                #set ($link = "")
                                #set ($name = "")
                                #set ($link = $_SerializerTool.serialize($course.getChild("path"), true))
                                #set ($name = $_SerializerTool.serialize($course.getChild("system-data-structure").getChild("course").getChild("title"), true))
                                #if ($link != "" && $name != "")
                                    <li><a href="$link">$name</a></li>
                                #end
                            #end
                            </ul>
                        </div>
                    #end
                </div>-->
                <tr>
            <td><a class="largetitle" href="$path">$firstName $lastName</a><br/>#if ($title != "<title />")$title#end</td>
            <td>#if ($phone != "<phone />")$phone#end</td>
            <td>#if ($email != "<email />")<a href="mailto:$email">$email</a>#end</td>
            <td>#if ($office != "<office />")$office#end</td>
        </tr>
        
            #end
        #end
</tbody>
</table>
</div>

## Format URL: http://cascade.umt.edu/entity/open.act?id=c16696ec0a0a07cc5251edb473e73d77&type=format&#highlight

## Audits
### 02-25-2015 17:36	ws132567e	recycle
