#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure"))

#set ($name = "")
#set ($title = "")
#set ($website = "")
#set ($website_url = "")
#set ($image = "")

#set ($name =  $_SerializerTool.serialize($pageStructure.getChild("information").getChild("name"), true))
#set ($title =  $_SerializerTool.serialize($pageStructure.getChild("information").getChild("title"), true))
#set ($website =  $_SerializerTool.serialize($pageStructure.getChild("information").getChild("website"), true))
#set ($website_url =  $_SerializerTool.serialize($pageStructure.getChild("information").getChild("website_url"), true))
#set ($content =  $_SerializerTool.serialize($pageStructure.getChild("content"), true))
#set ($image =  $_SerializerTool.serialize($pageStructure.getChild("information").getChild("profile-image").getChild("path"), true))
#if ($image == "/")
    #set ($image = "/events/conference/images/empty.jpg")
#end
<div class="row-fluid span12">            
    <div class="speaker_info pull-left span12" style="margin-bottom:10px;"><p>$title#if ($website != ""), #if($website_url != "" )<a href="$website_url">#end$website#if($website_url != "" )</a>#end#end</p></div>
    <div class="speaker_pic pull-left span2" style="margin:0 10px 10px 0;">
        <img src="$image" alt="A profile picture of $name" />
    </div>
    #if ($content != "<content />")
        <div class="speaker_content">$content</div>
    #end 
</div>

## Format URL: http://cascade.umt.edu/entity/open.act?id=c166974a0a0a07cc5251edb4725ebd2b&type=format&#highlight

## Audits
### 03-25-2015 17:09	ws132567e	edit
### 03-25-2015 17:08	ws132567e	startedit
### 03-25-2015 17:09	ws132567e	startedit
### 03-25-2015 17:10	ws132567e	edit
### 03-25-2015 17:10	ws132567e	startedit
### 03-25-2015 17:10	ws132567e	edit
### 03-25-2015 17:13	ws132567e	startedit
### 03-25-2015 17:13	ws132567e	edit
### 03-25-2015 20:45	ws132567e	edit
### 03-25-2015 20:45	ws132567e	startedit
