#set ( $currentFolder = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block//system-folder[@current]") )
#set ( $currentDateNode = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block/@current-time") )
#set ( $currentDate = $_DateTool.getDate($currentDateNode.value ))
#set ( $originalDate = $_DateTool.toDate('y-M-d H:m:s', "1970-01-01 00:00:01"))
#set ( $currentDateXPath = $_DateTool.difference($originalDate, $currentDate).milliseconds)
#set ( $daysToShow  = 30)
#set ( $firstDateXPath = $currentDateXPath - ($daysToShow * 86400000))

#set ( $newsArticles = $_XPathTool.selectNodes($contentRoot, "/system-index-block//system-page[name!= 'default' and name !='archive'][start-date < ${currentDateXPath}][start-date > ${firstDateXPath}]"))
  
$_SortTool.addSortCriterion("system-data-structure/sticky", "", "text", "descending", "upper-first")  
$_SortTool.addSortCriterion("start-date", "", "text", "descending", "upper-first")  
$_SortTool.sort($newsArticles) 

#foreach ($newsArticle in $newsArticles)
    #set ($sticky = "")
    #set ($startDate = "nothing")
    #set ($startDate = $_DateTool.getDate($newsArticle.getChild("start-date").value ))
    #if ($startDate == "nothing")
        #set ($startDate = $_DateTool.getDate($newsArticle.getChild("created-on").value ))
    #end
    
    #set ($title = $newsArticle.getChild('title'))
    #set ($link = "http://news.umt.edu"+$newsArticle.getChild('path').text+".aspx")
    #set ($description = $newsArticle.getChild('summary'))
    #set ($startDate = $_DateTool.getDate($newsArticle.getChild("system-data-structure").getChild("startDate").value))
    #set ($sticky = $_SerializerTool.serialize($newsArticle.getChild("system-data-structure").getChild("sticky"), true))
    #set ($formatedDate = $_DateTool.format('MMM dd, yyyy', $startDate))
    
    <item>
        <title><![CDATA[$_SerializerTool.serialize($title, true)]]></title>
        <link>$link</link>
        <description><![CDATA[$_SerializerTool.serialize($description, true)]]></description>
        <startdate>$formatedDate</startdate>
        <sticky>$sticky</sticky>
    </item>
#end

## Format URL: http://cascade.umt.edu/entity/open.act?id=ff59125f0a0a04680147c30280897a94&type=format&#highlight

## Audits
### 01-06-2010 15:53	ns159438e	startedit
### 01-06-2010 15:54	ns159438e	edit
### 01-07-2010 15:03	ns159438e	edit
### 01-07-2010 15:03	ns159438e	startedit
### 01-07-2010 15:23	ns159438e	edit
### 01-07-2010 15:20	ns159438e	startedit
### 01-07-2010 15:25	ns159438e	edit
### 01-07-2010 15:24	ns159438e	startedit
### 01-07-2010 15:25	ns159438e	startedit
### 01-07-2010 15:25	ns159438e	edit
