<script type="text/javascript">// <![CDATA[
require([ "jquery", "height_equalizer", "accordion-tabs"], function ($, height_equalizer) {
    $(function() {
      $(".profile_accordion").accordion({
        header: ".info_click",
        heightStyle: "content", 
        active: false,
        collapsible: true,
        "activate": function () {
          height_equalizer.equalize([".dept_leftnav", ".content-area"]);
        }
      });
    });
  });
// ]]></script>

#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block"))
#set ($callingPage = $_XPathTool.selectSingleNode($pageStructure, "calling-page/system-page"))
#set ($people = $_XPathTool.selectNodes($pageStructure , "system-page"))

<div class="remainder-box normal_page component">
    #foreach ($person in $people)
        #set ($innerStructure = "")
        #set ($name = "")
        #set ($school ="")
        #set ($room = "")
        #set ($phone = "")
        #set ($content = "")
        #set ($photo = "")
        #set ($titles = "")
        #set ($email = "")
    
        #set ($innerStructure = $_XPathTool.selectSingleNode($person , "system-data-structure"))
    
        #set ($name = $_SerializerTool.serialize($innerStructure.getChild("name"), true))
        #set ($school = $_SerializerTool.serialize($innerStructure.getChild("school"), true))
        #set ($room = $_SerializerTool.serialize($innerStructure.getChild("room"), true))
        #set ($phone = $_SerializerTool.serialize($innerStructure.getChild("phone"), true))
        #set ($content = $_SerializerTool.serialize($innerStructure.getChild("content"), true))
        #set ($photo = $_SerializerTool.serialize($innerStructure.getChild("photo").getChild("path"), true))
        
        #set ($titles = $_XPathTool.selectNodes($innerStructure, "titles/title"))
        #set ($emails = $_XPathTool.selectNodes($innerStructure, "emails/email"))
        
        <div class="profile_accordion">        
            <div class="info_click">
                <div class="row-fluid">
                    <div class="col-xs-4">
                        #if ($name != "")<h2>$name</h2>#end
                    </div>
                    <div class="col-sm-6 col-xs-4">
                        <ul>
                            #if ($school != "")<li><strong>$school</strong></li>#end
                            #foreach ($title in $titles)
                                #if ($title.value != "")<li>$title.value</li>#end
                            #end
                            <br />
                            #if ($phone != "<phone />")Phone: $phone<br />#end
                            
                            #foreach ($email in $emails)
                                #if ($email.value != "")<a href="mailto:$email.value">$email.value</a>
                                    #if ($emails.size() > 1 && $foreach.count != $emails.size())#end
                                #end
                            #end
                        </ul>
                    </div>
                    <div class="pull-right col-sm-2 col-xs-4">
                        #if ($photo != "/")<img class="pull-right" src="$photo" alt="$name" />#end
                    </div>
                </div> ##row
            </div>          
            <div id="info">
                #if ($content != "")$content#end
                <br />
                #if ($room == "<room />" && $phone == "<phone />")
                
                #else
                <p>
                    #if ($room != "<room />")$room <br />#end
                    #*The University of Montana <br />
                    Missoula, MT 59812 <br />*#
                    <br />
                    
                </p>
                #end
            </div>           
        </div> ##profile
    #end
</div>

## Format URL: http://cascade.umt.edu/entity/open.act?id=7fddbc150a0a07cc15d3cc0cb7b44f38&type=format&#highlight

## Audits
### 03-16-2016 14:47	tc222818	startedit
### 03-16-2016 14:52	tc222818	edit
### 03-16-2016 14:53	tc222818	move
### 03-16-2016 16:08	tc222818	edit
### 03-16-2016 16:08	tc222818	startedit
### 03-17-2016 15:12	tc222818	edit
### 03-17-2016 15:10	tc222818	startedit
### 03-17-2016 15:56	tc222818	startedit
### 03-17-2016 15:57	tc222818	edit
### 03-17-2016 16:21	tc222818	startedit
