#######################################################################################################################################
## Format:          /formats/page
## Project:         Montana Tech
## Purpose:         Page - Displays all user defined content from the interior page.
##
## History:         Developer       Description
## 07/03/2018       mj              Initial
#######################################################################################################################################

## Get the current page's system-data-structure node from the XML document
#set ( $data = $_XPathTool.selectSingleNode($contentRoot, "//system-page[@current='true']/system-data-structure") )

    #######################################################################
    ## Right Column
    #######################################################################
   
    #set ( $leftColumn = $_XPathTool.selectSingleNode($data, "page-content/left-column") )
    #set ( $displayLeftCol = "" )
    #set ( $displayLeftCol = $leftColumn.getChild("display").value )
    #set ( $leftColValue = $data.getChild("page-content").getChild("left-column").getChild("display").value )

    #if ( $leftColValue == "Yes" )
        #set ( $right = "col9 right content" )
    #elseif ( $leftColValue == "No" )
        #set ( $right = "" )
    #end
    
    <div class="${right}">
    
    #set ( $newsArticle = $_XPathTool.selectSingleNode($data, "page-content/news-article") )
    #set ( $article = $newsArticle.getChild("text").value )
    #set ( $headline = $newsArticle.getChild("headline").value )
    #set ( $articleDate = $_DateTool.getDate($_XPathTool.selectSingleNode($contentRoot, "//system-page[@current='true']/system-data-structure/page-content/news-article/start_date").value) )
    #set ( $formattedDate = $_DateTool.format('MM/dd/yyyy', $_DateTool.toDate('MM-dd-yyyy', $articleDate)) )
    #set ( $articleLink = $contentRoot.getChild("system-page").getChild("link").value )
    
    
    <div class="full-wrapper wysiwyg news">
        <div class="wrapper row">
            <article>
                <h3>${headline}</h3>
                <p class="date">${formattedDate}</p>
                $_SerializerTool.serialize($newsArticle.getChild("text"), true)
            </article>
        </div>
    </div>
    
    
    
    </div> ## end right column
<![CDATA[#protect</div>#protect]]> ## end full-wrapper interior-content  
    


## Format URL: http://cascade.umt.edu/entity/open.act?id=123f08340a0a287328ca3f93c1d022cd&type=format&#highlight

## Audits
