#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure") )
#set ($featureImage = $_SerializerTool.serialize($pageStructure.getChild("featureImage").getChild("path"), true))
#set ($caption = $_SerializerTool.serialize($pageStructure.getChild("caption"), true))
#set ($credits = $_SerializerTool.serialize($pageStructure.getChild("credits"), true))

#if ($pageStructure.getChild("featureImage").getChild("path").text != "/")
    <div>
        <img src='$featureImage' alt="$caption"/>
    </div>
#end





## Format URL: http://cascade.umt.edu/entity/open.act?id=f3e08ec30a0a0468001a13c8714c4904&type=format&#highlight

## Audits
### 01-28-2012 18:29	ws132567	startedit
### 01-28-2012 18:30	ws132567	edit
### 10-11-2011 16:46	sm166858e	edit
### 10-11-2011 16:46	sm166858e	startedit
### 10-11-2011 16:46	sm166858e	activate_version
### 10-11-2011 16:49	sm166858e	edit
### 10-11-2011 16:48	sm166858e	startedit
