#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-index-block") )
#set ($spotlights = $_XPathTool.selectNodes($pageStructure, "system-page"))
#set ($count = 0)

<div>
<h2>Other Recent Stories</h2>
    <ul class="no_bullets">
    
        #foreach ($spotlight in $spotlights)
        
        #if ($count < 5)
        
        #set ($spotlightTitle = $_SerializerTool.serialize($spotlight.getChild("system-data-structure").getChild("spotlightTitle"), true).replaceAll("""","&quot;").replaceAll("'","&apos;"))
        #set ($link = $_SerializerTool.serialize($spotlight.getChild("path"), true))
        
            
            <li style="overflow: hidden; margin-bottom: 8px;">
            <a href="$link">$spotlightTitle</a>
                         </li>
        #end
        #set ($count = $count + 1)  
        #end
</ul>
<br />
<hr />
<p style="text-align: center;"><a href="/stories/default.php">View all Stories</a></p>
</div>


## Format URL: http://cascade.umt.edu/entity/open.act?id=b29c41bd0a0a0468002470ee71ccf708&type=format&#highlight

## Audits
### 01-28-2012 18:32	ws132567	startedit
### 01-28-2012 18:33	ws132567	edit
### 02-14-2012 16:43	sm166858e	startedit
### 02-14-2012 16:43	sm166858e	edit
### 11-17-2011 17:47	sm166858e	edit
### 11-17-2011 17:39	sm166858e	startedit
### 11-17-2011 17:48	sm166858e	edit
### 11-17-2011 17:48	sm166858e	startedit
### 11-17-2011 17:49	sm166858e	edit
### 11-17-2011 17:48	sm166858e	startedit
