#set ($pageStructure = $_XPathTool.selectSingleNode($contentRoot, "/system-data-structure") )
#set ($slides = $_XPathTool.selectNodes($pageStructure, "imageIndex/content/system-index-block/system-file"))
#set ($controls = $_SerializerTool.serialize($pageStructure.getChild("controls"), true))
#set ($captions = $_SerializerTool.serialize($pageStructure.getChild("captions"), true))
#set ($content = $_SerializerTool.serialize($pageStructure.getChild("content"), true))
#set ($position = $_SerializerTool.serialize($pageStructure.getChild("position"), true))
#if ($position == "Left")
    #set ($position = "frame_left")
#elseif ($position == "Right")
    #set ($position = "frame_right")
#end


<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script type="text/javascript" src="http://cloud.github.com/downloads/malsup/cycle/jquery.cycle.all.2.72.js"></script>
<style type="text/css" media="screen,print">@import "http://umt.edu/_common/resources/css/slideshow.css";</style>
<div class="slideshow_frame $position">
    <div class="cycle_show">
    
        #foreach ($slide in $slides)
            #set ($image = "")
            #set ($title = "")
            #set ($caption = "")
            #set ($image = $_SerializerTool.serialize($slide.getChild("path"), true))
            #set ($title = $_SerializerTool.serialize($slide.getChild("name"), true))
            #set ($caption = $_SerializerTool.serialize($slide.getChild("display-name"), true))
            <img src="$image" alt="$caption" />        
        #end    
    </div>
    #if($controls == "Yes")<a id="prev2" href="#">Prev</a>#end #if($captions == "Yes")<p class="slide_caption"></p>#end #if($controls == "Yes")<a id="next2" href="#">Next</a>#end
</div>
#if($content != "<content />")
<div class="content">
    $content
</div>
#end
<script type="text/javascript">
$(document).ready(function(){
    $('.cycle_show').cycle({ 
        fx:      'fade', 
        speed:    1000, 
        timeout:  6000,
        next: '#next2',
        prev: '#prev2',
        before: function(curr, next, opts){
            $('.slide_caption').fadeOut('fast');
        },
        after: function(curr,next,opts){
            var slideCaption = this.alt;
            $('.slide_caption')
                .fadeIn(1000)
                .html(slideCaption);    
        }
    });
});
</script>

## Format URL: http://cascade.umt.edu/entity/open.act?id=9523cee90a0a0468003c378ba44e7f92&type=format&#highlight

## Audits
### 01-28-2012 19:08	es165908e	edit
### 01-28-2012 19:08	es165908e	startedit
### 08-04-2011 17:40	ws132567	startedit
### 08-04-2011 17:40	ws132567	edit
### 08-04-2011 17:55	ws132567	edit
### 08-04-2011 17:54	ws132567	startedit
### 08-10-2011 13:24	ws132567	edit
### 08-10-2011 13:23	ws132567	startedit
### 08-10-2011 13:59	ws132567	startedit
### 08-10-2011 13:59	ws132567	edit
