<div class="col12 btn red">
    <a href="mailto:webdev@mtech.edu" target="_blank">Submit Event</a>
</div>

## Format URL: http://cascade.umt.edu/entity/open.act?id=7f02b0410a0a07cc545fdb454bd6ea31&type=format&#highlight

## Audits
### 07-26-2017 13:07	mh129234e	create
### 07-26-2017 14:31	mh129234e	startedit
### 07-26-2017 14:31	mh129234e	edit
