#macro (Weather $root)    
    #set ($pageStructure = $root)
    #set ($weather_heading = $_SerializerTool.serialize($pageStructure.getChild("heading"), true))
    #set ($weather_zip = $_SerializerTool.serialize($pageStructure.getChild("zip"), true))
    #set ($display_format = $_SerializerTool.serialize($pageStructure.getChild("display_format"), true))
        #if ($display_format == "Stacked - Show Everything, Multi-Row")
            #set ($display_format = "stacked")
        #elseif ($display_format == "Graphic - Weather Icon and Temperature")
            #set ($display_format = "graphic")
        #elseif ($display_format == "Minimal - Place and Temperature")
            #set ($display_format = "minimal")
        #else 
            #set ($display_format = "default")
        #end

    #set ($options = $_XPathTool.selectSingleNode($pageStructure, "adv_opts"))
        #set ($show_heading = $_SerializerTool.serialize($options.getChild("show_heading"), true))
        #set ($heading_level = $options.getChild("heading_level").value)
        #headingLevel($heading_level)

    <div class="plugin weather">
        #if ($weather_heading != "" && $weather_heading != "<heading />" && $show_heading =="Yes")
            <$heading_level_one>$weather_heading</$heading_level_one>
        #end
    
        #if ($weather_zip != "" && $weather_zip != "<zip />")
            [system-view:internal]<p class="alert alert-success">The weather data will be displayed on publish.</p>[/system-view:internal]
          <!--#passthrough<?php 
          include_once("weather.class.php");
          $weather = new Weather("$weather_zip");
          echo  $weather->current(array("display"=>"$display_format"));
          ?>
          #passthrough-->
          #else
              [system-view:internal]<p class="alert alert-error">Please check your ZIP Code.</p>[/system-view:internal]
          #end
    </div>

#end
#if($contentRoot && $_XPathTool.selectSingleNode($contentRoot, '.').getChild("adv_opts") && $_XPathTool.selectSingleNode($contentRoot, '.').getChild("adv_opts").getChild("show_heading").value != "")
   #Weather($_XPathTool.selectSingleNode($contentRoot, "."))
#end

## Format URL: http://cascade.umt.edu/entity/open.act?id=552845ae0a0a07cc598a15ca665fefc4&type=format&#highlight

## Audits
### 05-16-2014 16:10	kf139826e	edit
### 05-16-2014 16:10	kf139826e	startedit
### 05-08-2015 20:30	ws132567e	startedit
### 05-08-2015 20:30	ws132567e	edit
### 03-23-2015 14:47	kp128580	startedit
### 03-23-2015 14:50	kp128580	edit
### 02-21-2014 15:55	kp128580	startedit
### 02-21-2014 15:57	kp128580	edit
### 02-21-2014 16:08	kp128580	startedit
### 02-21-2014 16:09	kp128580	edit
